@import './themes/default.less';
@import './mixin.less';

@alert-prefix: ~'@{idux-prefix}-alert';

.@{alert-prefix} {
  position: relative;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  font-size: @alert-font-size;
  line-height: @alert-line-height;
  margin-bottom: @alert-margin-bottom;
  padding: @alert-padding;
  color: @alert-color;
  border-radius: @alert-border-radius;

  .alert-transition();

  .alert-status-color(success, @alert-success-color, @alert-success-background-color);
  .alert-status-color(info, @alert-info-color, @alert-info-background-color);
  .alert-status-color(warning, @alert-warning-color, @alert-warning-background-color);
  .alert-status-color(error, @alert-error-color, @alert-error-background-color);

  &-with-description {
    align-items: flex-start;

    .@{alert-prefix}-icon {
      font-size: @alert-icon-font-size-with-description;
      margin-right: @alert-icon-margin-right-with-description;
    }

    .@{alert-prefix}-title {
      font-size: @alert-title-font-size-with-description;
      margin-bottom: @alert-title-margin-bottom-with-description;
    }
  }

  &-icon {
    margin-right: @alert-icon-margin-right;
  }

  &-content {
    flex: 1;
    min-width: 0;
  }

  &-pagination {
    margin-left: @alert-action-margin-left;
    color: @alert-color-secondary;

    .@{icon-prefix} {
      cursor: pointer;
      padding: @alert-pagination-icon-padding;
      transition: color @alert-transition-duration;

      &:hover {
        color: @alert-color;
      }

      &.@{alert-prefix}-pagination-disabled {
        cursor: not-allowed;
        color: @alert-disabled-color;
      }
    }
  }

  &-close-icon {
    cursor: pointer;
    margin-left: @alert-action-margin-left;
    color: @alert-color-secondary;
    transition: color @alert-transition-duration;

    &:hover {
      color: @alert-color;
    }
  }
}
