@import '../../style/mixins/reset.less';
@import './mixin.less';

.@{alert-prefix} {
  .reset-component-new();

  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: @alert-font-size;
  line-height: calc(@alert-font-size + var(--ix-line-height-gutter));
  color: @alert-color;
  border: 1px solid transparent;
  border-radius: @alert-border-radius;

  .alert-status-color(success, @alert-success-color, @alert-success-background-color);
  .alert-status-color(info, @alert-info-color, @alert-info-background-color);
  .alert-status-color(warning, @alert-warning-color, @alert-warning-background-color);
  .alert-status-color(error, @alert-error-color, @alert-error-background-color);
  .alert-status-color(offline, @alert-offline-color, @alert-offline-background-color);

  &-banner {
    border-bottom-color: @alert-banner-border-color;
  }

  &-icon {
    margin-right: 8px;
  }

  &-close-icon {
    cursor: pointer;
    margin-left: 16px;
    color: @alert-color-secondary;
    transition: color var(--ix-transition-duration-fast);

    &:hover {
      color: @alert-color;
    }
  }

  &-icon,
  &-close-icon {
    font-size: @alert-icon-font-size;
  }

  &-content {
    flex: 1;
    min-width: 0;
    padding: calc((@alert-height - @alert-font-size - var(--ix-line-height-gutter) - 2px) / 2) 0;
  }

  &-with-description {
    align-items: baseline;
    font-size: calc(@alert-font-size + 2px);
    line-height: calc(@alert-font-size + 2px + var(--ix-line-height-gutter));

    .@{alert-prefix}-title {
      margin-bottom: 4px;
    }

    .@{alert-prefix}-description {
      font-size: @alert-font-size;
      line-height: calc(@alert-font-size + var(--ix-line-height-gutter));
    }
  }

  &-pagination {
    margin-left: 16px;

    &.@{pagination-prefix} {
      color: @alert-color-secondary;
      background-color: transparent;

      .@{pagination-prefix}-item:hover,
      .@{pagination-prefix}-item.@{pagination-prefix}-item-active,
      .@{pagination-prefix}-item.@{pagination-prefix}-item-disabled {
        .@{pagination-prefix}-item-content {
          background-color: transparent;
        }
      }

      .@{pagination-prefix}-item {
        padding: 0;
      }
    }
  }
}
