.alert-status-color (@type, @color, @background-color) {
  &&-@{type} &-icon {
    color: @color;
  }

  &&-@{type} {
    background-color: @background-color;
  }
}

.alert-transition () {

  &-enter-active,
  &-leave-active {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  }

  &-enter-from,
  &-leave-to {
    transform: scale(0.9);
    opacity: 0;
  }

  &-leave-from,
  &-enter-to {
    transform: scale(1);
    opacity: 1;
  }
}
