@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';

.@{comment-prefix} {
  .reset-component();

  &-inner {
    display: flex;
    padding: var(--ix-padding-size-md) 0;
  }

  &-avatar {
    position: relative;
    flex-shrink: 0;
    margin-right: var(--ix-margin-size-md);
    cursor: pointer;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  &-content {
    position: relative;
    flex: 1 1 auto;
    min-width: 1px;
    font-size: var(--ix-font-size-md);
    word-wrap: break-word;

    &-author {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: var(--ix-margin-size-xs);
      font-size: var(--ix-font-size-md);

      & > a,
      & > span {
        padding-right: var(--ix-padding-size-sm);
        font-size: var(--ix-font-size-sm);
        line-height: 18px;
      }

      &-name {
        color: var(--ix-comment-author-name-color);
        font-size: var(--ix-font-size-md);
        transition: color 0.3s;

        > * {
          color: var(--ix-comment-author-name-color);

          &:hover {
            color: var(--ix-comment-author-name-color);
          }
        }
      }

      &-time {
        color: var(--ix-comment-author-time-color);
        white-space: nowrap;
        cursor: auto;
      }
    }

    &-actions {
      margin-top: var(--ix-margin-size-md);
      margin-bottom: inherit;
      padding-left: 0;

      > li {
        display: inline-block;
        color: var(--ix-comment-action-color);

        > span {
          margin-right: 10px;
          color: var(--ix-comment-action-color);
          font-size: var(--ix-font-size-sm);
          cursor: pointer;
          transition: color 0.3s;
          user-select: none;

          &:hover {
            color: var(--ix-comment-action-color-hover);
          }
        }
      }
    }

    &-detail p {
      margin-bottom: inherit;
      white-space: pre-wrap;
    }
  }

  &-nested {
    margin-left: var(--ix-comment-nest-indent);
  }
}
