@tag-font-size: @font-size-sm;
@tag-default-color: @color-black;
@tag-color-inverse: @text-color-inverse;
@tag-padding: @spacing-xs;
@tag-default-padding: 2px 8px;
@tag-margin: @spacing-sm;
@tag-border-radius: @border-radius-md;
@tag-round-border-radius: 20px;
@tag-default-border-color: #d9d9d9;
@tag-default-background-color: #fafafa;
