@tag-line-height: calc(var(--ix-font-size) + var(--ix-line-height-gutter) - @tag-border-width * 2);

@tag-border-width: 1px;
@tag-border-color: var(--ix-tag-border-color, var(--ix-border-color));
@tag-border-radius: var(--ix-border-radius-md);

@tag-min-width-rect: 40px;
@tag-min-width-round: 48px;
@tag-min-width-numeric: 64px;

@tag-color: var(--ix-tag-color, var(--ix-text-color-info));
@tag-color-inverse: var(--ix-text-color-inverse);
@tag-background-color: var(--ix-tag-background-color, var(--ix-background-color-medium));
@tag-background-color-filled: @color-grey;

@tag-color-success: var(--ix-color-turquoise);
@tag-background-color-success: #e7f6f1;
@tag-background-color-success-filled: var(--ix-color-turquoise-l10);

@tag-color-info: var(--ix-color-primary);
@tag-background-color-info: #e8f0ff;
@tag-background-color-info-filled: var(--ix-color-primary-l10);

@tag-color-warning: var(--ix-color-brown);
@tag-background-color-warning: #fff3da;
@tag-background-color-warning-filled: var(--ix-color-brown-l10);

@tag-color-risk: var(--ix-color-orange);
@tag-background-color-risk: #fff4ec;
@tag-background-color-risk-filled: var(--ix-color-orange-l10);

@tag-color-error: var(--ix-color-red);
@tag-background-color-error: #fae7e8;
@tag-background-color-error-filled: var(--ix-color-red-l10);

@tag-color-fatal: var(--ix-color-red-d30);
@tag-background-color-fatal: #f2e5e6;
@tag-background-color-fatal-filled: var(--ix-color-red-d20);
