@tag-font-size: @font-size-md;
@tag-line-height: calc(@font-size-md + var(--ix-line-height-gutter) - 2px);
@tag-rect-min-width: 40px;
@tag-round-min-width: 52px;
@tag-numeric-min-width: 64px;
@tag-default-color: @color-graphite-d10;
@text-color-inverse: @color-white;
@tag-padding: @spacing-xs;
@tag-default-padding-horizontal: 8px;
@tag-margin: @spacing-xs;
@tag-border-radius: @border-radius-sm;
@tag-round-border-radius: 20px;
@tag-default-border-color: transparent;
@tag-default-background-color: #f0f1f2;
