@import './default.variable.less';

@tag-border-radius: var(--ix-border-radius-sm);

@tag-background-color: var(--ix-tag-background-color, #f0f1f2);
@tag-background-color-filled: #99acd1;

@tag-color-success: var(--ix-color-turquoise-d10);

@tag-background-color-info-filled: #689fff;

@tag-color-error: var(--ix-color-red-d10);

@tag-background-color-error-filled: #db4c35;

@tag-background-color-fatal-filled: #8c1604;
