@import '../../style/mixins/reset.less';
@import '../../style/motion/fade.less';

.@{tooltip-prefix} {
  .reset-component();

  z-index: @tooltip-zindex;
  font-size: @tooltip-font-size;
  color: @tooltip-color;
  background-color: @tooltip-background-color;
  border-radius: @tooltip-border-radius;
  box-shadow: @tooltip-box-shadow;

  &-wrapper {
    position: relative;
    word-wrap: break-word;
    max-width: @tooltip-wrapper-max-width;
    min-width: @tooltip-wrapper-min-width;
    min-height: @tooltip-wrapper-min-height;
    padding: @tooltip-wrapper-padding;
    z-index: 1;
  }

  .@{overlay-prefix}-arrow {
    color: @tooltip-background-color;
  }

  .@{idux-prefix}-overlay-arrow {
    color: @tooltip-background-color;
  }
}
