/* ------ table css variables ------ */
:root {
  --ix-table-font-size-sm: 12px;
  --ix-table-font-size-md: 12px;
  --ix-table-font-size-lg: 12px;
  --ix-table-head-row-height-sm: 32px;
  --ix-table-head-row-height-md: 32px;
  --ix-table-head-row-height-lg: 32px;
  --ix-table-cell-padding-horizontal-sm: 8px;
  --ix-table-cell-padding-horizontal-md: 12px;
  --ix-table-cell-padding-horizontal-lg: 16px;
  --ix-table-cell-padding-vertical-sm: 6px;
  --ix-table-cell-padding-vertical-md: 10px;
  --ix-table-cell-padding-vertical-lg: 18px;
  --ix-table-head-color: #c2c7d1;
  --ix-table-head-bg-color: #1f2329;
  --ix-table-head-separator-color: #3c424d;
  --ix-table-head-icon-color: #687080;
  --ix-table-head-icon-color-active: #4083e8;
  --ix-table-head-icon-bg-color-hover: #1f2329;
  --ix-table-inset-shadow-start: inset 10px 0 8px -8px #0a0c0f;
  --ix-table-inset-shadow-end: inset -10px 0 8px -8px #0a0c0f;
  --ix-table-body-row-bg-color-hover: #171a1f;
  --ix-table-body-row-bg-color-selected: #0a0c0f;
  --ix-table-body-row-bg-color-expanded: #171a1f;
  --ix-table-body-row-bg-color-tree-expanded: #171a1f;
  --ix-table-body-cell-vertical-align: middle;
  --ix-table-expandable-icon-color: #687080;
}
