/* ------ table css variables ------ */
:root {
  --ix-table-font-size-sm: 12px;
  --ix-table-font-size-md: 12px;
  --ix-table-font-size-lg: 12px;
  --ix-table-head-row-height-sm: 32px;
  --ix-table-head-row-height-md: 32px;
  --ix-table-head-row-height-lg: 32px;
  --ix-table-cell-padding-horizontal-sm: 8px;
  --ix-table-cell-padding-horizontal-md: 12px;
  --ix-table-cell-padding-horizontal-lg: 16px;
  --ix-table-cell-padding-vertical-sm: 6px;
  --ix-table-cell-padding-vertical-md: 10px;
  --ix-table-cell-padding-vertical-lg: 18px;
  --ix-table-head-color: #454c59;
  --ix-table-head-bg-color: #edf1f7;
  --ix-table-head-separator-color: #d3d7de;
  --ix-table-head-icon-color: #bec3cc;
  --ix-table-head-icon-color-active: #1c6eff;
  --ix-table-head-icon-bg-color-hover: #e1e5eb;
  --ix-table-body-row-bg-color-hover: #f7f9fc;
  --ix-table-body-row-bg-color-selected: #ffffff;
  --ix-table-body-row-bg-color-expanded: #f7f9fc;
  --ix-table-body-row-bg-color-tree-expanded: #f7f9fc;
  --ix-table-body-cell-vertical-align: middle;
  --ix-table-expandable-icon-color: #bec3cc;
}
