@badge-zindex: @zindex-auto;
@badge-font-size: @font-size-sm;
@badge-line-height: 14px;
@badge-size: 16px;
@badge-color: @color-red;
@badge-padding: 0 4px;
@badge-dot-size: 6px;
@badge-border-radius: 10px;
