@badge-dot-size: 6px;
@badge-count-size: 16px;
@badge-font-size: var(--ix-font-size-sm);

@badge-color: var(--ix-text-color-inverse);
@badge-background-color-error: var(--ix-color-red);
@badge-background-color-success: var(--ix-color-turquoise);
@badge-background-color-info: var(--ix-color-primary);
@badge-background-color-warning: var(--ix-color-brown);
