@import '../../../style/themes/default.less';

@pro-transfer-list-min-width: 260px;
@pro-transfer-list-min-height: 290px;

@pro-transfer-table-close-icon-padding: 0 0 0 @spacing-md;
@pro-transfer-tree-close-icon-padding: 0 @spacing-md;
@pro-transfer-list-close-icon-font-size: @font-size-md;
@pro-transfer-list-close-icon-color: @color-graphite-d20;
@pro-transfer-list-close-icon-hover-color: @color-primary;
@pro-transfer-list-close-icon-active-color: @color-primary;