@import '../../style/mixins/reset.less';
@import './mixin.less';

.@{button-prefix} {
  .reset-component();

  .button();
  .button-default();

  > span {
    display: inline-block;
  }

  &-primary {
    .button-primary();
  }

  &-dashed {
    .button-dashed();
  }

  &-text {
    .button-text();
  }

  &-link {
    .button-link();
  }

  &-danger {
    .button-danger();
  }

  &-danger&-primary {
    .button-danger-primary();
  }

  &-danger&-text {
    .button-danger-text();
  }

  &-danger&-link {
    .button-danger-link();
  }

  &-ghost {
    .button-ghost();
  }

  &-ghost&-primary {
    .button-ghost-primary();
  }

  &-ghost&-danger {
    .button-ghost-danger();
  }

  &&-loading {
    position: relative;

    &::before {
      display: block;
    }
  }

  &-disabled {
    cursor: not-allowed;

    &:not([disabled]) {
      pointer-events: none;
    }

    > * {
      pointer-events: none;
    }
  }

  &-round {
    .button-round(@button-prefix);
  }

  &-circle {
    .button-circle(@button-prefix);
  }

  &-block {
    width: 100%;
  }

  &-icon-only {
    .button-icon-only(@button-prefix;);
  }

  &::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: @button-zindex;
    display: none;
    background: @button-default-bg;
    border-radius: inherit;
    opacity: 0.35;
    transition: opacity 0.2s;
    content: '';
    pointer-events: none;
  }

  &:focus > span,
  &:active > span {
    position: relative;
  }

  > .@{icon-prefix} + span,
  > span + .@{icon-prefix} {
    margin-left: @button-icon-margin-left;
  }

  &:empty {
    display: inline-block;
    width: 0;
    visibility: hidden;
    content: '\a0';
  }
}

.@{button-group-prefix} {
  display: inline-flex;
  align-items: center;

  .@{button-prefix} {
    z-index: @zindex-auto;
    border-radius: 0;

    &:first-child {
      border-radius: @button-border-radius 0 0 @button-border-radius;
    }

    &:last-child {
      border-radius: 0 @button-border-radius @button-border-radius 0;
    }

    &:not(:first-child) {
      margin-left: -1px !important;
    }

    .button-group-item(~`colorPalette('@{button-primary-bg}', 20) `,@button-primary-bg);

    &-disabled {
      .button-group-item(@button-default-border,@button-default-border);
    }

    &-danger {
      .button-group-item(color(~`colorPalette('@{button-danger-bg}', 10) `),~`colorPalette('@{button-danger-color}', -10) `);
    }
  }
}

.button-group-item(@active-color;@hover-color) {

  &:hover {
    z-index: @button-zindex;
    + .@{button-prefix} {
      border-left-color: @hover-color;
    }
  }

  &:active,
  &:focus {
    z-index: @button-zindex;
    + .@{button-prefix} {
      border-left-color: @active-color;
    }
  }
}
