@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';
@import './mixin.less';

.@{button-prefix} {
  .reset-component-new();
  .reset-color(var(--ix-button-color), var(--ix-button-bg-color));

  position: relative;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: none;
  text-decoration: none;
  border: 1px solid var(--ix-button-border-color);
  border-radius: var(--ix-button-border-radius);
  transition: all var(--ix-motion-duration-fast) var(--ix-motion-ease-in-out);

  &::before {
    display: none;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    background: var(--ix-button-bg-color);
    border-radius: inherit;
    opacity: 0.35;
    transition: opacity var(--ix-motion-duration-medium);
    content: '';
    pointer-events: none;
  }

  &:empty {
    display: inline-block;
    width: 0;
    visibility: hidden;
    content: '\a0';
  }

  > .@{icon-prefix} {
    color: var(--ix-button-icon-color);
    font-size: var(--ix-button-icon-font-size);
  }

  &:hover,
  &:active,
  &-primary,
  &-link,
  &-danger,
  &-ghost,
  &-disabled {
    > .@{icon-prefix} {
      color: inherit;
    }
  }

  > span {
    display: inline-block;
  }

  &-icon-start {
    span {
      margin-left: var(--ix-margin-size-xs);
    }
  }

  &-icon-end {
    span {
      margin-right: var(--ix-margin-size-xs);
    }
  }

  &-xs {
    .button-size(var(--ix-button-height-xs), var(--ix-button-font-size-xs), var(--ix-button-min-width-xs), var(--ix-button-padding-size-horizontal-xs));
  }

  &-sm {
    .button-size(var(--ix-button-height-sm), var(--ix-button-font-size-sm), var(--ix-button-min-width-sm), var(--ix-button-padding-size-horizontal-sm));
  }

  &-md {
    .button-size(var(--ix-button-height-md), var(--ix-button-font-size-md), var(--ix-button-min-width-md), var(--ix-button-padding-size-horizontal-md));
  }

  &-lg {
    .button-size(var(--ix-button-height-lg), var(--ix-button-font-size-lg), var(--ix-button-min-width-lg), var(--ix-button-padding-size-horizontal-lg));

    &.@{button-prefix}-icon-only {
      > .@{icon-prefix} {
        font-size: calc(var(--ix-button-icon-font-size) + 2px);
      }
    }
  }

  &-xl {
    .button-size(var(--ix-button-height-xl), var(--ix-button-font-size-xl), var(--ix-button-min-width-xl), var(--ix-button-padding-size-horizontal-xl));

    &.@{button-prefix}-icon-only {
      > .@{icon-prefix} {
        font-size: calc(var(--ix-button-icon-font-size) + 4px);
      }
    }
  }

  &-primary {
    color: var(--ix-button-primary-color);
    background-color: var(--ix-button-primary-bg-color);
    border-color: var(--ix-button-primary-bg-color);

    &:hover {
      background-color: var(--ix-button-primary-bg-color-hover);
      border-color: var(--ix-button-primary-bg-color-hover);
    }

    &:active {
      background-color: var(--ix-button-primary-bg-color-active);
      border-color: var(--ix-button-primary-bg-color-active);
    }
  }

  &-default,
  &-dashed {
    &:hover {
      color: var(--ix-button-primary-bg-color-hover);
      border-color: var(--ix-button-primary-bg-color-hover);
    }

    &:active {
      color: var(--ix-button-primary-bg-color-active);
      border-color: var(--ix-button-primary-bg-color-active);
    }
  }

  &-dashed {
    border-style: dashed;
  }

  &-text,
  &-link {
    background-color: transparent;
    border: none;
    padding: 0;
    min-width: auto;
    height: auto;
    user-select: text;

    &:hover {
      color: var(--ix-button-primary-bg-color-hover);
    }

    &:active {
      color: var(--ix-button-primary-bg-color-active);
    }
  }

  &-link {
    color: var(--ix-color-link);
  }

  &-danger {
    color: var(--ix-button-danger-color);
    border-color: var(--ix-button-danger-color);

    &:hover {
      color: var(--ix-button-danger-color-hover);
      border-color: var(--ix-button-danger-color-hover);
    }

    &:active {
      color: var(--ix-button-danger-color-active);
      border-color: var(--ix-button-danger-color-active);
    }
  }

  &-danger&-primary {
    color: var(--ix-button-primary-color);
    background-color: var(--ix-button-danger-bg-color);

    &:hover {
      color: var(--ix-button-primary-color);
      background-color: var(--ix-button-danger-bg-color-hover);
    }

    &:active {
      color: var(--ix-button-primary-color);
      background-color: var(--ix-button-danger-bg-color-active);
    }
  }

  &-ghost {
    color: var(--ix-button-ghost-color);
    border-color: var(--ix-button-ghost-border-color);

    &:hover {
      color: var(--ix-button-ghost-color-hover);
      border-color: var(--ix-button-ghost-border-color-hover);
    }

    &:active {
      color: var(--ix-button-ghost-color-active);
      border-color: var(--ix-button-ghost-border-color-active);
    }
  }

  &-ghost,
  &-ghost&-primary,
  &-ghost&-danger {
    background-color: transparent;

    &:hover {
      background-color: var(--ix-button-ghost-bg-color-hover);
    }

    &:active {
      background-color: var(--ix-button-ghost-bg-color-active);
    }
  }

  &-ghost&-primary {
    color: var(--ix-button-primary-bg-color);
    border-color: var(--ix-button-primary-bg-color);

    &:hover {
      color: var(--ix-button-primary-bg-color-hover);
      border-color: var(--ix-button-primary-bg-color-hover);
    }

    &:active {
      color: var(--ix-button-primary-bg-color-active);
      border-color: var(--ix-button-primary-bg-color-active);
    }
  }

  &-ghost&-danger {
    color: var(--ix-button-danger-color);
    border-color: var(--ix-button-danger-color);

    &:hover {
      color: var(--ix-button-danger-color-hover);
      border-color: var(--ix-button-danger-color-hover);
    }

    &:active {
      color: var(--ix-button-danger-color-active);
      border-color: var(--ix-button-danger-color-active);
    }
  }

  &-disabled {
    cursor: not-allowed;
    pointer-events: none;

    &,
    &:hover,
    &:active {
      color: var(--ix-button-color-disabled);
      background-color: var(--ix-button-bg-color-disabled);
      border-color: var(--ix-button-border-color);
    }
  }

  &-disabled&-link,
  &-disabled&-text {
    &,
    &:hover,
    &:active {
      background-color: transparent;
    }
  }

  &-disabled&-ghost {
    &,
    &:hover,
    &:active {
      background-color: var(--ix-button-ghost-bg-color-disabled);
    }
  }

  &-loading {
    cursor: default;
    pointer-events: none;

    &::before {
      display: block;
    }
  }

  &-square,
  &-circle {
    padding: 0;
  }

  &-circle {
    border-radius: 50%;
  }

  &-block {
    width: 100%;
  }

  &-icon-only {
    min-width: auto;
  }
}

.@{button-prefix}-group {
  line-height: 0;

  .@{button-prefix} {
    z-index: auto;

    &:hover,
    &:active {
      z-index: 2;
    }

    &.@{button-prefix}-disabled {
      z-index: 0;
    }
  }

  &-compact {
    .@{button-prefix} {
      transition:
        color var(--ix-motion-duration-fast) var(--ix-ease-in-out),
        background-color var(--ix-motion-duration-fast) var(--ix-ease-in-out);
    }

    &:not(.@{space-prefix}-vertical) {
      > .@{space-prefix}-item:first-child > .@{button-prefix} {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      > .@{space-prefix}-item:last-child > .@{button-prefix} {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      > .@{space-prefix}-item:not(:first-child):not(:last-child) > .@{button-prefix} {
        border-radius: 0;
      }

      > .@{space-prefix}-item:not(:last-child) > .@{button-prefix} {
        margin-right: -1px;
      }
    }

    &.@{space-prefix}-vertical {
      > .@{space-prefix}-item:first-child > .@{button-prefix} {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      > .@{space-prefix}-item:last-child > .@{button-prefix} {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      > .@{space-prefix}-item:not(:first-child):not(:last-child) > .@{button-prefix} {
        border-radius: 0;
      }

      > .@{space-prefix}-item:not(:last-child) > .@{button-prefix} {
        margin-bottom: -1px;
      }
    }
  }
}
