.button-size(@height, @font-size, @min-width, @padding) {
  height: @height;
  line-height: calc(@font-size + var(--ix-line-height-gutter));
  font-size: @font-size;
  min-width: @min-width;
  padding: @padding;

  &.@{button-prefix}-circle,
  &.@{button-prefix}-square {
    min-width: @height;
    width: @height;
  }

  &.@{button-prefix}-round {
    border-radius: calc(@height / 2);
  }

  &.@{button-prefix}-icon-only {
    font-size: calc(@font-size + 2px);
  }
}
