.button-size(@height, @font-size, @min-width, @padding-horizontal) {
  .reset-font-size(@font-size);

  height: @height;
  min-width: @min-width;
  padding: calc((@height - @font-size - var(--ix-line-height-gutter) - 2px) / 2) @padding-horizontal;

  &.@{button-prefix}-circle,
  &.@{button-prefix}-square {
    min-width: @height;
    width: @height;
  }

  &.@{button-prefix}-round {
    border-radius: calc(@height / 2);
  }
}
