@import '../../style/default.less';
@import '../../_private/overlay/style/index.less';

@popover-prefix: ~'@{idux-prefix}-popover';

.@{popover-prefix} {
  z-index: @popover-zindex;
  font-size: @popover-font-size;
  color: @popover-color;
  background-color: @popover-background-color;
  border-radius: @popover-border-radius;
  box-shadow: @popover-box-shadow;

  &-title {
    position: relative;
    font-weight: @popover-title-font-weight;
    min-width: @popover-title-min-width;
    min-height: @popover-title-min-height;
    padding: @popover-title-padding;
    border-bottom: @popover-title-border-bottom;
    z-index: 1;
  }

  &-content {
    padding: @popover-content-padding;
  }

  .@{idux-prefix}-overlay-arrow {
    color: @popover-background-color;
  }
}
