@import '../../style/mixins/reset.less';
@import '../../style/motion/fade.less';

.@{popover-prefix} {
  .reset-component();

  z-index: @popover-zindex;
  font-size: @popover-font-size;
  color: @popover-color;
  background-color: @popover-background-color;
  border-radius: @popover-border-radius;
  box-shadow: @popover-box-shadow;

  &-wrapper {
    position: relative;
    word-wrap: break-word;
    min-width: @popover-wrapper-min-width;
    padding: @popover-wrapper-padding;
    z-index: 1;
  }

  &-title {
    font-weight: @popover-title-font-weight;
    min-height: @popover-title-min-height;
    padding: @popover-title-padding;
  }

  &-content {
    padding: @popover-content-padding;
  }

  .@{overlay-prefix}-arrow {
    color: @popover-background-color;
  }
}
