@import '../../style/mixins/reset.less';
@import '../../style/motion/fade.less';

.@{popover-prefix} {
  .reset-component();

  z-index: 1000;
  font-size: @popover-font-size;
  color: @popover-color;
  background-color: @popover-background-color;
  border-radius: @popover-border-radius;
  box-shadow: @popover-box-shadow;

  &-wrapper {
    position: relative;
    word-wrap: break-word;
    min-width: @popover-wrapper-min-width;
    padding: @popover-wrapper-padding;
    z-index: 1;

    &.@{popover-prefix}-with-header {
      padding: @popover-wrapper-with-header-padding;
    }
  }

  .@{header-prefix} {
    padding: @popover-header-padding;

    &-content {
      height: @popover-header-height;
    }

    &-suffix {
      &:hover {
        color: @popover-close-icon-hover-color;
      }

      &:active {
        color: @popover-close-icon-active-color;
      }
    }
  }

  &-content {
    padding: @popover-content-padding;
    line-height: @popover-content-line-height;
  }

  .@{overlay-prefix}-arrow {
    color: @popover-background-color;
  }
}
