@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';
@import '../../style/motion/zoom.less';

.@{badge-prefix} {
  .reset-component-new();

  display: inline-block;
  position: relative;
  line-height: 1;

  &-sub {
    .reset-component-new();

    display: inline-block;

    &:last-child {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      transform-origin: 100% 0;
    }

    &:first-child {
      position: unset;
      transform: none;
      transform-origin: unset;
      box-shadow: none;
      vertical-align: bottom;
    }

    &-enter-active,
    &-leave-active {
      animation-fill-mode: both;
      animation-duration: var(--ix-motion-duration-slow);
    }

    &-enter-active {
      animation-timing-function: var(--ix-motion-ease-out-back);

      &:last-child {
        animation-name: ix-badge-sub-last-enter;
      }

      &:first-child {
        animation-name: ix-badge-sub-first-enter;
      }
    }

    &-leave-active {
      animation-timing-function: var(--ix-motion-ease-in-back);

      &:last-child {
        animation-name: ix-badge-sub-last-leave;
      }

      &:first-child {
        animation-name: ix-badge-sub-first-leave;
      }
    }
  }

  &-count {
    z-index: auto;
    min-width: var(--ix-badge-count-size);
    height: var(--ix-badge-count-size);
    line-height: var(--ix-badge-count-size);
    font-size: var(--ix-font-size-sm);
    color: var(--ix-color-text-inverse);
    background-color: var(--ix-badge-background-color);
    border-radius: calc(var(--ix-badge-count-size) / 2);
    box-shadow: 0 0 0 1px var(--ix-color-text-inverse);
    text-align: center;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;

    &-track {
      position: relative;
      display: inline-block;
      height: var(--ix-badge-count-size);
      transition: all var(--ix-motion-duration-medium) var(--ix-motion-ease-in-out);
      .safari-fix-motion();

      &-wrapper {
        white-space: nowrap;
        display: inline-block;
        height: var(--ix-badge-count-size);
        overflow: hidden;
      }
    }

    &-unit {
      display: block;
      height: var(--ix-badge-count-size);
      .safari-fix-motion();
    }
  }

  &-count-multiple,
  &-sub-text {
    padding: 0 4px;
  }

  &-dot {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    top: -1px;
    z-index: auto;
    width: var(--ix-badge-dot-size);
    height: var(--ix-badge-dot-size);
    border-radius: 100%;
    background-color: var(--ix-badge-background-color);
    box-shadow: 0 0 0 1px var(--ix-background-color);
  }

  &-error {
    --ix-badge-background-color: var(--ix-color-error);
  }

  &-success {
    --ix-badge-background-color: var(--ix-color-success);
  }

  &-info {
    --ix-badge-background-color: var(--ix-color-info);
  }

  &-warning {
    --ix-badge-background-color: var(--ix-color-warning);
  }

  &-content {
    display: inline-block;
    color: var(--ix-text-color);
  }

  &-dot + &-content {
    .reset-font-size();

    margin-left: 8px;
  }

  &-processing {
    .@{badge-prefix} {

      &-dot,
      &-count {
        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: inherit;
          animation: ix-badge-wave-spread 2s cubic-bezier(0, 0, 0.2, 1) 1s infinite;
        }
      }
    }
  }
}

// Safari will blink with transform when inner element has absolute style.
.safari-fix-motion() {
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  /* stylelint-enable property-no-vendor-prefix */
}

@keyframes ix-badge-sub-last-enter {
  0% {
    transform: scale(0) translate(50%, -50%);
    opacity: 0;
  }

  100% {
    transform: scale(1) translate(50%, -50%);
  }
}

@keyframes ix-badge-sub-last-leave {
  0% {
    transform: scale(1) translate(50%, -50%);
  }

  100% {
    transform: scale(0) translate(50%, -50%);
    opacity: 0;
  }
}

@keyframes ix-badge-sub-first-enter {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ix-badge-sub-first-leave {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes ix-badge-wave-spread {
  from {
    box-shadow: 0 0 1px 0 var(--ix-badge-background-color);
    opacity: 0.6;
  }

  to {
    box-shadow: 0 0 1px 5px var(--ix-badge-background-color);
    opacity: 0;
  }
}