@import '../../../style/variable/index.less';
@import '../../../style/mixins/borderless.less';
@import '../../../style/mixins/ellipsis.less';
@import '../../../style/mixins/reset.less';
@import './single.less';
@import './multiple.less';

.@{selector-prefix} {
  .reset-component();

  position: relative;
  display: inline-block;
  width: 100%;

  &-content {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--ix-color-text);
    background-color: var(--ix-control-bg-color);
    border: var(--ix-control-line-width) var(--ix-control-line-type) var(--ix-color-border);
    border-radius: var(--ix-control-border-radius-md);
    transition: all var(--ix-motion-duration-medium) var(--ix-motion-ease-in-out);
    cursor: pointer;
  }

  &-item {
    .ellipsis();

    user-select: none;

    &-label {
      .ellipsis();
    }
  }

  &-input {
    &-inner {
      width: 100%;
      min-width: 1px;
      margin: 0;
      padding: 0;
      background: transparent;
      border: none;
      outline: none;
      appearance: none;
      cursor: pointer;
    }
  }

  &-placeholder {
    flex: 1;
    overflow: hidden;
    color: var(--ix-color-text-placeholder);
    position: absolute;
    .ellipsis();
  }

  &-sm &-placeholder {
    right: var(--ix-control-padding-size-horizontal-sm);
    left: var(--ix-control-padding-size-horizontal-sm);
  }

  &-md &-placeholder {
    right: var(--ix-control-padding-size-horizontal-md);
    left: var(--ix-control-padding-size-horizontal-md);
  }

  &-lg &-placeholder {
    right: var(--ix-control-padding-size-horizontal-lg);
    left: var(--ix-control-padding-size-horizontal-lg);
  }

  &-sm &-suffix {
    .selector-icon(var(--ix-control-height-sm), var(--ix-color-icon-info));
  }
  &-sm &-clear {
    .selector-icon(var(--ix-control-height-sm));
  }

  &-md &-suffix {
    .selector-icon(var(--ix-control-height-md), var(--ix-color-icon-info));
  }
  &-md &-clear {
    .selector-icon(var(--ix-control-height-md));
  }

  &-lg &-suffix {
    .selector-icon(var(--ix-control-height-lg), var(--ix-color-icon-info));
  }
  &-lg &-clear {
    .selector-icon(var(--ix-control-height-lg));
  }

  &-clear {
    z-index: 1;
    opacity: 0;
    background-color: var(--ix-control-bg-color);
    cursor: pointer;

    &:hover {
      color: var(--ix-color-icon-hover);
    }

    .@{selector-prefix}:hover & {
      opacity: 1;
    }
  }

  &:hover:not(&-disabled) &-content {
    border-color: var(--ix-control-border-color-hover);
  }

  &-focused:not(&-disabled):not(&-borderless) &-content {
    border-color: var(--ix-control-border-color-active);
    box-shadow: var(--ix-control-box-shadow-focus);
  }

  &-borderless &-content {
    .borderless();
  }

  &-searchable &-content,
  &-allow-input &-content {
    cursor: text;

    .@{selector-prefix}-input-inner {
      cursor: auto;
    }
  }

  &-disabled &-content {
    color: var(--ix-color-text-disabled);
    background-color: var(--ix-control-bg-color-disabled);
    cursor: not-allowed;

    .@{selector-prefix}-input-inner {
      cursor: not-allowed;
    }
  }

  // form status
  &&-invalid {
    &:hover .@{selector-prefix}-content,
    .@{selector-prefix}-content {
      border-color: var(--ix-color-error-border);
    }

    &.@{selector-prefix}-active .@{selector-prefix}-content {
      border-color: var(--ix-color-error-border);
      box-shadow: var(--ix-control-box-shadow-invalid);
    }
  }
}

.selector-icon(@selector-height, @color: var(--ix-color-icon)) {
  position: absolute;
  top: 0;
  right: var(--ix-margin-size-sm);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: calc(@selector-height - 2 * var(--ix-control-line-width));
  line-height: 1;
  font-size: var(--ix-font-size-icon);
  color: @color;
  transition: color, opacity var(--ix-motion-duration-medium) var(--ix-motion-ease-in-out);
}
