.select-size(@selector-height;  @select-padding-horizontal; @selector-font-size) {
  &.@{selector-prefix} {
    font-size: @selector-font-size;
  }
  .@{selector-prefix} {
    &-content {
      height: @selector-height;
      padding: 0 @select-padding-horizontal;
    }

    &-item {
      left: @select-padding-horizontal;
      width: calc(100% - @select-padding-horizontal - var(--ix-font-size-icon));
    }

    &-item,
    &-placeholder,
    &-input-inner {
      line-height: calc(@selector-height - 2 * var(--ix-control-line-width));
    }
  }
}

.@{selector-prefix}-single {
  .@{selector-prefix} {
    &-content {
      width: 100%;
      display: flex;
    }

    &-input {
      flex: auto;
      width: 0;
      margin-right: calc((var(--ix-font-size-icon) / 2) + var(--ix-margin-size-sm));
    }

    &-item {
      position: absolute;
    }
  }

  &.@{selector-prefix}-sm {
    .select-size(var(--ix-control-height-sm), var(--ix-control-padding-size-horizontal-sm), var(--ix-control-font-size-sm));
  }

  &.@{selector-prefix}-md {
    .select-size(var(--ix-control-height-md), var(--ix-control-padding-size-horizontal-md), var(--ix-control-font-size-md));
  }

  &.@{selector-prefix}-lg {
    .select-size(var(--ix-control-height-lg), var(--ix-control-padding-size-horizontal-lg), var(--ix-control-font-size-lg));
  }
}
