.select-size(@selector-height;  @select-padding-horizontal; @selector-font-size) {
  .@{selector-prefix} {
    &-content {
      height: @selector-height;
      padding: 0 @select-padding-horizontal;
      font-size: @selector-font-size;
    }

    &-item,
    &-placeholder,
    &-input-inner {
      line-height: @selector-height - 2 * @select-border-width;
    }

    &-input {
      right: @select-padding-horizontal;
      left: @select-padding-horizontal;
    }
  }

  &.@{selector-prefix}-show-suffix &-input {
    right: @select-padding-horizontal + @selector-font-size;
  }
}

.@{selector-prefix}-single {
  .@{selector-prefix} {
    &-content {
      width: 100%;
    }

    &-input {
      position: absolute;
    }

    &-item {
      position: relative;
    }
  }

  &.@{selector-prefix}-with-suffix .@{selector-prefix}-item,
  &.@{selector-prefix}-with-suffix .@{selector-prefix}-placeholder {
    padding-right: @select-icon-font-size;
  }

  &.@{selector-prefix}-opened .@{selector-prefix}-item {
    color: @select-placeholder-color;
  }

  &.@{selector-prefix}-sm {
    .select-size(@select-height-sm, @select-padding-horizontal-sm, @select-font-size-sm);
  }

  &.@{selector-prefix}-md {
    .select-size(@select-height-md, @select-padding-horizontal-md, @select-font-size-md);
  }

  &.@{selector-prefix}-lg {
    .select-size(@select-height-lg, @select-padding-horizontal-lg, @select-font-size-lg);
  }
}
