@import './default.variable.less';

@notification-padding: 8px 8px 8px 16px;

@notification-margin: 0 0 8px 0;

@notification-title-font-size: @font-size-md;
@notification-title-margin: 0 24px 8px 0;
@notification-title-line-height: 24px;

@notification-close-font-size: @font-size-lg;
@notification-close-hover-color: @color-primary;
@notification-close-right: 8px;
@notification-close-top: 8px;

@notification-content-font-size: @font-size-sm;
