@tour-panel-description-color: var(--ix-text-color);
@tour-panel-description-font-size: var(--ix-font-size-sm);
@tour-panel-indicators-color: var(--ix-text-color-info);
@tour-panel-indicators-font-size: var(--ix-font-size-md);
@tour-panel-background-color: var(--ix-background-color);
@tour-panel-border-radius: var(--ix-border-radius-md);
@tour-panel-box-shadow: @shadow-bottom-sm;

@tour-panel-min-width: 250px;

@tour-panel-padding-top: 16px;
@tour-panel-padding-left: 16px;
@tour-panel-padding-right: 16px;
@tour-panel-padding-bottom: 16px;
@tour-panel-footer-button-gap: 4px;
