/* ------ tag css variables ------ */
:root {
  --ix-tag-bg-color-normal: rgba(111, 119, 133, 0.1);
  --ix-tag-bg-color-filled: #a1a7b3;
  --ix-tag-border-width: 1px;
  --ix-tag-border-radius: 2px;
  --ix-tag-min-width-rect: 40px;
  --ix-tag-min-width-round: 48px;
  --ix-tag-min-width-numeric: 64px;
  --ix-tag-success-bg-color: rgba(18, 166, 121, 0.1);
  --ix-tag-info-bg-color: rgba(69, 143, 255, 0.1);
  --ix-tag-warning-bg-color: rgba(253, 170, 29, 0.1);
  --ix-tag-risk-bg-color: rgba(250, 114, 27, 0.1);
  --ix-tag-error-bg-color: rgba(255, 87, 82, 0.1);
  --ix-tag-fatal-bg-color: rgba(130, 1, 14, 0.1);
}
