/* ------ timeline css variables ------ */
:root {
  --ix-timeline-font-size: 12px;
  --ix-timeline-dot-size: 12px;
  --ix-timeline-dot-border-width: 2px;
  --ix-timeline-content-label-margin-top: 8px;
  --ix-timeline-line-width: 2px;
  --ix-timeline-line-bg-color: #e1e5eb;
  --ix-timeline-pending-item-content-min-width: 40px;
  --ix-timeline-content-margin-bottom: 16px;
}
