@import '../../../style/themes/default.less';
@import '../index.less';

@breadcrumb-base-color: @text-color-secondary;
@breadcrumb-link-color: @text-color-secondary;
@breadcrumb-link-color-hover: @color-primary;
@breadcrumb-separator-color: @text-color-secondary;
@breadcrumb-last-item-color: @text-color;

@breadcrumb-font-size: @font-size-base;

@breadcrumb-separator-margin: 0 @margin-sm;
