node_modules
coverage
junit.xml
temp
dist
output

.vscode
.idea

.DS_Store
*.log

package-lock.json
yarn.lock

/public/icon-svg
/site/docs/router.ts
/site/docs/sideNav.ts

# old site files
/site/docs/public
/site/docs/src
/site/docs/index.html
