node_modules
coverage
junit.xml
temp
dist

.vscode
.idea

.DS_Store
*.log

package-lock.json
yarn.lock
pnpm-lock.yaml

/packages/site/public/icon-svg
/packages/site/src/router.ts
/packages/site/src/sideNav.ts

# old site files
/public/icon-svg
/site/docs/router.ts
/site/docs/sideNav.ts

/site/docs/public
/site/docs/src
/site/docs/index.html
