**/*.md
**/*.svg
**/test.ts
**/template/*
coverage/
publish/
dist/

package-lock.json
yarn.lock

# icon definitions
packages/components/icon/src/definitions.ts

# site generate
packages/site/src/router.ts
packages/site/src/sideNav.ts
