**/*.md
**/*.svg
**/test.ts
**/template/*
coverage/
publish/
dist/
output/
/site/

package.json
package-lock.json
yarn.lock

# temp icons
packages/components/icon/src/svg
packages/components/icon/src/definitions
