{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "rules": {
    "function-name-case": ["lower", { "ignoreFunctions": ["/colorPalette/"] }],
    "rule-empty-line-before": ["always"],
    "no-invalid-double-slash-comments": null,
    "no-invalid-position-at-import-rule": null
  },
  "ignoreFiles": [
    "dist/**/*.less",
    "packages/components/style/core/reset.less",
    "packages/components/style/variable/color/*.less"
  ]
}
