# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: env
    jobs:
      - job: Nodes
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '12.x'
            displayName: 'Install Node.js'

  - stage: lint
    jobs:
      - job: Packages
        steps:
          - task: Npm@1
            inputs:
              command: 'install'
          - script: npm run lint
    dependsOn: env

  - stage: test
    jobs:
      - job: Packages
        steps:
          - task: Npm@1
            inputs:
              command: 'install'
          - script: |
              npm run test
              ./node_modules/.bin/codecov -t $(CODECOV_TOKEN)

          - task: PublishCodeCoverageResults@1
            displayName: 'publish code coverage results'
            condition: succeededOrFailed()
            inputs:
              codeCoverageTool: Cobertura
              summaryFileLocation: $(System.DefaultWorkingDirectory)/coverage/cobertura-coverage.xml
              reportDirectory: '$(System.DefaultWorkingDirectory)/coverage'
              failIfCoverageEmpty: true

          - task: PublishTestResults@2
            displayName: 'publish test results'
            condition: succeededOrFailed()
            inputs:
              testResultsFiles: junit.xml
              mergeTestResults: true
              testRunTitle: 'Jest Unit Tests'
              failTaskOnFailedTests: true
    dependsOn: env

  - stage: build
    jobs:
      - job: Packages
        steps:
          - task: Npm@1
            inputs:
              command: 'install'
          - script: |
              npm run build
              export DEPLOY_DOMAIN=https://preview-${SYSTEM_PULLREQUEST_PULLREQUESTNUMBER}-idux.surge.sh
              npx surge --project ./dist --domain $DEPLOY_DOMAIN
              echo "Deploy to $DEPLOY_DOMAIN"
              tar czvf build.tgz dist
            env:
              SURGE_LOGIN: $(SURGE_LOGIN)
              SURGE_TOKEN: $(SURGE_TOKEN)

          - task: CopyFiles@2
            inputs:
              contents: build.tgz
              targetFolder: $(Build.ArtifactStagingDirectory)
            displayName: 'Copy archives to artifacts staging directory'
          - task: PublishBuildArtifacts@1
            inputs:
              path: $(Build.ArtifactStagingDirectory)
            displayName: 'Upload artifacts'
    dependsOn: env
