@import '../../../style/themes/default.less';
@import '../index.less';

//layout
@layoutPro-height: 100%;

// header
@layoutPro-header-height: 52px;
@layoutPro-header-logo-width: 20%;
@layoutPro-header-extra-width: 20%;
@layoutPro-header-item-radius: 20px;
@layoutPro-header-item-height: 32px;
@layoutPro-header-item-padding: 0 16px;
@layoutPro-header-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
@layoutPro-header-zindex: 2;

// sider
@layoutPro-sider-top-height: 44px;
@layoutPro-sider-bottom-height: 44px;
@layoutPro-sider-width: 224px;
@layoutPro-sider-collapsed-width: 64px;
@layoutPro-sider-border-right: 1px solid #f0f0f0;

// theme
@layoutPro-light-base-color: #3e4559;
@layoutPro-dark-base-color: rgba(255, 255, 255, 0.8);
@layoutPro-light-base-bg-color: #fff;
@layoutPro-dark-base-bg-color: #1f2433;
@layoutPro-light-active-color: #fff;
@layoutPro-dark-active-color: #fff;
@layoutPro-light-active-bg-color: #567df5;
@layoutPro-dark-active-bg-color: #365fd9;
@layoutPro-light-hover-bg-color: #ebeff5;
@layoutPro-dark-hover-bg-color: rgba(255, 255, 255, 0.06);
//@layoutPro-light-header-hover-bg-color: #EBEFF5;
//@layoutPro-dark-header-hover-bg-color: rgba(255, 255, 255, 0.06);

// ctrl
@layoutPro-ctrl-width: 36px;
@layoutPro-ctrl-height: 36px;

// content
@layoutPro-content-height: 100%;
