@pro-background-color: var(--ix-background-color-light);

@pro-layout-header-box-shadow: 0 2px 8px 0 rgb(0 0 0 / 9%);
@pro-layout-sider-box-shadow: 2px 0 8px 0 rgb(0 0 0 / 9%);

@pro-layout-logo-font-size: var(--ix-font-size-xl);
@pro-layout-logo-font-weight: var(--ix-font-weight-lg);
@pro-layout-logo-image-height: 36px;
