//layout
@pro-layout-height: 100%;

// header-light

@pro-layout-header-light-color: @text-color;
@pro-layout-header-light-hover-color: @text-color;

@pro-layout-header-light-hover-background-image: none;

@pro-layout-header-light-background-color: @color-white;
@pro-layout-header-light-hover-background-color: @color-primary-l50;

@pro-layout-header-light-active-color: @text-color;
@pro-layout-header-light-active-box-shadow: none;
@pro-layout-header-light-active-background-color: @color-graphite-l40;

@pro-layout-header-light-box-shadow: inset 0 -1px 0 0 @color-graphite-l30;
// header-dark

@pro-layout-header-dark-color:  @color-white;
@pro-layout-header-dark-hover-color: @color-white;

@pro-layout-header-dark-hover-background-image: linear-gradient(180deg, rgba(28,110,255,0.10) 0%, rgba(28,110,255,0.00) 100%);

@pro-layout-header-dark-background-color: @color-graphite-d40;
@pro-layout-header-dark-hover-background-color: @color-graphite-d40;

@pro-layout-header-dark-active-color: @color-white;
@pro-layout-header-dark-active-box-shadow:  inset 0 2px 0 0 @color-primary;
@pro-layout-header-dark-active-background-color: @color-graphite-d30;

@pro-layout-header-dark-box-shadow: none;

// header

@pro-layout-header-height: @layout-header-height;
@pro-layout-header-menu-item-line-height: @pro-layout-header-height - 2;

@pro-layout-header-logo-width: @pro-layout-sider-width - 24px;
@pro-layout-header-extra-width: 256px;

@pro-layout-header-item-radius: 24px;
@pro-layout-header-item-margin: 0 @spacing-xs;
@pro-layout-header-item-padding: 0 @spacing-md;

@pro-layout-header-vertical-menu-item-font-size: @font-size-sm;
@pro-layout-header-vertical-menu-item-height: 32px;
@pro-layout-header-vertical-menu-item-line-height: 32px;

// sider-light

@pro-layout-sider-light-color: @text-color;
@pro-layout-sider-light-hover-color: @text-color;

@pro-layout-sider-light-background-color: @color-graphite-l50;
@pro-layout-sider-light-hover-background-color: @color-primary-l50;

@pro-layout-sider-light-active-color: @color-primary;
@pro-layout-sider-light-active-background-color: @color-primary-l50;
@pro-layout-sider-light-active-color-secondary: @color-graphite-d50;
@pro-layout-sider-light-active-icon-color: @color-graphite-d20;

@pro-layout-sider-light-collapsed-active-color: @color-primary;
@pro-layout-sider-light-collapsed-active-background-color: @color-primary-l50;

@pro-layout-sider-light-icon-color: @color-graphite;

@pro-layout-sider-light-thumb-background-color: @color-graphite-l30;
@pro-layout-sider-light-thumb-color: @color-graphite-l50;
@pro-layout-sider-light-track-background-color: @color-graphite-l50;

@pro-layout-sider-light-border-right: 1px solid @color-graphite-l30;

@pro-layout-sider-light-divider-color: @color-white;
// sider-dark 

@pro-layout-sider-dark-color: @color-graphite-l10;
@pro-layout-sider-dark-hover-color: @color-graphite-l10;

@pro-layout-sider-dark-background-color: @color-graphite-d40;
@pro-layout-sider-dark-hover-background-color: @color-graphite-d50;

@pro-layout-sider-dark-active-color: @color-white;
@pro-layout-sider-dark-active-background-color: @color-primary;
@pro-layout-sider-dark-active-color-secondary: @color-white;
@pro-layout-sider-dark-active-icon-color: @color-white;

@pro-layout-sider-dark-collapsed-active-color: @color-white;
@pro-layout-sider-dark-collapsed-active-background-color: @color-primary;

@pro-layout-sider-dark-icon-color: @color-graphite;

@pro-layout-sider-dark-thumb-background-color: @color-graphite-d10;
@pro-layout-sider-dark-thumb-color: @color-graphite-d40;
@pro-layout-sider-dark-track-background-color: @color-graphite-d40;

@pro-layout-sider-dark-border-right: none;

@pro-layout-sider-dark-divider-color: @color-graphite-d30;
// sider

@pro-layout-sider-width: @layout-sider-width;
@pro-layout-sider-collapsed-width: @layout-sider-collapsed-width;
@pro-layout-sider-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
@pro-layout-sider-header-height: @height-xl;
@pro-layout-sider-footer-height: @height-xl;

@pro-layout-sider-trigger-font-size: @font-size-lg;
@pro-layout-sider-trigger-background: inherit;
@pro-layout-sider-trigger-color: @text-color;
@pro-layout-sider-trigger-active-color: @color-primary;

@pro-layout-sider-menu-sub-inline-font-size: @font-size-sm;

@pro-layout-sider-menu-group-label-font-size: @font-size-sm;

@pro-layout-sider-menu-span-margin-left: @spacing-sm;
