@import '../../../style/themes/default.less';

@message-padding: @spacing-sm;
@message-margin-bottom: @spacing-lg;
@message-font-size: @font-size-md;
@message-line-height: @line-height-base;

@message-content-min-width: 128px;
@message-content-max-width: 480px;
@message-content-padding-horizontal: @spacing-lg;
@message-content-padding-vertical: (round((((@height-lg - @message-font-size * @message-line-height) / 2) * 10) / 10));
@message-content-bg-color: @background-color-component;
@message-content-border-radius: @shadow-bottom-md;
@message-content-box-shadow: @shadow-bottom-md;

@message-icon-size: @font-size-lg;
@message-icon-margin-right: @spacing-sm;

@message-wrapper-top: 15%;
@message-wrapper-zindex: @zindex-l4-1;
