@import '../../../style/mixins/reset.less';

.@{loading-prefix} {
  .reset-component();

  width: 1em;
  height: 1em;
  font-size: inherit;
  line-height: 1;
  animation: none;

  &-icon {
    width: 100%;
    height: 100%;
  }

  &-bg-circle {
    stroke: @bg-circle-stroke;
  }

  &-fst-arch {
    stroke: @fst-arch-stroke;
  }

  &-snd-arch {
    stroke: @snd-arch-stroke;
  }
}
