@stepper-background: @background-color-component;

@stepper-item-process-tail-color: @disabled-color;
@stepper-item-process-icon-color: @color-primary;
@stepper-item-process-title-color: @text-color;
@stepper-item-process-description-color: @text-color;
@stepper-item-finish-tail-color: @color-primary;
@stepper-item-finish-icon-color: @color-primary;
@stepper-item-finish-title-color: @text-color;
@stepper-item-finish-description-color: @text-color-secondary;
@stepper-item-wait-tail-color: @disabled-color;
@stepper-item-wait-icon-color: @disabled-color;
@stepper-item-wait-title-color: @text-color-secondary;
@stepper-item-wait-description-color: @text-color-secondary;
@stepper-item-error-tail-color: @stepper-item-wait-tail-color;
@stepper-item-error-icon-color: @color-error;
@stepper-item-error-title-color: @color-error;
@stepper-item-error-description-color: @color-error;

@stepper-item-spacing-md: @spacing-lg;
@stepper-item-icon-size-md: 32px;
@stepper-item-icon-font-size-md: @font-size-lg;
@stepper-item-icon-margin-md: 0 8px 0 0;
@stepper-item-title-font-size-md: @font-size-lg;
@stepper-item-description-font-size-md: @font-size-md;

@stepper-item-spacing-sm: @spacing-md;
@stepper-item-icon-size-sm: 24px;
@stepper-item-icon-font-size-sm: @font-size-md;
@stepper-item-icon-margin-sm: 0 8px 0 0;
@stepper-item-title-font-size-sm: @font-size-md;
@stepper-item-description-font-size-sm: @font-size-sm;
