@import './default.variable.less'; 

@stepper-line-border: 1px dashed transparent;

@stepper-item-process-title-color: @color-graphite-d40;
@stepper-item-process-description-color: @color-graphite;

@stepper-item-finish-title-color: @color-graphite-d40;
@stepper-item-finish-description-color: @color-graphite;

@stepper-item-wait-title-color: @color-graphite;
@stepper-item-wait-description-color: @color-graphite;

@stepper-item-error-icon-color: @color-error-d10;
@stepper-item-error-title-color: @text-color;
@stepper-item-error-description-color: @text-color;
