/* ------ tooltip css variables ------ */
:root {
  --ix-tooltip-font-size: 12px;
  --ix-tooltip-color: #6f7785;
  --ix-tooltip-min-width: 32px;
  --ix-tooltip-max-width: 400px;
  --ix-tooltip-white-space: pre-wrap;
}
