@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';

.@{transfer-prefix} {
  .reset-component();

  height: var(--ix-transfer-height);
  display: flex;
  align-items: stretch;
  font-size: var(--ix-font-size-sm);
  color: var(--ix-color-text);

  &-fit-content {
    height: auto;
  }

  &-operations {
    flex-shrink: 0;
    min-width: var(--ix-transfer-opr-min-width);
    &-inner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: var(--ix-transfer-opr-padding);
    }

    & &-btn {
      width: var(--ix-transfer-opr-button-width);
      height: var(--ix-transfer-opr-button-height);
      padding: 0;
    }

    &-btn + &-btn {
      margin-top: var(--ix-transfer-opr-button-gap);
    }
  }
}

@import './content.less';
@import './list.less';