@import '../../../style/themes/default.less';
@import '../../../form/style/themes/default.variable.less';
@import '../index.less';

@time-picker-border-width: @form-border-width;
@time-picker-border-style: @form-border-style;
@time-picker-border-color: @form-border-color;

@time-picker-color: @form-color;
@time-picker-background-color: @form-background-color;
@time-picker-disabled-color: @form-disabled-color;

@time-picker-transition-duration: @form-transition-duration;
@time-picker-transition-function: @form-transition-function;
@time-transition-duration: all @time-picker-transition-duration @time-picker-transition-function;

@time-picker-panel-box-shadow: @shadow-bottom-md;

@time-picker-cell-active-background-color: @color-grey-l50;
@time-picker-cell-selected-color: @color-primary;
@time-picker-cell-selected-background-color: tint(@color-primary, 90%);
