@import '../../../style/themes/default.less';
@import '../../../form/style/themes/default.less';

@time-picker-font-size-sm: @form-font-size-sm;
@time-picker-font-size-md: @form-font-size-md;
@time-picker-font-size-lg: @form-font-size-lg;
@time-picker-line-height: @form-line-height;
@time-picker-height-sm: @form-height-sm;
@time-picker-height-md: @form-height-md;
@time-picker-height-lg: @form-height-lg;
@time-picker-padding-horizontal-sm: @form-padding-horizontal-sm;
@time-picker-padding-horizontal-md: @form-padding-horizontal-md;
@time-picker-padding-horizontal-lg: @form-padding-horizontal-lg;
@time-picker-padding-vertical-sm: @form-padding-vertical-sm;
@time-picker-padding-vertical-md: @form-padding-vertical-md;
@time-picker-padding-vertical-lg: @form-padding-vertical-lg;

@time-picker-border-width: @form-border-width;
@time-picker-border-style: @form-border-style;
@time-picker-border-color: @form-border-color;
@time-picker-border-radius: @border-radius-md;

@time-picker-color: @form-color;
@time-picker-disabled-color: @form-disabled-color;

@time-transition: none;

@time-picker-panel-width: 200px;
@time-picker-panel-padding: @spacing-sm;
@time-picker-panel-box-shadow: @shadow-bottom-md;
@time-picker-panel-background-color: @form-background-color;
@time-picker-footer-padding: @spacing-sm @spacing-sm;

@time-range-picker-split-margin: @spacing-xl;
@time-range-picker-panel-side-width: 184px;

@time-picker-input-margin: @spacing-sm;

@time-picker-selector-height: 200px;
@time-picker-selector-padding: @spacing-md;

@time-picker-selector-window-border-width: @form-border-width;
@time-picker-selector-window-border-style: @form-border-style;
@time-picker-selector-window-border-color: @form-border-color;

@time-picker-selector-cell-width: 40px;
@time-picker-selector-cell-height: 32px;
@time-picker-selector-cell-color: @color-graphite-d10;
@time-picker-selector-cell-active-background-color: transparent;
@time-picker-selector-cell-selected-color: @color-graphite-d40;
@time-picker-selector-cell-selected-font-weight: @font-weight-lg;
@time-picker-selector-cell-selected-background-color: transparent;

@time-picker-scrollbar-width: 6px;
@time-picker-scrollbar-thumb-background-color: @color-graphite-l10;
@time-picker-scrollbar-thumb-border-radius: 10px;
@time-picker-scrollbar-track-background: transparent;
@time-picker-scrollbar-track-transition: all 0.1s linear;

@time-picker-color: @form-color;
@time-picker-color-secondary: @form-color-secondary;
@time-picker-background-color: @form-background-color;
@time-picker-placeholder-color: @form-placeholder-color;
@time-picker-hover-color: @form-hover-color;
@time-picker-active-color: @form-active-color;
@time-picker-active-box-shadow: @form-active-box-shadow;
@time-picker-disabled-color: @form-disabled-color;
@time-picker-disabled-background-color: @form-disabled-background-color;

@time-picker-icon-font-size: @font-size-sm;
@time-picker-icon-margin-left: @spacing-xs;
@time-picker-icon-margin-right: @spacing-xs;
@time-picker-icon-color: @time-picker-placeholder-color;
@time-picker-icon-hover-color: @time-picker-color-secondary;
@time-picker-icon-background-color: @time-picker-background-color;
