@import './default.variable.less'; 

@time-picker-border-color: @color-graphite-l30;
@time-picker-icon-font-size: @font-size-lg;
@time-range-picker-overlay-gap-padding: 2px 8px;
@time-picker-overlay-font-size: @font-size-sm;
