@import '../../style/mixins/ellipsis.less';
@import '../../style/mixins/reset.less';

.@{tree-select-prefix} {
  &-option {
    .reset-component();
    .tree-select-option(@tree-select-option-font-size, @tree-select-option-color);

    &-disabled {
      color: @tree-select-option-disabled-color;
      cursor: not-allowed;
    }

    &-active:not(&-disabled) {
      background-color: @tree-select-option-active-background-color;
    }

    &-selected:not(&-disabled) {
      color: @tree-select-option-selected-color;
      background-color: @tree-select-option-selected-background-color;
      font-weight: @tree-select-option-selected-font-weight;
    }

    &-checkbox {
      margin-left: @tree-select-option-margin-left;
    }

    &-label {
      margin-left: @tree-select-option-margin-left;
      .ellipsis();
    }
  }

  &-option-group {
    .reset-component();
    .tree-select-option(@tree-select-option-font-size - 2px, @tree-select-option-disabled-color);

    &-label {
      margin-left: @tree-select-option-margin-left;
      .ellipsis();
    }
  }

  &-overlay {
    .reset-scroll();

    z-index: @tree-select-option-container-zindex;
    padding: @tree-select-option-container-padding;
    background-color: @tree-select-option-container-background-color;
    border-radius: @tree-select-option-container-border-radius;
    box-shadow: @tree-select-option-container-box-shadow;
    overflow: auto;

    .@{tree-select-option-prefix}-group:not(:first-child) {
      border-top: @tree-select-option-group-border;
    }

    &-search-wrapper {
      display: flex;
      gap: 4px;
      margin-bottom: 8px;
    }
  }
}

.tree-select-option(@font-size; @text-color) {
  display: block;
  position: relative;
  height: @tree-select-option-height;
  padding: @tree-select-option-padding;
  font-size: @font-size;
  color: @text-color;
  transition: background @transition-duration-base @ease-in-out;
  cursor: pointer;
}
