.tree-select-option(@font-size; @text-color) {
  display: block;
  position: relative;
  height: @tree-select-option-height;
  padding: @tree-select-option-padding;
  font-size: @font-size;
  color: @text-color;
  transition: @transition-all-base;
  cursor: pointer;
}

.tree-select-icon() {
  position: absolute;
  top: 50%;
  margin-top: -(@tree-select-icon-font-size / 2);
  right: @tree-select-icon-margin-right;
  line-height: 1;
  font-size: @tree-select-icon-font-size;
  color: @tree-select-icon-color;
  transition: @transition-all-base;
}
