.select-size(@tree-select-height; @tree-select-font-size) {
  @tree-select-margin-half: ceil((@tree-select-multiple-padding / 2));
  @tree-select-padding-vertical: max(@tree-select-multiple-padding - @tree-select-multiple-item-border-width - @tree-select-margin-half, 0);
  @tree-select-item-height: @tree-select-height - @tree-select-multiple-padding * 2;
  @tree-select-item-line-height: @tree-select-item-height - @tree-select-border-width * 2;

  .@{tree-select-prefix}-selector {
    padding: @tree-select-padding-vertical @tree-select-multiple-padding;
    font-size: @tree-select-font-size;

    &-item {
      height: @tree-select-item-height;
      line-height: @tree-select-item-line-height;
      margin: @tree-select-margin-half 0;
      margin-inline-end: @tree-select-multiple-padding;
    }

    &-input {
      margin: @tree-select-margin-half 0;
      margin-inline-start: @tree-select-multiple-padding;

      &-inner,
      &-mirror {
        height: @tree-select-item-height;
        line-height: @tree-select-item-line-height;
      }
    }
  }

  &.@{tree-select-prefix}-with-suffix .@{tree-select-prefix}-selector,
  &.@{tree-select-prefix}-clearable .@{tree-select-prefix}-selector {
    padding-right: @tree-select-icon-font-size + @tree-select-multiple-padding;
  }
}

.@{tree-select-prefix}-multiple {
  .@{tree-select-prefix}-selector {
    flex-wrap: wrap;
    align-items: center;

    &-item {
      display: flex;
      flex: none;
      max-width: 100%;
      padding: @tree-select-multiple-item-padding;
      background: @tree-select-multiple-item-background-color;
      border: @tree-select-multiple-item-border;
      border-radius: @tree-select-multiple-item-border-radius;
      cursor: default;

      &-disabled {
        color: @tree-select-multiple-item-disabled-color;
        border-color: @tree-select-multiple-item-disabled-border-color;
        cursor: not-allowed;
      }

      &-label {
        display: inline-block;
        .ellipsis();
      }

      &-remove {
        margin-left: @tree-select-multiple-item-label-margin-left;
        color: @tree-select-icon-color;
        font-size: @tree-select-multiple-item-remove-icon-font-size;
        line-height: inherit;
        cursor: pointer;

        &:hover {
          color: @tree-select-icon-hover-color;
        }
      }
    }

    &-input {
      position: relative;
      max-width: 100%;

      &-mirror {
        position: absolute;
        top: 0;
        left: 0;
        white-space: pre;
        visibility: hidden;
      }
    }

    &-placeholder {
      position: absolute;
      right: @tree-select-padding-horizontal-md;
      left: @tree-select-padding-horizontal-md;
    }
  }

  &.@{tree-select-prefix}-sm {
    .select-size(@tree-select-height-sm, @tree-select-font-size-sm);

    .@{tree-select-prefix}-selector-input {
      margin: 0;
    }
  }

  &.@{tree-select-prefix}-md {
    .select-size(@tree-select-height-md, @tree-select-font-size-md);
  }

  &.@{tree-select-prefix}-lg {
    .select-size(@tree-select-height-lg, @tree-select-font-size-lg);
  }
}
