.tree-select-size(@tree-select-height;  @tree-select-padding-horizontal; @tree-select-font-size) {
  .@{tree-select-prefix}-selector {
    height: @tree-select-height;
    padding: 0 @tree-select-padding-horizontal;
    font-size: @tree-select-font-size;

    &-item,
    &-placeholder,
    &-input-inner {
      line-height: @tree-select-height - 2 * @tree-select-border-width;
    }

    &-input {
      right: @tree-select-padding-horizontal;
      left: @tree-select-padding-horizontal;
    }
  }

  &.@{tree-select-prefix}-show-suffix &-selector-input {
    right: @tree-select-padding-horizontal + @tree-select-font-size;
  }
}

.@{tree-select-prefix}-single {
  .@{tree-select-prefix}-selector {
    width: 100%;

    &-input {
      position: absolute;
    }

    &-item {
      position: relative;
    }
  }

  &.@{tree-select-prefix}-with-suffix .@{tree-select-prefix}-selector-item,
  &.@{tree-select-prefix}-with-suffix .@{tree-select-prefix}-selector-placeholder {
    padding-right: @tree-select-icon-font-size;
  }

  &.@{tree-select-prefix}-opened .@{tree-select-prefix}-selector-item {
    color: @tree-select-placeholder-color;
  }

  &.@{tree-select-prefix}-sm {
    .tree-select-size(@tree-select-height-sm, @tree-select-padding-horizontal-sm, @tree-select-font-size-sm);
  }

  &.@{tree-select-prefix}-md {
    .tree-select-size(@tree-select-height-md, @tree-select-padding-horizontal-md, @tree-select-font-size-md);
  }

  &.@{tree-select-prefix}-lg {
    .tree-select-size(@tree-select-height-lg, @tree-select-padding-horizontal-lg, @tree-select-font-size-lg);
  }
}
