@import '../../style/mixins/reset.less';
@import '../../style/motion/fade.less';

.@{popconfirm-prefix} {
  .reset-component();

  z-index: 1000;
  font-size: @popconfirm-font-size;
  line-height: @line-height-md;
  color: @popconfirm-color;
  background-color: @popconfirm-background-color;
  border-radius: @popconfirm-border-radius;
  box-shadow: @popconfirm-box-shadow;

  &-wrapper {
    position: relative;
    word-wrap: break-word;
    min-width: @popconfirm-wrapper-min-width;
    z-index: 1;
  }

  &-title {
    padding: ((@height-lg - @line-height-md) / 2) @spacing-lg;

    .@{icon-prefix} {
      font-size: @popconfirm-icon-size;
      color: @popconfirm-icon-color;
      margin-right: @spacing-sm;
    }
  }

  &-content {
    padding: @spacing-md @spacing-lg;
  }

  &-footer {
    padding: @spacing-sm @spacing-lg;
    text-align: end;

    .@{button-prefix} + .@{button-prefix} {
      margin-left: @spacing-sm;
    }
  }

  .@{overlay-prefix}-arrow {
    color: @popconfirm-background-color;
  }
}
