@import '../../style/mixins/reset.less';
@import '../../style/motion/fade.less';

.@{popconfirm-prefix} {
  .reset-component();
  .reset-font-size(@popconfirm-font-size);

  color: @popconfirm-color;
  background-color: @popconfirm-background-color;
  border-radius: @popconfirm-border-radius;
  box-shadow: @popconfirm-box-shadow;
  z-index: 1000;

  &-wrapper {
    position: relative;
    word-wrap: break-word;
    min-width: @popconfirm-min-width;
    z-index: 1;
  }

  &-title {
    display: flex;
    align-items: center;
    min-height: var(--ix-height-lg);
    .reset-font-size(@popconfirm-title-font-size);

    padding: 16px 16px 8px;

    .@{icon-prefix} {
      font-size: @popconfirm-icon-size;
      color: @popconfirm-icon-color;
      margin-right: 8px;
    }
  }

  &-content {
    padding: 16px 16px 8px;
  }

  &-title + &-content {
    padding-top: 0;
  }

  &-with-content &-title {
    font-weight: @popconfirm-title-font-weight;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 16px;

    .@{button-prefix} + .@{button-prefix} {
      margin-left: 8px;
    }
  }

  .@{overlay-prefix}-arrow {
    color: @popconfirm-background-color;
  }
}
