@import './default.less';

@theme: dark;

// @background-color-component: #191c24;

/* Red -------------------------- */
@color-red-l50: mix(color(~`colorPalette('@{color-red-base}', 20) `), @background-color-component, 15%);
@color-red-l40: mix(color(~`colorPalette('@{color-red-base}', 10) `), @background-color-component, 25%);
@color-red-l30: mix(@color-red-base, @background-color-component, 30%);
@color-red-l20: mix(@color-red-base, @background-color-component, 45%);
@color-red-l10: mix(@color-red-base, @background-color-component, 65%);
@color-red: mix(@color-red-base, @background-color-component, 85%);
@color-red-d10: mix(color(~`colorPalette('@{color-red-base}', -10) `), @background-color-component, 90%);
@color-red-d20: mix(color(~`colorPalette('@{color-red-base}', -20) `), @background-color-component, 95%);
@color-red-d30: mix(color(~`colorPalette('@{color-red-base}', -30) `), @background-color-component, 97%);
@color-red-d40: mix(color(~`colorPalette('@{color-red-base}', -40) `), @background-color-component, 98%);

/* Orange -------------------------- */
@color-orange-l50: mix(color(~`colorPalette('@{color-orange-base}', 20) `), @background-color-component, 15%);
@color-orange-l40: mix(color(~`colorPalette('@{color-orange-base}', 10) `), @background-color-component, 25%);
@color-orange-l30: mix(@color-orange-base, @background-color-component, 30%);
@color-orange-l20: mix(@color-orange-base, @background-color-component, 45%);
@color-orange-l10: mix(@color-orange-base, @background-color-component, 65%);
@color-orange: mix(@color-orange-base, @background-color-component, 85%);
@color-orange-d10: mix(color(~`colorPalette('@{color-orange-base}', -10) `), @background-color-component, 90%);
@color-orange-d20: mix(color(~`colorPalette('@{color-orange-base}', -20) `), @background-color-component, 95%);
@color-orange-d30: mix(color(~`colorPalette('@{color-orange-base}', -30) `), @background-color-component, 97%);
@color-orange-d40: mix(color(~`colorPalette('@{color-orange-base}', -40) `), @background-color-component, 98%);

/* Brown -------------------------- */
@color-brown-l50: mix(color(~`colorPalette('@{color-brown-base}', 20) `), @background-color-component, 15%);
@color-brown-l40: mix(color(~`colorPalette('@{color-brown-base}', 10) `), @background-color-component, 25%);
@color-brown-l30: mix(@color-brown-base, @background-color-component, 30%);
@color-brown-l20: mix(@color-brown-base, @background-color-component, 45%);
@color-brown-l10: mix(@color-brown-base, @background-color-component, 65%);
@color-brown: mix(@color-brown-base, @background-color-component, 85%);
@color-brown-d10: mix(color(~`colorPalette('@{color-brown-base}', -10) `), @background-color-component, 90%);
@color-brown-d20: mix(color(~`colorPalette('@{color-brown-base}', -20) `), @background-color-component, 95%);
@color-brown-d30: mix(color(~`colorPalette('@{color-brown-base}', -30) `), @background-color-component, 97%);
@color-brown-d40: mix(color(~`colorPalette('@{color-brown-base}', -40) `), @background-color-component, 98%);

/* Yellow -------------------------- */
@color-yellow-l50: mix(color(~`colorPalette('@{color-yellow-base}', 20) `), @background-color-component, 15%);
@color-yellow-l40: mix(color(~`colorPalette('@{color-yellow-base}', 10) `), @background-color-component, 25%);
@color-yellow-l30: mix(@color-yellow-base, @background-color-component, 30%);
@color-yellow-l20: mix(@color-yellow-base, @background-color-component, 45%);
@color-yellow-l10: mix(@color-yellow-base, @background-color-component, 65%);
@color-yellow: mix(@color-yellow-base, @background-color-component, 85%);
@color-yellow-d10: mix(color(~`colorPalette('@{color-yellow-base}', -10) `), @background-color-component, 90%);
@color-yellow-d20: mix(color(~`colorPalette('@{color-yellow-base}', -20) `), @background-color-component, 95%);
@color-yellow-d30: mix(color(~`colorPalette('@{color-yellow-base}', -30) `), @background-color-component, 97%);
@color-yellow-d40: mix(color(~`colorPalette('@{color-yellow-base}', -40) `), @background-color-component, 98%);

/* Canary -------------------------- */
@color-canary-l50: mix(color(~`colorPalette('@{color-canary-base}', 20) `), @background-color-component, 15%);
@color-canary-l40: mix(color(~`colorPalette('@{color-canary-base}', 10) `), @background-color-component, 25%);
@color-canary-l30: mix(@color-canary-base, @background-color-component, 30%);
@color-canary-l20: mix(@color-canary-base, @background-color-component, 45%);
@color-canary-l10: mix(@color-canary-base, @background-color-component, 65%);
@color-canary: mix(@color-canary-base, @background-color-component, 85%);
@color-canary-d10: mix(color(~`colorPalette('@{color-canary-base}', -10) `), @background-color-component, 90%);
@color-canary-d20: mix(color(~`colorPalette('@{color-canary-base}', -20) `), @background-color-component, 95%);
@color-canary-d30: mix(color(~`colorPalette('@{color-canary-base}', -30) `), @background-color-component, 97%);
@color-canary-d40: mix(color(~`colorPalette('@{color-canary-base}', -40) `), @background-color-component, 98%);

/* Bud -------------------------- */
@color-bud-l50: mix(color(~`colorPalette('@{color-bud-base}', 20) `), @background-color-component, 15%);
@color-bud-l40: mix(color(~`colorPalette('@{color-bud-base}', 10) `), @background-color-component, 25%);
@color-bud-l30: mix(@color-bud-base, @background-color-component, 30%);
@color-bud-l20: mix(@color-bud-base, @background-color-component, 45%);
@color-bud-l10: mix(@color-bud-base, @background-color-component, 65%);
@color-bud: mix(@color-bud-base, @background-color-component, 85%);
@color-bud-d10: mix(color(~`colorPalette('@{color-bud-base}', -10) `), @background-color-component, 90%);
@color-bud-d20: mix(color(~`colorPalette('@{color-bud-base}', -20) `), @background-color-component, 95%);
@color-bud-d30: mix(color(~`colorPalette('@{color-bud-base}', -30) `), @background-color-component, 97%);
@color-bud-d40: mix(color(~`colorPalette('@{color-bud-base}', -40) `), @background-color-component, 98%);

/* Green -------------------------- */
@color-green-l50: mix(color(~`colorPalette('@{color-green-base}', 20) `), @background-color-component, 15%);
@color-green-l40: mix(color(~`colorPalette('@{color-green-base}', 10) `), @background-color-component, 25%);
@color-green-l30: mix(@color-green-base, @background-color-component, 30%);
@color-green-l20: mix(@color-green-base, @background-color-component, 45%);
@color-green-l10: mix(@color-green-base, @background-color-component, 65%);
@color-green: mix(@color-green-base, @background-color-component, 85%);
@color-green-d10: mix(color(~`colorPalette('@{color-green-base}', -10) `), @background-color-component, 90%);
@color-green-d20: mix(color(~`colorPalette('@{color-green-base}', -20) `), @background-color-component, 95%);
@color-green-d30: mix(color(~`colorPalette('@{color-green-base}', -30) `), @background-color-component, 97%);
@color-green-d40: mix(color(~`colorPalette('@{color-green-base}', -40) `), @background-color-component, 98%);

/* Turquoise -------------------------- */
@color-turquoise-l50: mix(color(~`colorPalette('@{color-turquoise-base}', 20) `), @background-color-component, 15%);
@color-turquoise-l40: mix(color(~`colorPalette('@{color-turquoise-base}', 10) `), @background-color-component, 25%);
@color-turquoise-l30: mix(@color-turquoise-base, @background-color-component, 30%);
@color-turquoise-l20: mix(@color-turquoise-base, @background-color-component, 45%);
@color-turquoise-l10: mix(@color-turquoise-base, @background-color-component, 65%);
@color-turquoise: mix(@color-turquoise-base, @background-color-component, 85%);
@color-turquoise-d10: mix(color(~`colorPalette('@{color-turquoise-base}', -10) `), @background-color-component, 90%);
@color-turquoise-d20: mix(color(~`colorPalette('@{color-turquoise-base}', -20) `), @background-color-component, 95%);
@color-turquoise-d30: mix(color(~`colorPalette('@{color-turquoise-base}', -30) `), @background-color-component, 97%);
@color-turquoise-d40: mix(color(~`colorPalette('@{color-turquoise-base}', -40) `), @background-color-component, 98%);

/* Cyan -------------------------- */
@color-cyan-l50: mix(color(~`colorPalette('@{color-cyan-base}', 20) `), @background-color-component, 15%);
@color-cyan-l40: mix(color(~`colorPalette('@{color-cyan-base}', 10) `), @background-color-component, 25%);
@color-cyan-l30: mix(@color-cyan-base, @background-color-component, 30%);
@color-cyan-l20: mix(@color-cyan-base, @background-color-component, 45%);
@color-cyan-l10: mix(@color-cyan-base, @background-color-component, 65%);
@color-cyan: mix(@color-cyan-base, @background-color-component, 85%);
@color-cyan-d10: mix(color(~`colorPalette('@{color-cyan-base}', -10) `), @background-color-component, 90%);
@color-cyan-d20: mix(color(~`colorPalette('@{color-cyan-base}', -20) `), @background-color-component, 95%);
@color-cyan-d30: mix(color(~`colorPalette('@{color-cyan-base}', -30) `), @background-color-component, 97%);
@color-cyan-d40: mix(color(~`colorPalette('@{color-cyan-base}', -40) `), @background-color-component, 98%);

/* Glacier -------------------------- */
@color-glacier-l50: mix(color(~`colorPalette('@{color-glacier-base}', 20) `), @background-color-component, 15%);
@color-glacier-l40: mix(color(~`colorPalette('@{color-glacier-base}', 10) `), @background-color-component, 25%);
@color-glacier-l30: mix(@color-glacier-base, @background-color-component, 30%);
@color-glacier-l20: mix(@color-glacier-base, @background-color-component, 45%);
@color-glacier-l10: mix(@color-glacier-base, @background-color-component, 65%);
@color-glacier: mix(@color-glacier-base, @background-color-component, 85%);
@color-glacier-d10: mix(color(~`colorPalette('@{color-glacier-base}', -10) `), @background-color-component, 90%);
@color-glacier-d20: mix(color(~`colorPalette('@{color-glacier-base}', -20) `), @background-color-component, 95%);
@color-glacier-d30: mix(color(~`colorPalette('@{color-glacier-base}', -30) `), @background-color-component, 97%);
@color-glacier-d40: mix(color(~`colorPalette('@{color-glacier-base}', -40) `), @background-color-component, 98%);

/* Blue -------------------------- */
@color-blue-l50: mix(color(~`colorPalette('@{color-blue-base}', 20) `), @background-color-component, 15%);
@color-blue-l40: mix(color(~`colorPalette('@{color-blue-base}', 10) `), @background-color-component, 25%);
@color-blue-l30: mix(@color-blue-base, @background-color-component, 30%);
@color-blue-l20: mix(@color-blue-base, @background-color-component, 45%);
@color-blue-l10: mix(@color-blue-base, @background-color-component, 65%);
@color-blue: mix(@color-blue-base, @background-color-component, 85%);
@color-blue-d10: mix(color(~`colorPalette('@{color-blue-base}', -10) `), @background-color-component, 90%);
@color-blue-d20: mix(color(~`colorPalette('@{color-blue-base}', -20) `), @background-color-component, 95%);
@color-blue-d30: mix(color(~`colorPalette('@{color-blue-base}', -30) `), @background-color-component, 97%);
@color-blue-d40: mix(color(~`colorPalette('@{color-blue-base}', -40) `), @background-color-component, 98%);

/* Indigo -------------------------- */
@color-indigo-l50: mix(color(~`colorPalette('@{color-indigo-base}', 20) `), @background-color-component, 15%);
@color-indigo-l40: mix(color(~`colorPalette('@{color-indigo-base}', 10) `), @background-color-component, 25%);
@color-indigo-l30: mix(@color-indigo-base, @background-color-component, 30%);
@color-indigo-l20: mix(@color-indigo-base, @background-color-component, 45%);
@color-indigo-l10: mix(@color-indigo-base, @background-color-component, 65%);
@color-indigo: mix(@color-indigo-base, @background-color-component, 85%);
@color-indigo-d10: mix(color(~`colorPalette('@{color-indigo-base}', -10) `), @background-color-component, 90%);
@color-indigo-d20: mix(color(~`colorPalette('@{color-indigo-base}', -20) `), @background-color-component, 95%);
@color-indigo-d30: mix(color(~`colorPalette('@{color-indigo-base}', -30) `), @background-color-component, 97%);
@color-indigo-d40: mix(color(~`colorPalette('@{color-indigo-base}', -40) `), @background-color-component, 98%);

/* Purple -------------------------- */
@color-purple-l50: mix(color(~`colorPalette('@{color-purple-base}', 20) `), @background-color-component, 15%);
@color-purple-l40: mix(color(~`colorPalette('@{color-purple-base}', 10) `), @background-color-component, 25%);
@color-purple-l30: mix(@color-purple-base, @background-color-component, 30%);
@color-purple-l20: mix(@color-purple-base, @background-color-component, 45%);
@color-purple-l10: mix(@color-purple-base, @background-color-component, 65%);
@color-purple: mix(@color-purple-base, @background-color-component, 85%);
@color-purple-d10: mix(color(~`colorPalette('@{color-purple-base}', -10) `), @background-color-component, 90%);
@color-purple-d20: mix(color(~`colorPalette('@{color-purple-base}', -20) `), @background-color-component, 95%);
@color-purple-d30: mix(color(~`colorPalette('@{color-purple-base}', -30) `), @background-color-component, 97%);
@color-purple-d40: mix(color(~`colorPalette('@{color-purple-base}', -40) `), @background-color-component, 98%);

/* Magenta -------------------------- */
@color-magenta-l50: mix(color(~`colorPalette('@{color-magenta-base}', 20) `), @background-color-component, 15%);
@color-magenta-l40: mix(color(~`colorPalette('@{color-magenta-base}', 10) `), @background-color-component, 25%);
@color-magenta-l30: mix(@color-magenta-base, @background-color-component, 30%);
@color-magenta-l20: mix(@color-magenta-base, @background-color-component, 45%);
@color-magenta-l10: mix(@color-magenta-base, @background-color-component, 65%);
@color-magenta: mix(@color-magenta-base, @background-color-component, 85%);
@color-magenta-d10: mix(color(~`colorPalette('@{color-magenta-base}', -10) `), @background-color-component, 90%);
@color-magenta-d20: mix(color(~`colorPalette('@{color-magenta-base}', -20) `), @background-color-component, 95%);
@color-magenta-d30: mix(color(~`colorPalette('@{color-magenta-base}', -30) `), @background-color-component, 97%);
@color-magenta-d40: mix(color(~`colorPalette('@{color-magenta-base}', -40) `), @background-color-component, 98%);

/* Primary -------------------------- */
@color-primary-l50: mix(color(~`colorPalette('@{color-primary-base}', 20) `), @background-color-component, 15%);
@color-primary-l40: mix(color(~`colorPalette('@{color-primary-base}', 10) `), @background-color-component, 25%);
@color-primary-l30: mix(@color-primary-base, @background-color-component, 30%);
@color-primary-l20: mix(@color-primary-base, @background-color-component, 45%);
@color-primary-l10: mix(@color-primary-base, @background-color-component, 65%);
@color-primary: mix(@color-primary-base, @background-color-component, 85%);
@color-primary-d10: mix(color(~`colorPalette('@{color-primary-base}', -10) `), @background-color-component, 90%);
@color-primary-d20: mix(color(~`colorPalette('@{color-primary-base}', -20) `), @background-color-component, 95%);
@color-primary-d30: mix(color(~`colorPalette('@{color-primary-base}', -30) `), @background-color-component, 97%);
@color-primary-d40: mix(color(~`colorPalette('@{color-primary-base}', -40) `), @background-color-component, 98%);

/* Info -------------------------- */
@color-info-l50: mix(color(~`colorPalette('@{color-info-base}', 20) `), @background-color-component, 15%);
@color-info-l40: mix(color(~`colorPalette('@{color-info-base}', 10) `), @background-color-component, 25%);
@color-info-l30: mix(@color-info-base, @background-color-component, 30%);
@color-info-l20: mix(@color-info-base, @background-color-component, 45%);
@color-info-l10: mix(@color-info-base, @background-color-component, 65%);
@color-info: mix(@color-info-base, @background-color-component, 85%);
@color-info-d10: mix(color(~`colorPalette('@{color-info-base}', -10) `), @background-color-component, 90%);
@color-info-d20: mix(color(~`colorPalette('@{color-info-base}', -20) `), @background-color-component, 95%);
@color-info-d30: mix(color(~`colorPalette('@{color-info-base}', -30) `), @background-color-component, 97%);
@color-info-d40: mix(color(~`colorPalette('@{color-info-base}', -40) `), @background-color-component, 98%);

/* Pending -------------------------- */
@color-pending-l50: mix(color(~`colorPalette('@{color-pending-base}', 20) `), @background-color-component, 15%);
@color-pending-l40: mix(color(~`colorPalette('@{color-pending-base}', 10) `), @background-color-component, 25%);
@color-pending-l30: mix(@color-pending-base, @background-color-component, 30%);
@color-pending-l20: mix(@color-pending-base, @background-color-component, 45%);
@color-pending-l10: mix(@color-pending-base, @background-color-component, 65%);
@color-pending: mix(@color-pending-base, @background-color-component, 85%);
@color-pending-d10: mix(color(~`colorPalette('@{color-pending-base}', -10) `), @background-color-component, 90%);
@color-pending-d20: mix(color(~`colorPalette('@{color-pending-base}', -20) `), @background-color-component, 95%);
@color-pending-d30: mix(color(~`colorPalette('@{color-pending-base}', -30) `), @background-color-component, 97%);
@color-pending-d40: mix(color(~`colorPalette('@{color-pending-base}', -40) `), @background-color-component, 98%);

/* Success -------------------------- */
@color-success-l50: mix(color(~`colorPalette('@{color-success-base}', 20) `), @background-color-component, 15%);
@color-success-l40: mix(color(~`colorPalette('@{color-success-base}', 10) `), @background-color-component, 25%);
@color-success-l30: mix(@color-success-base, @background-color-component, 30%);
@color-success-l20: mix(@color-success-base, @background-color-component, 45%);
@color-success-l10: mix(@color-success-base, @background-color-component, 65%);
@color-success: mix(@color-success-base, @background-color-component, 85%);
@color-success-d10: mix(color(~`colorPalette('@{color-success-base}', -10) `), @background-color-component, 90%);
@color-success-d20: mix(color(~`colorPalette('@{color-success-base}', -20) `), @background-color-component, 95%);
@color-success-d30: mix(color(~`colorPalette('@{color-success-base}', -30) `), @background-color-component, 97%);
@color-success-d40: mix(color(~`colorPalette('@{color-success-base}', -40) `), @background-color-component, 98%);

/* Warning -------------------------- */
@color-warning-l50: mix(color(~`colorPalette('@{color-warning-base}', 20) `), @background-color-component, 15%);
@color-warning-l40: mix(color(~`colorPalette('@{color-warning-base}', 10) `), @background-color-component, 25%);
@color-warning-l30: mix(@color-warning-base, @background-color-component, 30%);
@color-warning-l20: mix(@color-warning-base, @background-color-component, 45%);
@color-warning-l10: mix(@color-warning-base, @background-color-component, 65%);
@color-warning: mix(@color-warning-base, @background-color-component, 85%);
@color-warning-d10: mix(color(~`colorPalette('@{color-warning-base}', -10) `), @background-color-component, 90%);
@color-warning-d20: mix(color(~`colorPalette('@{color-warning-base}', -20) `), @background-color-component, 95%);
@color-warning-d30: mix(color(~`colorPalette('@{color-warning-base}', -30) `), @background-color-component, 97%);
@color-warning-d40: mix(color(~`colorPalette('@{color-warning-base}', -40) `), @background-color-component, 98%);

/* Error -------------------------- */
@color-error-l50: mix(color(~`colorPalette('@{color-error-base}', 20) `), @background-color-component, 15%);
@color-error-l40: mix(color(~`colorPalette('@{color-error-base}', 10) `), @background-color-component, 25%);
@color-error-l30: mix(@color-error-base, @background-color-component, 30%);
@color-error-l20: mix(@color-error-base, @background-color-component, 45%);
@color-error-l10: mix(@color-error-base, @background-color-component, 65%);
@color-error: mix(@color-error-base, @background-color-component, 85%);
@color-error-d10: mix(color(~`colorPalette('@{color-error-base}', -10) `), @background-color-component, 90%);
@color-error-d20: mix(color(~`colorPalette('@{color-error-base}', -20) `), @background-color-component, 95%);
@color-error-d30: mix(color(~`colorPalette('@{color-error-base}', -30) `), @background-color-component, 97%);
@color-error-d40: mix(color(~`colorPalette('@{color-error-base}', -40) `), @background-color-component, 98%);
