@import '../variable/index.less';

@theme: default;

:root {
  // Primary
  --ix-color-primary: @color-primary;
  --ix-color-primary-l50: @color-primary-l50; // selected
  --ix-color-primary-l10: @color-primary-l10; // hover
  --ix-color-primary-d10: @color-primary-d10; // active

  // Success
  --ix-color-success: @color-turquoise;
  --ix-color-success-l10: @color-turquoise-l10; // hover
  --ix-color-success-d10: @color-turquoise-d10; // active

  // Warning
  --ix-color-warning: @color-brown;
  --ix-color-warning-l10: @color-brown-l10; // hover
  --ix-color-warning-d10: @color-brown-d10; // active

  // Error
  --ix-color-error: @color-red;
  --ix-color-error-l10: @color-red-l10; // hover
  --ix-color-error-d10: @color-red-d10; // active

  // Text
  --ix-text-color: @color-grey-d40; // 默认
  --ix-text-color-inverse: @color-white; // 反向
  --ix-text-color-disabled: @color-grey-l10; // 禁用
  --ix-text-color-info: @color-grey; // 提示
  --ix-text-color-secondary: @color-grey-d10; // 辅助
  --ix-text-color-title: @color-grey-d50; // 标题
  --ix-text-color-title-secondary: @color-grey-d30; // 次级标题

  // Background
  --ix-background-color: @color-white;
  --ix-background-color-inverse: @color-grey-d40;
  --ix-background-color-deep: @color-grey-l40;
  --ix-background-color-light: @color-grey-l50;

  // Border
  --ix-border-color: @color-grey-l20;
  --ix-border-color-inverse: @color-white;
  --ix-border-color-secondary: @color-grey-l30;

  // Border-Radius
  --ix-border-radius-sm: 2px;
  --ix-border-radius-md: 4px;
  --ix-border-radius-lg: 8px;

  // Height
  --ix-height-xs: 20px;
  --ix-height-sm: 24px;
  --ix-height-md: 32px;
  --ix-height-lg: 40px;
  --ix-height-xl: 48px;
  --ix-height-2xl: 56px;
  --ix-height-3xl: 64px;

  // Line-Height
  --ix-line-height-gutter: 8px;

  // Font-Size
  --ix-font-size-xs: 10px;
  --ix-font-size-sm: 12px;
  --ix-font-size-md: 14px;
  --ix-font-size-lg: 16px;
  --ix-font-size-xl: 20px;
  --ix-font-size-2xl: 24px;
  --ix-font-size-3xl: 30px;

  // Font-Weight
  --ix-font-weight-xs: 200;
  --ix-font-weight-sm: 300;
  --ix-font-weight-md: 400;
  --ix-font-weight-lg: 500;
  --ix-font-weight-xl: 600;

  // Spacing: margin or padding
  --ix-spacing-xs: 4px;
  --ix-spacing-sm: 8px;
  --ix-spacing-md: 12px;
  --ix-spacing-lg: 16px;
  --ix-spacing-xl: 24px;
  --ix-spacing-2xl: 32px;

  // Motion
  --ix-transition-duration-fast: 0.2s;
  --ix-transition-duration-medium: 0.24s;
  --ix-transition-duration-slow: 0.28s;
  --ix-ease-out: cubic-bezier(0.61, 1, 0.88, 1);
  --ix-ease-in-out: cubic-bezier(0.37, 0, 0.63, 1);
  --ix-ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
  --ix-ease-in-out-circ: cubic-bezier(0.85, 0, 0.15, 1);
}

// 临时兼容，后面需要移除
// Text
@text-color: @color-grey-d40;
@text-color-inverse: @color-white;
@text-color-disabled: @color-grey-l10;

// Background
@background-color: @color-white;
@background-color-inverse: @color-grey-d40;
@background-color-disabled: @color-grey-l40;

// Border
@border-color: @color-grey-l20;
@border-color-inverse: @color-white;
@border-color-split: @color-grey-l30;

// Scrollbar
@scrollbar-width: 8px;
@scrollbar-height: 8px;

@scrollbar-thumb-background-color: @color-grey-l30;
@scrollbar-thumb-hover-background-color: @color-grey-l10;
@scrollbar-thumb-active-background-color: @color-grey-d10;
@scrollbar-thumb-border: 0;
@scrollbar-thumb-border-radius: 4px;
@scrollbar-thumb-box-shadow: none;

@scrollbar-track-background-color: unset;
@scrollbar-track-border-radius: 0;
@scrollbar-track-box-shadow: unset;
