@import './default.less';

@theme: seer;

:root {
  // Text
  --ix-text-color: @color-graphite-d40;
  --ix-text-color-disabled: @color-graphite;
  --ix-text-color-inverse-disabled: @color-graphite-l10;
  --ix-text-color-info: @color-graphite-d10;
  --ix-text-color-secondary: @color-graphite-d20;
  --ix-text-color-title: @color-graphite-d40;
  --ix-text-color-title-secondary: @color-graphite-d30;

  // Background
  --ix-background-color-inverse: @color-graphite-d40;
  --ix-background-color-deep: @color-graphite-l30;
  --ix-background-color-medium: @color-graphite-l40;
  --ix-background-color-light: @color-graphite-l50;

  // Border
  --ix-border-color: @color-graphite-l20;
  --ix-border-color-secondary: @color-graphite-l30;

  // Font-Size
  --ix-font-size: 12px;

  // Scrollbar
  --ix-scrollbar-width: 12px;
  --ix-scrollbar-height: 12px;
  --ix-scrollbar-thumb-background-color: @color-graphite-l30;
  --ix-scrollbar-thumb-background-color-hover: @color-graphite-l10;
  --ix-scrollbar-thumb-background-color-active: @color-graphite-l10;
  --ix-scrollbar-thumb-border-width: 2px;
  --ix-scrollbar-thumb-border-radius: 6px;
}

// 临时兼容，后面需要移除
// Text
@text-color: @color-graphite-d40;
@text-color-disabled: @color-graphite-l10;

// Background
@background-color-inverse: @color-graphite-d40;
@background-color-disabled: @color-graphite-l40;

// Border
@border-color: @color-graphite-l20;
@border-color-split: @color-graphite-l30;

// 临时兼容，后面需要移除
// Scrollbar
@scrollbar-width: 12px;
@scrollbar-height: 12px;

@scrollbar-thumb-background-color: @color-graphite-l30;
@scrollbar-thumb-hover-background-color: @color-graphite-l10;
@scrollbar-thumb-active-background-color: @color-graphite-l10;
@scrollbar-thumb-border: 2px;
@scrollbar-thumb-border-radius: 6px;
