@import '../../style/mixins/reset.less';

.@{empty-prefix} {
  .reset-component-new();
  .reset-font-size();

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: @empty-color;
  margin: var(--ix-spacing-xl) var(--ix-spacing-lg);

  &-image {
    svg {
      margin: auto;
    }

    > .@{icon-prefix} {
      font-size: 48px;
      padding: 16px 8px;
    }
  }

  &-description {
    color: @empty-description-color;
    .reset-font-size(@empty-description-font-size);
  }

  &-content {
    margin-top: var(--ix-spacing-sm);
  }

  &-simple {
    margin: var(--ix-spacing-sm) 0;
  }

  &-simple &-description {
    font-size: inherit;
    line-height: inherit;
  }
}
