@import '../../style/default.less';

@empty-prefix: ~'@{idux-prefix}-empty';

.@{empty-prefix} {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &-main {
    text-align: center;
  }

  &-icon {
    font-size: 60px;
  }

  &-img {
    width: 120px;
  }

  &-descriptionValue {
    margin-top: 8px;
  }
}
