@import '../../style/mixins/reset.less';

.@{radio-prefix} {
  &:not(.@{button-prefix}) {
    .reset-component-new();

    display: inline-flex;
    align-items: center;
    line-height: unset;
    cursor: pointer;

    &::after {
      display: inline-block;
      width: 0;
      overflow: hidden;
      content: '\a0';
    }

    .@{radio-prefix}-label {
      font-size: @radio-font-size;
      line-height: calc(@radio-font-size + var(--ix-line-height-gutter));
      padding: @radio-label-padding;
    }
  }

  &-input {
    position: relative;
    display: inline-block;
    line-height: 1;

    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }

    &-box {
      position: relative;
      display: block;
      width: 16px;
      height: 16px;
      background-color: @radio-background-color;
      border: 1px solid @radio-border-color;
      border-radius: 50%;
      transition: all var(--ix-transition-duration-fast) var(--ix-ease-in-out);

      &::after {
        position: absolute;
        top: 3px;
        left: 3px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transform: scale(0);
        opacity: 0;
        transition: all var(--ix-transition-duration-fast) var(--ix-ease-in-out);
        content: '';
      }
    }
  }

  &:hover &-input-box {
    border-color: @radio-border-color-hover;
  }

  &-focused &-input-box {
    border-color: @radio-border-color-focus;
  }

  &-checked {
    .@{radio-prefix}-input {
      &-box {
        border-color: @radio-color-active;

        &::after {
          opacity: 1;
          transform: scale(1);
          background-color: @radio-color-active;
        }
      }
    }

    &.@{button-prefix} {
      z-index: 2;
    }

    &.@{button-prefix}-default {
      color: @radio-color-active;
      border-color: @radio-color-active;
    }
  }

  &&-disabled {
    cursor: not-allowed;
    color: @radio-color-disabled;

    .@{radio-prefix}-input {
      &-box {
        background-color: @radio-background-color-disabled;
        border-color: @radio-border-color;

        &::after {
          background-color: var(--ix-text-color-info);
        }
      }
    }

    &.@{button-prefix} {
      z-index: 0;
      border-color: @radio-border-color;
    }

    &.@{button-prefix}:not(.@{radio-prefix}-checked) {
      color: var(--ix-text-color-info);
      background-color: var(--ix-background-color-middle);
    }
  }

  &-group {
    line-height: 0;
  }
}
