.radio-size(@radio-height, @radio-border-width, @radio-font-size, @radio-padding-horizontal) {
  height: @radio-height;
  line-height: @radio-height - @radio-border-width * 2;
  font-size: @radio-font-size;
  padding: 0 @radio-padding-horizontal;
}
