@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';
@import './loading.less';

.@{spin-prefix} {
  .reset-component-new();

  position: relative;

  &-target-container {
    user-select: none;
    clear: both;
    &-relative {
      position: relative;
    }
    &-has-scroll {
      > .@{spin-prefix} {
        > .@{spin-prefix}-spinner {
          position: sticky;
          top: 50%;
          left: 50%;
        }
      }
    }
    > .@{spin-prefix} {
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background-color: var(--ix-spin-mask-bg-color);
      pointer-events: auto;
    }
  }

  &-spinner {
    .spin-mask();

    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: var(--ix-motion-duration-medium);
    background-color: var(--ix-spin-mask-bg-color);

    &-tip-vertical {
      flex-direction: column;
      width: 100%;
      text-align: center;

      .@{spin-prefix}-spinner-tip {
        margin-top: var(--ix-margin-size-sm);
        min-height: var(--ix-height-md);
        line-height: var(--ix-height-md);
      }
    }

    &-tip-horizontal {
      .@{spin-prefix}-spinner-tip {
        margin-left: var(--ix-margin-size-sm);
      }
    }

    &-icon--rotate {
      animation: icon-spinning 1.5s infinite linear;
    }

    .spin-size(sm, var(--ix-spin-icon-size-sm), var(--ix-spin-font-size-sm));
    .spin-size(md, var(--ix-spin-icon-size-md), var(--ix-spin-font-size-md));
    .spin-size(lg, var(--ix-spin-icon-size-lg), var(--ix-spin-font-size-lg));

    &-tip {
      color: var(--ix-spin-tip-color);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-icon {
      color: var(--ix-spin-icon-color);
    }
  }

  &-container {
    position: relative;

    &-blur {
      user-select: none;
      clear: both;
      overflow: hidden;
    }
  }
}

.spin-mask(@position: absolute) {
  position: @position;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
}

.spin-size(@size, @spin-size, @font-size) {
  &-@{size} {
    size: 1em;
    .@{spin-prefix}-spinner {

      &-icon {
        font-size: @spin-size;
      }

      &-tip {
        .reset-font-size(@font-size);
      }
    }
  }
}

@keyframes icon-spinning {
  100% {
    transform: rotate(360deg);
  }
}
