.@{loading-prefix} {
  width: 1em;
  height: 1em;
  font-size: inherit;
  line-height: 1;
  animation: none;

  &-icon {
    width: 100%;
    height: 100%;
  }

  &-bg-circle {
    stroke: var(--ix-spin-bg-circle-stroke);
  }

  &-fst-arch {
    stroke: var(--ix-spin-fst-arch-stroke);
  }

  &-snd-arch {
    stroke: var(--ix-spin-snd-arch-stroke);
  }
}
