@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';

@progress-animated-key: ~'@{progress-prefix}-animated-key';

.@{progress-prefix} {
  .reset-component();

  &-line {
    display: inline-flex;
    align-items: center;
    width: 100%;
    font-size: var(--ix-progress-line-font-size-md);

    &-lg {
      font-size: var(--ix-progress-line-font-size-lg);
    }

    &-lg &-bg,
    &-lg &-success-bg {
      height: var(--ix-progress-line-size-lg);
    }

    &-md {
      font-size: var(--ix-progress-line-font-size-md);
    }

    &-md &-bg,
    &-md &-success-bg {
      height: var(--ix-progress-line-size-md);
    }

    &-sm {
      font-size: var(--ix-progress-line-font-size-sm);
    }

    &-sm &-bg,
    &-sm &-success-bg {
      height: var(--ix-progress-line-size-sm);
    }

    &-outer {
      flex-basis: 100%;
    }

    &-inner {
      position: relative;
      display: flex;
      background-color: var(--ix-progress-trail-bg-color);
    }

    .@{progress-prefix}-info {
      flex-basis: var(--ix-progress-text-width);
      padding: var(--ix-progress-line-text-padding);
      color: var(--ix-color-text);
    }

    &-round &-inner,
    &-round &-bg,
    &-round &-success-bg {
      border-radius: var(--ix-progress-border-radius);
    }

    &-success-bg {
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--ix-color-success);
    }

    &-bg,
    &-success-bg {
      transition: all var(--ix-motion-duration-medium);
    }

    .@{progress-prefix}-normal &-bg {
      background-color: var(--ix-color-success);
    }

    .@{progress-prefix}-success &-bg {
      background-color: var(--ix-color-success);
    }

    .@{progress-prefix}-exception &-bg {
      background-color: var(--ix-color-error-bg);
    }

    .@{progress-prefix}-active &-bg {
      position: relative;
      background-color: var(--ix-color-success);

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        border-radius: var(--ix-progress-border-radius);
        background: var(--ix-color-white);
        animation: @progress-animated-key var(--ix-motion-ease-in-quint) 2.4s infinite;
      }
    }
  }

  &-success-icon {
    color: var(--ix-color-success-icon);
    .@{progress-prefix}-line {
      font-size: var(--ix-font-size-icon);
    }
  }

  &-exception-icon {
    color: var(--ix-color-error-icon);
    .@{progress-prefix}-line {
      font-size: var(--ix-font-size-icon);
    }
  }
  // circle

  &-circle {
    position: relative;
    display: inline-block;
    width: var(--ix-progress-circle-width);
    height: var(--ix-progress-circle-width);
    font-size: var(--ix-progress-circle-font-size-md);

    &-trail {
      stroke: var(--ix-progress-trail-bg-color);
    }
    &-bg {
      stroke: var(--ix-color-success);
    }

    .@{progress-prefix}-info {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      margin: 0;
      padding: 0;
      color: var(--ix-color-text);
      white-space: normal;
      text-align: center;
      transform: translate(-50%, -50%);
      font-size: 1em;
    }

    &-success {
      stroke: var(--ix-color-success);
    }

    .@{progress-prefix}-success &-path {
      stroke: var(--ix-color-success);
    }

    .@{progress-prefix}-exception &-path {
      stroke: var(--ix-color-error-bg);
    }
  }
}

@keyframes @progress-animated-key {

  0% {
    width: 0;
    opacity: 0.1;
  }

  20% {
    width: 0;
    opacity: 0.5;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}
