@drawer-font-size: @font-size-md;
@drawer-line-height: @line-height-base;
@drawer-background-color: @background-color-component;

@drawer-box-shadow-start: @shadow-right-lg;
@drawer-box-shadow-end: @shadow-left-lg;
@drawer-box-shadow-top: @shadow-bottom-lg;

@drawer-header-padding-horizontal: @spacing-lg;
@drawer-body-padding: @spacing-lg;
@drawer-footer-min-height: 64px;
@drawer-footer-padding: @spacing-lg;
@drawer-footer-button-margin-left: @spacing-sm;
