@drawer-font-size: var(--ix-font-size-md);

@drawer-background-color: var(--ix-background-color);
@drawer-box-shadow-start: @shadow-right-lg;
@drawer-box-shadow-end: @shadow-left-lg;
@drawer-box-shadow-top: @shadow-bottom-lg;
