@import '../../style/themes/default.less';

@time-picker-prefix: ~'@{idux-prefix}-time-picker';
@time-picker-panel-prefix: ~'@{time-picker-prefix}-panel';

.@{time-picker-prefix} {
  display: inline-flex;
  &-clear-icon {
    cursor: pointer;
  }
}

.@{time-picker-panel-prefix} {
  display: flex;
  max-height: 200px;
  background-color: @color-white;
  box-shadow: @time-picker-container-box-shadow;

  &-column {
    width: 56px;
    border-right: 1px solid @time-option-border-color;
    margin: 0;
    list-style-type: none;
    overflow-y: hidden;

    &:last-child {
      border-right: none;
    }

    &:hover {
      overflow-y: scroll;
    }
  }

  &-cell {
    padding: 8px 20px 8px 12px;
    margin: 0;
    cursor: pointer;
    &:hover {
      background-color: @time-option-hover-bg-color;
    }
    &-disabled {
      cursor: not-allowed;
      color: @time-picker-disabled-color;
    }
    &-selected {
      transition-duration: @time-option-transition-duration;
      color: @time-option-selected-color;
      background-color: @time-option-selected-bg-color;
    }
  }
}
