@import './themes/default.less';

.@{time-picker-prefix} {
  display: inline-flex;

  &-clear-icon {
    cursor: pointer;
  }
}

.@{time-picker-prefix}-panel {
  display: flex;
  max-height: 200px;
  background-color: @time-picker-background-color;
  box-shadow: @time-picker-panel-box-shadow;

  &-column {
    width: 56px;
    border-right: @time-picker-border-width @time-picker-border-style @time-picker-border-color;
    margin: 0;
    list-style-type: none;
    overflow-y: hidden;

    &:last-child {
      border-right: none;
    }

    &:hover {
      overflow-y: scroll;
    }
  }

  &-cell {
    padding: 8px 20px 8px 12px;
    margin: 0;
    cursor: pointer;
    transition: @time-transition-duration;

    &:hover {
      background-color: @time-picker-cell-active-background-color;
    }

    &-disabled {
      cursor: not-allowed;
      color: @time-picker-disabled-color;
    }

    &-selected {
      color: @time-picker-cell-selected-color;
      background-color: @time-picker-cell-selected-background-color;
    }
  }
}
