.time-picker-trigger() {
  display: inline-flex;
  width: 100%;

  &:not(.@{trigger-prefix}-disabled) {
    color: var(--ix-color-text);
  }

  &-input {
    display: flex;
    align-items: center;
    &-inner {
      display: inline-block;
      min-width: 0;
    }
  }
}

.time-picker-board() {
  &-board {
    .@{input-prefix}-focused {
      box-shadow: none;
    }

    &-input {
      margin-bottom: var(--ix-margin-size-sm);
      color: var(--ix-color-text);
      input {
        color: var(--ix-color-text);
      }
    }
  }
}
