.@{time-range-picker-prefix}-trigger {

  &-content {
    display: flex;

    &-side {
      flex: 1 1 0%;
    }

    &-separator {
      margin: 0 @time-range-picker-trigger-separator-margin;
    }
  }
}

.@{time-range-picker-prefix}-panel {
  background-color: @time-picker-panel-background-color;
  box-shadow: @time-picker-panel-box-shadow;

  &-content {
    display: flex;
    padding: @time-range-picker-panel-padding;
  }

  &-gap {
    padding: @time-range-picker-panel-gap-padding;
    text-align: center;
  }

  &-footer {
    text-align: end;
    border-top: @time-picker-border-width @time-picker-border-style @time-picker-border-color;
    padding: @time-picker-footer-padding;
    margin: @time-picker-footer-margin;
  }

  &-side {
    width: @time-range-picker-panel-side-width;

    & &-input {
      margin-bottom: @time-picker-input-margin;
    }

    .@{time-selector-prefix} {
      border: @time-range-picker-selector-border-width @time-range-picker-selector-border-style
        @time-range-picker-selector-border-color;
      border-radius: @time-range-picker-selector-border-radius;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
