// button
[id^='components-button-demo-'] .ix-button {
  margin: 8px 12px 8px 0;
}

// grid
[id^='components-grid-demo-'] {
  .ix-row:not(.gutter-row) {
    .ix-col {
      background: @color-primary;
      color: @color-white;
      text-align: center;
      padding: @spacing-sm;
    }

    .ix-col:nth-child(even) {
      background: @color-primary-l10;
    }
  }
}

// select
[id^='components-select-demo-'] .ix-select {
  margin-bottom: 16px;
}

// card
[id^='components-card-demo-'] .ix-card {
  max-width: 300px;
}
