// grid
[id^='components-grid-'] {
  .ix-row:not(.gutter-row) {
    .ix-col {
      background: var(--ix-color-primary);
      color: var(--ix-color-white);
      text-align: center;
      padding: var(--ix-padding-size-sm);
    }

    .ix-col:nth-child(even) {
      background: var(--ix-color-primary-hover);
    }
  }
}

// layout
[id^='components-layout-'] {
  .ix-layout {
    text-align: center;

    &-footer,
    &-header {
      background-color: var(--ix-color-primary-active);
    }

    &-sider {
      background-color: var(--ix-color-primary-hover);
      line-height: 120px;
    }

    &-content {
      background-color: var(--ix-color-primary);
      height: 120px;
      line-height: 120px;
    }
  }
}

// select

[id^='components-select-'],
[id^='components-tree-select-'] {
  .ix-selector {
    &-single {
      width: 240px;
    }

    &-multiple {
      width: 300px;
    }
  }
}

[id^='components-cascader-'] {
  .ix-selector {
    &-single {
      width: 200px;
    }

    &-multiple {
      width: 400px;
    }
  }
}

// card
[id^='components-card-'] .ix-card {
  max-width: 300px;
}
