// grid
[id^='components-grid-'] {
  .ix-row:not(.gutter-row) {
    .ix-col {
      background: @color-primary;
      color: @color-white;
      text-align: center;
      padding: @spacing-sm;
    }

    .ix-col:nth-child(even) {
      background: @color-primary-l10;
    }
  }
}

// layout
[id^='components-layout-'] {
  .ix-layout {
    text-align: center;

    &-footer,
    &-header {
      background-color: @color-blue-l20;
    }

    &-sider {
      background-color: @color-blue-l10;
      line-height: 120px;
    }

    &-content {
      background-color: @color-blue;
      height: 120px;
      line-height: 120px;
    }
  }
}

// select

[id^='components-select-'],
[id^='components-tree-select-'] {
  .ix-selector {
    &-single {
      width: 240px;
    }

    &-multiple {
      width: 300px;
    }
  }
}

[id^='components-cascader-'] {
  .ix-selector {
    &-single {
      width: 200px;
    }

    &-multiple {
      width: 400px;
    }
  }
}

// card
[id^='components-card-'] .ix-card {
  max-width: 300px;
}
