/* stylelint-disable */
.site-doc {
  &-header {
    margin-bottom: 8px;

    > .ix-radio-group {
      background-color: var(--ix-color-emphasized-container-bg);
      border: var(--ix-line-width) var(--ix-line-type) var(--ix-color-border);
      border-radius: 20px;
      padding: 4px;

      .ix-button {
        min-width: 64px;
        background-color: transparent;
        border-color: transparent;
        border-radius: 16px;

        &.ix-radio-checked {
          background: var(--ix-color-primary);
          box-shadow: @shadow-bottom-sm;
        }
      }
    }
  }

  &-description {
    margin-top: -12px;
    margin-bottom: 16px;
  }

  &-api {
    table {
      overflow-x: auto;
      overflow-y: hidden;
      line-height: 22px;

      td {
        & code {
          color: #d619be;
        }
      }

      @media (max-width: @screen-xs-max) {
        display: block;
      }
    }
  }

  &-theme {
    margin-top: 24px;

    table {
      overflow-x: auto;
      overflow-y: hidden;
      line-height: 22px;

      td {
        & code {
          color: #d619be;
        }
      }

      @media (max-width: @screen-xs-max) {
        display: block;
      }
    }
  }
}

.site-anchor {
  position: absolute;
  top: var(--ix-margin-size-sm);
  right: 0;

  .ix-anchor {
    &-link {
      &-title {
        width: @toc-width;
      }
    }

    &-wrapper {
      background-color: var(--ix-color-info-container-bg);
    }
  }
}

@media (max-width: @screen-xs-max) {
  .site-anchor {
    display: none;
  }
}

.all-contributors + table {
  display: block;
  width: max-content;
  max-width: 100%;
  line-height: 1.5;
  overflow: auto;

  td {
    text-align: center;
    a {
      text-decoration: none;
    }
  }
}
