.root-drawer {
  &-handle {
    position: absolute;
    top: 80px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    box-shadow: 2px 0 8px #00000026;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    background: #fff;
  }

  .ix-drawer-body {
    padding: 0;
  }
}
