.markdown {
  line-height: 2;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: var(--ix-margin-size-sm) 0;
  color: var(--ix-color-text-title);
  font-family: Avenir, var(--ix-font-family), sans-serif;
}

.markdown h1 {
  margin-bottom: var(--ix-margin-size-lg);
  font-size: var(--ix-font-size-3xl);

  .subtitle {
    margin-left: var(--ix-margin-size-md);
  }
}

.markdown h2 {
  margin-bottom: var(--ix-margin-size-md);
  font-size: var(--ix-font-size-2xl);
}

.markdown h3 {
  margin-bottom: var(--ix-margin-size-md);
  font-size: var(--ix-font-size-xl);
}

.markdown h4 {
  font-size: var(--ix-font-size-lg);
}

.markdown h5 {
  font-size: var(--ix-font-size-md);
}

.markdown h6 {
  font-size: var(--ix-font-size-sm);
}

.markdown .anchor {
  margin-left: var(--ix-margin-size-sm);
  opacity: 0;
  transition: opacity @transition-duration-base;
}

.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
  display: inline-block;
  opacity: 1;
}

.markdown hr {
  clear: both;
  height: 1px;
  margin: calc(var(--ix-margin-size-xl) * 2) 0;
  background: var(--ix-color-separator);
  border: 0;
}

.markdown p,
.markdown pre {
  margin: var(--ix-margin-size-md) 0;
}

.markdown ol > li {
  margin-left: var(--ix-margin-size-xl);
  list-style-type: decimal;
}

.markdown ul > li {
  margin-left: var(--ix-margin-size-xl);
  list-style-type: circle;

  &:empty {
    display: none;
  }
}

.markdown blockquote p {
  margin: 0;
}

.markdown ul > li > p,
.markdown ol > li > p {
  margin: var(--ix-margin-size-xs) 0;
}

.markdown pre,
.markdown code {
  margin: 0;
  padding: calc(var(--ix-margin-size-sm) / 4) var(--ix-margin-size-xs);
  overflow: auto;
  color: var(--ix-color-text);
  background: @markdown-code-bg;
  border: none;
  border-radius: var(--ix-border-radius-md);
}

.markdown strong,
.markdown b {
  font-weight: var(--ix-font-weight-xl);
}

.markdown > table {
  width: 100%;
  margin: var(--ix-margin-size-sm) 0 var(--ix-margin-size-lg);
  empty-cells: show;
  border: var(--ix-line-width) var(--ix-line-type) var(--ix-color-separator);
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown > table th {
  color: #5c6b77;
  font-weight: var(--ix-font-weight-xl);
  white-space: nowrap;
  background: rgb(0 0 0 / 2%);
}

.markdown > table th,
.markdown > table td {
  padding: var(--ix-margin-size-sm) var(--ix-margin-size-md);
  text-align: left;
  border: var(--ix-line-width) var(--ix-line-type) var(--ix-color-separator);
}

.markdown blockquote {
  margin: var(--ix-margin-size-lg) 0;
  padding-left: var(--ix-margin-size-md);
  color: rgb(0 0 0 / 45%);
  font-size: calc(var(--ix-font-size-md) - 1px);
  border-left: 3px var(--ix-line-type) var(--ix-color-separator);
}

.markdown > br,
.markdown > p > br {
  clear: both;
}
