.markdown {
  line-height: 2;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin: @spacing-sm 0;
  color: @color-black;
  font-family: Avenir, @font-family, sans-serif;
}

.markdown h1 {
  margin-bottom: @spacing-lg;
  font-size: @font-size-3xl;

  .subtitle {
    margin-left: @spacing-md;
  }
}

.markdown h2 {
  margin-bottom: @spacing-md;
  font-size: @font-size-2xl;
}

.markdown h3 {
  margin-bottom: @spacing-md;
  font-size: @font-size-xl;
}

.markdown h4 {
  font-size: @font-size-lg;
}

.markdown h5 {
  font-size: @font-size-md;
}

.markdown h6 {
  font-size: @font-size-sm;
}

.markdown .anchor {
  margin-left: @spacing-sm;
  opacity: 0;
  transition: opacity @transition-duration-base;
}

.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
  display: inline-block;
  opacity: 1;
}

.markdown hr {
  clear: both;
  height: 1px;
  margin: (@spacing-xl * 2) 0;
  background: @border-color-split;
  border: 0;
}

.markdown p,
.markdown pre {
  margin: @spacing-md 0;
}

.markdown ol > li {
  margin-left: @spacing-xl;
  list-style-type: decimal;
}

.markdown ul > li {
  margin-left: @spacing-xl;
  list-style-type: circle;

  &:empty {
    display: none;
  }
}

.markdown blockquote p {
  margin: 0;
}

.markdown ul > li > p,
.markdown ol > li > p {
  margin: @spacing-xs 0;
}

.markdown pre,
.markdown code {
  margin: 0;
  padding: (@spacing-sm / 4) @spacing-xs;
  overflow: auto;
  color: @text-color;
  background: @markdown-code-bg;
  border: none;
  border-radius: @border-radius-md;
}

.markdown strong,
.markdown b {
  font-weight: @font-weight-lg;
}

.markdown > table {
  width: 100%;
  margin: @spacing-sm 0 @spacing-lg;
  empty-cells: show;
  border: @border-width-sm @border-style @border-color-split;
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown > table th {
  color: #5c6b77;
  font-weight: @font-weight-lg;
  white-space: nowrap;
  background: rgb(0 0 0 / 2%);
}

.markdown > table th,
.markdown > table td {
  padding: @spacing-sm @spacing-md;
  text-align: left;
  border: @border-width-sm @border-style @border-color-split;
}

.markdown blockquote {
  margin: @spacing-lg 0;
  padding-left: @spacing-md;
  color: rgb(0 0 0 / 45%);
  font-size: @font-size-md - 1px;
  border-left: @border-width-lg @border-style @border-color-split;
}

.markdown > br,
.markdown > p > br {
  clear: both;
}
