.toc-wrapper {
  position: absolute;
  top: @spacing-sm;
  right: 0;
  .ix-anchor {
    font-size: @font-size-xs;

    &-link {
      &-title {
        width: @toc-width;
      }
    }
  }
}

@media (max-width: @screen-xs-max) {
  .toc-wrapper {
    display: none;
  }
}
