@import '../../style/variable/index.less';
@import '../../style/mixins/ellipsis.less';
@import '../../style/mixins/reset.less';
@import '../../style/motion/slide.less';
@import './mixin.less';

.@{select-prefix} {
  @option-line-height: calc(var(--ix-select-font-size) + var(--ix-line-height-gutter));
  &-option {
    .reset-component();
    .select-option(var(--ix-select-font-size), var(--ix-color-text));

    &-disabled {
      color: var(--ix-color-text-disabled);
      cursor: not-allowed;
    }

    &-active:not(&-disabled) {
      background-color: var(--ix-color-container-bg-hover);
    }

    &-selected:not(&-disabled) {
      color: var(--ix-color-primary-text);
      background-color: var(--ix-color-container-bg-active);
    }

    &-label {
      .ellipsis();

      line-height: @option-line-height;
    }

    .@{checkbox-prefix} + &-label {
      margin-left: var(--ix-select-option-label-margin-left);
    }
  }

  &-option-group {
    .reset-component();
    .select-option(var(--ix-select-font-size), var(--ix-color-text-info));

    display: block;
    margin: var(--ix-select-option-group-margin);
    padding-left: var(--ix-select-option-group-padding-left);

    &-label {
      .ellipsis();

      line-height: @option-line-height;
    }
  }

  &-overlay {
    z-index: 1000;
    padding: var(--ix-select-option-container-padding);
    background-color: var(--ix-color-container-bg);

    &-search-wrapper {
      padding: var(--ix-select-overlay-search-wrapper-padding);

      .@{input-prefix}-clear,
      .@{input-prefix}-suffix {
        color: var(--ix-color-icon);
      }
    }
  }
  &-panel {
    overflow: auto;
    &-multiple {
      .@{select-option-prefix} {
        &-selected:not(&-disabled) {
          background-color: var(--ix-color-container-bg);
          color: var(--ix-color-text);
        }

        &-active:not(&-disabled) {
          background-color: var(--ix-color-container-bg-active);
        }
      }

      .@{select-prefix}-option-grouped {
        padding-left: var(--ix-select-multiple-option-grouped-padding-left);
      }
    }

    .@{select-prefix}-option-group:not(:first-child) {
      border-top: var(--ix-line-width) var(--ix-line-type) var(--ix-color-separator);
    }

    &:not(&-multiple) {
      .@{select-prefix}-option-grouped {
        padding-left: var(--ix-select-option-grouped-padding-left);
      }
    }
  }
}
