@import '../../style/mixins/ellipsis.less';
@import '../../style/mixins/reset.less';

.@{select-prefix} {
  &-option {
    .reset-component();
    .select-option(@select-option-font-size, @select-option-color);

    &-disabled {
      color: @select-option-disabled-color;
      cursor: not-allowed;
    }

    &-active:not(&-disabled) {
      background-color: @select-option-active-background-color;
    }

    &-selected:not(&-disabled) {
      color: @select-option-selected-color;
      background-color: @select-option-selected-background-color;
      font-weight: @select-option-selected-font-weight;
    }

    &-label {
      .ellipsis();

      line-height: @select-line-height;
    }

    .@{checkbox-prefix} + &-label {
      margin-left: @select-option-label-margin-left;
    }
  }

  &-option-group {
    .reset-component();
    .select-option(@select-option-font-size - 2px, @select-option-group-color);

    display: block;
    margin: @select-option-group-margin;
    padding-left: @select-option-group-padding-left;

    &-label {
      .ellipsis();

      line-height: @select-line-height;
    }
  }

  &-overlay {
    z-index: 1000;
    padding: @select-option-container-padding;
    background-color: @select-option-container-background-color;
    border-radius: @select-option-container-border-radius;
    box-shadow: @select-option-container-box-shadow;
    overflow: auto;

    &-search-wrapper {
      padding: @select-overlay-search-wrapper-padding;

      .@{input-prefix}-clear,
      .@{input-prefix}-suffix {
        color: @select-icon-color;
      }
    }

    .@{select-prefix}-option-group:not(:first-child) {
      border-top: @select-option-group-border;
    }

    .@{select-prefix}-option-grouped {
      padding-left: @select-option-grouped-padding-left;
    }

    &-multiple {
      .@{select-option-prefix} {
        &-selected:not(&-disabled) {
          background-color: @color-white;
          color: @select-color;
        }

        &-active:not(&-disabled) {
          background-color: @select-option-active-background-color;
        }
      }
    }
  }
}

.select-option(@font-size; @text-color) {
  display: flex;
  align-items: center;
  height: @select-option-height;
  line-height: 1;
  padding: @select-option-padding;
  font-size: @font-size;
  color: @text-color;
  transition: background @transition-duration-base @ease-in-out;
  cursor: pointer;
}
