.select-option(@font-size; @text-color) {
  display: flex;
  align-items: center;
  height: @select-option-height;
  line-height: 1;
  padding: @select-option-padding;
  font-size: @font-size;
  color: @text-color;
  transition: @transition-all-base;
  cursor: pointer;
}

.select-icon() {
  position: absolute;
  top: 50%;
  margin-top: -(@select-icon-font-size / 2);
  right: @select-icon-margin-right;
  line-height: 1;
  font-size: @select-icon-font-size;
  color: @select-icon-color;
  transition: @transition-all-base;
}
