.select-size(@selector-height;  @select-padding-horizontal; @selector-font-size) {
  .@{select-prefix}-selector {
    height: @selector-height;
    padding: 0 @select-padding-horizontal;
    font-size: @selector-font-size;

    .@{select-prefix}-item,
    .@{select-prefix}-placeholder,
    .@{select-prefix}-input-inner {
      line-height: @selector-height - 2 * @select-border-width;
    }
  }

  .@{select-prefix}-input {
    right: @select-padding-horizontal;
    left: @select-padding-horizontal;
  }

  &.@{select-prefix}-show-suffix .@{select-prefix}-input {
    right: @select-padding-horizontal + @selector-font-size;
  }
}

.@{select-prefix}-single {
  .@{select-prefix}-selector {
    width: 100%;

    .@{select-prefix}-input {
      position: absolute;
    }

    .@{select-prefix}-item {
      position: relative;
    }
  }

  &.@{select-prefix}-show-suffix .@{select-prefix}-item,
  &.@{select-prefix}-show-suffix .@{select-prefix}-placeholder {
    padding-right: @select-icon-font-size;
  }

  &.@{select-prefix}-opened .@{select-prefix}-item {
    color: @select-placeholder-color;
  }

  &.@{select-prefix}-sm {
    .select-size(@select-height-sm, @select-padding-horizontal-sm, @select-font-size-sm);
  }

  &.@{select-prefix}-md {
    .select-size(@select-height-md, @select-padding-horizontal-md, @select-font-size-md);
  }

  &.@{select-prefix}-lg {
    .select-size(@select-height-lg, @select-padding-horizontal-lg, @select-font-size-lg);
  }
}
