.@{select-prefix}-single {
  .@{select-prefix}-selector {
    width: 100%;

    .@{select-prefix}-input {
      position: absolute;
    }

    .@{select-prefix}-item {
      position: relative;
    }
  }

  &.@{select-prefix}-show-suffix .@{select-prefix}-item,
  &.@{select-prefix}-show-suffix .@{select-prefix}-placeholder {
    padding-right: @select-icon-font-size;
  }

  &.@{select-prefix}-opened .@{select-prefix}-item {
    color: @select-placeholder-color;
  }

  .select-size(@size-suffix, @selector-height,  @select-padding-horizontal, @selector-font-size) {
    @select-size-cls: ~'@{select-prefix}-@{size-suffix}';
    &.@{select-size-cls} {
      .@{select-prefix}-selector {
        height: @selector-height;
        padding: 0 @select-padding-horizontal;
        font-size: @selector-font-size;

        .@{select-prefix}-item,
        .@{select-prefix}-placeholder,
        .@{select-prefix}-input-inner {
          line-height: @selector-height - 2 * @select-selector-border-width;
        }
      }

      .@{select-prefix}-input {
        right: @select-padding-horizontal;
        left: @select-padding-horizontal;
      }
    }

    &.@{select-size-cls}.@{select-prefix}-show-suffix .@{select-prefix}-input {
      right: @select-padding-horizontal + @selector-font-size;
    }
  }

  .select-size('large', @select-height-lg, @select-padding-horizontal-lg, @select-font-size-lg);
  .select-size('medium', @select-height-md, @select-padding-horizontal-md, @select-font-size-md);
  .select-size('small', @select-height-sm, @select-padding-horizontal-sm, @select-font-size-sm);
}
