@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';

.@{divider-prefix} {
  .reset-component();

  &-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    border-top: var(--ix-divider-line-width) solid var(--ix-divider-line-color);
  }

  &-vertical {
    display: inline-block;
    position: relative;
    top: -0.06em;
    height: 0.9em;
    vertical-align: middle;
    border-left: var(--ix-divider-line-width) solid var(--ix-divider-line-color);
  }

  &-dashed {
    background: none;
    border-style: dashed;
  }

  &-dashed&-horizontal {
    border-width: var(--ix-divider-line-width) 0 0;
  }

  &-dashed&-vertical {
    border-width: 0 0 0 var(--ix-divider-line-width);
  }

  &-label {
    position: absolute;
    display: inline-block;
    padding: 0 1em;
    color: var(--ix-color-text-title);
    font-weight: var(--ix-font-weight-lg);
    background: var(--ix-color-container-bg);
    top: 50%;
    transform: translateY(-50%);
  }

  &-with-label {
    position: relative;

    &-center {
      .@{divider-prefix}-label {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-start,
    &-left {
      .@{divider-prefix}-label {
        left: 0;
        padding-left: 0;
      }
    }

    &-end,
    &-right {
      .@{divider-prefix}-label {
        right: 0;
        padding-right: 0;
      }
    }
  }

  &-plain {
    .@{divider-prefix}-label {
      font-weight: var(--ix-font-weight-md);
    }
  }

  &-sm {
    .divider-size(var(--ix-divider-margin-horizontal-sm); var(--ix-divider-margin-vertical-sm); var(--ix-divider-font-size-sm));

    &.@{divider-prefix}-plain .@{divider-prefix}-label {
      font-size: max(calc(var(--ix-divider-font-size-sm) - 2px), var(--ix-font-size-xs));
    }
  }

  &-md {
    .divider-size(var(--ix-divider-margin-horizontal-md); var(--ix-divider-margin-vertical-md); var(--ix-divider-font-size-md));

    &.@{divider-prefix}-plain .@{divider-prefix}-label {
      font-size: max(calc(var(--ix-divider-font-size-md) - 4px), var(--ix-font-size-xs));
    }
  }

  &-lg {
    .divider-size(var(--ix-divider-margin-horizontal-lg); var(--ix-divider-margin-vertical-lg); var(--ix-divider-font-size-lg));

    &.@{divider-prefix}-plain .@{divider-prefix}-label {
      font-size: max(calc(var(--ix-divider-font-size-lg) - 4px), var(--ix-font-size-xs));
    }
  }
}

.divider-size(@horizontal-margin; @vertical-margin; @font-size) {
  &.@{divider-prefix}-horizontal {
    margin: @vertical-margin 0;
  }

  &.@{divider-prefix}-vertical {
    margin: 0 @horizontal-margin;
  }

  .@{divider-prefix}-label {
    font-size: @font-size;
  }
}
