@import '../../style/mixins/reset.less';

.@{divider-prefix} {
  .reset-component();

  &-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    border-top: @divider-border-width solid @divider-border-color;
  }

  &-vertical {
    display: inline-block;
    position: relative;
    top: -0.06em;
    height: 0.9em;
    vertical-align: middle;
    border-left: @divider-border-width solid @divider-border-color;
  }

  &-dashed {
    background: none;
    border-style: dashed;
  }

  &-dashed&-horizontal {
    border-width: @divider-border-width 0 0;
  }

  &-dashed&-vertical {
    border-width: 0 0 0 @divider-border-width;
  }

  &-label {
    position: absolute;
    display: inline-block;
    padding: 0 1em;
    color: @color-black;
    font-weight: @font-weight-lg;
    background: @color-white;
    top: 50%;
    transform: translateY(-50%);
  }

  &-with-label {
    position: relative;

    &-center {
      .@{divider-prefix}-label {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-start,
    &-left {
      .@{divider-prefix}-label {
        left: 5%;
      }
    }

    &-end,
    &-right {
      .@{divider-prefix}-label {
        right: 5%;
      }
    }
  }

  &-plain {
    .@{divider-prefix}-label {
      font-weight: @font-weight-md;
    }
  }

  &-sm {
    .divider-size(@divider-horizontal-margin-sm; @divider-vertical-margin-sm; @divider-font-size-sm);

    &.@{divider-prefix}-plain .@{divider-prefix}-label {
      font-size: @divider-font-size-sm - 2px;
    }
  }

  &-md {
    .divider-size(@divider-horizontal-margin-md; @divider-vertical-margin-md; @divider-font-size-md);

    &.@{divider-prefix}-plain .@{divider-prefix}-label {
      font-size: @divider-font-size-md - 4px;
    }
  }

  &-lg {
    .divider-size(@divider-horizontal-margin-lg; @divider-vertical-margin-lg; @divider-font-size-lg);

    &.@{divider-prefix}-plain .@{divider-prefix}-label {
      font-size: @divider-font-size-lg - 4px;
    }
  }
}

.divider-size(@horizontal-margin; @vertical-margin; @font-size) {
  &.@{divider-prefix}-horizontal {
    margin: @horizontal-margin;
  }

  &.@{divider-prefix}-vertical {
    margin: @vertical-margin;
  }

  .@{divider-prefix}-label {
    font-size: @font-size;
  }
}
