.@{collapse-transition-prefix} {
  &-enter-active,
  &-leave-active {
    overflow: hidden;
    transition-property: height, width, opacity;
  }

  &-enter-active {
    transition-duration: var(--ix-transition-duration-slow);
    transition-timing-function: var(--ix-ease-out-quint);
  }

  &-leave-active {
    transition-duration: var(--ix-transition-duration-medium);
    transition-timing-function: var(--ix-ease-out-quint);
  }
}
