@import '../../../style/themes/default.less';

@spin-zindex: @zindex-l2-base;
@spin-tip-color: @color-primary;
@spin-icon-color: @color-primary;

@spin-font-size-sm: @font-size-md;
@spin-font-size-md: @font-size-lg;
@spin-font-size-lg: @font-size-xl;
