@import '../../../style/themes/default.less';

@tree-prefix: ~'@{idux-prefix}-tree';
@tree-node-prefix: ~'@{tree-prefix}-node';

@tree-background: @background-color-component;
@tree-background-focused: @background-color-selected-light;
@tree-box-shadow-size: 2px;
@tree-box-shadow-color: @color-primary-l20;
@tree-transition: background-color @transition-duration-base;

@tree-node-disabled-color: @text-color-disabled;
@tree-node-hover-background-color: @background-color-hover;
@tree-node-selected-background-color: @background-color-selected;
@tree-node-line-border: 1px solid @border-color;
@tree-node-padding-vertical: (@spacing-xs / 2);

@tree-node-checkbox-margin: @spacing-xs @spacing-sm 0 0;
@tree-node-content-height: @height-sm;
@tree-node-content-label-padding: 0 @spacing-xs;
@tree-node-content-label-highlight-color: @color-red;
