@import './default.variable.less';

@tree-font-size: @font-size-sm;

@tree-node-content-height: @height-md;

@tree-node-disabled-color: @color-graphite-d10;

@tree-node-selected-color: @color-primary;
@tree-node-selected-background-color: @color-white;

@tree-node-padding-vertical: 0;
