@import '../../style/variable/index.less';
@import '../../style/mixins/placeholder.less';
@import '../../style/mixins/reset.less';
@import './mixin.less';

.@{input-prefix} {
  .reset-component-new();
  .reset-color();

  &-sm {
    .input-size(var(--ix-control-height-sm), var(--ix-control-font-size-sm), var(--ix-control-padding-size-horizontal-sm), var(--ix-control-border-radius-sm));
  }

  &-md {
    .input-size(var(--ix-control-height-md), var(--ix-control-font-size-md), var(--ix-control-padding-size-horizontal-md), var(--ix-control-border-radius-md));
  }

  &-lg {
    .input-size(var(--ix-control-height-lg), var(--ix-control-font-size-lg), var(--ix-control-padding-size-horizontal-lg), var(--ix-control-border-radius-lg));
  }

  &,
  &-inner {
    .input-inner();
  }

  &:hover,
  &-inner:hover,
  &-wrapper:hover {
    border-color: var(--ix-control-border-color-hover);
  }

  &:focus,
  &-focused {
    border-color: var(--ix-control-border-color-active);
    box-shadow: var(--ix-control-box-shadow-focus);

    .@{input-prefix}-inner,
    .@{input-prefix}-wrapper {
      border-color: var(--ix-control-border-color-active);
      box-shadow: var(--ix-control-box-shadow-focus);
    }
  }

  &[disabled],
  &-disabled {
    .input-disabled();

    .@{input-prefix}-addon,
    .@{input-prefix}-inner,
    .@{input-prefix}-wrapper {
      .input-disabled();
    }
  }

  &-borderless {
    &,
    &:hover,
    &:focus,
    &-focused,
    &[disabled],
    .@{input-prefix}-disabled {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;

      &:hover {
        border-color: transparent;
      }

      .@{input-prefix}-inner,
      .@{input-prefix}-wrapper {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;

        &:hover {
          border-color: transparent;
        }
      }
    }
  }

  &,
  &-wrapper,
  &-inner,
  &-addon {
    transition: all var(--ix-motion-duration-fast) var(--ix-motion-ease-in-out);
  }

  &-with-addon-after,
  &-with-addon-before {
    display: inline-flex;
    padding: 0;
    border: none;
    box-shadow: none;

    .@{input-prefix}-wrapper .@{input-prefix}-inner {
      padding: 0;
    }
  }

  &-with-addon-before &-inner {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-with-addon-after &-inner {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &-addon {
    display: inline-block;
    text-align: center;
    background-color: var(--ix-color-addon-container-bg);
    border: 1px solid var(--ix-color-border);
    white-space: nowrap;

    &:first-child {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      .@{selector-prefix} {
        &-content {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    &:last-child {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      .@{selector-prefix} {
        &-content {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    .@{selector-prefix} {
      &-content {
        background-color: inherit;
        border-color: transparent;
      }

      // TODO: select 那边要去掉这两个样式
      &-item {
        left: unset !important;
        width: unset !important;
      }

      &-item-label {
        width: 100%;
      }

      &-suffix {
        right: 4px;
      }
    }
  }

  &-clearable,
  &-with-prefix,
  &-with-suffix {
    display: inline-flex;

    .@{input-prefix}-inner {
      padding: 0;
      border: none;
      box-shadow: none;
    }
  }

  &-suffix,
  &-prefix {
    display: inline-flex;
    align-items: center;
    color: var(--ix-color-icon);
    font-size: var(--ix-font-size-icon);
  }

  &-prefix {
    margin-right: 4px;
  }

  &-suffix {
    margin-left: 4px;
    cursor: pointer;
  }

  &-clearable:not(&-with-suffix) &-inner {
    padding-right: var(--ix-font-size-icon);
  }

  &-clear {
    position: absolute;
    z-index: 1;
    right: 7px;
    color: var(--ix-color-icon);
    font-size: var(--ix-font-size-icon);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    background-color: var(--ix-control-bg-color);
    transition: all var(--ix-motion-duration-fast) var(--ix-ease-in-out);

    &:hover {
      color: var(--ix-color-icon-hover);
    }

    &.visible {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    border: var(--ix-control-line-width) var(--ix-control-line-type) var(--ix-color-border);

    .@{input-prefix}-inner {
      padding: 0;
      border: none;
      box-shadow: none;
    }
  }

  // form status
  &&-invalid {
    border-color: var(--ix-color-error-border);

    &:hover {
      border-color: var(--ix-color-error-border);
    }

    .@{input-prefix}-wrapper,
    .@{input-prefix}-inner {
      border-color: var(--ix-color-error-border);

      &:hover {
        border-color: var(--ix-color-error-border);
      }
    }

    &:focus,
    &.@{input-prefix}-focused {
      border-color: var(--ix-color-error-border);
      box-shadow: var(--ix-control-box-shadow-invalid);

      .@{input-prefix}-wrapper,
      .@{input-prefix}-inner {
        box-shadow: none;
      }
    }

    .@{input-prefix}-addon {
      color: var(--ix-color-error-text);
      border-color: var(--ix-color-error-border);

      .@{selector-prefix} {
        &:hover &-content,
        &-content {
          border-color: transparent;
        }

        &.@{selector-prefix}-focused .@{selector-prefix}-content {
          border-color: transparent;
          // todo remove
          box-shadow: none;
        }
      }
    }
  }
}
