.input-size(@font-size; @padding-vertical; @padding-horizontal; @height) {
  font-size: @font-size;
  .@{input-prefix}-addon,
  .@{input-prefix}-wrapper {
    padding: @padding-vertical @padding-horizontal;
  }

  .@{input-prefix}-addon {
    height: @height;
  }

  .@{input-prefix}-addon .@{idux-prefix}-select {
    margin: -@padding-vertical -@padding-horizontal;
  }
}

.input-inner() {
  display: inline-block;
  width: 100%;
  min-width: 0;
  outline: 0;

  &[disabled] {
    cursor: not-allowed;
  }

  .placeholder(@input-placeholder-color);
}
