.input-inner() {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  outline: 0;
  color: @form-new-color;
  border: 1px solid @form-new-border-color;

  &[disabled] {
    cursor: not-allowed;
  }

  .placeholder(@form-new-placeholder-color);
}

.input-size(@height, @font-size, @padding-horizontal, @border-radius) {
  .reset-font-size(@font-size);

  height: @height;

  &,
  .@{input-prefix}-addon,
  .@{input-prefix}-inner,
  .@{input-prefix}-wrapper {
    padding: 0 @padding-horizontal;
  }

  .@{input-prefix}-suffix {
    margin-right: calc(7px - @padding-horizontal);
  }

  .@{input-prefix}-addon {
    .@{selector-prefix} {
      margin: -5px -@padding-horizontal;
    }
  }

  &,
  .@{input-prefix}-inner,
  .@{input-prefix}-addon {
    border-radius: @border-radius;
  }

  .@{input-prefix}-addon,
  .@{input-prefix}-clear {
    line-height: calc(@height - 2px);
  }
}

.input-disabled() {
  color: @form-new-color-disabled;
  background-color: @form-new-background-color-disabled;
  border-color: @form-new-border-color;
  box-shadow: none;
  cursor: not-allowed;

  &:hover {
    border-color: @form-new-border-color;
  }
}
