.input-inner() {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  outline: 0;
  color: var(--ix-color-text);
  border: 1px solid var(--ix-color-border);

  &[disabled] {
    cursor: not-allowed;
  }

  .placeholder();
}

.input-size(@height, @font-size, @padding-vertical, @padding-horizontal, @border-radius) {
  .reset-font-size(@font-size);

  height: @height;

  &,
  .@{input-prefix}-addon,
  .@{input-prefix}-inner,
  .@{input-prefix}-wrapper {
    padding: 0 @padding-horizontal;
  }

  .@{input-prefix}-suffix {
    margin-right: calc(7px - @padding-horizontal);
  }

  .@{input-prefix}-addon {
    .@{trigger-prefix} {
      &:not(.@{trigger-prefix}-paddingless) {
        margin: calc(var(--ix-line-width) * -1) calc(@padding-horizontal * -1 - var(--ix-line-width));
      }
      .@{trigger-prefix}-paddingless {
        margin: calc(var(--ix-line-width) * -1);
      }
    }
  }

  &,
  .@{input-prefix}-inner,
  .@{input-prefix}-addon {
    border-radius: @border-radius;
  }

  .@{input-prefix}-addon,
  .@{input-prefix}-clear {
    line-height: calc(@height - 2px);
  }
}

.input-disabled() {
  color: var(--ix-color-text-disabled);
  background-color: var(--ix-control-bg-color-disabled);
  border-color: var(--ix-color-border);
  box-shadow: none;
  cursor: not-allowed;

  &:hover {
    border-color: var(--ix-color-border);
  }
}
