/* ------ header css variables ------ */
:root {
  --ix-header-height-sm: 40px;
  --ix-header-height-md: 48px;
  --ix-header-height-lg: 48px;
  --ix-header-height-xl: 56px;
  --ix-header-bar-width: 4px;
  --ix-header-bar-bg-color: #4083e8;
  --ix-header-prefix-color: #f4f8ff;
  --ix-header-prefix-color-hover: #4083e8;
  --ix-header-prefix-color-active: #4083e8;
  --ix-header-prefix-color-disabled: #687080;
  --ix-header-suffix-color: #a1a7b3;
  --ix-header-suffix-color-hover: #4083e8;
  --ix-header-suffix-color-active: #6aa6f4;
  --ix-header-suffix-color-disabled: #687080;
  --ix-header-sub-title-font-size: 14px;
}
