.footer {
  position: relative;
  padding: 64px 64px 32px;
  font-size: var(--ix-font-size-md);
  line-height: calc(var(--ix-line-height-gutter) + var(--ix-font-size-md));
  color: var(--ix-color-text);
  background-color: #1F284C;

  & a {
    transition: @transition-all-base;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFF;
    text-decoration: none;
    &:hover {
      color: var(--ix-color-text-info);
    }
  }

  &-columns {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
  }

  &-column {
    margin-bottom: var(--ix-margin-size-2xl);

    h3 {
      opacity: 0.5;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #FFF;
    }

    &-icon {
      margin-right: var(--ix-margin-size-sm);
      font-size: 24px;
    }
  }

  &-item {
    margin: var(--ix-margin-size-md) 0;

    &-icon {
      margin-right: var(--ix-margin-size-sm);
      font-size: var(--ix-font-size-icon);
    }

    &-separator {
      margin: 0 var(--ix-margin-size-xs);
    }
  }

  &-bottom {
    text-align: center;
    padding-top: var(--ix-margin-size-lg);
    font-size: var(--ix-font-size-lg);
    border-top: var(--ix-line-width) var(--ix-line-type) var(--ix-color-separator);
  }

  &-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 38px;
      width: 38px;
    }
    &-title {
      font-family: PingFangSC-Semibold;
      font-size: 20px;
      color: #1E71FF;
    }
  }
}

@media only screen and (max-width: @screen-xs-max) {
  .footer {
    text-align: center;
    padding: var(--ix-margin-size-2xl) 0;

    &-columns {
      display: block;
    }
  }
}
