.header {
  z-index: 10;
  background: @background-color-component;
  box-shadow: @header-box-shadow;
  transition: @transition-all-base;

  &-logo {
    height: @header-height;
    line-height: @header-height;
    padding-left: @spacing-3xl;
    text-align: center;
    text-decoration: none;

    img {
      position: relative;
      top: 16px;
      width: 40px;
      height: 48px;
      margin-right: @spacing-lg;
    }

    h2 {
      display: inline-block;
    }
  }

  &-right {
    display: flex;
    align-items: center;

    > * {
      margin-right: @spacing-lg;
    }
  }

  &-search-box {
    margin-right: auto;
    padding-left: @spacing-xl;
    border-left: @border-width-sm @border-style @border-color-split;

    .ix-input {
      max-width: 200px;
    }
  }

  &-menu {

    &,
    &-sub {
      text-align: center;
    }

    &.ix-menu-horizontal {
      border-bottom: none;

      & > .ix-menu-sub,
      & > .ix-menu-sub .ix-menu-sub-title,
      & > .ix-menu-item {
        height: @header-height;
        line-height: @header-height - @menu-item-border-bottom-width * 2;
        border-top: @menu-item-border-bottom-width @menu-border-style transparent;
      }

      & > .ix-menu-sub:hover,
      & > .ix-menu-sub-opened,
      & > .ix-menu-sub-selected,
      & > .ix-menu-item:hover,
      & > .ix-menu-item-selected {
        border-top: @menu-item-border-bottom-width @menu-border-style @menu-highlight-color;
        border-bottom: @menu-item-border-bottom-width @menu-border-style transparent;
      }
    }
  }

  .ix-dropdown {
    padding: @spacing-sm;
    font-size: @font-size-lg;
    color: @text-color;
  }

  &.home-header {
    position: relative;
    box-shadow: none;
    background-color: transparent;
    z-index: 1;

    .ix-menu-horizontal > .ix-menu-item:hover,
    .ix-menu {
      background: transparent;
    }

    .header-search-box {

      .ix-input {
        background: transparent;
      }

    }
  }
}

@media (max-width: @screen-sm-max) {

  .header {

    &-search-box {
      padding-left: @spacing-sm;

      .ix-input {
        max-width: 140px;
      }
    }

    &-row {
      text-align: center;
    }
  }
}
