.header {
  z-index: 10;
  background: var(--ix-color-container-bg);
  box-shadow: @header-box-shadow;
  transition: @transition-all-base;

  &-logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 48px;
    text-align: center;
    text-decoration: none;

    img {
      position: relative;
      width: 36px;
      margin-right: var(--ix-margin-size-lg);
    }

    h2 {
      display: inline-block;
      margin: 0;
    }
  }

  &-right {
    display: flex;
    align-items: center;

    > * {
      margin-right: var(--ix-margin-size-lg);
    }
  }

  &-search-box {
    margin-right: auto;
    padding-left: var(--ix-padding-size-xl);
    border-left: var(--ix-line-width) var(--ix-line-type) var(--ix-color-separator);

    .ix-input {
      max-width: 200px;
    }
  }

  &-menu {
    box-shadow: none;
    &,
    &-sub {
      text-align: center;
    }

    &.ix-menu-horizontal {
      border-bottom: none;

      & > .ix-menu-sub,
      & > .ix-menu-sub .ix-menu-sub-title,
      & > .ix-menu-item {
        height: @header-height;
        line-height: calc(@header-height - 2px * 2);
        border-top: 2px solid transparent;
      }

      & > .ix-menu-sub:hover,
      & > .ix-menu-sub-opened,
      & > .ix-menu-sub-selected,
      & > .ix-menu-item:hover,
      & > .ix-menu-item-selected {
        border-top: 2px solid var(--ix-color-primary);
        border-bottom: 2px solid transparent;
      }
    }
  }

  .ix-dropdown {
    padding: var(--ix-padding-size-sm);
    font-size: var(--ix-font-size-lg);
    color: var(--ix-color-text);
  }

  &.home-header {
    position: relative;
    box-shadow: none;
    background-color: transparent;
    z-index: 1;

    .ix-menu-horizontal > .ix-menu-item:hover,
    .ix-menu {
      background: transparent;
    }

    .header-search-box {
      .ix-input {
        background: transparent;
      }
    }

    .header-version .ix-selector-content {
      background-color: transparent;
      border: none;
      box-shadow: none;
    }
  }
}

@media (max-width: @screen-sm-max) {
  .header {
    &-search-box {
      padding-left: var(--ix-padding-size-sm);

      .ix-input {
        max-width: 140px;
      }
    }

    &-row {
      text-align: center;
    }
  }
}
