@import '../../style/mixins/reset.less';

.@{checkbox-prefix} {
  &:not(.@{button-prefix}) {
    .reset-component-new();

    display: inline-flex;
    align-items: center;
    line-height: unset;
    cursor: pointer;
    color: @checkbox-color;

    &::after {
      display: inline-block;
      width: 0;
      overflow: hidden;
      content: '\a0';
    }

    .@{checkbox-prefix}-label {
      .reset-font-size();

      padding: @checkbox-label-padding;
    }
  }

  &-input {
    position: relative;
    line-height: 1;
    cursor: pointer;

    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }

    &-box {
      position: relative;
      display: block;
      width: 16px;
      height: 16px;
      background-color: @checkbox-background-color;
      border: 1px solid @checkbox-border-color;
      border-radius: @checkbox-border-radius;
      transition: all var(--ix-transition-duration-fast) var(--ix-ease-in-out);

      &::after {
        position: absolute;
        top: 7px;
        left: 4px;
        width: 5px;
        height: 9px;
        border: 2px solid @checkbox-background-color;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg) scale(0) translate(-50%, -50%);
        transition: all var(--ix-transition-duration-fast) var(--ix-ease-in-out);
        opacity: 0;
        content: ' ';
      }
    }

    &-tick {
      position: absolute;
      top: 0;
      right: 0;
      border-top: 8px solid transparent;
      border-left: 8px solid transparent;
      transition: all var(--ix-transition-duration-fast) var(--ix-ease-in-out);
    }
  }

  &:hover &-input-box {
    border-color: @checkbox-border-color-hover;
  }

  &-focused &-input-box {
    border-color: @checkbox-border-color-focus;
  }

  &-checked {
    .@{checkbox-prefix}-input {
      &-box {
        background-color: @checkbox-color-active;
        border-color: @checkbox-color-active;

        &::after {
          opacity: 1;
          transform: rotate(45deg) scale(1) translate(-65%, -50%);
        }
      }

      &-tick {
        border-top-color: @checkbox-color-active;
      }
    }

    &.@{button-prefix} {
      z-index: 1;
      color: @checkbox-color-active;
      border-color: @checkbox-color-active;
    }
  }

  &-indeterminate &-input-box {
    background-color: @checkbox-color-active;
    border-color: @checkbox-color-active;

    &::after {
      left: 50%;
      width: 8px;
      height: 2px;
      border: 0;
      background-color: @checkbox-background-color;
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
      content: ' ';
    }
  }

  &&-disabled {
    cursor: not-allowed;
    color: @checkbox-color-disabled;

    .@{checkbox-prefix}-input {
      &-inner {
        cursor: not-allowed;
      }

      &-box {
        background-color: @checkbox-background-color-disabled;
        border-color: @checkbox-border-color;

        &::after {
          border-color: @checkbox-color-disabled;
        }
      }
    }

    &.@{checkbox-prefix}-indeterminate .@{checkbox-prefix}-input-box {
      &::after {
        background-color: @checkbox-color-disabled;
      }
    }

    &.@{button-prefix} {
      z-index: 0;
      border-color: @checkbox-border-color;
    }

    &.@{button-prefix}:not(.@{checkbox-prefix}-checked) {
      background-color: var(--ix-background-color-medium);
    }

    &.@{button-prefix}.@{checkbox-prefix}-checked .@{checkbox-prefix}-input-tick {
      border-top-color: @checkbox-color-disabled;
    }
  }
}
