.checkbox-size(@height, @min-width, @font-size, @padding-horizontal) {
  height: @height;
  min-width: @min-width;
  line-height: @height - @checkbox-border-width * 2;
  font-size: @font-size;
  padding: 0 @padding-horizontal;
}
