@input-height-sm: var(--ix-height-sm);
@input-height-md: var(--ix-height-md);
@input-height-lg: var(--ix-height-lg);

@input-font-size-sm: var(--ix-font-size-sm);
@input-font-size-md: var(--ix-font-size-md);
@input-font-size-lg: var(--ix-font-size-lg);

@input-border-radius-sm: var(--ix-border-radius-sm);
@input-border-radius-md: var(--ix-border-radius-md);
@input-border-radius-lg: var(--ix-border-radius-lg);

@input-color: var(--ix-text-color);
@input-color-secondary: var(--ix-text-color-secondary);
@input-color-disabled: var(--ix-text-color-disabled);
@input-placeholder-color: var(--ix-text-color-info);

@input-background-color: var(--ix-background-color);
@input-background-color-disabled: var(--ix-background-color-deep);

@input-border-color: var(--ix-border-color);
@input-border-color-focus: var(--ix-color-primary);

@input-box-shadow-focus: 0 0 0 2px fade(@color-primary, 20%);

@input-icon-color: var(--ix-text-color-title-secondary);
@input-icon-color-hover: var(--ix-color-primary);
@input-icon-font-size: inherit;

@input-addon-background-color: var(--ix-background-color-light);
