@import './default.variable.less';

@input-padding-horizontal-sm: 12px;
@input-padding-horizontal-md: 12px;
@input-padding-horizontal-lg: 12px;

@input-padding-vertical-sm: 2px;
@input-padding-vertical-md: 6px;
@input-padding-vertical-lg: 8px;

@input-addon-background-color: @color-graphite-l50;

@input-clear-icon-line-height: @font-size-lg + 2;
