@import './default.variable.less';

@input-font-size-sm: var(--ix-font-size-sm);
@input-font-size-md: var(--ix-font-size-sm);
@input-font-size-lg: var(--ix-font-size-md);

@input-border-radius-md: var(--ix-border-radius-sm);
@input-border-radius-lg: var(--ix-border-radius-sm);
