@import './default.variable.less';

@empty-description-opacity: 1;
@empty-description-color: @color-graphite-d10;
@empty-description-font-size: @font-size-sm;

@empty-content-color: @color-graphite;
@empty-content-font-size: @font-size-sm;

@empty-image-icon-font-size: 48px;
