@import '../../style/mixins/reset.less';
@import '../../style/motion/move.less';
@import './mixin.less';

.@{message-prefix} {
  .reset-component();

  text-align: center;
  margin: @message-margin;
  font-size: @font-size-md;
  line-height: @message-line-height;

  &-content {
    display: inline-block;
    min-width: @message-content-min-width;
    max-width: @message-content-max-width;
    padding: @message-content-padding-vertical @message-content-padding-horizontal;
    background: @message-content-bg-color;
    border-radius: @message-content-border-radius;
    box-shadow: @message-content-box-shadow;
    pointer-events: all;

    &-icon {
      display: inline-block;
      position: relative;
      top: 1px;
      line-height: 0;
      margin-right: @message-icon-margin-right;
      font-size: @font-size-lg;
    }
  }

  .message-icon-color(info, @message-icon-info-color);
  .message-icon-color(success, @message-icon-success-color);
  .message-icon-color( warning, @message-icon-warning-color);
  .message-icon-color(error, @message-icon-error-color);
  .message-icon-color(loading, @message-icon-loading-color);

  &-wrapper {
    position: fixed;
    left: 0;
    top: @message-wrapper-top;
    width: 100%;
    z-index: @message-wrapper-zindex;
    pointer-events: none;
  }
}
