@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';
@import '../../style/motion/move.less';
@import './mixin.less';

.@{message-prefix} {
  .reset-component();

  text-align: center;
  margin: var(--ix-message-margin);
  font-size: var(--ix-message-font-size);
  line-height: calc(var(--ix-message-font-size) + var(--ix-line-height-gutter));

  &-content {
    display: inline-block;
    min-width: var(--ix-message-content-min-width);
    max-width: var(--ix-message-content-max-width);
    padding: var(--ix-message-content-padding-vertical) var(--ix-message-content-padding-horizontal);
    background: var(--ix-message-bg-color);
    border-radius: var(--ix-message-border-radius);
    box-shadow: var(--ix-box-shadow-md);
    pointer-events: all;

    &-icon {
      display: inline-block;
      position: relative;
      top: 1px;
      line-height: 0;
      margin-right: var(--ix-message-icon-margin-right);
      font-size: var(--ix-font-size-icon);
    }
  }

  .message-icon-color(info, var(--ix-color-info-icon));
  .message-icon-color(success, var(--ix-color-success-icon));
  .message-icon-color(warning, var(--ix-color-warning-icon));
  .message-icon-color(error, var(--ix-color-error-icon));
  .message-icon-color(loading, var(--ix-color-primary-icon));

  &-wrapper {
    position: fixed;
    left: 0;
    top: var(--ix-message-wrapper-top);
    width: 100%;
    z-index: 9999;
    pointer-events: none;
  }
}
