@import '../../style/mixins/box.less';
@import '../../style/mixins/reset.less';

.@{drawer-prefix} {
  .reset-component-new();

  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;

  &-wrapper {
    position: fixed;
    outline: none;
    z-index: 1000;

    &.@{drawer-prefix}-with-mask {
      .box(fixed);
    }
  }

  &-opened&-push {
    transition: transform var(--ix-transition-duration-medium) var(--ix-ease-out);
    transition-delay: var(--ix-transition-duration-fast);
  }

  &-opened&-pull {
    transition: transform var(--ix-transition-duration-medium) var(--ix-ease-in);
  }

  &-sentinel {
    width: 0;
    height: 0;
    overflow: hidden;
    outline: none;
  }

  &-content {
    .reset-font-size();
    .reset-color();

    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    pointer-events: auto;
    overflow: hidden;

    > .@{header-prefix} {
      padding-left: var(--ix-spacing-lg);
      padding-right: var(--ix-spacing-lg);
    }
  }

  &-body {
    flex: 1;
    padding: var(--ix-spacing-sm) var(--ix-spacing-lg);
    overflow: auto;
  }

  &-footer {
    padding: var(--ix-spacing-md) var(--ix-spacing-lg);

    .@{button-prefix} + .@{button-prefix} {
      margin-left: var(--ix-spacing-sm);
    }
  }

  &-start {
    .@{drawer-prefix}-content {
      box-shadow: @drawer-box-shadow-start;
    }
  }

  &-end {
    .@{drawer-prefix}-content {
      box-shadow: @drawer-box-shadow-end;
    }
  }

  &-top {
    .@{drawer-prefix}-content {
      box-shadow: @drawer-box-shadow-top;
    }
  }
}
