@import '../../style/mixins/box.less';
@import '../../style/mixins/reset.less';

.@{drawer-prefix} {
  .reset-component();

  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  font-size: @drawer-font-size;
  color: @drawer-color;
  line-height: @drawer-line-height;

  &-wrapper {
    position: fixed;
    outline: none;
    z-index: @zindex-l4-base;

    &.@{drawer-prefix}-with-mask {
      .box(fixed);
    }
  }

  &-opened&-push {
    transition: transform @transition-duration-fast @ease-out;
    transition-delay: @transition-duration-fast;
  }

  &-opened&-pull {
    transition: transform @transition-duration-fast @ease-in;
  }

  &-sentinel {
    width: 0;
    height: 0;
    overflow: hidden;
    outline: none;
  }

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    pointer-events: auto;
    overflow: hidden;
    background-color: @drawer-background-color;

    > .@{header-prefix} {
      padding: @drawer-header-padding;
      color: @drawer-title-color;
    }
  }

  &-body {
    flex: 1;
    padding: @drawer-body-padding;
    overflow: auto;
  }

  &-footer {
    min-height: @drawer-footer-min-height;
    padding: @drawer-footer-padding;

    .@{button-prefix} + .@{button-prefix} {
      margin-left: @drawer-footer-button-margin-left;
    }
  }

  &-start {
    .@{drawer-prefix}-content {
      box-shadow: @drawer-box-shadow-start;
    }
  }

  &-end {
    .@{drawer-prefix}-content {
      box-shadow: @drawer-box-shadow-end;
    }
  }

  &-top {
    .@{drawer-prefix}-content {
      box-shadow: @drawer-box-shadow-top;
    }
  }
}
