@import '../../style/mixins/reset.less';
@import './mixin.less';

.@{timeline-prefix} {
  .reset-component();

  font-size: @timeline-font-size;
  line-height: @timeline-line-height;
  display: flex;
  flex-direction: column;
  

  .@{timeline-item-prefix} {
    position: relative;

    &-head {
      position: absolute;
      width: @timeline-item-timeline-width;
      top: @timeline-item-timeline-top;
      height: 100%;

      &-line {
        position: absolute;
        left: @timeline-line-gap;
        top: @timeline-dot-size;
        bottom: 0;
        width: @timeline-line-width;
        background-color: @timeline-line-background-color;
      }

      &-dot {
        width: @timeline-dot-size;
        height: @timeline-dot-size;
        border: @timeline-dot-border;
        border-radius: 50%;
        font-size: @timeline-dot-font-size;

        .timeline-color-classes(@preset-colors);
        .timeline-color-classes(@status-colors);

        &-custom {
          position: absolute;
          border: none;
          background-color: @color-white;
          display: flex;
          align-items: center;
          justify-content: center
        }
      }
    }

    &:last-child {
      .@{timeline-item-prefix}-head-line {
        display: none;
      }
    }

    &-content {
      position: relative;
      color: @timeline-content-color;
      margin-bottom: @timeline-content-margin-bottom;
      
      &-label {
        color: @timeline-content-label-color;
      }
    }
  }

  &-pending:not(&-reverse) {
    
    .@{timeline-item-prefix}:nth-last-child(2) {
      .timeline-dotted-line();
    }
  }

  &-pending&-reverse {

    .@{timeline-item-prefix} {
      &-pending {
        .timeline-dotted-line();
      }
    }
  }

  &-end {
    .@{timeline-item-prefix} {
      &-content {
        margin-left: @timeline-content-gap;
      }
    }
  }

  &-start {
    .@{timeline-item-prefix} {

      &-head {
        right: 0;
        width: @timeline-dot-size;

        &-line {
          left: unset;
          right: @timeline-line-gap;
        }

        &-dot {

          &-custom {
            right: @timeline-custom-dot-gap;
            transform: translate(50%, -50%);
          }
        }
      }

      &-content {
        margin-right: @timeline-content-gap;
        text-align: right;
      }
    }
  }

  &-alternate {

    .timeline-line-align-center();

    .@{timeline-item-prefix} {

      &-start {
        .@{timeline-item-prefix} {

          &-content {
            width: calc(50% - @timeline-content-gap);
            text-align: right;
          }
        }
      }

      &-end {
        .@{timeline-item-prefix} {

          &-content {
            margin-left: calc(50% + @timeline-content-gap);
            width: 50%;
          }
        }
      }

      &-head {
        left: 50%;
        width: @timeline-dot-size;
        transform: translateX(-50%);

        &-line {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &-not-both {

    .timeline-line-align-center();

    .@{timeline-item-prefix} {

      &-content {
        &-label {
          position: absolute;
        }
      }
      
      &-start {
        .@{timeline-item-prefix} {
          &-content {
            width: calc(50% - @timeline-content-gap);
            &-label {
              transform: translateX(100%);
              right: -@timeline-content-gap * 2;
            }
          }
        }
      }

      &-end {
        .@{timeline-item-prefix} {
          &-content {
            width: 50%;
            margin-left: calc(50% + @timeline-content-gap);
            &-label {
              left: -@timeline-content-gap * 2;
              transform: translateX(-100%);
            }
          }
        }
      }
    }
  }
}
