.timeline-first-dot-color-classes(@colors, @i: length(@colors)) when (@i > 0) {
  .timeline-first-dot-color-classes(@colors, @i - 1);
  @color: extract(@colors, @i);
  @color-name: 'color-@{color}';

  .@{timeline-item-prefix}:first-child .@{timeline-item-prefix}-head-dot {
    &-@{color} {
      border-color: @@color-name;
      color: @@color-name;
    }
  }
}

.timeline-dot-color-classes(@colors, @i: length(@colors)) when (@i > 0) {
  .timeline-dot-color-classes(@colors, @i - 1);

  @color: extract(@colors, @i);
  @color-name: 'color-@{color}';
  @dot-class: ~'@{timeline-item-prefix}-head-dot';

  .@{timeline-item-prefix} .@{dot-class}.@{dot-class}-@{color} {
    color: @@color-name;
    .@{dot-class}-inner {
      background-color: @@color-name;
    }
  }
  .@{timeline-item-prefix} .@{dot-class}.@{dot-class}-@{color} {
    border-color: @@color-name;
  }
}

.timeline-line-align-center() {
  .@{timeline-item-prefix} {
    &-head {
      left: 50%;
      width: @timeline-dot-size;
      transform: translateX(-50%);

      &-line {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.timeline-dotted-line() {
  .@{timeline-item-prefix} {
    &-head-line {
      background: @timeline-dotted-line-background;
      background-size: @timeline-dotted-line-background-size;
    }

    &-content {
      margin-bottom: @timeline-pending-item-content-min-height;
    }
  }
}
