.timeline-color-classes(@colors, @i: length(@colors)) when (@i > 0) {
  .timeline-color-classes(@colors, @i - 1);
  @color: extract(@colors, @i);
  &-@{color} {
    border-color: @@color;
    color: @@color;
  }
}
