.timeline-color-classes(@i: length(@preset-colors)) when (@i > 0) {
  .timeline-color-classes(@i - 1);
  @color: extract(@preset-colors, @i);
  &-@{color} {
    border-color: @@color;
    color: @@color;
  }
}
