@carousel-arrow-size: @font-size-2xl;
@carousel-arrow-color: @color-white;
@carousel-arrow-spacing: @spacing-gutter;

@carousel-dot-width: @spacing-gutter;
@carousel-dot-height: @spacing-gutter;
@carousel-dot-background-color: @color-white;
@carousel-dot-gap: @spacing-md;
@carousel-dot-spacing: @spacing-lg;
@carousel-dot-border-radius: 50%;

@carousel-icon-opacity: 0.3;
@carousel-icon-hover-opacity: 0.6;
@carousel-icon-active-opacity: 0.8;
