@carousel-arrow-size: @font-size-2xl;
@carousel-arrow-color: @color-white;
@carousel-arrow-spacing: @spacing-gutter;

@carousel-dot-size: @spacing-gutter;
@carousel-dot-background-color: @color-white;
@carousel-dot-gap: @spacing-md;
@carousel-dot-spacing: @spacing-lg;

@carousel-icon-opacity: 0.3;
@carousel-icon-active-opacity: 0.8;
