/* ------ statistic css variables ------ */
:root {
  --ix-statistic-font-size-sm: 14px;
  --ix-statistic-font-size-md: 14px;
  --ix-statistic-font-size-lg: 24px;
  --ix-statistic-font-size-xl: 30px;
  --ix-statistic-color: #f4f8ff;
}
