/* ------ layout css variables ------ */
:root {
  --ix-pro-layout-content-bg-color: #f7f9fc;
  --ix-pro-layout-header-box-shadow: 0 1px 0 0 #e1e5eb;
  --ix-pro-layout-sider-box-shadow: 1px 0 0 0 #e1e5eb;
  --ix-pro-layout-logo-font-size: 20px;
  --ix-pro-layout-logo-font-weight: 600;
  --ix-pro-layout-logo-img-height: 36px;
  --ix-pro-layout-sider-trigger-bg: #edf1f7;
  --ix-pro-layout-sider-trigger-bg-hover: #e1e5eb;
  --ix-pro-layout-dark-sider-trigger-bg: #454c59;
  --ix-pro-layout-dark-sider-trigger-bg-hover: #1e232b;
  --ix-pro-layout-menu-item-color: #2f3540;
  --ix-pro-layout-menu-item-color-hover: #2f3540;
  --ix-pro-layout-menu-item-color-active: #1c6eff;
  --ix-pro-layout-menu-item-color-disabled: #bec3cc;
  --ix-pro-layout-menu-item-group-color: #6f7785;
  --ix-pro-layout-menu-item-bg: #ffffff;
  --ix-pro-layout-menu-item-bg-hover: #f7f9fc;
  --ix-pro-layout-menu-item-bg-active: #e8f4ff;
  --ix-pro-layout-menu-item-bg-disabled: #ffffff;
  --ix-pro-layout-menu-item-group-bg: #ffffff;
  --ix-pro-layout-menu-sub-expanded-bg: #ffffff;
  --ix-pro-layout-menu-sub-expanded-bg-active: #ffffff;
  --ix-pro-layout-menu-horizontal-item-color-hover: #2f3540;
  --ix-pro-layout-menu-horizontal-item-color-active: #1c6eff;
  --ix-pro-layout-menu-horizontal-item-bg-hover: #f7f9fc;
  --ix-pro-layout-menu-horizontal-item-bg-active: #e8f4ff;
  --ix-pro-layout-dark-menu-item-color: #ffffff;
  --ix-pro-layout-dark-menu-item-color-hover: #ffffff;
  --ix-pro-layout-dark-menu-item-color-active: #ffffff;
  --ix-pro-layout-dark-menu-item-color-disabled: #bec3cc;
  --ix-pro-layout-dark-menu-item-group-color: #6f7785;
  --ix-pro-layout-dark-menu-item-font-weight-active: 600;
  --ix-pro-layout-dark-menu-item-bg: #2f3540;
  --ix-pro-layout-dark-menu-item-bg-hover: #1e232b;
  --ix-pro-layout-dark-menu-item-bg-active: #1c6eff;
  --ix-pro-layout-dark-menu-item-bg-disabled: #2f3540;
  --ix-pro-layout-dark-menu-item-group-bg: #2f3540;
  --ix-pro-layout-dark-menu-sub-expanded-bg: #2f3540;
  --ix-pro-layout-dark-menu-sub-expanded-bg-active: #2f3540;
  --ix-pro-layout-dark-menu-horizontal-item-color-hover: #ffffff;
  --ix-pro-layout-dark-menu-horizontal-item-color-active: #ffffff;
  --ix-pro-layout-dark-menu-horizontal-item-bg-hover: #1e232b;
  --ix-pro-layout-dark-menu-horizontal-item-bg-active: #454c59;
}
