@import '../../style/variable/index.less';
@import '../../style/mixins/ellipsis.less';
@import '../../style/mixins/reset.less';
@import '../../style/motion/slide.less';

.@{cascader-prefix} {
  &-option {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: var(--ix-cascader-option-padding);
    height: var(--ix-cascader-option-height);
    color: var(--ix-color-text);
    transition: background var(--ix-motion-duration-medium), color var(--ix-motion-duration-medium);
    cursor: pointer;

    &-disabled {
      color: var(--ix-color-text-disabled);
      cursor: not-allowed;
    }

    &-active:not(&-disabled) {
      background-color: var(--ix-color-container-bg-hover);
    }

    &-expanded:not(&-disabled) {
      background-color: var(--ix-color-container-bg-active);
      font-weight: var(--ix-font-weight-lg);
    }

    &-leaf&-selected:not(&-disabled) {
      background-color: var(--ix-color-container-bg-active);
      font-weight: var(--ix-font-weight-lg);
    }

    &-label {
      .ellipsis();

      flex: auto;

      &-highlight {
        color: var(--ix-cascader-option-label-highlight-color);
      }
    }

    .@{checkbox-prefix} + &-label {
      margin-left: var(--ix-cascader-option-label-margin-left);
    }

    &-expand-icon {
      margin-left: var(--ix-margin-size-xs);
      color: var(--ix-color-icon);
      font-size: var(--ix-font-size-icon);
    }
    &-disabled &-expand-icon {
      color: var(--ix-color-icon-disabled);
    }

    &-expand-icon&-disabled {
      color: var(--ix-color-icon-disabled);
    }
  }

  &-option-group {
    flex-grow: 1;
    min-width: var(--ix-cascader-option-group-min-width);
    min-height: var(--ix-cascader-option-group-min-height);

    &-empty {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:not(:last-child) {
      border-right: var(--ix-line-width) var(--ix-line-type) var(--ix-color-border-secondary);
    }
  }

  &-overlay {
    z-index: 1000;
    padding: var(--ix-cascader-option-container-padding);
    background-color: var(--ix-color-container-bg);

    &-search-wrapper {
      padding: var(--ix-cascader-overlay-search-wrapper-padding);
    }
  }

  &-panel {
    .reset-component();

    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    font-size: var(--ix-cascader-option-font-size);
    overflow: auto;
  }
}
