@slider-marks-label-color: rgba(0, 0, 0, 0.451);

@slider-rail-bg: @background-color-base;
@slider-track-bg: #91d5ff;
@slider-thumb-bg: @color-white;
@slider-dot-bg: @color-white;

@slider-dot-border: 2px solid #f0f0f0;
@slider-thumb-border: 2px solid #91d5ff;

@slider-rail-hover-bg: #e1e1e1;
@slider-track-hover-bg: #69c0ff;
@slider-thumb-hover-border-color: #46a6ff;

@slider-thumb-focus-border-color: #46a6ff;
@slider-thumb-focus-box-shadow: 0 0 0 5px fade(#46a6ff, 12%);

@slider-dot-active-border-color: #8cc8ff;
@slider-marks-label-active-color: rgba(0, 0, 0, 0.851);

@slider-track-disabled-bg: rgba(0, 0, 0, 0.251);
@slider-thumb-disabled-bg: @color-white;
@slider-thumb-disabled-border-color: rgba(0, 0, 0, 0.251);
@slider-dot-disabled-active-border-color: rgba(0, 0, 0, 0.251);

@slider-thumb-transition: border-color @transition-duration-base, box-shadow @transition-duration-base * 2,
  transform @transition-duration-base cubic-bezier(0.18, 0.89, 0.32, 1.28);
