@import 'default.variable.less';

@slider-track-disabled-background-color: @color-graphite;
@slider-dot-disabled-active-border-color: @color-graphite;
@slider-thumb-disabled-border-color: @color-graphite;

@slider-dot-border: 2px solid @color-graphite-l30;
