@import '../../../style/themes/default.less';
@import '../../../form/style/themes/default.less';

@rate-placeholder-color: @form-placeholder-color;
@rate-active-color: @color-yellow;

@rate-transition-duration: @form-transition-duration;
@rate-transition-function: @form-transition-function;
@rate-transition: all @rate-transition-duration @rate-transition-function;

@rate-size-sm: 14px;
@rate-size-md: 20px;
@rate-size-lg: 28px;
@rate-item-margin-right: @spacing-sm;
@rate-item-hover-scale: 1.1;
@rate-item-focus-outline: 1px dashed @rate-active-color;
