@import '../../../style/themes/default.less';
@import '../../../form/style/themes/default.less';

@rate-color: @form-color;
@rate-active-color: @color-yellow;

@rate-transition-duration: @form-transition-duration;
@rate-transition-function: @form-transition-function;
@rate-transition: all @rate-transition-duration @rate-transition-function;

@rate-size: 20px;
@rate-item-margin-right: @spacing-sm;
@rate-item-hover-scale: 1.1;
@rate-item-focus-outline: 1px dashed @rate-active-color;
