@anchor-bg: @background-color-component;
@anchor-wrapper-margin-left: -@spacing-xs;
@anchor-wrapper-padding-left: @spacing-xs;
@anchor-color: @text-color;
@anchor-border-width: @border-width-md;
@anchor-border-color: @border-color;

@anchor-ink-ball-width: 8px;
@anchor-ink-ball-height: 8px;
@anchor-ink-ball-radius: 50%;
@anchor-ink-ball-border-width: @border-width-md;

@anchor-ink-line-border-width: @border-width-md;

@anchor-link-margin: @spacing-md 0 @spacing-md @spacing-md;
@anchor-link-font-size: @font-size-md;
@anchor-link-line-height: 1;
@anchor-link-active-color: @color-primary;

