@import '../../../style/themes/default.less';
@import '../index.less';

@anchor-bg: @background-color-component;
@anchor-wrapper-margin-left: -@spacing-xs;
@anchor-wrapper-padding-left: @spacing-xs;
@anchor-color: @text-color;
@anchor-border-width: @border-width-md;
@anchor-border-color: @border-color;

@anchor-ink-ball-size: 8px;
@anchor-ink-ball-radius: 50%;

@anchor-link-padding: @spacing-sm 0 @spacing-sm @spacing-md;
@anchor-link-line-height: 1;
@anchor-link-margin-bottom: 6px;
@anchor-link-active-color: @color-primary;
