@import './default.variable.less';

@anchor-ink-ball-width: 2px;
@anchor-ink-ball-height: 16px;
@anchor-ink-ball-radius: 2px;

@anchor-link-font-size: @font-size-sm;
@anchor-link-margin: @spacing-md 0 @spacing-lg @spacing-lg;
