@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';

.@{loading-bar-prefix} {
  .reset-component();

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: var(--ix-loading-bar-height);
  width: 100%;
  z-index: 10000;
  transition: none;

  &.@{loading-bar-prefix}--loading,
  &.@{loading-bar-prefix}--finish {
    background: var(--ix-loading-bar-loading-color);
  }

  &.@{loading-bar-prefix}--error {
    background: var(--ix-color-error);
  }
  &-mask {
    z-index: 9999;
  }
}
