@import '../../style/mixins/reset.less';

.@{loading-bar-prefix} {
  .reset-component();

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: @loading-bar-height;
  width: 100%;
  z-index: 10000;
  transition: none;

  &.@{loading-bar-prefix}--loading,
  &.@{loading-bar-prefix}--finish {
    background: @loading-bar-loading-color;
  }

  &.@{loading-bar-prefix}--error {
    background: @color-error;
  }
  &-mask {
    z-index: 9999;
  }
}
