@import '../../style/variable/index.less';
.slider-rail() {
  position: absolute;
  height: var(--ix-slider-rail-size);
  border-radius: 2px;
  transition: background-color var(--ix-motion-duration-medium);
}

.@{slider-prefix} {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  height: 12px;
  margin: 10px 6px;
  padding: 4px 0;
  cursor: pointer;
  touch-action: none;

  &:not(&-disabled) {
    &:hover .@{slider-prefix}-rail {
      background-color: var(--ix-slider-rail-bg-color-hover);
    }

    &:hover .@{slider-prefix}-track {
      background-color: var(--ix-slider-track-bg-color-hover);
    }

    .@{slider-prefix}-dot-active {
      background-color: var(--ix-slider-dot-bg-color-active);
    }
  }
  
  &-rail {
    .slider-rail();

    width: 100%;
    background-color: var(--ix-slider-rail-bg-color);
  }

  &-track {
    .slider-rail();

    background-color: var(--ix-slider-track-bg-color);
  }

  &-step {
    position: absolute;
    width: 100%;
    height: var(--ix-slider-rail-size);
    background: 0 0;
  }

  &-dot {
    position: absolute;
    width: 1px;
    height: 4px;
    margin-top: var(--ix-slider-rail-size);
    background-color: var(--ix-slider-dot-bg-color);
    cursor: pointer;

    &:last-child {
      margin-left: -1px;
    }
  }

  &-thumb {
    position: absolute;
    box-sizing: border-box;
    width: var(--ix-slider-thumb-size);
    height: var(--ix-slider-thumb-size);
    margin-top: calc(((var(--ix-slider-thumb-size) - var(--ix-slider-rail-size)) / 2) * -1);
    background-color: var(--ix-slider-thumb-bg-color);
    border: var(--ix-slider-thumb-border-width) var(--ix-slider-thumb-border-type) var(--ix-slider-thumb-border-color);
    border-radius: 50%;
    cursor: pointer;
    transition: border-color var(--ix-motion-duration-medium), box-shadow var(--ix-motion-duration-slow), transform var(--ix-motion-duration-medium) cubic-bezier(0.18, 0.89, 0.32, 1.28);

    &:hover {
      border-color: var(--ix-slider-thumb-border-color-hover);
    }

    &:focus {
      outline: none;
      border-color: var(--ix-slider-thumb-border-color-focus);
      box-shadow: var(--ix-slider-thumb-box-shadow-focus);
    }
  }

  &-mark {
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    font-size: 14px;

    &-label {
      position: absolute;
      display: inline-block;
      color: var(--ix-slider-mark-label-color);
      text-align: center;
      word-break: keep-all;
      cursor: pointer;
      user-select: none;

      &-active {
        color: var(--ix-slider-mark-label-color-active);
      }
    }
  }

  &-with-marks {
    margin-bottom: 44px;
  }

  &-vertical {
    width: 12px;
    height: 100%;
    margin: 6px 10px;
    padding: 0 4px;

    & .@{slider-prefix}-rail {
      width: var(--ix-slider-rail-size);
      height: 100%;
    }

    & .@{slider-prefix}-track {
      width: var(--ix-slider-rail-size);
    }

    & .@{slider-prefix}-step {
      width: var(--ix-slider-rail-size);
      height: 100%;
    }

    & .@{slider-prefix}-thumb {
      margin-left: calc(((var(--ix-slider-thumb-size) - var(--ix-slider-rail-size)) / 2) * -1);
    }

    & .@{slider-prefix}-dot {
      margin-top: 0;
      margin-left: var(--ix-slider-rail-size);
      height: 1px;
      width: 4px;

      &:last-child {
        margin-bottom: -1px;
      }
    }

    & .@{slider-prefix}-mark {
      top: 0;
      left: 12px;
      width: 18px;
      height: 100%;

      &-label {
        left: 4px;
        white-space: nowrap;
      }
    }
  }

  &-disabled {
    cursor: not-allowed;

    & .@{slider-prefix}-track {
      background-color: var(--ix-slider-track-bg-color-disabled);
    }

    & .@{slider-prefix}-thumb {
      border-color: var(--ix-slider-thumb-border-color-disabled);
      box-shadow: none;
      cursor: not-allowed;
    }

    & .@{slider-prefix}-dot {
      cursor: not-allowed;

      &-active {
        background-color: var(--ix-slider-dot-bg-color-disabled);
      }
    }

    & .@{slider-prefix}-mark {
      cursor: not-allowed;
    }
  }
}
