.all-contributors + table {
  display: block;
  width: max-content;
  max-width: 100%;
  line-height: @line-height-base;
  overflow: auto;

  td {
    text-align: center;
    a {
      text-decoration: none;
    }
  }
}
