@import './contributors.less';

/* stylelint-disable */
.component-develop {
  &-header {
    &-tools {
      float: right;

      .ix-icon {
        cursor: pointer;
        margin-left: 8px;
        font-size: @font-size-xl;
        color: @text-color-secondary;
        transition: all 0.3s;

        &:hover {
          color: @text-color;
        }
      }
    }
  }
  &-api {
    table {
      overflow-x: auto;
      overflow-y: hidden;
      line-height: 1.5715;

      th {
        font-weight: @font-weight-lg;
      }
      td {
        &:first-child {
          font-weight: @font-weight-lg;
        }
        & code {
          color: @color-magenta;
        }
      }

      @media (max-width: @screen-xs-max) {
        display: block;
      }
    }
  }
}

.component-tabs {
  display: block;

  & > .ix-tabs-nav-wrapper {
    .ix-tabs-nav-border {
      background-color: inherit;
    }

    .ix-tabs-nav-bar {
      height: 3px;
    }

    .ix-tabs-nav-tab-label {
      font-size: @font-size-lg;
    }
  }
}

.edit-button {
  display: inline-block;
  margin-left: @spacing-sm;
  text-decoration: none;

  .ix-icon {
    font-size: @font-size-xl;
    color: @text-color-secondary;

    &:hover {
      color: @color-primary;
    }
  }
}
