@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';
@import '../../style/motion/fade.less';
@import '../../style/motion/slide.less';

.@{dropdown-prefix} {
  .reset-component-new();

  min-width: var(--ix-dropdown-min-width);
  overflow: hidden;

  &,
  &-trigger {
    .reset-font-size();

    cursor: pointer;
  }

  &,
  .@{overlay-prefix}-arrow {
    .reset-color();
  }

  .@{menu-prefix}-dropdown {
    box-shadow: none;
    padding: var(--ix-dropdown-menu-container-padding);
  }
}
