@import '../../style/mixins/reset.less';
@import '../../style/motion/fade.less';

.@{dropdown-prefix} {
  .reset-component();

  z-index: @menu-overlay-zindex;
  min-width: @menu-overlay-min-width;
  background-color: @menu-bg-color;
  border-radius: @menu-overlay-border-radius;
  box-shadow: @menu-overlay-box-shadow;

  &-trigger {
    cursor: pointer;
  }

  .@{idux-prefix}-overlay-arrow {
    color: @dropdown-background-color;
  }
}
