@import '../../style/mixins/reset.less';

.@{space-prefix} {
  display: inline-flex;

  &-wrap {
    flex-wrap: wrap;
  }

  &-vertical {
    flex-direction: column;
  }
  
  &-block {
    width: 100%;
    >.@{space-prefix} {

      &-item {
        width: 100%;
      }
    }
  }

  &-align {

    &-center {
      align-items: center;
    }

    &-start {
      align-items: flex-start;
    }

    &-end {
      align-items: flex-end;
    }

    &-baseline {
      align-items: baseline;
    }
  }
}
