@import '../../style/mixins/reset.less';

.@{space-prefix} {
  display: inline-flex;

  &-wrap {
    flex-wrap: wrap;
  }

  &-vertical {
    flex-direction: column;
  }

  &-block {
    width: 100%;
  }

  &-block&-vertical > &-item {
    width: 100%;
  }

  &-align {
    &-start {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }

    &-end {
      align-items: flex-end;
    }

    &-baseline {
      align-items: baseline;
    }

    &-stretch {
      align-items: stretch;
    }
  }

  &-justify {
    &-start {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }

    &-end {
      justify-content: flex-end;
    }

    &-space-around {
      justify-content: space-around;
    }

    &-space-between {
      justify-content: space-between;
    }
  }
}
