@import '../../style/default.less';

/* stylelint-disable property-no-unknown */
@space-align: {
  start: flex-start;
  center: center;
  end: flex-end;
  baseline: baseline;
};

/* stylelint-enable property-no-unknown */

.space-align-traverse(@prefix) {
  each(@space-align, .(@value, @key) {
    @space-item: ~'@{prefix}-@{key}';

    .@{space-item} {
      align-items: @value;
    }
  });
}

/* stylelint-disable property-no-unknown */
@space-direction: {
  horizontal: row;
  vertical: column;
};

/* stylelint-enable property-no-unknown */

.space-direction-traverse(@prefix) {
  each(@space-direction, .(@value, @key) {
    @space-item: ~'@{prefix}-@{key}';

    .@{space-item} {
      flex-direction: @value;

      .space-size-traverse(@prefix, @key);
    }
  });
}

/* stylelint-disable property-no-unknown */
@space-size: {
  small: @space-margin-sm;
  medium: @space-margin-md;
  large: @space-margin-lg;
};

/* stylelint-enable property-no-unknown */

.space-size-traverse(@prefix, @direction) {
  each(@space-size, .(@value, @key) {
    @space-item: ~'@{prefix}-item-@{key}';
    @split-item:  ~'@{prefix}-split-@{key}';

    .@{space-item} when (@direction = horizontal) {
      margin-right:@value
    }

    .@{split-item} when (@direction = horizontal) {
      margin-right:@value
    }

    .@{space-item} when (@direction = vertical) {
      margin-bottom:@value
    }

    .@{split-item} when (@direction = vertical) {
      margin-bottom:@value
    }
  });
}
