@import '../../../style/themes/default.less';
@import '../index.less';

@collapse-line-height: @line-height-base;
@collapse-font-size: @font-size-md;
@collapse-color: @text-color;
@collapse-background-color: @color-grey-l50;
@collapse-border: @border-width-sm @border-style @border-color;
@collapse-border-radius: @border-radius-sm;

@collapse-panel-header-padding: 2px @spacing-lg;
@collapse-panel-header-prefix-font-size: @font-size-sm;
@collapse-panel-header-font-size: @font-size-md;
@collapse-panel-header-font-weight: @font-weight-md;

@collapse-panel-content-background-color: @background-color-component;
@collapse-panel-content-padding: @spacing-lg;
@collapse-panel-content-padding-top-compact: @spacing-xs;
