.@{menu-prefix} {
  &-collapsed {
    .@{menu-prefix}-item,
    .@{menu-prefix}-item-group-label,
    .@{menu-prefix}-sub-label {
      .@{icon-prefix} + span {
        display: none;
      }
    }

    .@{menu-prefix}-item-group-label {
      padding: 0 8px;
    }

    .@{menu-prefix}-sub-label-suffix {
      display: none;
    }
  }

  &-collapsed&-vertical,
  &-collapsed&-inline {
    width: @menu-collapsed-width;

    .@{menu-prefix}-item,
    .@{menu-prefix}-sub > .@{menu-prefix}-sub-label,
    .@{menu-prefix}-item-group .@{menu-prefix}-sub-label {
      padding: if(
        (@theme = seer),
        0 calc(50% - @menu-icon-font-size / 2),
        0 calc(50% - 4px - @menu-icon-font-size / 2)
      );
    }
  }
}
