.@{menu-prefix} {

  &&-dark {
    color: @menu-dark-color;
    background: @menu-dark-background;

    a {
      color: @menu-dark-color;
    }

    .@{menu-prefix}-item-group-label {
      color: @menu-dark-color;
    }

    .@{menu-prefix}-item:not(.@{menu-prefix}-item-disabled),
    .@{menu-prefix}-sub:not(.@{menu-prefix}-sub-disabled) > .@{menu-prefix}-sub-label {

      &:hover,
      &:active {
        background-color: @menu-dark-highlight-background-color;
      }

      &:hover a,
      &:active a {
        color: @menu-highlight-color;
      }
    }

    .@{menu-prefix}-item.@{menu-prefix}-item-selected,
    .@{menu-prefix}-sub-selected > .@{menu-prefix}-sub-label {

      a {
        color: @menu-highlight-color;
      }
    }

    .@{menu-prefix}-item-disabled,
    .@{menu-prefix}-sub-disabled > .@{menu-prefix}-sub-label {
      color: @menu-dark-disabled-color;

      a {
        color: @menu-dark-disabled-color;
      }
    }
  }

  &-dark&-inline,
  &-dark&-vertical {
    border-right: 0;

    .@{menu-prefix}-divider {
      width: ~'calc(100% - @{menu-item-divider-margin} * 2)';
      margin: 0 @menu-item-divider-margin;
    }
  }
}
