.@{menu-prefix} {
  &-dark {
    color: @menu-dark-color;
    background-color: @menu-dark-background-color;

    .@{menu-prefix}-item-group-label {
      color: @menu-dark-item-group-text-color;
    }

    .@{menu-prefix}-item:hover,
    .@{menu-prefix}-sub-label:hover {
      color: @menu-dark-color-hover;
    }

    .@{menu-prefix}-item:hover,
    .@{menu-prefix}-sub-label:hover,
    &:not(.@{menu-prefix}-inline) .@{menu-prefix}-sub-expanded > .@{menu-prefix}-sub-label {
      background-color: @menu-dark-background-color-hover;
    }

    .@{menu-prefix}-item.@{menu-prefix}-item-selected,
    &.@{menu-prefix}-vertical.@{menu-prefix}-collapsed .@{menu-prefix}-sub-selected > .@{menu-prefix}-sub-label {
      background-color: @menu-dark-background-color-active;
    }

    .@{menu-prefix}-item.@{menu-prefix}-item-selected,
    .@{menu-prefix}-sub-selected > .@{menu-prefix}-sub-label {
      color: @menu-dark-color-active;
      font-weight: var(--ix-font-weight-lg);
    }

    & .@{menu-prefix}-item.@{menu-prefix}-item-disabled,
    & .@{menu-prefix}-sub.@{menu-prefix}-sub-disabled > .@{menu-prefix}-sub-label {
      color: @menu-dark-color-disabled;
      background-color: @menu-dark-background-color-disabled;
    }
  }

  &-dark&-horizontal {
    .@{menu-prefix}-item:hover,
    .@{menu-prefix}-sub-label:hover,
    .@{menu-prefix}-item.@{menu-prefix}-item-selected,
    .@{menu-prefix}-sub-selected > .@{menu-prefix}-sub-label,
    .@{menu-prefix}-sub-expanded > .@{menu-prefix}-sub-label {
      background-color: @menu-dark-horizontal-background-color-active;
    }

    .@{menu-prefix}-item.@{menu-prefix}-item-disabled,
    .@{menu-prefix}-sub-disabled > .@{menu-prefix}-sub-label {
      background-color: @menu-dark-background-color;
      border-bottom-color: transparent;
    }
  }

  &-dark&-inline,
  &-dark&-vertical,
  &-dark&-horizontal {
    box-shadow: none;
  }
}
