@import '../../style/variable/index.less';
@import '../../style/motion/fade.less';
@import '../../style/mixins/clearfix.less';
@import '../../style/mixins/ellipsis.less';
@import '../../style/motion/slide.less';

@import './mode.less';
@import './collapsed.less';
@import './level.less';
@import './mixins.less';

.@{menu-prefix} {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--ix-menu-font-size);
  line-height: calc(var(--ix-menu-font-size) + var(--ix-line-height-gutter));
  z-index: 9;
  transition:
    background-color var(--ix-motion-duration-slow),
    width var(--ix-motion-duration-medium);

  .clearfix();

  a {
    color: inherit;
    text-decoration: none;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
      content: '';
    }
  }

  &-item,
  &-item-group-label,
  &-sub-label {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--ix-menu-height);
    padding-left: 16px;
    padding-right: calc(var(--ix-font-size-icon) + 12px);
    .ellipsis();

    .@{icon-prefix} {
      font-size: var(--ix-font-size-icon);
    }

    .@{icon-prefix} + span {
      margin-left: 8px;
    }
  }

  &-item,
  &-sub-label {
    cursor: pointer;
    transition:
      color var(--ix-motion-duration-fast) var(--ix-motion-ease-in-out),
      background-color var(--ix-motion-duration-fast) var(--ix-motion-ease-in-out),
      border-color var(--ix-motion-duration-fast) var(--ix-motion-ease-in-out);
  }

  &-item&-item-disabled,
  &-sub-disabled > &-sub-label {
    cursor: not-allowed;
  }

  &-overlay {
    min-width: var(--ix-menu-overlay-min-width);
    background-color: var(--ix-color-container-bg);

    .@{menu-prefix} {
      box-shadow: none;
    }

    &[data-popper-placement^='top'] {
      transform-origin: 100% 100%;
    }
  }
}

.menuThemeStyle({
  itemColor: var(--ix-menu-item-color);
  itemColorHover: var(--ix-menu-item-color-hover);
  itemColorActive: var(--ix-menu-item-color-active);
  itemColorDisabled: var(--ix-menu-item-color-disabled);
  itemGroupColor: var(--ix-menu-item-group-color);

  itemBg: var(--ix-menu-item-bg);
  itemBgHover: var(--ix-menu-item-bg-hover);
  itemBgActive: var(--ix-menu-item-bg-active);
  itemBgDisabled: var(--ix-menu-item-bg-disabled);
  itemGroupBg: var(--ix-menu-item-group-bg);

  horizontalItemColorHover: var(--ix-menu-horizontal-item-color-hover);
  horizontalItemColorActive: var(--ix-menu-horizontal-item-color-active);
  horizontalItemBgHover: var(--ix-menu-horizontal-item-bg-hover);
  horizontalItemBgActive: var(--ix-menu-horizontal-item-bg-active);
});

.darkMenuThemeStyle({
  darkItemColor: var(--ix-menu-dark-item-color);
  darkItemColorHover: var(--ix-menu-dark-item-color-hover);
  darkItemColorActive: var(--ix-menu-dark-item-color-active);
  darkItemColorDisabled: var(--ix-menu-dark-item-color-disabled);
  darkItemGroupColor: var(--ix-menu-dark-item-group-color);
  darkItemFontWeightActive: var(--ix-menu-dark-item-font-weight-active);

  darkItemBg: var(--ix-menu-dark-item-bg);
  darkItemBgHover: var(--ix-menu-dark-item-bg-hover);
  darkItemBgActive: var(--ix-menu-dark-item-bg-active);
  darkItemBgDisabled: var(--ix-menu-dark-item-bg-disabled);
  darkItemGroupBg: var(--ix-menu-dark-item-group-bg);

  darkHorizontalItemColorHover: var(--ix-menu-dark-horizontal-item-color-hover);
  darkHorizontalItemColorActive: var(--ix-menu-dark-horizontal-item-color-active);
  darkHorizontalItemBgHover: var(--ix-menu-dark-horizontal-item-bg-hover);
  darkHorizontalItemBgActive: var(--ix-menu-dark-horizontal-item-bg-active);
});