@import '../../style/default.less';
@import './menu.less';
@import './dark.less';
@import './collapsed.less';
@import './dropdown.less';

@menu-prefix: ~'@{idux-prefix}-menu';

.@{menu-prefix} {
  &-vertical,
  &-inline {
    padding: 0.02px 0;
    border-right: @menu-border-width @menu-border-style @menu-border-color;

    .@{menu-prefix}-item,
    .@{menu-prefix}-sub-title {
      margin: @menu-item-margin;
    }

    .@{menu-prefix}-item {
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border-right: @menu-item-border-right-width @menu-border-style @menu-highlight-color;
        content: '';
        transform: scaleY(0);
        opacity: 0;
        transition: transform @transition-duration-base @ease-out, opacity @transition-duration-base @ease-out;
      }
      &-selected {
        &::after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }

    .@{menu-prefix}-divider {
      width: 100%;
      border-top: @menu-border-width @menu-border-style @menu-border-color;
    }
  }

  &-vertical,
  &-horizontal {
    .@{menu-prefix}-sub-opened {
      color: @menu-highlight-color;
      .@{menu-prefix}-sub-title a {
        color: @menu-highlight-color;
      }
    }
  }

  &-horizontal {
    line-height: @menu-item-height;
    border-bottom: @menu-border-width @menu-border-style @menu-border-color;

    .@{menu-prefix}-item,
    .@{menu-prefix}-sub {
      display: inline-block;
      vertical-align: bottom;
      margin: 0 @menu-item-padding-left;
      border-bottom: @menu-item-border-bottom-width @menu-border-style transparent;
      transition: border @transition-duration-base @ease-out;

      &:hover,
      &-opened,
      &-selected {
        border-color: @menu-highlight-color;
      }

      &-disabled {
        border-color: transparent !important;
      }
    }

    .@{menu-prefix}-item,
    .@{menu-prefix}-sub-title {
      padding: @menu-item-horizontal-padding;
    }

    .@{menu-prefix}-sub-title-suffix-icon {
      display: none;
    }

    .@{menu-prefix}-divider {
      display: inline-block;
      vertical-align: bottom;
      height: @menu-item-height - @menu-item-divider-margin * 2;
      margin: @menu-item-divider-margin 0;
      border-right: @menu-border-width @menu-border-style @menu-border-color;
    }
  }

  &-inline {
    &.@{menu-prefix}-content {
      border-right: 0;
    }
  }
}
