@import '../../style/variable/index.less';
@import '../../style/motion/fade.less';
@import '../../style/mixins/clearfix.less';
@import '../../style/mixins/ellipsis.less';
@import '../../style/motion/slide.less';

@import './mode.less';
@import './collapsed.less';
@import './level.less';
@import './light.less';
@import './dark.less';

.@{menu-prefix} {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--ix-menu-font-size);
  line-height: calc(var(--ix-menu-font-size) + var(--ix-line-height-gutter));
  z-index: 9;
  transition:
    background-color var(--ix-motion-duration-slow),
    width var(--ix-motion-duration-medium);

  .clearfix();

  a {
    color: inherit;
    text-decoration: none;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
      content: '';
    }
  }

  &-item,
  &-item-group-label,
  &-sub-label {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--ix-menu-height);
    padding-left: 16px;
    padding-right: calc(var(--ix-font-size-icon) + 12px);
    .ellipsis();

    .@{icon-prefix} {
      font-size: var(--ix-font-size-icon);
    }

    .@{icon-prefix} + span {
      margin-left: 8px;
    }
  }

  &-item,
  &-sub-label {
    cursor: pointer;
    transition:
      color var(--ix-motion-duration-fast) var(--ix-motion-ease-in-out),
      background-color var(--ix-motion-duration-fast) var(--ix-motion-ease-in-out),
      border-color var(--ix-motion-duration-fast) var(--ix-motion-ease-in-out);
  }

  &-item&-item-disabled,
  &-sub-disabled > &-sub-label {
    cursor: not-allowed;
  }

  &-overlay {
    min-width: var(--ix-menu-overlay-min-width);
    background-color: var(--ix-color-container-bg);

    .@{menu-prefix} {
      box-shadow: none;
    }

    &[data-popper-placement^='top'] {
      transform-origin: 100% 100%;
    }
  }
}
