.@{menu-prefix} {
  &:not(&-dropdown) {
    .@{menu-prefix}-level-1.@{menu-prefix}-item,
    .@{menu-prefix}-level-1.@{menu-prefix}-item-group > .@{menu-prefix}-item-group-label,
    .@{menu-prefix}-level-1.@{menu-prefix}-sub > .@{menu-prefix}-sub-label {
      height: var(--ix-menu-height-level-1);
      font-size: var(--ix-menu-font-size-level-1);
      line-height: calc(var(--ix-menu-font-size-level-1) + var(--ix-line-height-gutter));
    }
  }
}
