.@{menu-prefix} {
  color: @menu-color;
  background-color: @menu-background-color;

  &-item-group-label {
    color: @menu-item-group-text-color;
  }

  &-item:hover,
  &-sub-label:hover {
    color: @menu-color-hover;
  }

  &-item:hover,
  &-sub-label:hover,
  &:not(&-inline) &-sub-expanded > &-sub-label {
    background-color: @menu-background-color-hover;
  }

  &-item&-item-selected,
  &-vertical&-collapsed &-sub-selected > &-sub-label {
    background-color: @menu-background-color-active;
  }

  &-item&-item-selected,
  &-sub-selected > &-sub-label {
    color: @menu-color-active;
  }

  & &-item&-item-disabled,
  & &-sub&-sub-disabled > &-sub-label {
    color: @menu-color-disabled;
    background-color: @menu-background-color-disabled;
  }

  &-horizontal {
    .@{menu-prefix}-item:hover,
    .@{menu-prefix}-sub-label:hover,
    .@{menu-prefix}-item.@{menu-prefix}-item-selected,
    .@{menu-prefix}-sub-selected > .@{menu-prefix}-sub-label,
    .@{menu-prefix}-sub-expanded > .@{menu-prefix}-sub-label {
      background-color: @menu-horizontal-background-color-active;
      border-bottom-color: @menu-color-active;
    }

    .@{menu-prefix}-item.@{menu-prefix}-item-disabled,
    .@{menu-prefix}-sub-disabled > .@{menu-prefix}-sub-label {
      background-color: @menu-background-color;
      border-bottom-color: transparent;
    }
  }
}
