.@{menu-prefix} {
  &-vertical,
  &-inline {
    width: 100%;
    // https://github.com/IDuxFE/idux/issues/1013
    padding: 0.02px 0;
    box-shadow: 1px 0 0 var(--ix-color-border-secondary);

    // nest menu
    .@{menu-prefix}-vertical,
    .@{menu-prefix}-inline {
      box-shadow: none;
    }

    .@{menu-prefix}-item,
    .@{menu-prefix}-sub-label {
      margin: 0;
      border-radius: var(--ix-menu-border-radius);
    }

    .@{menu-prefix}-item-suffix,
    .@{menu-prefix}-sub-label-suffix {
      position: absolute;
      right: 8px;
    }

    .@{menu-prefix}-divider {
      width: 100%;
      border-top: 1px solid var(--ix-color-border-secondary);
    }
  }

  &-horizontal {
    display: flex;
    align-items: center;
    box-shadow: 0 1px 0 var(--ix-color-border-secondary);

    .@{menu-prefix}-item-suffix,
    .@{menu-prefix}-sub-label-suffix {
      position: unset;
      margin-left: 4px;
    }

    .@{menu-prefix}-item,
    .@{menu-prefix}-sub-label {
      margin: 0;
      padding: 0 20px;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
    }

    .@{menu-prefix}-divider {
      display: inline-block;
      vertical-align: bottom;
      height: calc(var(--ix-menu-height) - 8px);
      border-right: 1px solid var(--ix-color-border-secondary);
    }
  }

  &-sub {
    .@{menu-prefix}-inline {
      border-right: 0;
    }
  }
}
