/* ------ button css variables ------ */
:root {
  --ix-button-font-size-xs: 12px;
  --ix-button-font-size-sm: 12px;
  --ix-button-font-size-md: 14px;
  --ix-button-font-size-lg: 16px;
  --ix-button-font-size-xl: 16px;
  --ix-button-min-width-xs: 56px;
  --ix-button-min-width-sm: 64px;
  --ix-button-min-width-md: 72px;
  --ix-button-min-width-lg: 120px;
  --ix-button-min-width-xl: 160px;
  --ix-button-height-xs: 24px;
  --ix-button-height-sm: 32px;
  --ix-button-height-md: 32px;
  --ix-button-height-lg: 40px;
  --ix-button-height-xl: 48px;
  --ix-button-padding-size-horizontal-xs: 8px;
  --ix-button-padding-size-horizontal-sm: 12px;
  --ix-button-padding-size-horizontal-md: 16px;
  --ix-button-padding-size-horizontal-lg: 24px;
  --ix-button-padding-size-horizontal-xl: 32px;
  --ix-button-color: #2f3540;
  --ix-button-color-disabled: #bec3cc;
  --ix-button-bg-color: #ffffff;
  --ix-button-bg-color-disabled: #e1e5eb;
  --ix-button-border-color: #d3d7de;
  --ix-button-border-radius: 2px;
  --ix-button-primary-color: #ffffff;
  --ix-button-primary-bg-color: #1c6eff;
  --ix-button-primary-bg-color-hover: #458fff;
  --ix-button-primary-bg-color-active: #0d51d9;
  --ix-button-danger-color: #cf171d;
  --ix-button-danger-color-hover: #f52727;
  --ix-button-danger-color-active: #cf171d;
  --ix-button-danger-bg-color: #ff5752;
  --ix-button-danger-bg-color-hover: #ff837a;
  --ix-button-danger-bg-color-active: #cf171d;
  --ix-button-ghost-color: #ffffff;
  --ix-button-ghost-color-hover: #ffffff;
  --ix-button-ghost-color-active: #595959;
  --ix-button-ghost-border-color-hover: #ffffff;
  --ix-button-ghost-border-color-active: #ffffff;
  --ix-button-ghost-border-color: #ffffff;
  --ix-button-ghost-bg-color-hover: rgba(255, 255, 255, 0.2);
  --ix-button-ghost-bg-color-active: #ffffff;
  --ix-button-ghost-bg-color-disabled: rgba(255, 255, 255, 0.4);
  --ix-button-icon-color: inherit;
  --ix-button-icon-font-size: 16px;
}
