@import '../../../style/themes/default.less';

@popover-zindex: @zindex-l4-2;
@popover-font-size: @font-size-md;

@popover-color: @text-color;
@popover-background-color: @background-color-component;
@popover-border-radius: @border-radius-sm;
@popover-box-shadow: @shadow-bottom-md;
@popover-title-font-weight: @font-weight-lg;
@popover-title-min-width: 192px;
@popover-title-min-height: @height-md;
@popover-title-padding: @spacing-xs + @border-width-sm @spacing-lg @spacing-xs;
@popover-title-border-bottom: @border-width-sm @border-style @border-color;
@popover-content-padding: @spacing-md @spacing-lg;
