@popover-font-size: var(--ix-font-size-md);
@popover-color: var(--ix-text-color);
@popover-background-color: var(--ix-background-color);
@popover-border-radius: var(--ix-border-radius-md);
@popover-box-shadow: @shadow-bottom-md;

@popover-min-width: 240px;
