@popover-zindex: @zindex-l4-2;
@popover-font-size: @font-size-md;
@popover-color: @text-color;
@popover-background-color: @background-color-component;
@popover-border-radius: @border-radius-sm;
@popover-box-shadow: @shadow-bottom-md;

@popover-wrapper-min-width: 192px;
@popover-wrapper-padding: @spacing-sm @spacing-lg;

@popover-title-font-weight: @font-weight-lg;
@popover-title-min-height: @height-md;
@popover-title-padding: @spacing-xs 0;

@popover-content-padding: @spacing-xs 0;
