@import './default.variable.less';

@popover-font-size: @font-size-sm;

@popover-color: @color-graphite-d10;
@popover-border-color: @color-graphite-l30;

@popover-box-shadow: @shadow-bottom-sm;

@popover-wrapper-min-width: 240px;

@popover-content-padding: 0;
