@import './default.variable.less';

@checkbox-font-size: @font-size-sm;

@checkbox-font-size-md: @form-font-size-sm;

@checkbox-label-padding: 0 @spacing-xs;

@checkbox-focus-color: @form-active-color;
@checkbox-hover-color: @form-active-color;
