@import '../../style/mixins/reset.less';

.@{text-prefix} {
  .reset-component-new();
  .reset-font-size();

  position: relative;
  display: inline-block;
  vertical-align: bottom;

  > .@{text-prefix}-expand-icon {
    flex-shrink: 0;
    align-self: flex-end;
  }

  overflow: hidden;

  &-expandable:not(&-has-expand-icon) &-inner {
    cursor: pointer;
  }
  &-inner {
    max-width: 100%;
  }

  &-copy-icon {
    margin-left: 2px;
    line-height: 1;
    font-size: @text-copy-icon-font-size;
    color: @text-copy-icon-color;
    cursor: pointer;
  }
  &-expand-icon {
    color: @text-expand-icon-color;
    cursor: pointer;
  }
}
