@import '../../style/mixins/reset.less';
@import '../../style//mixins/ellipsis.less';

.@{text-prefix} {
  .reset-component-new();
  .reset-font-size();

  position: relative;
  display: inline-block;
  vertical-align: bottom;
  max-width: 100%;

  > .@{text-prefix}-expand-icon {
    flex-shrink: 0;
    align-self: flex-end;
  }

  overflow: hidden;

  &.@{text-prefix}-simple {
    display: inline-flex;
    align-items: center;
    .@{text-prefix}-inner {
      display: inline-block;
      flex: auto;
      .ellipsis();
    }
  }

  &-expandable:not(&-has-expand-icon) &-inner {
    cursor: pointer;
  }
  &-inner {
    max-width: 100%;
  }

  &-copy-icon {
    margin-left: 2px;
    line-height: 1;
    font-size: @text-copy-icon-font-size;
    color: @text-copy-icon-color;
    cursor: pointer;
  }
  &-expand-icon {
    color: @text-expand-icon-color;
    cursor: pointer;
  }
}
