@layout-pro-ctrl-prefix: ~'@{idux-prefix}-layout-pro-ctrl';

.@{layout-pro-ctrl-prefix} {
  display: inline-block;
  width: @layoutPro-ctrl-width;
  height: @layoutPro-ctrl-height;
  line-height: @layoutPro-ctrl-height;
  text-align: center;
  cursor: pointer;
  font-size: @font-size-lg;
}
