.@{pro-layout-prefix} {
  @tokens: {
    darkItemColor: var(--ix-pro-layout-dark-menu-item-color);
    darkItemColorHover: var(--ix-pro-layout-dark-menu-item-color-hover);
    darkItemColorActive: var(--ix-pro-layout-dark-menu-item-color-active);
    darkItemColorDisabled: var(--ix-pro-layout-dark-menu-item-color-disabled);
    darkItemGroupColor: var(--ix-pro-layout-dark-menu-item-group-color);
    darkItemFontWeightActive: var(--ix-pro-layout-dark-menu-item-font-weight-active);

    darkItemBg: var(--ix-pro-layout-dark-menu-item-bg);
    darkItemBgHover: var(--ix-pro-layout-dark-menu-item-bg-hover);
    darkItemBgActive: var(--ix-pro-layout-dark-menu-item-bg-active);
    darkItemBgDisabled: var(--ix-pro-layout-dark-menu-item-bg-disabled);
    darkItemGroupBg: var(--ix-pro-layout-dark-menu-item-group-bg);

    darkHorizontalItemColorHover: var(--ix-pro-layout-dark-menu-horizontal-item-color-hover);
    darkHorizontalItemColorActive: var(--ix-pro-layout-dark-menu-horizontal-item-color-active);
    darkHorizontalItemBgHover: var(--ix-pro-layout-dark-menu-horizontal-item-bg-hover);
    darkHorizontalItemBgActive: var(--ix-pro-layout-dark-menu-horizontal-item-bg-active);
  };

  .darkMenuThemeStyle(@tokens);
  &-sider-menu-overlay {
    .darkMenuThemeStyle(@tokens);
  }
  &-header-menu-overlay {
    .darkMenuThemeStyle(@tokens);
  }

  &-header-dark,
  &-sider-dark {
    .@{pro-layout-prefix}-logo > a > h1 {
      color: var(--ix-pro-layout-dark-menu-item-color);
    }
  }

  &-sider-dark .@{menu-prefix}-inline {
    .@{menu-prefix}-sub-expanded {
      background: var(--ix-pro-layout-dark-menu-sub-expanded-bg);

      &.@{menu-prefix}-sub-selected {
        background: var(--ix-pro-layout-dark-menu-sub-expanded-bg-active);
      }
    }
  }

  &-header-dark {
    color: var(--ix-pro-layout-dark-menu-item-color);
    background-color: var(--ix-pro-layout-dark-menu-item-bg);
    box-shadow: none;
  }

  &-sider-dark {
    color: var(--ix-pro-layout-dark-menu-item-color);
    background-color: var(--ix-pro-layout-dark-menu-item-bg);
    box-shadow: none;

    .@{layout-prefix}-sider-trigger {
      > .@{button-prefix} {
        color: var(--ix-pro-layout-dark-menu-item-color);
        background-color: var(--ix-pro-layout-dark-sider-trigger-bg);

        &:hover {
          color: var(--ix-pro-layout-dark-menu-item-color-hover);
          background-color: var(--ix-pro-layout-dark-sider-trigger-bg-hover);
        }
      }
    }
  }
}
