.@{pro-layout-prefix} {
  &-header-dark,
  &-sider-dark {
    .@{pro-layout-prefix}-logo > a > h1 {
      color: @menu-dark-color;
    }
  }

  &-header-dark {
    color: @menu-dark-color;
    background-color: @menu-dark-background-color;
    box-shadow: none;
  }

  &-sider-dark {
    color: @menu-dark-color;
    background-color: @menu-dark-background-color;
    box-shadow: none;

    .@{layout-prefix}-sider-trigger {
      > .@{button-prefix} {
        color: @menu-dark-trigger-color;
        background-color: @menu-dark-trigger-background-color;

        &:hover {
          color: @menu-dark-color-hover;
          background-color: @menu-dark-background-color-hover;
        }
      }
    }
  }
}
