.@{pro-layout-prefix}-header {
  display: flex;
  align-items: center;
  height: if((@theme = seer), @menu-height-level-1, calc(@menu-height-level-1 + 8px));
  line-height: if((@theme = seer), @menu-height-level-1, calc(@menu-height-level-1 + 8px));
  padding: 0 16px;
  z-index: 99;

  > * {
    height: 100%;
  }

  &-content {
    flex: 1 1 0%;
  }

  &-extra {
    display: flex;
    align-items: center;
    float: right;
    margin-left: auto;
    width: auto;
    overflow: hidden;

    .@{button-prefix}-text {
      height: if((@theme = seer), @menu-height-level-1, calc(@menu-height-level-1 + 8px));
      padding: 0 12px;
    }
  }
}
