.@{pro-layout-prefix}-header {
  display: flex;
  align-items: center;
  height: @menu-height-level-1;
  line-height: @menu-height-level-1;
  padding: 0 16px;
  z-index: 99;

  > * {
    height: 100%;
  }

  &-content {
    flex: 1 1 0%;
  }

  &-extra {
    display: flex;
    align-items: center;
    float: right;
    margin-left: auto;
    width: auto;
    overflow: hidden;

    .@{button-prefix}-text {
      height: @menu-height-level-1;
      padding: 12px;
    }
  }
}
