@import '../../style/variable/index.less';
@import '../../../components/style/variable/index.less';
@import '../../../components/menu/style/mixins.less';
@import './header.less';
@import './sider.less';
@import './light.less';
@import './dark.less';

.@{pro-layout-prefix} {
  &-content {
    padding: 16px;
  }

  &-footer {
    padding: 16px 32px;
  }

  &-logo {
    position: relative;
    overflow: hidden;
    height: var(--ix-menu-height-level-1);
    line-height: var(--ix-menu-height-level-1);
    transition: padding var(--ix-motion-duration-fast) var(--ix-motion-ease-in-out);

    > a {
      display: flex;
      align-items: center;
      text-decoration: none;
      height: 100%;
      margin-right: 16px;

      > img {
        display: inline-block;
        height: var(--ix-pro-layout-logo-img-height);
      }

      > h1 {
        display: inline-block;
        margin: 0 0 0 12px;
        font-size: var(--ix-pro-layout-logo-font-size);
        font-weight: var(--ix-pro-layout-logo-font-weight);
        animation: ix-layout-sider-text-hidden var(--ix-motion-duration-medium);
      }
    }
  }

  &-is-mixin &-header,
  &-is-both &-header {
    .@{pro-layout-prefix}-logo {
      min-width: calc(var(--ix-layout-sider-width) - 16px);
    }
  }

  &.@{layout-prefix}-fixed-sider {
    .@{pro-layout-prefix}-sider {
      overflow-y: hidden;
    }

    .@{pro-layout-prefix}-sider-content {
      overflow-y: auto;
    }
  }
}
