@import './mixin.less';
@import './header.less';
@import './sider.less';

.@{pro-layout-prefix} {
  height: @pro-layout-height;
  overflow: auto;

  &-fixed {
    overflow: hidden;
    grid-template-rows: auto 100%;

    .@{pro-layout-prefix}-content {
      overflow: auto;
    }
  }
}
