.@{pro-layout-prefix} {
  .menuThemeStyle({
    itemColor: var(--ix-pro-layout-menu-item-color);
    itemColorHover: var(--ix-pro-layout-menu-item-color-hover);
    itemColorActive: var(--ix-pro-layout-menu-item-color-active);
    itemColorDisabled: var(--ix-pro-layout-menu-item-color-disabled);
    itemGroupColor: var(--ix-pro-layout-menu-item-group-color);
  
    itemBg: var(--ix-pro-layout-menu-item-bg);
    itemBgHover: var(--ix-pro-layout-menu-item-bg-hover);
    itemBgActive: var(--ix-pro-layout-menu-item-bg-active);
    itemBgDisabled: var(--ix-pro-layout-menu-item-bg-disabled);
    itemGroupBg: var(--ix-pro-layout-menu-item-group-bg);
  
    horizontalItemColorHover: var(--ix-pro-layout-menu-horizontal-item-color-hover);
    horizontalItemColorActive: var(--ix-pro-layout-menu-horizontal-item-color-active);
    horizontalItemBgHover: var(--ix-pro-layout-menu-horizontal-item-bg-hover);
    horizontalItemBgActive: var(--ix-pro-layout-menu-horizontal-item-bg-active);
  });

  background-color: var(--ix-pro-layout-content-bg-color);
  transition: background-color var(--ix-motion-duration-slow);

  .@{menu-prefix} {
    box-shadow: none;
  }

  &-logo > a > h1 {
    color: var(--ix-color-text-title);
  }

  .@{menu-prefix}-inline {
    .@{menu-prefix}-sub-expanded {
      background: var(--ix-pro-layout-menu-sub-expanded-bg);

      &.@{menu-prefix}-sub-selected {
        background: var(--ix-pro-layout-menu-sub-expanded-bg-active);
      }
    }
  }

  &-header {
    background-color: var(--ix-menu-item-bg);
    box-shadow: var(--ix-pro-layout-header-box-shadow);
    transition: background-color var(--ix-motion-duration-slow);

    .@{menu-prefix}-horizontal {
      .@{menu-prefix}-item:hover,
      .@{menu-prefix}-sub-label:hover,
      .@{menu-prefix}-item.@{menu-prefix}-item-selected,
      .@{menu-prefix}-sub-selected > .@{menu-prefix}-sub-label,
      .@{menu-prefix}-sub-expanded > .@{menu-prefix}-sub-label {
        border-top-color: var(--ix-pro-layout-menu-item-color-active);
        border-bottom-color: transparent;
      }

      .@{menu-prefix}-item.@{menu-prefix}-item-disabled,
      .@{menu-prefix}-sub-disabled > .@{menu-prefix}-sub-label {
        border-top-color: transparent;
      }
    }
  }

  &-sider {
    background-color: var(--ix-menu-item-bg);
    box-shadow: var(--ix-pro-layout-sider-box-shadow);
    transition:
      background-color var(--ix-motion-duration-slow),
      width var(--ix-motion-duration-medium);

    .@{layout-prefix}-sider-trigger {
      > .@{button-prefix} {
        background-color: var(--ix-pro-layout-sider-trigger-bg);

        &:hover {
          background-color: var(--ix-pro-layout-sider-trigger-bg-hover);
        }
      }
    }
  }
}
