.sider-themes(@theme) {

  @menu-theme: ~'@{menu-prefix}-@{theme}';

  color: ~'@{pro-layout-sider-@{theme}-color}';
  border-right: ~'@{pro-layout-sider-@{theme}-border-right}';
  background-color: ~'@{pro-layout-sider-@{theme}-background-color}';

  .@{menu-theme} {
    background-color: ~'@{pro-layout-sider-@{theme}-background-color}';

    &.@{menu-prefix} {
      &-collapsed {
          .@{menu-prefix}-sub-selected:not(.@{menu-prefix}-sub-disabled) > .@{menu-prefix}-sub-label { 
            background-color: ~'@{pro-layout-sider-@{theme}-collapsed-active-background-color}';
            color:~'@{pro-layout-sider-@{theme}-collapsed-active-color}';
        }
      }

      .@{menu-prefix} {
        &-sub,
        &-sub-label,
        &-item {
          color: ~'@{pro-layout-sider-@{theme}-color}';

          a {
            color: ~'@{pro-layout-sider-@{theme}-color}';
          }
        }

        &-item:not(&-item-disabled):not(&-item-selected):hover {
          background-color: ~'@{pro-layout-sider-@{theme}-hover-background-color}';
        }

        &-item-selected {
          color:~'@{pro-layout-sider-@{theme}-active-color}';
          background-color:~'@{pro-layout-sider-@{theme}-active-background-color}'!important;
          &::after {
            opacity: 0;
          }

          a {
            color: ~'@{pro-layout-sider-@{theme}-active-color}';
          }
        }

        &-sub {
          &-selected {
            .@{menu-prefix}-sub-label {
              color:~'@{pro-layout-sider-@{theme}-active-color-secondary}';
              background-color: ~'@{pro-layout-sider-@{theme}-background-color}';
            }
            .@{menu-prefix}-sub-label-suffix {
              color:~'@{pro-layout-sider-@{theme}-active-icon-color}';
            }
          }

          &:not(.@{menu-prefix}-sub-disabled) > .@{menu-prefix}-sub-label:hover {
            background-color: ~'@{pro-layout-sider-@{theme}-hover-background-color}';
          }

          &-label-suffix {
            color:~'@{pro-layout-sider-@{theme}-icon-color}';
          }
        }

        &-divider {
          border-color: ~'@{pro-layout-sider-@{theme}-divider-color}';
        }
      }
    }
  }
}

.header-themes(@theme) {
  @menu-theme: ~'@{menu-prefix}-@{theme}';
  
  color: ~'@{pro-layout-header-@{theme}-color}';
  background-color: ~'@{pro-layout-header-@{theme}-background-color}';
  box-shadow: ~'@{pro-layout-header-@{theme}-box-shadow}';

  .@{menu-theme} {
    background-color: ~'@{pro-layout-header-@{theme}-background-color}';
    box-shadow: ~'@{pro-layout-header-@{theme}-box-shadow}';
    &.@{menu-prefix} {
      .@{menu-prefix} {
        &-sub,
        &-sub-label,
        &-item {
          color: ~'@{pro-layout-header-@{theme}-color}';
          border-bottom: none;

          a {
            color: ~'@{pro-layout-header-@{theme}-color}';
          }

          &:hover:not(.@{menu-prefix}-item-selected):not(.@{menu-prefix}-item-disabled) {
            color: ~'@{pro-layout-header-@{theme}-hover-color}';
            box-shadow: ~'@{pro-layout-header-@{theme}-active-box-shadow}';
            background-color: ~'@{pro-layout-header-@{theme}-hover-background-color}';
            background-image: ~'@{pro-layout-header-@{theme}-hover-background-image}';
            border-bottom: none;

            a {
              color: ~'@{pro-layout-header-@{theme}-hover-color}';
            }
          }

          &.@{menu-prefix}-item-selected:not(.@{menu-prefix}-item-disabled) {
            color: ~'@{pro-layout-header-@{theme}-active-color}';
            box-shadow: ~'@{pro-layout-header-@{theme}-active-box-shadow}';
            background-color: ~'@{pro-layout-header-@{theme}-active-background-color}';

            
            a {
              color: ~'@{pro-layout-header-@{theme}-active-color}';
            }
          }
        }

        &-sub-selected:not(.@{menu-prefix}-item-disabled) {
          .@{menu-prefix}-sub-label {
            color: ~'@{pro-layout-header-@{theme}-active-color}';
            background-color:~'@{pro-layout-header-@{theme}-active-background-color}';
            box-shadow: ~'@{pro-layout-header-@{theme}-active-box-shadow}';
            &:hover {
              color: ~'@{pro-layout-header-@{theme}-active-color}';
              background-color:~'@{pro-layout-header-@{theme}-active-background-color}';
              box-shadow: ~'@{pro-layout-header-@{theme}-active-box-shadow}';
              background-image: none;
            }
          }
        }

        &-sub-expanded {
            box-shadow: ~'@{pro-layout-header-@{theme}-active-box-shadow}';
            background-color: ~'@{pro-layout-header-@{theme}-hover-background-color}';
            background-image: ~'@{pro-layout-header-@{theme}-hover-background-image}';
        }
      }
    }
  }
}

.header-overlay-themes(@theme) {

  .@{menu-prefix} {
    &-item:not(&-disabled):hover {
      color: ~'@{pro-layout-header-@{theme}-hover-color}';
    }
  }
}
