.@{pro-layout-prefix}-sider {
  display: flex;
  flex-direction: column;
  z-index: 90;

  &-header {
    display: flex;
    align-items: center;
  }

  &-content {
    flex: 1 1 0%;
    overflow: hidden;
  }

  &-footer {
    display: flex;
    align-items: center;
    background-color: inherit;

    .@{button-prefix}-text {
      padding: 8px;
    }
  }

  &-trigger {
    z-index: 1;
    cursor: pointer;
    text-align: center;
    font-size: var(--ix-font-size-lg);
    color: var(--ix-text-color);
    background: inherit;
    transition: color var(--ix-transition-duration-medium);
  }

  .@{pro-layout-prefix}-logo {
    padding-left: 16px;

    > a {
      margin-right: 0;
    }
  }

  .@{pro-layout-prefix}-sider-header,
  .@{pro-layout-prefix}-sider-footer {
    min-height: if((@theme = seer), @menu-height-level-1, calc(@menu-height-level-1 + 8px));
    padding: 0 8px 0 16px;
  }

  &.@{layout-prefix}-sider-collapsed {
    .@{pro-layout-prefix}-logo {
      padding-left: 0;
      display: flex;
      justify-content: center;

      > a > h1 {
        display: none;
      }
    }

    .@{pro-layout-prefix}-sider-header,
    .@{pro-layout-prefix}-sider-footer {
      padding: 0;
    }

    .@{pro-layout-prefix}-sider-footer {
      .@{button-prefix}-text {
        > .@{icon-prefix} + span {
          display: none;
        }
      }
    }
  }
}
