.@{pro-layout-prefix}-sider {
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 100%;
  width: @pro-layout-sider-width;
  border-right: 1px solid transparent;

  &-fixed {
    position: sticky;
  }

  &-collapsed {
    width: @pro-layout-sider-collapsed-width;
  }

  &-header {
    height: @pro-layout-sider-header-height;
    line-height: @pro-layout-sider-header-height;
  }

  &-content {
    flex: 1 1 0%;
    height: 100%;
    overflow: hidden;

    &:hover {
      overflow-y: auto;
    }
  }

  &-footer {
    min-height: @pro-layout-sider-footer-height;
    line-height: @pro-layout-sider-footer-height;
  }

  &-trigger {
    z-index: 1;
    cursor: pointer;
    text-align: center;
    font-size: @pro-layout-sider-trigger-font-size;
    background: @pro-layout-sider-trigger-background;
    color: @pro-layout-sider-trigger-color;
    transition: color @transition-duration-base;

    &:hover {
      color: @pro-layout-sider-trigger-active-color;
    }
  }

  .@{menu-prefix} {
    &-sub {
      .@{menu-prefix}-inline {
        font-size: @pro-layout-sider-menu-sub-inline-font-size;
        .@{menu-prefix}-sub-label,
        .@{menu-prefix}-item {
          height: 36px;
          line-height: 36px;
        }
      }
    }
    &-inline {
      .@{menu-prefix}-item,
      .@{menu-prefix}-sub-label {
        margin: 0;
        span {
          margin-left: @pro-layout-sider-menu-span-margin-left;
        }
      }
      .@{menu-prefix}-item-group-label {
        font-size: @pro-layout-sider-menu-group-label-font-size;
        height: 36px;
        line-height: 46px;
      }
    }
  }

  // themes

  &-light {
    .sider-themes('light');
  };

  &-dark {
    .sider-themes('dark');
  }
}
