@import '../../style/mixins/reset.less';
@import './mixin.less';
@import './size.less';
@import './vertical.less';
@import './percent.less';
@import './labelPlacement.less';

.@{stepper-prefix} {
  .reset-component();

  display: flex;
  width: 100%;
  background: @stepper-background;
  text-align: start;

  &-dot {
    .@{stepper-item-prefix}-title {
      &::after {
        border-top: @stepper-dot-border;
      }
    }
  }
}

.@{stepper-item-prefix} {
  position: relative;
  display: inline-block;
  flex: 1;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
  outline: none;

  &:first-child {
    padding-left: 0;
  }

  &:last-child &-title {
    padding-right: 0;
  }

  &:last-child {
    flex: none;
  }

  &:last-child &-tail,
  &:last-child &-content &-title::after {
    display: none;
  }

  &-tail {
    position: absolute;
    display: none;
    top: 0;
    width: 1px;
    height: 100%;

    &::after {
      display: inline-block;
      height: 100%;
      border-radius: 1px;
      border-top: @stepper-line-border;
      border-right: @stepper-line-border;
      transition: border-color @transition-duration-base;
      content: '';
    }
  }

  &-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: @border-width-md @border-style @stepper-item-wait-icon-color;
    transition: background-color @transition-duration-base, border-color @transition-duration-base;
  }

  &-content {
    display: inline-block;
    vertical-align: top;
  }

  &-title {
    position: relative;
    display: inline-block;
    font-weight: @stepper-item-font-weight;

    &::after {
      display: block;
      position: absolute;
      left: 100%;
      width: 9999px;
      border-top: @stepper-line-border;
      content: '';
    }
  }

  &-description {
    white-space: normal;
  }

  .stepper-item-status(process);
  .stepper-item-status(finish);
  .stepper-item-status(wait);
  .stepper-item-status(error);

  &-process &-icon {
    background: @stepper-item-process-icon-color;

    > * {
      color: @color-white;
    }
  }

  &-disabled {
    cursor: not-allowed;
  }
}
