@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';
@import './mixin.less';
@import './size.less';
@import './vertical.less';
@import './percent.less';
@import './labelPlacement.less';

.@{stepper-prefix} {
  .reset-component();

  display: flex;
  width: 100%;
  background: var(--ix-color-container-bg);
  text-align: start;
}

.@{stepper-item-prefix} {
  position: relative;
  display: inline-block;
  flex: 1;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
  outline: none;

  @stepper-line-border: var(--ix-line-width) var(--ix-stepper-line-type) transparent;

  &:first-child {
    padding-left: 0;
  }

  &:last-child &-title {
    padding-right: 0;
  }

  &:last-child {
    flex: none;
  }

  &:last-child &-tail,
  &:last-child &-content &-title::after {
    display: none;
  }

  &-tail {
    position: absolute;
    display: none;
    top: 0;
    width: 1px;
    height: 100%;

    &::after {
      display: inline-block;
      height: 100%;
      border-top: @stepper-line-border;
      border-right: @stepper-line-border;
      transition: border-color var(--ix-motion-duration-medium);
      content: '';
    }
  }

  &-label-bottom {
    .@{stepper-item-prefix}-content {
      margin-top: -10px;
    }
  }

  &-dot {
    .@{stepper-item-prefix}-icon {
      transform: scale(0.35) ;
    }
  }

  &-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    transition: background-color var(--ix-motion-duration-medium), border-color var(--ix-motion-duration-medium);
  }

  &-content {
    display: inline-block;
    vertical-align: top;
  }

  &-title {
    position: relative;
    display: inline-block;
    font-weight: var(--ix-font-weight-md);

    &::after {
      display: block;
      position: absolute;
      left: 100%;
      width: 9999px;
      border-top: @stepper-line-border;
      content: '';
    }
  }

  &-description {
    white-space: normal;
  }

  .stepper-item-status(process);
  .stepper-item-status(finish);
  .stepper-item-status(wait);
  .stepper-item-status(error);

  &-process &-icon {
    background: var(--ix-color-primary-icon);

    > * {
      color: var(--ix-color-text-inverse);
    }
  }

  &-disabled {
    cursor: not-allowed;
  }
}
