@import '../../style/mixins/reset.less';

.@{stepper-prefix} {
  .reset-component();

  display: flex;
  padding: @spacing-gutter;
}

.@{stepper-item-prefix} {
  .reset-component();

  display: inline-block;
  flex: 1;
  font-size: @font-size-md;

  &:last-child {
    flex: none;
  }

  &:not(:first-child) {
    padding-left: @spacing-md;
  }

  &:not(:last-child) {
    .@{stepper-item-prefix}-title:after {
      position: absolute;
      display: block;
      left: 100%;
      width: @stepper-item-tail-width;
      height: @stepper-item-tail-height;
      background: @color-grey;
      content: '';
    }
  }

  &-head {
    position: relative;
    display: inline-block;
    width: @height-md;
    height: @height-md;
    border-radius: 50%;
    border: 1px solid @color-grey;
    text-align: center;
    color: @color-grey;

    &-icon,
    &-text {
      line-height: @height-md;
    }
  }

  &-content {
    display: inline-block;
    margin-left: @spacing-gutter;
    width: calc(100% - @height-md - @spacing-gutter);
    overflow: hidden;
    color: @color-grey;
    .@{stepper-item-prefix}-title {
      display: inline-block;
      position: relative;
      line-height: @height-md;
      padding-right: @spacing-md;

      &::after {
        top: (@height-md / 2);
      }
      .@{stepper-item-prefix}-subtitle {
        margin-left: @spacing-gutter;
      }
    }
    .@{stepper-item-prefix}-description {
      font-size: @font-size-sm;
    }
  }

  &-head,
  &-content {
    vertical-align: top;
  }

  &-clickable {
    cursor: pointer;
  }

  &-custom {
    .@{stepper-item-prefix}-head {
      border: none;
      background: none !important;
      .@{stepper-item-prefix}-head-icon {
        font-size: @stepper-item-custom-icon-width;
      }
    }
  }

  &-finish {
    .@{stepper-item-prefix}-title:after,
    .@{stepper-item-prefix}-tail:after {
      background: @stepper-item-highlight-color !important;
    }
    .@{stepper-item-prefix}-title .@{stepper-item-prefix}-subtitle {
      color: @color-grey;
    }
  }

  &-process {
    .@{stepper-item-prefix}-head {
      background: @stepper-item-highlight-color;

      &-text {
        color: @color-white;
      }

      &-dot {
        position: relative;
        top: @stepper-item-dot-active-offset;
        width: @stepper-item-dot-width-active !important;
        height: @stepper-item-dot-width-active !important;
      }
    }
    .@{stepper-item-prefix}-description {
      color: @header-color;
    }
  }

  &-finish,
  &-process {
    .@{stepper-item-prefix}-head {
      border-color: @stepper-item-highlight-color;

      &-icon {
        color: @stepper-item-highlight-color;
      }

      &-dot {
        background: @stepper-item-highlight-color !important;
      }
    }
    .@{stepper-item-prefix}-title {
      color: @header-color;
    }
  }

  &-error {
    .@{stepper-item-prefix}-head {
      border-color: @color-red;
      background: none;

      &-icon {
        color: @color-red;
      }
    }
    .@{stepper-item-prefix}-title,
    .@{stepper-item-prefix}-description {
      color: @color-red;
    }
  }

  &-disabled {
    cursor: not-allowed;
  }
}

@import './vertical.less';
@import './labelPlacement.less';
@import './dot.less';
@import './percentCircle.less';
@import './small.less';
