.@{stepper-prefix}-label-bottom {
  .@{stepper-item-prefix} {
    overflow: visible;
    &-tail {
      display: block;
      width: 100%;
      height: 1px;
      margin-left: 60px;
      padding: 3.5px 24px;

      &::after {
        width: 100%;
        height: 1px;
      }
    }

    &-content {
      display: block;
      width: 120px;
      margin-top: 8px;
      text-align: center;
    }

    &-icon {
      display: inline-block;
      margin-left: 42px;
    }
    &-title {
      padding-right: 0;
      padding-left: 0;
      &::after {
        display: none;
      }
    }
  }
}
