.@{stepper-prefix}-label-bottom {
  .@{stepper-item-prefix} {
    overflow: visible;
    &-tail {
      display: flex;
      width: 100%;
      height: 1px;

      &::after {
        width: 100%;
      }
    }

    &-content {
      display: block;
      width: 110px;
      margin-top: 8px;
      text-align: center;
    }

    &-icon {
      margin-left: 42px;
    }
    &-title {
      padding-right: 0;
      padding-left: 0;
      &::after {
        display: none;
      }
    }
  }

  &.@{stepper-prefix}-md {  

    .@{stepper-item-prefix} {
    
      &-content {
        width: 120px;
      }

      &-tail {
        margin-left: 65px;
        padding: 16px 36px 0 24px;
      }

      &:first-child {
        .@{stepper-item-prefix}-tail {
          margin-left: 48px;
          padding: 16px 20px;
        }
      }
    }
  }

  &.@{stepper-prefix}-sm {
    .@{stepper-item-prefix} {
    
      &-tail {
        margin-left: 54px;
        padding: 12px 24px;
      }

      &:first-child {
        .@{stepper-item-prefix}-tail {
          margin-left: 48px;
          padding: 12px 20px;
        }
      }
    }
  }
}
