.@{stepper-prefix}-with-percent {
  .@{stepper-item-prefix} {
    padding-top: 4px;

    &-tail {
      top: 4px;
    }

    &-icon {
      position: relative;

      .@{progress-prefix} {
        position: absolute;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
      }
    }
  }
}
