.@{stepper-prefix}-md {
  @stepper-item-spacing-md: calc(var(--ix-stepper-icon-size-md) / 2);
  .@{stepper-item-prefix} {
    padding-left: @stepper-item-spacing-md;
  }

  .@{stepper-item-prefix}-content {
    min-height: var(--ix-stepper-item-content-min-height-md);
  }

  .@{stepper-item-prefix}-tail {
    left: @stepper-item-spacing-md;
    padding: calc(var(--ix-stepper-icon-size-md) + 4px) 0 4px;
  }

  .@{stepper-item-prefix}-icon {
    border-width: var(--ix-stepper-icon-border-width-md);
    width: var(--ix-stepper-icon-size-md);
    height: var(--ix-stepper-icon-size-md);
    line-height: calc(var(--ix-stepper-icon-size-md) - 2px);
    border-radius: var(--ix-stepper-icon-size-md);
    font-size: var(--ix-stepper-icon-font-size-md);
    margin: var(--ix-stepper-icon-margin-md);
  }

  .@{stepper-item-prefix}-title {
    padding-right: @stepper-item-spacing-md;
    font-size: var(--ix-stepper-title-font-size-sm);
    line-height: var(--ix-stepper-icon-size-md);

    &::after {
      top: @stepper-item-spacing-md;
    }
  }

  .@{stepper-item-prefix}-description {
    font-size: var(--ix-stepper-description-font-size-md);
  }

  &.@{stepper-prefix}-vertical {
    .@{stepper-item-prefix}-description {
      padding-bottom: @stepper-item-spacing-md;
    }
  }
}

.@{stepper-prefix}-sm {
  @stepper-item-spacing-sm: calc(var(--ix-stepper-icon-size-sm) / 2);
  .@{stepper-item-prefix} {
    padding-left: @stepper-item-spacing-sm;
  }

  .@{stepper-item-prefix}-content {
    min-height: var(--ix-stepper-content-min-height-sm);
  }

  .@{stepper-item-prefix}-tail {
    left: @stepper-item-spacing-sm;
    padding: calc(var(--ix-stepper-icon-size-sm) + 4px) 0 4px;
  }

  .@{stepper-item-prefix}-icon {
    border-width: var(--ix-stepper-icon-border-width-sm);
    width: var(--ix-stepper-icon-size-sm);
    height: var(--ix-stepper-icon-size-sm);
    line-height: calc(var(--ix-stepper-icon-size-sm) - 2px);
    border-radius: var(--ix-stepper-icon-size-sm);
    font-size: var(--ix-stepper-icon-font-size-sm);
    margin: var(--ix-stepper-icon-margin-sm);
  }

  .@{stepper-item-prefix}-title {
    padding-right: @stepper-item-spacing-sm;
    font-size: var(--ix-stepper-title-font-size-sm);
    line-height: var(--ix-stepper-icon-size-sm);

    &::after {
      top: calc(var(--ix-stepper-icon-size-sm) / 2);
    }
  }

  .@{stepper-item-prefix}-description {
    font-size: var(--ix-stepper-description-font-size-sm);
  }

  &.@{stepper-prefix}-vertical {
    .@{stepper-item-prefix}-description {
      padding-bottom: @stepper-item-spacing-sm;
    }
  }
}
