.@{stepper-prefix}-vertical {
  flex-direction: column;

  .@{stepper-item-prefix} {
    display: block;
    flex: 1 0 auto;
    padding-left: 0;
    overflow: visible;

    .@{stepper-item-prefix}-icon {
      float: left;
    }

    .@{stepper-item-prefix}-content {
      display: block;
      overflow: hidden;
    }

    .@{stepper-item-prefix}-title {
      &::after {
        display: none;
      }
    }
  }

  .@{stepper-item-prefix}:not(:last-child) .@{stepper-item-prefix}-tail {
    display: block;
  }
}
