@import '../../style/mixins/reset.less';

.@{input-number-prefix} {
  &-decrease:hover:not(&-decrease--disabled),
  &-increase:hover:not(&-increase--disabled) {
    color: @input-number-button-hover-color;
  }

  &.@{input-prefix}-disabled {
    .@{input-prefix}-addon {
      background-color: @input-number-disabled-background-color;
    }
    .@{input-number-prefix}-decrease,
    .@{input-number-prefix}-increase {
      cursor: not-allowed;
      color: @input-number-disabled-color;
    }
  }

  &-illegal {
    .@{idux-prefix}-input-inner {
      color: @input-number-error;
    }
  }

  
  &.@{input-prefix}-sm {
    .@{input-number-prefix}-decrease,
    .@{input-number-prefix}-increase {
      width: @input-number-width-sm;
      font-size: @font-size-sm;
    }
  }

  &.@{input-prefix}-md {
    .@{input-number-prefix}-decrease,
    .@{input-number-prefix}-increase {
      width: @input-number-width-md;
      font-size: @font-size-md;
    }
  }

  &.@{input-prefix}-lg {
    .@{input-number-prefix}-decrease,
    .@{input-number-prefix}-increase {
      width: @input-number-width-lg;
      font-size: @font-size-lg;
    }
  }

  &-decrease,
  &-increase {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    right: 0;
    height: 50%;
    user-select: none;
    background-color: transparent;
    overflow: hidden;
    .@{idux-prefix}-icon {
      position: absolute;
    }
    &--disabled {
      cursor: not-allowed;
      color: @input-number-disabled-color;
    }
  }

  &-increase {
    top: 0;
    .@{idux-prefix}-icon {
      top: 20%;
    }
  }

  &-decrease {
    top: 50%;
    bottom: 0;
    .@{idux-prefix}-icon {
      top: -20%;
    }
  }
  
  .@{idux-prefix}-input-inner {
    padding-right: 18px;
  }

  .@{idux-prefix}-input-suffix {
    margin-left: 0;
  }

  &.@{idux-prefix}-input-with-addon-before,
  &.@{idux-prefix}-input-with-addon-after {
    .@{idux-prefix}-input-wrapper{
      .@{idux-prefix}-input-inner {
        padding-right: 12px;
        min-width: 24px;
      }
    }
  }

}
