@import '../../style/variable/index.less';
.@{icon-prefix} {
  box-sizing: border-box;
  display: inline-block;
  color: inherit;
  font-style: normal;
  vertical-align: -0.125em;
  min-width: 1em;
  min-height: 1em;
  line-height: 0;
  text-align: center;
  text-transform: none;
  text-rendering: optimizelegibility;
  transition: transform var(--ix-motion-duration-medium) var(--ix-motion-ease-out);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  > svg {
    width: 1em;
    height: 1em;
    line-height: 1;
    fill: currentcolor;
  }
  &[tabindex] {
    cursor: pointer;
  }
  &-loading,
  &-spinning {
    animation: icon-spinning 1.5s infinite linear;
  }
}

@keyframes icon-spinning {
  100% {
    transform: rotate(360deg);
  }
}
