// for SVG icon, see https://blog.prototypr.io/align-svg-icons-to-text-and-say-goodbye-to-font-icons-d44b3d7b26b4
.@{icon-prefix} {
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  top: 0.125em;
  min-width: 1em;
  min-height: 1em;
  line-height: 1em;
  color: inherit;
  transition: transform @transition-duration-base @ease-out;

  > svg {
    width: 1em;
    height: 1em;
    fill: currentcolor;
  }

  &-loading,
  &-spinning {
    animation: icon-spinning 1.5s infinite linear;
  }
}

@keyframes icon-spinning {
  100% {
    transform: rotate(360deg);
  }
}
