@import 'colorPalette';

/* base -------------------------- */
@color-red-base: #f52727;
@color-orange-base: #fa721b;
@color-brown-base: #fdaa1d;
@color-yellow-base: #f8d81a;
@color-canary-base: #fcd200;
@color-bud-base: #8dd118;
@color-green-base: #39c317;
@color-turquoise-base: #20cc94;
@color-cyan-base: #19d2db;
@color-glacier-base: #1ba0f2;
@color-blue-base: #1c6eff;
@color-indigo-base: #2229f6;
@color-purple-base: #7824ff;
@color-magenta-base: #d619be;

@preset-colors: red, orange, brown, yellow, canary, bud, green, turquoise, cyan, glacier, blue, indigo, purple, magenta;

/* Graphite  -------------------------- */
@color-graphite-base: #a1a7b3;
@color-graphite-l50: #f7f9fc;
@color-graphite-l40: #edf1f7;
@color-graphite-l30: #e1e5eb;
@color-graphite-l20: #d3d7de;
@color-graphite-l10: #bec3cc;
@color-graphite: @color-graphite-base;
@color-graphite-d10: #6f7785;
@color-graphite-d20: #5e6573;
@color-graphite-d30: #454c59;
@color-graphite-d40: #2f3540;
@color-graphite-d50: #1e232b;

/* Grey -------------------------- */
// TODO use https://github.com/scttcper/tinycolor
@color-grey-base: #a3a3a3;
@color-grey-l50: #fafafa;
@color-grey-l40: #f5f5f5;
@color-grey-l30: #eeeeee;
@color-grey-l20: #e0e0e0;
@color-grey-l10: #c2c2c2;
@color-grey: @color-grey-base;
@color-grey-d10: #2f3540;
@color-grey-d20: #5c5c5c;
@color-grey-d30: #3d3d3d;
@color-grey-d40: #1f1f1f;
@color-grey-d50: #141414;

/* Black -------------------------- */
@color-black: #000000;

/* white -------------------------- */
@color-white: #ffffff;

/* Red -------------------------- */
@color-red-l50: color(~`colorPalette('@{color-red}', -50) `);
@color-red-l40: color(~`colorPalette('@{color-red}', -40) `);
@color-red-l30: color(~`colorPalette('@{color-red}', -30) `);
@color-red-l20: color(~`colorPalette('@{color-red}', -20) `);
@color-red-l10: color(~`colorPalette('@{color-red}', -10) `);
@color-red: @color-red-base;
@color-red-d10: color(~`colorPalette('@{color-red}', 10) `);
@color-red-d20: color(~`colorPalette('@{color-red}', 20) `);
@color-red-d30: color(~`colorPalette('@{color-red}', 30) `);
@color-red-d40: color(~`colorPalette('@{color-red}', 40) `);

/* Orange -------------------------- */
@color-orange-l50: color(~`colorPalette('@{color-orange}', -50) `);
@color-orange-l40: color(~`colorPalette('@{color-orange}', -40) `);
@color-orange-l30: color(~`colorPalette('@{color-orange}', -30) `);
@color-orange-l20: color(~`colorPalette('@{color-orange}', -20) `);
@color-orange-l10: color(~`colorPalette('@{color-orange}', -10) `);
@color-orange: @color-orange-base;
@color-orange-d10: color(~`colorPalette('@{color-orange}', 10) `);
@color-orange-d20: color(~`colorPalette('@{color-orange}', 20) `);
@color-orange-d30: color(~`colorPalette('@{color-orange}', 30) `);
@color-orange-d40: color(~`colorPalette('@{color-orange}', 40) `);

/* Brown -------------------------- */
@color-brown-l50: color(~`colorPalette('@{color-brown}', -50) `);
@color-brown-l40: color(~`colorPalette('@{color-brown}', -40) `);
@color-brown-l30: color(~`colorPalette('@{color-brown}', -30) `);
@color-brown-l20: color(~`colorPalette('@{color-brown}', -20) `);
@color-brown-l10: color(~`colorPalette('@{color-brown}', -10) `);
@color-brown: @color-brown-base;
@color-brown-d10: color(~`colorPalette('@{color-brown}', 10) `);
@color-brown-d20: color(~`colorPalette('@{color-brown}', 20) `);
@color-brown-d30: color(~`colorPalette('@{color-brown}', 30) `);
@color-brown-d40: color(~`colorPalette('@{color-brown}', 40) `);

/* Yellow -------------------------- */
@color-yellow-l50: color(~`colorPalette('@{color-yellow}', -50) `);
@color-yellow-l40: color(~`colorPalette('@{color-yellow}', -40) `);
@color-yellow-l30: color(~`colorPalette('@{color-yellow}', -30) `);
@color-yellow-l20: color(~`colorPalette('@{color-yellow}', -20) `);
@color-yellow-l10: color(~`colorPalette('@{color-yellow}', -10) `);
@color-yellow: @color-yellow-base;
@color-yellow-d10: color(~`colorPalette('@{color-yellow}', 10) `);
@color-yellow-d20: color(~`colorPalette('@{color-yellow}', 20) `);
@color-yellow-d30: color(~`colorPalette('@{color-yellow}', 30) `);
@color-yellow-d40: color(~`colorPalette('@{color-yellow}', 40) `);

/* Canary -------------------------- */
@color-canary-l50: color(~`colorPalette('@{color-canary}', -50) `);
@color-canary-l40: color(~`colorPalette('@{color-canary}', -40) `);
@color-canary-l30: color(~`colorPalette('@{color-canary}', -30) `);
@color-canary-l20: color(~`colorPalette('@{color-canary}', -20) `);
@color-canary-l10: color(~`colorPalette('@{color-canary}', -10) `);
@color-canary: @color-canary-base;
@color-canary-d10: color(~`colorPalette('@{color-canary}', 10) `);
@color-canary-d20: color(~`colorPalette('@{color-canary}', 20) `);
@color-canary-d30: color(~`colorPalette('@{color-canary}', 30) `);
@color-canary-d40: color(~`colorPalette('@{color-canary}', 40) `);

/* Bud -------------------------- */
@color-bud-l50: color(~`colorPalette('@{color-bud}', -50) `);
@color-bud-l40: color(~`colorPalette('@{color-bud}', -40) `);
@color-bud-l30: color(~`colorPalette('@{color-bud}', -30) `);
@color-bud-l20: color(~`colorPalette('@{color-bud}', -20) `);
@color-bud-l10: color(~`colorPalette('@{color-bud}', -10) `);
@color-bud: @color-bud-base;
@color-bud-d10: color(~`colorPalette('@{color-bud}', 10) `);
@color-bud-d20: color(~`colorPalette('@{color-bud}', 20) `);
@color-bud-d30: color(~`colorPalette('@{color-bud}', 30) `);
@color-bud-d40: color(~`colorPalette('@{color-bud}', 40) `);

/* Green -------------------------- */
@color-green-l50: color(~`colorPalette('@{color-green}', -50) `);
@color-green-l40: color(~`colorPalette('@{color-green}', -40) `);
@color-green-l30: color(~`colorPalette('@{color-green}', -30) `);
@color-green-l20: color(~`colorPalette('@{color-green}', -20) `);
@color-green-l10: color(~`colorPalette('@{color-green}', -10) `);
@color-green: @color-green-base;
@color-green-d10: color(~`colorPalette('@{color-green}', 10) `);
@color-green-d20: color(~`colorPalette('@{color-green}', 20) `);
@color-green-d30: color(~`colorPalette('@{color-green}', 30) `);
@color-green-d40: color(~`colorPalette('@{color-green}', 40) `);

/* Turquoise -------------------------- */
@color-turquoise-l50: color(~`colorPalette('@{color-turquoise}', -50) `);
@color-turquoise-l40: color(~`colorPalette('@{color-turquoise}', -40) `);
@color-turquoise-l30: color(~`colorPalette('@{color-turquoise}', -30) `);
@color-turquoise-l20: color(~`colorPalette('@{color-turquoise}', -20) `);
@color-turquoise-l10: color(~`colorPalette('@{color-turquoise}', -10) `);
@color-turquoise: @color-turquoise-base;
@color-turquoise-d10: color(~`colorPalette('@{color-turquoise}', 10) `);
@color-turquoise-d20: color(~`colorPalette('@{color-turquoise}', 20) `);
@color-turquoise-d30: color(~`colorPalette('@{color-turquoise}', 30) `);
@color-turquoise-d40: color(~`colorPalette('@{color-turquoise}', 40) `);

/* Cyan -------------------------- */
@color-cyan-l50: color(~`colorPalette('@{color-cyan}', -50) `);
@color-cyan-l40: color(~`colorPalette('@{color-cyan}', -40) `);
@color-cyan-l30: color(~`colorPalette('@{color-cyan}', -30) `);
@color-cyan-l20: color(~`colorPalette('@{color-cyan}', -20) `);
@color-cyan-l10: color(~`colorPalette('@{color-cyan}', -10) `);
@color-cyan: @color-cyan-base;
@color-cyan-d10: color(~`colorPalette('@{color-cyan}', 10) `);
@color-cyan-d20: color(~`colorPalette('@{color-cyan}', 20) `);
@color-cyan-d30: color(~`colorPalette('@{color-cyan}', 30) `);
@color-cyan-d40: color(~`colorPalette('@{color-cyan}', 40) `);

/* Glacier -------------------------- */
@color-glacier-l50: color(~`colorPalette('@{color-glacier}', -50) `);
@color-glacier-l40: color(~`colorPalette('@{color-glacier}', -40) `);
@color-glacier-l30: color(~`colorPalette('@{color-glacier}', -30) `);
@color-glacier-l20: color(~`colorPalette('@{color-glacier}', -20) `);
@color-glacier-l10: color(~`colorPalette('@{color-glacier}', -10) `);
@color-glacier: @color-glacier-base;
@color-glacier-d10: color(~`colorPalette('@{color-glacier}', 10) `);
@color-glacier-d20: color(~`colorPalette('@{color-glacier}', 20) `);
@color-glacier-d30: color(~`colorPalette('@{color-glacier}', 30) `);
@color-glacier-d40: color(~`colorPalette('@{color-glacier}', 40) `);

/* Blue -------------------------- */
@color-blue-l50: color(~`colorPalette('@{color-blue}', -50) `);
@color-blue-l40: color(~`colorPalette('@{color-blue}', -40) `);
@color-blue-l30: color(~`colorPalette('@{color-blue}', -30) `);
@color-blue-l20: color(~`colorPalette('@{color-blue}', -20) `);
@color-blue-l10: color(~`colorPalette('@{color-blue}', -10) `);
@color-blue: @color-blue-base;
@color-blue-d10: color(~`colorPalette('@{color-blue}', 10) `);
@color-blue-d20: color(~`colorPalette('@{color-blue}', 20) `);
@color-blue-d30: color(~`colorPalette('@{color-blue}', 30) `);
@color-blue-d40: color(~`colorPalette('@{color-blue}', 40) `);

/* Indigo -------------------------- */
@color-indigo-l50: color(~`colorPalette('@{color-indigo}', -50) `);
@color-indigo-l40: color(~`colorPalette('@{color-indigo}', -40) `);
@color-indigo-l30: color(~`colorPalette('@{color-indigo}', -30) `);
@color-indigo-l20: color(~`colorPalette('@{color-indigo}', -20) `);
@color-indigo-l10: color(~`colorPalette('@{color-indigo}', -10) `);
@color-indigo: @color-indigo-base;
@color-indigo-d10: color(~`colorPalette('@{color-indigo}', 10) `);
@color-indigo-d20: color(~`colorPalette('@{color-indigo}', 20) `);
@color-indigo-d30: color(~`colorPalette('@{color-indigo}', 30) `);
@color-indigo-d40: color(~`colorPalette('@{color-indigo}', 40) `);

/* Purple -------------------------- */
@color-purple-l50: color(~`colorPalette('@{color-purple}', -50) `);
@color-purple-l40: color(~`colorPalette('@{color-purple}', -40) `);
@color-purple-l30: color(~`colorPalette('@{color-purple}', -30) `);
@color-purple-l20: color(~`colorPalette('@{color-purple}', -20) `);
@color-purple-l10: color(~`colorPalette('@{color-purple}', -10) `);
@color-purple: @color-purple-base;
@color-purple-d10: color(~`colorPalette('@{color-purple}', 10) `);
@color-purple-d20: color(~`colorPalette('@{color-purple}', 20) `);
@color-purple-d30: color(~`colorPalette('@{color-purple}', 30) `);
@color-purple-d40: color(~`colorPalette('@{color-purple}', 40) `);

/* Magenta -------------------------- */
@color-magenta-l50: color(~`colorPalette('@{color-magenta}', -50) `);
@color-magenta-l40: color(~`colorPalette('@{color-magenta}', -40) `);
@color-magenta-l30: color(~`colorPalette('@{color-magenta}', -30) `);
@color-magenta-l20: color(~`colorPalette('@{color-magenta}', -20) `);
@color-magenta-l10: color(~`colorPalette('@{color-magenta}', -10) `);
@color-magenta: @color-magenta-base;
@color-magenta-d10: color(~`colorPalette('@{color-magenta}', 10) `);
@color-magenta-d20: color(~`colorPalette('@{color-magenta}', 20) `);
@color-magenta-d30: color(~`colorPalette('@{color-magenta}', 30) `);
@color-magenta-d40: color(~`colorPalette('@{color-magenta}', 40) `);

/* Primary -------------------------- */
@color-primary-base: @color-blue-base;
@color-primary-l50: color(~`colorPalette('@{color-primary}', -50) `);
@color-primary-l40: color(~`colorPalette('@{color-primary}', -40) `);
@color-primary-l30: color(~`colorPalette('@{color-primary}', -30) `);
@color-primary-l20: color(~`colorPalette('@{color-primary}', -20) `);
@color-primary-l10: color(~`colorPalette('@{color-primary}', -10) `);
@color-primary: @color-primary-base;
@color-primary-d10: color(~`colorPalette('@{color-primary}', 10) `);
@color-primary-d20: color(~`colorPalette('@{color-primary}', 20) `);
@color-primary-d30: color(~`colorPalette('@{color-primary}', 30) `);
@color-primary-d40: color(~`colorPalette('@{color-primary}', 40) `);

/* Info -------------------------- */
@color-info-base: @color-primary-base;
@color-info-l50: color(~`colorPalette('@{color-info}', -50) `);
@color-info-l40: color(~`colorPalette('@{color-info}', -40) `);
@color-info-l30: color(~`colorPalette('@{color-info}', -30) `);
@color-info-l20: color(~`colorPalette('@{color-info}', -20) `);
@color-info-l10: color(~`colorPalette('@{color-info}', -10) `);
@color-info: @color-info-base;
@color-info-d10: color(~`colorPalette('@{color-info}', 10) `);
@color-info-d20: color(~`colorPalette('@{color-info}', 20) `);
@color-info-d30: color(~`colorPalette('@{color-info}', 30) `);
@color-info-d40: color(~`colorPalette('@{color-info}', 40) `);

/* Pending -------------------------- */
@color-pending-base: @color-primary-base;
@color-pending-l50: color(~`colorPalette('@{color-pending}', -50) `);
@color-pending-l40: color(~`colorPalette('@{color-pending}', -40) `);
@color-pending-l30: color(~`colorPalette('@{color-pending}', -30) `);
@color-pending-l20: color(~`colorPalette('@{color-pending}', -20) `);
@color-pending-l10: color(~`colorPalette('@{color-pending}', -10) `);
@color-pending: @color-pending-base;
@color-pending-d10: color(~`colorPalette('@{color-pending}', 10) `);
@color-pending-d20: color(~`colorPalette('@{color-pending}', 20) `);
@color-pending-d30: color(~`colorPalette('@{color-pending}', 30) `);
@color-pending-d40: color(~`colorPalette('@{color-pending}', 40) `);

/* Success -------------------------- */
@color-success-base: @color-turquoise-base;
@color-success-l50: color(~`colorPalette('@{color-success}', -50) `);
@color-success-l40: color(~`colorPalette('@{color-success}', -40) `);
@color-success-l30: color(~`colorPalette('@{color-success}', -30) `);
@color-success-l20: color(~`colorPalette('@{color-success}', -20) `);
@color-success-l10: color(~`colorPalette('@{color-success}', -10) `);
@color-success: @color-success-base;
@color-success-d10: color(~`colorPalette('@{color-success}', 10) `);
@color-success-d20: color(~`colorPalette('@{color-success}', 20) `);
@color-success-d30: color(~`colorPalette('@{color-success}', 30) `);
@color-success-d40: color(~`colorPalette('@{color-success}', 40) `);

/* Warning -------------------------- */
@color-warning-base: @color-brown-base;
@color-warning-l50: color(~`colorPalette('@{color-warning}', -50) `);
@color-warning-l40: color(~`colorPalette('@{color-warning}', -40) `);
@color-warning-l30: color(~`colorPalette('@{color-warning}', -30) `);
@color-warning-l20: color(~`colorPalette('@{color-warning}', -20) `);
@color-warning-l10: color(~`colorPalette('@{color-warning}', -10) `);
@color-warning: @color-warning-base;
@color-warning-d10: color(~`colorPalette('@{color-warning}', 10) `);
@color-warning-d20: color(~`colorPalette('@{color-warning}', 20) `);
@color-warning-d30: color(~`colorPalette('@{color-warning}', 30) `);
@color-warning-d40: color(~`colorPalette('@{color-warning}', 40) `);

/* Error -------------------------- */
@color-error-base: @color-red-base;
@color-error-l50: color(~`colorPalette('@{color-error}', -50) `);
@color-error-l40: color(~`colorPalette('@{color-error}', -40) `);
@color-error-l30: color(~`colorPalette('@{color-error}', -30) `);
@color-error-l20: color(~`colorPalette('@{color-error}', -20) `);
@color-error-l10: color(~`colorPalette('@{color-error}', -10) `);
@color-error: @color-error-base;
@color-error-d10: color(~`colorPalette('@{color-error}', 10) `);
@color-error-d20: color(~`colorPalette('@{color-error}', 20) `);
@color-error-d30: color(~`colorPalette('@{color-error}', 30) `);
@color-error-d40: color(~`colorPalette('@{color-error}', 40) `);

@status-colors: primary, info, pending, success, warning, error;

/* color -------------------------- */
@background-color-base: hsv(0, 0, 95%); // Default grey background color
@background-color-light: hsv(0, 0, 98%); // background of header and selected item
@background-color-body: @color-white;
@background-color-component: @color-white;
@background-color-component-dark: #191c24;

@background-color-hover-dark: @color-grey-l30;
@background-color-hover: @color-grey-l40;
@background-color-hover-light: @color-grey-l50;

@background-color-selected-dark: @color-primary-l30;
@background-color-selected: @color-primary-l40;
@background-color-selected-light: @color-primary-l50;

@background-color-disabled: hsv(0, 0, 95%);

// @deprecated
@disabled-color: @color-graphite-l10;
@disabled-color-dark: fade(@color-white, 35%);
@disabled-bg-color: @color-graphite-l40;
@disabled-border-color: @color-graphite-l20;

/* text -------------------------- */
@text-color: @color-graphite-d40;
@text-color-inverse: @color-white;
@text-color-secondary: fade(@color-black, 45%);
@text-color-dark: fade(@color-white, 85%);
@text-color-secondary-dark: fade(@color-white, 65%);
@text-color-disabled: fade(@color-black, 25%);
@text-color-disabled-dark: fade(@color-white, 35%);
