@import 'colorPalette';

/* base -------------------------- */
@red-base: #bf3939;
@orange-base: #cc5429;
@gold-base: #d96f04;
@yellow-base: #d99204;
@canary-base: #d9ad00;
@lime-base: #a1d913;
@prasinous-base: #6ca608;
@verdant-base: #47991f;
@green-base: #1f9940;
@cyan-base: #1f9999;
@sky-base: #1f80cc;
@blue-base: #365fd9;
@admiral-base: #5757d9;
@purple-base: #8a47cc;
@magenta-base: #bf396f;

@preset-colors: red, orange, gold, yellow, canary, lime, prasinous, verdant, green, cyan, sky, blue, admiral, purple,
  magenta;

/* Red -------------------------- */
@red-l50: color(~`colorPalette('@{red}', -50) `);
@red-l40: color(~`colorPalette('@{red}', -40) `);
@red-l30: color(~`colorPalette('@{red}', -30) `);
@red-l20: color(~`colorPalette('@{red}', -20) `);
@red-l10: color(~`colorPalette('@{red}', -10) `);
@red: @red-base;
@red-d10: color(~`colorPalette('@{red}', 10) `);
@red-d20: color(~`colorPalette('@{red}', 20) `);
@red-d30: color(~`colorPalette('@{red}', 30) `);
@red-d40: color(~`colorPalette('@{red}', 40) `);

/* Orange -------------------------- */
@orange-l50: color(~`colorPalette('@{orange}', -50) `);
@orange-l40: color(~`colorPalette('@{orange}', -40) `);
@orange-l30: color(~`colorPalette('@{orange}', -30) `);
@orange-l20: color(~`colorPalette('@{orange}', -20) `);
@orange-l10: color(~`colorPalette('@{orange}', -10) `);
@orange: @orange-base;
@orange-d10: color(~`colorPalette('@{orange}', 10) `);
@orange-d20: color(~`colorPalette('@{orange}', 20) `);
@orange-d30: color(~`colorPalette('@{orange}', 30) `);
@orange-d40: color(~`colorPalette('@{orange}', 40) `);

/* Gold -------------------------- */
@gold-l50: color(~`colorPalette('@{gold}', -50) `);
@gold-l40: color(~`colorPalette('@{gold}', -40) `);
@gold-l30: color(~`colorPalette('@{gold}', -30) `);
@gold-l20: color(~`colorPalette('@{gold}', -20) `);
@gold-l10: color(~`colorPalette('@{gold}', -10) `);
@gold: @gold-base;
@gold-d10: color(~`colorPalette('@{gold}', 10) `);
@gold-d20: color(~`colorPalette('@{gold}', 20) `);
@gold-d30: color(~`colorPalette('@{gold}', 30) `);
@gold-d40: color(~`colorPalette('@{gold}', 40) `);

/* Yellow -------------------------- */
@yellow-l50: color(~`colorPalette('@{yellow}', -50) `);
@yellow-l40: color(~`colorPalette('@{yellow}', -40) `);
@yellow-l30: color(~`colorPalette('@{yellow}', -30) `);
@yellow-l20: color(~`colorPalette('@{yellow}', -20) `);
@yellow-l10: color(~`colorPalette('@{yellow}', -10) `);
@yellow: @yellow-base;
@yellow-d10: color(~`colorPalette('@{yellow}', 10) `);
@yellow-d20: color(~`colorPalette('@{yellow}', 20) `);
@yellow-d30: color(~`colorPalette('@{yellow}', 30) `);
@yellow-d40: color(~`colorPalette('@{yellow}', 40) `);

/* Canary -------------------------- */
@canary-l50: color(~`colorPalette('@{canary}', -50) `);
@canary-l40: color(~`colorPalette('@{canary}', -40) `);
@canary-l30: color(~`colorPalette('@{canary}', -30) `);
@canary-l20: color(~`colorPalette('@{canary}', -20) `);
@canary-l10: color(~`colorPalette('@{canary}', -10) `);
@canary: @canary-base;
@canary-d10: color(~`colorPalette('@{canary}', 10) `);
@canary-d20: color(~`colorPalette('@{canary}', 20) `);
@canary-d30: color(~`colorPalette('@{canary}', 30) `);
@canary-d40: color(~`colorPalette('@{canary}', 40) `);

/* Lime -------------------------- */
@lime-l50: color(~`colorPalette('@{lime}', -50) `);
@lime-l40: color(~`colorPalette('@{lime}', -40) `);
@lime-l30: color(~`colorPalette('@{lime}', -30) `);
@lime-l20: color(~`colorPalette('@{lime}', -20) `);
@lime-l10: color(~`colorPalette('@{lime}', -10) `);
@lime: @lime-base;
@lime-d10: color(~`colorPalette('@{lime}', 10) `);
@lime-d20: color(~`colorPalette('@{lime}', 20) `);
@lime-d30: color(~`colorPalette('@{lime}', 30) `);
@lime-d40: color(~`colorPalette('@{lime}', 40) `);

/* Prasinous -------------------------- */
@prasinous-l50: color(~`colorPalette('@{prasinous}', -50) `);
@prasinous-l40: color(~`colorPalette('@{prasinous}', -40) `);
@prasinous-l30: color(~`colorPalette('@{prasinous}', -30) `);
@prasinous-l20: color(~`colorPalette('@{prasinous}', -20) `);
@prasinous-l10: color(~`colorPalette('@{prasinous}', -10) `);
@prasinous: @prasinous-base;
@prasinous-d10: color(~`colorPalette('@{prasinous}', 10) `);
@prasinous-d20: color(~`colorPalette('@{prasinous}', 20) `);
@prasinous-d30: color(~`colorPalette('@{prasinous}', 30) `);
@prasinous-d40: color(~`colorPalette('@{prasinous}', 40) `);

/* Verdant -------------------------- */
@verdant-l50: color(~`colorPalette('@{verdant}', -50) `);
@verdant-l40: color(~`colorPalette('@{verdant}', -40) `);
@verdant-l30: color(~`colorPalette('@{verdant}', -30) `);
@verdant-l20: color(~`colorPalette('@{verdant}', -20) `);
@verdant-l10: color(~`colorPalette('@{verdant}', -10) `);
@verdant: @verdant-base;
@verdant-d10: color(~`colorPalette('@{verdant}', 10) `);
@verdant-d20: color(~`colorPalette('@{verdant}', 20) `);
@verdant-d30: color(~`colorPalette('@{verdant}', 30) `);
@verdant-d40: color(~`colorPalette('@{verdant}', 40) `);

/* Green -------------------------- */
@green-l50: color(~`colorPalette('@{green}', -50) `);
@green-l40: color(~`colorPalette('@{green}', -40) `);
@green-l30: color(~`colorPalette('@{green}', -30) `);
@green-l20: color(~`colorPalette('@{green}', -20) `);
@green-l10: color(~`colorPalette('@{green}', -10) `);
@green: @green-base;
@green-d10: color(~`colorPalette('@{green}', 10) `);
@green-d20: color(~`colorPalette('@{green}', 20) `);
@green-d30: color(~`colorPalette('@{green}', 30) `);
@green-d40: color(~`colorPalette('@{green}', 40) `);

/* Cyan -------------------------- */
@cyan-l50: color(~`colorPalette('@{cyan}', -50) `);
@cyan-l40: color(~`colorPalette('@{cyan}', -40) `);
@cyan-l30: color(~`colorPalette('@{cyan}', -30) `);
@cyan-l20: color(~`colorPalette('@{cyan}', -20) `);
@cyan-l10: color(~`colorPalette('@{cyan}', -10) `);
@cyan: @cyan-base;
@cyan-d10: color(~`colorPalette('@{cyan}', 10) `);
@cyan-d20: color(~`colorPalette('@{cyan}', 20) `);
@cyan-d30: color(~`colorPalette('@{cyan}', 30) `);
@cyan-d40: color(~`colorPalette('@{cyan}', 40) `);

/* Sky -------------------------- */
@sky-l50: color(~`colorPalette('@{sky}', -50) `);
@sky-l40: color(~`colorPalette('@{sky}', -40) `);
@sky-l30: color(~`colorPalette('@{sky}', -30) `);
@sky-l20: color(~`colorPalette('@{sky}', -20) `);
@sky-l10: color(~`colorPalette('@{sky}', -10) `);
@sky: @sky-base;
@sky-d10: color(~`colorPalette('@{sky}', 10) `);
@sky-d20: color(~`colorPalette('@{sky}', 20) `);
@sky-d30: color(~`colorPalette('@{sky}', 30) `);
@sky-d40: color(~`colorPalette('@{sky}', 40) `);

/* Blue -------------------------- */
@blue-l50: color(~`colorPalette('@{blue}', -50) `);
@blue-l40: color(~`colorPalette('@{blue}', -40) `);
@blue-l30: color(~`colorPalette('@{blue}', -30) `);
@blue-l20: color(~`colorPalette('@{blue}', -20) `);
@blue-l10: color(~`colorPalette('@{blue}', -10) `);
@blue: @blue-base;
@blue-d10: color(~`colorPalette('@{blue}', 10) `);
@blue-d20: color(~`colorPalette('@{blue}', 20) `);
@blue-d30: color(~`colorPalette('@{blue}', 30) `);
@blue-d40: color(~`colorPalette('@{blue}', 40) `);

/* Admiral -------------------------- */
@admiral-l50: color(~`colorPalette('@{admiral}', -50) `);
@admiral-l40: color(~`colorPalette('@{admiral}', -40) `);
@admiral-l30: color(~`colorPalette('@{admiral}', -30) `);
@admiral-l20: color(~`colorPalette('@{admiral}', -20) `);
@admiral-l10: color(~`colorPalette('@{admiral}', -10) `);
@admiral: @admiral-base;
@admiral-d10: color(~`colorPalette('@{admiral}', 10) `);
@admiral-d20: color(~`colorPalette('@{admiral}', 20) `);
@admiral-d30: color(~`colorPalette('@{admiral}', 30) `);
@admiral-d40: color(~`colorPalette('@{admiral}', 40) `);

/* Purple -------------------------- */
@purple-l50: color(~`colorPalette('@{purple}', -50) `);
@purple-l40: color(~`colorPalette('@{purple}', -40) `);
@purple-l30: color(~`colorPalette('@{purple}', -30) `);
@purple-l20: color(~`colorPalette('@{purple}', -20) `);
@purple-l10: color(~`colorPalette('@{purple}', -10) `);
@purple: @purple-base;
@purple-d10: color(~`colorPalette('@{purple}', 10) `);
@purple-d20: color(~`colorPalette('@{purple}', 20) `);
@purple-d30: color(~`colorPalette('@{purple}', 30) `);
@purple-d40: color(~`colorPalette('@{purple}', 40) `);

/* Magenta -------------------------- */
@magenta-l50: color(~`colorPalette('@{magenta}', -50) `);
@magenta-l40: color(~`colorPalette('@{magenta}', -40) `);
@magenta-l30: color(~`colorPalette('@{magenta}', -30) `);
@magenta-l20: color(~`colorPalette('@{magenta}', -20) `);
@magenta-l10: color(~`colorPalette('@{magenta}', -10) `);
@magenta: @magenta-base;
@magenta-d10: color(~`colorPalette('@{magenta}', 10) `);
@magenta-d20: color(~`colorPalette('@{magenta}', 20) `);
@magenta-d30: color(~`colorPalette('@{magenta}', 30) `);
@magenta-d40: color(~`colorPalette('@{magenta}', 40) `);

/* Graphite  -------------------------- */
@graphite-base: #69768c;
@graphite-l50: #ebeff5;
@graphite-l40: #dde2eb;
@graphite-l30: #c5cedb;
@graphite-l20: #adb8cb;
@graphite-l10: #8591a6;
@graphite: @graphite-base;
@graphite-d10: #505c73;
@graphite-d20: #3a4459;
@graphite-d30: #262f40;
@graphite-d40: #1f2533;

/* Grey -------------------------- */
// TODO use https://github.com/scttcper/tinycolor
@grey-base: #a3a3a3;
@grey-l50: #fafafa;
@grey-l40: #f5f5f5;
@grey-l30: #eeeeee;
@grey-l20: #e0e0e0;
@grey-l10: #c2c2c2;
@grey: @grey-base;
@grey-d10: #7a7a7a;
@grey-d20: #5c5c5c;
@grey-d30: #3d3d3d;
@grey-d40: #1f1f1f;

/* Black -------------------------- */
@black: #000000;

/* white -------------------------- */
@white: #ffffff;

/* Primary -------------------------- */
@primary-base: @blue-base;
@primary-l50: color(~`colorPalette('@{primary}', -50) `);
@primary-l40: color(~`colorPalette('@{primary}', -40) `);
@primary-l30: color(~`colorPalette('@{primary}', -30) `);
@primary-l20: color(~`colorPalette('@{primary}', -20) `);
@primary-l10: color(~`colorPalette('@{primary}', -10) `);
@primary: @primary-base;
@primary-d10: color(~`colorPalette('@{primary}', 10) `);
@primary-d20: color(~`colorPalette('@{primary}', 20) `);
@primary-d30: color(~`colorPalette('@{primary}', 30) `);
@primary-d40: color(~`colorPalette('@{primary}', 40) `);

/* Info -------------------------- */
@info-base: @primary-base;
@info-l50: color(~`colorPalette('@{info}', -50) `);
@info-l40: color(~`colorPalette('@{info}', -40) `);
@info-l30: color(~`colorPalette('@{info}', -30) `);
@info-l20: color(~`colorPalette('@{info}', -20) `);
@info-l10: color(~`colorPalette('@{info}', -10) `);
@info: @info-base;
@info-d10: color(~`colorPalette('@{info}', 10) `);
@info-d20: color(~`colorPalette('@{info}', 20) `);
@info-d30: color(~`colorPalette('@{info}', 30) `);
@info-d40: color(~`colorPalette('@{info}', 40) `);

/* Pending -------------------------- */
@pending-base: @primary-base;
@pending-l50: color(~`colorPalette('@{pending}', -50) `);
@pending-l40: color(~`colorPalette('@{pending}', -40) `);
@pending-l30: color(~`colorPalette('@{pending}', -30) `);
@pending-l20: color(~`colorPalette('@{pending}', -20) `);
@pending-l10: color(~`colorPalette('@{pending}', -10) `);
@pending: @pending-base;
@pending-d10: color(~`colorPalette('@{pending}', 10) `);
@pending-d20: color(~`colorPalette('@{pending}', 20) `);
@pending-d30: color(~`colorPalette('@{pending}', 30) `);
@pending-d40: color(~`colorPalette('@{pending}', 40) `);

/* Success -------------------------- */
@success-base: @green-base;
@success-l50: color(~`colorPalette('@{success}', -50) `);
@success-l40: color(~`colorPalette('@{success}', -40) `);
@success-l30: color(~`colorPalette('@{success}', -30) `);
@success-l20: color(~`colorPalette('@{success}', -20) `);
@success-l10: color(~`colorPalette('@{success}', -10) `);
@success: @success-base;
@success-d10: color(~`colorPalette('@{success}', 10) `);
@success-d20: color(~`colorPalette('@{success}', 20) `);
@success-d30: color(~`colorPalette('@{success}', 30) `);
@success-d40: color(~`colorPalette('@{success}', 40) `);

/* Warning -------------------------- */
@warning-base: @yellow-base;
@warning-l50: color(~`colorPalette('@{warning}', -50) `);
@warning-l40: color(~`colorPalette('@{warning}', -40) `);
@warning-l30: color(~`colorPalette('@{warning}', -30) `);
@warning-l20: color(~`colorPalette('@{warning}', -20) `);
@warning-l10: color(~`colorPalette('@{warning}', -10) `);
@warning: @warning-base;
@warning-d10: color(~`colorPalette('@{warning}', 10) `);
@warning-d20: color(~`colorPalette('@{warning}', 20) `);
@warning-d30: color(~`colorPalette('@{warning}', 30) `);
@warning-d40: color(~`colorPalette('@{warning}', 40) `);

/* Error -------------------------- */
@error-base: @red-base;
@error-l50: color(~`colorPalette('@{error}', -50) `);
@error-l40: color(~`colorPalette('@{error}', -40) `);
@error-l30: color(~`colorPalette('@{error}', -30) `);
@error-l20: color(~`colorPalette('@{error}', -20) `);
@error-l10: color(~`colorPalette('@{error}', -10) `);
@error: @error-base;
@error-d10: color(~`colorPalette('@{error}', 10) `);
@error-d20: color(~`colorPalette('@{error}', 20) `);
@error-d30: color(~`colorPalette('@{error}', 30) `);
@error-d40: color(~`colorPalette('@{error}', 40) `);

@status-colors: primary, info, pending, success, warning, error;

/* color -------------------------- */
@background-color-base: hsv(0, 0, 95%); // Default grey background color
@background-color-light: hsv(0, 0, 98%); // background of header and selected item
@background-color-body: @white;
@background-color-component: @white;
@background-color-component-dark: #191c24;

@disabled-color: fade(@black, 25%);
@disabled-color-dark: fade(@white, 35%);
@disabled-bg-color: @background-color-base;

@mask-bg-color: fade(@black, 40%);

@heading-color: @black;

/* text -------------------------- */
@text-color: fade(@black, 85%);
@text-color-secondary: fade(@black, 45%);
@text-color-dark: fade(@white, 85%);
@text-color-secondary-dark: fade(@white, 65%);
