@import '../../../style/mixins/reset.less';

.@{overflow-prefix} {
  .reset-component();

  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  &-item {
    height: 100%;
  }
}
