@import '../../../style/themes/default.less';
@import '../../../space/style/themes/default.less';
@import '../index.less';

@statistic-font-size-sm: @font-size-md;
@statistic-font-size-md: @font-size-md;
@statistic-font-size-lg: @font-size-xl;
@statistic-font-size-xl: @font-size-2xl;

@statistic-line-height: @line-height-base;
@statistic-color: @color-black;

@statistic-title-margin: @space-margin-lg;
@statistic-prefix-margin: @spacing-xs;
@statistic-suffix-margin: @spacing-xs;
