@import '../../style/default.less';

@mask-prefix: ~'@{idux-prefix}-mask';

.@{mask-prefix} {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2000;
	height: 100%;
	overflow: auto;
	&.has-mask {
		background-color: rgba(0,0,0,.5);
	}
}
