:root {
  --ix-color-primary: #4083e8;
  --ix-color-error: #e8514c;
  --ix-color-success: #40c695;
  --ix-color-warning: #fdaa1d;
  --ix-color-risk: #e88641;
  --ix-color-fatal: #a72122;
  --ix-color-info: #4083e8;
  --ix-color-link: #4083e8;
  --ix-color-white: #fff;
  --ix-color-text: #f4f8ff;
  --ix-color-bg: #0a0c0f;
  --ix-color-border: #3c424d;
  --ix-color-border-secondary: #1f2329;
  --ix-font-size: 14px;
  --ix-font-family: pingfang SC, helvetica neue, arial, hiragino sans gb,
    microsoft yahei ui, microsoft yahei, simsun, sans-serif;
  --ix-font-family-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;
  --ix-font-weight: 400;
  --ix-border-radius: 4px;
  --ix-height: 32px;
  --ix-line-height-gutter: 8px;
  --ix-spacing: 8px;
  --ix-line-width: 1px;
  --ix-line-type: solid;
  --ix-motion-duration: 0.24s;
  --ix-motion-ease-in: cubic-bezier(0.12, 0, 0.39, 0);
  --ix-motion-ease-out: cubic-bezier(0.61, 1, 0.88, 1);
  --ix-motion-ease-in-out: cubic-bezier(0.37, 0, 0.63, 1);
  --ix-motion-ease-in-back: cubic-bezier(0.36, 0, 0.66, -0.56);
  --ix-motion-ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ix-motion-ease-in-circ: cubic-bezier(0.55, 0, 1, 0.45);
  --ix-motion-ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
  --ix-motion-ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);
  --ix-motion-ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
  --ix-screen-sm: 600px;
  --ix-screen-md: 960px;
  --ix-screen-lg: 1280px;
  --ix-screen-xl: 1720px;
  --ix-color-primary-hover: #1b61dd;
  --ix-color-primary-active: #6aa6f4;
  --ix-color-primary-border: #4083e8;
  --ix-color-primary-border-hover: #1b61dd;
  --ix-color-primary-border-active: #6aa6f4;
  --ix-color-primary-text: #4083e8;
  --ix-color-primary-text-hover: #1b61dd;
  --ix-color-primary-text-active: #6aa6f4;
  --ix-color-primary-icon: #4083e8;
  --ix-color-success-bg: #40c695;
  --ix-color-success-bg-hover: #1fb182;
  --ix-color-success-bg-active: #6adcae;
  --ix-color-success-border: #40c695;
  --ix-color-success-border-hover: #1fb182;
  --ix-color-success-border-active: #6adcae;
  --ix-color-success-text: #40c695;
  --ix-color-success-text-hover: #1fb182;
  --ix-color-success-text-active: #6adcae;
  --ix-color-success-icon: #40c695;
  --ix-color-error-bg: #e8514c;
  --ix-color-error-bg-hover: #d42525;
  --ix-color-error-bg-active: #f37e75;
  --ix-color-error-border: #e8514c;
  --ix-color-error-border-hover: #d42525;
  --ix-color-error-border-active: #f37e75;
  --ix-color-error-text: #e8514c;
  --ix-color-error-text-hover: #d42525;
  --ix-color-error-text-active: #f37e75;
  --ix-color-error-icon: #e8514c;
  --ix-color-warning-bg: #fdaa1d;
  --ix-color-warning-bg-hover: #db941d;
  --ix-color-warning-bg-active: #f3ca6a;
  --ix-color-warning-border: #fdaa1d;
  --ix-color-warning-border-hover: #db941d;
  --ix-color-warning-border-active: #f3ca6a;
  --ix-color-warning-text: #fdaa1d;
  --ix-color-warning-text-hover: #db941d;
  --ix-color-warning-text-active: #f3ca6a;
  --ix-color-warning-icon: #fdaa1d;
  --ix-color-risk-bg: #e88641;
  --ix-color-risk-bg-hover: #d8641b;
  --ix-color-risk-bg-active: #f3a76a;
  --ix-color-risk-border: #e88641;
  --ix-color-risk-border-hover: #d8641b;
  --ix-color-risk-border-active: #f3a76a;
  --ix-color-risk-text: #e88641;
  --ix-color-risk-text-hover: #d8641b;
  --ix-color-risk-text-active: #f3a76a;
  --ix-color-risk-icon: #e88641;
  --ix-color-fatal-bg: #8f1e1f;
  --ix-color-fatal-bg-hover: #701a1b;
  --ix-color-fatal-bg-active: #a23e3b;
  --ix-color-fatal-border: #8f1e1f;
  --ix-color-fatal-border-hover: #701a1b;
  --ix-color-fatal-border-active: #a23e3b;
  --ix-color-fatal-text: #8f1e1f;
  --ix-color-fatal-text-hover: #701a1b;
  --ix-color-fatal-text-active: #a23e3b;
  --ix-color-fatal-icon: #a72122;
  --ix-color-info-bg: #4083e8;
  --ix-color-info-bg-hover: #1b61dd;
  --ix-color-info-bg-active: #6aa6f4;
  --ix-color-info-border: #4083e8;
  --ix-color-info-border-hover: #1b61dd;
  --ix-color-info-border-active: #6aa6f4;
  --ix-color-info-text: #4083e8;
  --ix-color-info-text-hover: #1b61dd;
  --ix-color-info-text-active: #6aa6f4;
  --ix-color-info-icon: #4083e8;
  --ix-color-offline: #808999;
  --ix-color-offline-bg: #808999;
  --ix-color-offline-text: #808999;
  --ix-font-size-xs: 10px;
  --ix-font-size-sm: 12px;
  --ix-font-size-md: 14px;
  --ix-font-size-lg: 16px;
  --ix-font-size-xl: 20px;
  --ix-font-size-2xl: 24px;
  --ix-font-size-3xl: 30px;
  --ix-font-size-header-sm: 14px;
  --ix-font-size-header-md: 16px;
  --ix-font-size-header-lg: 20px;
  --ix-font-size-header-xl: 24px;
  --ix-font-weight-xs: 200;
  --ix-font-weight-sm: 300;
  --ix-font-weight-md: 400;
  --ix-font-weight-lg: 500;
  --ix-font-weight-xl: 600;
  --ix-padding-size-2xs: 2px;
  --ix-padding-size-xs: 4px;
  --ix-padding-size-sm: 8px;
  --ix-padding-size-md: 12px;
  --ix-padding-size-lg: 16px;
  --ix-padding-size-xl: 24px;
  --ix-padding-size-2xl: 32px;
  --ix-margin-size-2xs: 2px;
  --ix-margin-size-xs: 4px;
  --ix-margin-size-sm: 8px;
  --ix-margin-size-md: 12px;
  --ix-margin-size-lg: 16px;
  --ix-margin-size-xl: 24px;
  --ix-margin-size-2xl: 32px;
  --ix-height-xs: 16px;
  --ix-height-sm: 24px;
  --ix-height-md: 32px;
  --ix-height-lg: 40px;
  --ix-height-xl: 48px;
  --ix-height-2xl: 56px;
  --ix-height-3xl: 64px;
  --ix-border-radius-xs: 2px;
  --ix-border-radius-sm: 2px;
  --ix-border-radius-md: 4px;
  --ix-border-radius-lg: 8px;
  --ix-line-width-bold: 2px;
  --ix-arrow-size: 6px;
  --ix-screen-xs-max: 599.99px;
  --ix-screen-sm-min: 600px;
  --ix-screen-sm-max: 959.99px;
  --ix-screen-md-min: 960px;
  --ix-screen-md-max: 1279.99px;
  --ix-screen-lg-min: 1280px;
  --ix-screen-lg-max: 1719.99px;
  --ix-screen-xl-min: 1720px;
  --ix-motion-duration-fast: 0.18s;
  --ix-motion-duration-medium: 0.24s;
  --ix-motion-duration-slow: 0.3s;
  --ix-box-shadow-sm: 0 2px 10px 0px #0a0c0f;
  --ix-box-shadow-md: 0 4px 16px 0px #0a0c0f;
  --ix-box-shadow-lg: 0 8px 22px 0px #0a0c0f;
  --ix-color-container-bg: #0a0c0f;
  --ix-color-container-bg-hover: #171a1f;
  --ix-color-container-bg-active: #151d33;
  --ix-color-container-bg-disabled: #171a1f;
  --ix-color-addon-container-bg: #171a1f;
  --ix-color-emphasized-container-bg: #1f2329;
  --ix-color-emphasized-container-bg-hover: #1f2329;
  --ix-color-emphasized-container-bg-disabled: #687080;
  --ix-color-info-container-bg: #171a1f;
  --ix-color-info-container-bg-hover: #171a1f;
  --ix-color-info-container-bg-disabled: #1f2329;
  --ix-color-fill-container-bg: #687080;
  --ix-color-separator: #1f2329;
  --ix-color-text-placeholder: #525966;
  --ix-color-text-disabled: #687080;
  --ix-color-text-inverse: #fff;
  --ix-color-text-inverse-disabled: #687080;
  --ix-color-text-title: #f4f8ff;
  --ix-color-text-title-secondary: #c2c7d1;
  --ix-color-text-info: #808999;
  --ix-color-icon: #a1a7b3;
  --ix-color-icon-info: #687080;
  --ix-color-icon-hover: #4083e8;
  --ix-color-icon-active: #6aa6f4;
  --ix-color-icon-disabled: #687080;
  --ix-color-warning-outline: #fdaa1d;
  --ix-color-error-outline: #e8514c;
  --ix-color-bg-inverse: #fff;
  --ix-color-bg-inverse-disabled: #ffffff;
  --ix-color-border-inverse: #0a0c0f;
  --ix-color-mask: rgba(23, 26, 31, 0.88);
  --ix-tag-comp-color-alpha: 0.2;
  --ix-alert-comp-color-alpha: 0.2;
  --ix-font-size-icon: 16px;
  --ix-font-weight-header: 600;
  --ix-component-border-radius: 2px;
  --ix-scrollbar-width: 12px;
  --ix-scrollbar-height: 12px;
  --ix-scrollbar-thumb-bg: #1f2329;
  --ix-scrollbar-thumb-bg-hover: #687080;
  --ix-scrollbar-thumb-bg-active: #687080;
  --ix-scrollbar-thumb-border-width: 2px;
  --ix-scrollbar-thumb-border-radius: 6px;
  --ix-scrollbar-thumb-box-shadow: none;
  --ix-scrollbar-track-bg: unset;
  --ix-scrollbar-track-border-radius: 0;
  --ix-scrollbar-track-box-shadow: unset;
  --ix-control-height-xs: 16px;
  --ix-control-height-sm: 24px;
  --ix-control-height-md: 32px;
  --ix-control-height-lg: 40px;
  --ix-control-line-width: 1px;
  --ix-control-line-type: solid;
  --ix-control-font-size-xs: 10px;
  --ix-control-font-size-sm: 12px;
  --ix-control-font-size-md: 12px;
  --ix-control-font-size-lg: 14px;
  --ix-control-box-shadow-focus: 0 0 0 2px rgba(64, 131, 232, 0.2);
  --ix-control-box-shadow-invalid: 0 0 0 2px rgba(232, 81, 76, 0.2);
  --ix-control-bg-color: #0a0c0f;
  --ix-control-bg-color-disabled: #171a1f;
  --ix-control-border-color-hover: #1b61dd;
  --ix-control-border-color-active: #6aa6f4;
  --ix-control-padding-size-horizontal-xs: 7px;
  --ix-control-padding-size-horizontal-sm: 7px;
  --ix-control-padding-size-horizontal-md: 11px;
  --ix-control-padding-size-horizontal-lg: 11px;
  --ix-control-padding-size-vertical-xs: 0;
  --ix-control-padding-size-vertical-sm: 1px;
  --ix-control-padding-size-vertical-md: 5px;
  --ix-control-padding-size-vertical-lg: 8px;
  --ix-control-border-radius-xs: 2px;
  --ix-control-border-radius-sm: 2px;
  --ix-control-border-radius-md: 2px;
  --ix-control-border-radius-lg: 2px;
  --ix-overlay-bg-color: #0a0c0f;
  --ix-overlay-arrow-size: 6px;
  --ix-overlay-border-radius: 2px;
  --ix-overlay-border-width: 1px;
  --ix-overlay-border-color: #1f2329;
  --ix-overlay-border-type: solid;
}
:root {
  --ix-reset-color-text: #f4f8ff;
  --ix-reset-color-text-title: #f4f8ff;
  --ix-reset-color-bg: #0a0c0f;
  --ix-reset-color-link: #4083e8;
  --ix-reset-font-family: pingfang SC, helvetica neue, arial, hiragino sans gb,
    microsoft yahei ui, microsoft yahei, simsun, sans-serif;
  --ix-reset-font-family-code: "SFMono-Regular", Consolas, "Liberation Mono",
    Menlo, Courier, monospace;
  --ix-reset-font-size: 12px;
  --ix-reset-font-weight: 400;
  --ix-reset-font-weight-header: 600;
  --ix-reset-line-height-gutter: 8px;
  --ix-reset-scrollbar-width: 12px;
  --ix-reset-scrollbar-height: 12px;
  --ix-reset-scrollbar-thumb-bg: #1f2329;
  --ix-reset-scrollbar-thumb-bg-hover: #687080;
  --ix-reset-scrollbar-thumb-bg-active: #687080;
  --ix-reset-scrollbar-thumb-border-width: 2px;
  --ix-reset-scrollbar-thumb-border-radius: 6px;
  --ix-reset-scrollbar-thumb-box-shadow: none;
  --ix-reset-scrollbar-track-bg: unset;
  --ix-reset-scrollbar-track-border-radius: 0;
  --ix-reset-scrollbar-track-box-shadow: unset;
}
