:root {
  --ix-color-primary: #1c6eff;
  --ix-color-error: #f52727;
  --ix-color-success: #12a679;
  --ix-color-warning: #fdaa1d;
  --ix-color-risk: #fa721b;
  --ix-color-fatal: #82010e;
  --ix-color-info: #1c6eff;
  --ix-color-link: #1c6eff;
  --ix-color-white: #ffffff;
  --ix-color-text: #2f3540;
  --ix-color-bg: #ffffff;
  --ix-color-border: #d3d7de;
  --ix-color-border-secondary: #e1e5eb;
  --ix-font-size: 14px;
  --ix-font-family: pingfang SC, helvetica neue, arial, hiragino sans gb,
    microsoft yahei ui, microsoft yahei, simsun, sans-serif;
  --ix-font-family-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
    Courier, monospace;
  --ix-font-weight: 400;
  --ix-border-radius: 4px;
  --ix-height: 32px;
  --ix-line-height-gutter: 8px;
  --ix-spacing: 8px;
  --ix-line-width: 1px;
  --ix-line-type: solid;
  --ix-motion-duration: 0.24s;
  --ix-motion-ease-in: cubic-bezier(0.12, 0, 0.39, 0);
  --ix-motion-ease-out: cubic-bezier(0.61, 1, 0.88, 1);
  --ix-motion-ease-in-out: cubic-bezier(0.37, 0, 0.63, 1);
  --ix-motion-ease-in-back: cubic-bezier(0.36, 0, 0.66, -0.56);
  --ix-motion-ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ix-motion-ease-in-circ: cubic-bezier(0.55, 0, 1, 0.45);
  --ix-motion-ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
  --ix-motion-ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);
  --ix-motion-ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
  --ix-screen-sm: 600px;
  --ix-screen-md: 960px;
  --ix-screen-lg: 1280px;
  --ix-screen-xl: 1720px;
  --ix-color-primary-hover: #458fff;
  --ix-color-primary-active: #0d51d9;
  --ix-color-primary-border: #1c6eff;
  --ix-color-primary-border-hover: #458fff;
  --ix-color-primary-border-active: #0d51d9;
  --ix-color-primary-text: #1c6eff;
  --ix-color-primary-text-hover: #458fff;
  --ix-color-primary-text-active: #0d51d9;
  --ix-color-primary-icon: #1c6eff;
  --ix-color-success-bg: #12a679;
  --ix-color-success-bg-hover: #30b387;
  --ix-color-success-bg-active: #088060;
  --ix-color-success-border: #088060;
  --ix-color-success-border-hover: #12a679;
  --ix-color-success-border-active: #015945;
  --ix-color-success-text: #088060;
  --ix-color-success-text-hover: #12a679;
  --ix-color-success-text-active: #015945;
  --ix-color-success-icon: #12a679;
  --ix-color-error-bg: #ff5752;
  --ix-color-error-bg-hover: #ff837a;
  --ix-color-error-bg-active: #cf171d;
  --ix-color-error-border: #cf171d;
  --ix-color-error-border-hover: #f52727;
  --ix-color-error-border-active: #a80a15;
  --ix-color-error-text: #cf171d;
  --ix-color-error-text-hover: #f52727;
  --ix-color-error-text-active: #cf171d;
  --ix-color-error-icon: #ff5752;
  --ix-color-warning-bg: #fdaa1d;
  --ix-color-warning-bg-hover: #ffc145;
  --ix-color-warning-bg-active: #d6860d;
  --ix-color-warning-border: #fdaa1d;
  --ix-color-warning-border-hover: #ffc145;
  --ix-color-warning-border-active: #d6860d;
  --ix-color-warning-text: #fdaa1d;
  --ix-color-warning-text-hover: #ffc145;
  --ix-color-warning-text-active: #d6860d;
  --ix-color-warning-icon: #ffc145;
  --ix-color-risk-bg: #fa721b;
  --ix-color-risk-bg-hover: #ff9245;
  --ix-color-risk-bg-active: #d4520d;
  --ix-color-risk-border: #fa721b;
  --ix-color-risk-border-hover: #ff9245;
  --ix-color-risk-border-active: #d4520d;
  --ix-color-risk-text: #fa721b;
  --ix-color-risk-text-hover: #ff9245;
  --ix-color-risk-text-active: #d4520d;
  --ix-color-risk-icon: #ff9245;
  --ix-color-fatal-bg: #82010e;
  --ix-color-fatal-bg-hover: #8f1820;
  --ix-color-fatal-bg-active: #5c000c;
  --ix-color-fatal-border: #82010e;
  --ix-color-fatal-border-hover: #8f1820;
  --ix-color-fatal-border-active: #5c000c;
  --ix-color-fatal-text: #82010e;
  --ix-color-fatal-text-hover: #8f1820;
  --ix-color-fatal-text-active: #5c000c;
  --ix-color-fatal-icon: #8f1820;
  --ix-color-info-bg: #1c6eff;
  --ix-color-info-bg-hover: #458fff;
  --ix-color-info-bg-active: #0d51d9;
  --ix-color-info-border: #1c6eff;
  --ix-color-info-border-hover: #458fff;
  --ix-color-info-border-active: #0d51d9;
  --ix-color-info-text: #1c6eff;
  --ix-color-info-text-hover: #458fff;
  --ix-color-info-text-active: #0d51d9;
  --ix-color-info-icon: #458fff;
  --ix-color-offline: #6f7785;
  --ix-color-offline-bg: #6f7785;
  --ix-color-offline-text: #6f7785;
  --ix-font-size-xs: 10px;
  --ix-font-size-sm: 12px;
  --ix-font-size-md: 14px;
  --ix-font-size-lg: 16px;
  --ix-font-size-xl: 20px;
  --ix-font-size-2xl: 24px;
  --ix-font-size-3xl: 30px;
  --ix-font-size-header-sm: 14px;
  --ix-font-size-header-md: 16px;
  --ix-font-size-header-lg: 20px;
  --ix-font-size-header-xl: 24px;
  --ix-font-weight-xs: 200;
  --ix-font-weight-sm: 300;
  --ix-font-weight-md: 400;
  --ix-font-weight-lg: 500;
  --ix-font-weight-xl: 600;
  --ix-padding-size-2xs: 2px;
  --ix-padding-size-xs: 4px;
  --ix-padding-size-sm: 8px;
  --ix-padding-size-md: 12px;
  --ix-padding-size-lg: 16px;
  --ix-padding-size-xl: 24px;
  --ix-padding-size-2xl: 32px;
  --ix-margin-size-2xs: 2px;
  --ix-margin-size-xs: 4px;
  --ix-margin-size-sm: 8px;
  --ix-margin-size-md: 12px;
  --ix-margin-size-lg: 16px;
  --ix-margin-size-xl: 24px;
  --ix-margin-size-2xl: 32px;
  --ix-height-xs: 16px;
  --ix-height-sm: 24px;
  --ix-height-md: 32px;
  --ix-height-lg: 40px;
  --ix-height-xl: 48px;
  --ix-height-2xl: 56px;
  --ix-height-3xl: 64px;
  --ix-border-radius-xs: 2px;
  --ix-border-radius-sm: 2px;
  --ix-border-radius-md: 4px;
  --ix-border-radius-lg: 8px;
  --ix-line-width-bold: 2px;
  --ix-arrow-size: 6px;
  --ix-screen-xs-max: 599.99px;
  --ix-screen-sm-min: 600px;
  --ix-screen-sm-max: 959.99px;
  --ix-screen-md-min: 960px;
  --ix-screen-md-max: 1279.99px;
  --ix-screen-lg-min: 1280px;
  --ix-screen-lg-max: 1719.99px;
  --ix-screen-xl-min: 1720px;
  --ix-motion-duration-fast: 0.18s;
  --ix-motion-duration-medium: 0.24s;
  --ix-motion-duration-slow: 0.3s;
  --ix-box-shadow-sm: 0 2px 10px 0px rgba(30, 35, 43, 0.16);
  --ix-box-shadow-md: 0 4px 16px 0px rgba(30, 35, 43, 0.14);
  --ix-box-shadow-lg: 0 8px 22px 0px rgba(30, 35, 43, 0.12);
  --ix-color-container-bg: #ffffff;
  --ix-color-container-bg-hover: #f7f9fc;
  --ix-color-container-bg-active: #e8f4ff;
  --ix-color-container-bg-disabled: #e1e5eb;
  --ix-color-addon-container-bg: #f7f9fc;
  --ix-color-emphasized-container-bg: #edf1f7;
  --ix-color-emphasized-container-bg-hover: #e1e5eb;
  --ix-color-emphasized-container-bg-disabled: #d3d7de;
  --ix-color-info-container-bg: #f7f9fc;
  --ix-color-info-container-bg-hover: #f7f9fc;
  --ix-color-info-container-bg-disabled: #f7f9fc;
  --ix-color-fill-container-bg: #bec3cc;
  --ix-color-separator: #e1e5eb;
  --ix-color-text-placeholder: #a1a7b3;
  --ix-color-text-disabled: #bec3cc;
  --ix-color-text-inverse: #ffffff;
  --ix-color-text-inverse-disabled: #bec3cc;
  --ix-color-text-title: #2f3540;
  --ix-color-text-title-secondary: #454c59;
  --ix-color-text-info: #6f7785;
  --ix-color-icon: #5e6573;
  --ix-color-icon-info: #bec3cc;
  --ix-color-icon-hover: #1c6eff;
  --ix-color-icon-active: #0d51d9;
  --ix-color-icon-disabled: #bec3cc;
  --ix-color-warning-outline: #fdaa1d;
  --ix-color-error-outline: #f52727;
  --ix-color-bg-disabled: #e1e5eb;
  --ix-color-bg-inverse: #2f3540;
  --ix-color-bg-inverse-disabled: #1e232b;
  --ix-color-border-inverse: #ffffff;
  --ix-color-mask: rgba(0, 0, 0, 0.45);
  --ix-tag-comp-color-alpha: 0.1;
  --ix-alert-comp-color-alpha: 0.1;
  --ix-font-size-icon: 16px;
  --ix-font-weight-header: 600;
  --ix-component-border-radius: 2px;
  --ix-scrollbar-width: 12px;
  --ix-scrollbar-height: 12px;
  --ix-scrollbar-thumb-bg: #e1e5eb;
  --ix-scrollbar-thumb-bg-hover: #bec3cc;
  --ix-scrollbar-thumb-bg-active: #bec3cc;
  --ix-scrollbar-thumb-border-width: 2px;
  --ix-scrollbar-thumb-border-radius: 6px;
  --ix-scrollbar-thumb-box-shadow: none;
  --ix-scrollbar-track-bg: unset;
  --ix-scrollbar-track-border-radius: 0;
  --ix-scrollbar-track-box-shadow: unset;
  --ix-control-height-xs: 16px;
  --ix-control-height-sm: 24px;
  --ix-control-height-md: 32px;
  --ix-control-height-lg: 40px;
  --ix-control-line-width: 1px;
  --ix-control-line-type: solid;
  --ix-control-font-size-xs: 10px;
  --ix-control-font-size-sm: 12px;
  --ix-control-font-size-md: 12px;
  --ix-control-font-size-lg: 14px;
  --ix-control-box-shadow-focus: 0 0 0 2px rgba(28, 110, 255, 0.2);
  --ix-control-box-shadow-invalid: 0 0 0 2px rgba(245, 39, 39, 0.2);
  --ix-control-bg-color: #ffffff;
  --ix-control-bg-color-disabled: #e1e5eb;
  --ix-control-border-color-hover: #458fff;
  --ix-control-border-color-active: #0d51d9;
  --ix-control-padding-size-horizontal-xs: 7px;
  --ix-control-padding-size-horizontal-sm: 7px;
  --ix-control-padding-size-horizontal-md: 11px;
  --ix-control-padding-size-horizontal-lg: 11px;
  --ix-control-padding-size-vertical-xs: 0;
  --ix-control-padding-size-vertical-sm: 1px;
  --ix-control-padding-size-vertical-md: 5px;
  --ix-control-padding-size-vertical-lg: 8px;
  --ix-control-border-radius-xs: 2px;
  --ix-control-border-radius-sm: 2px;
  --ix-control-border-radius-md: 2px;
  --ix-control-border-radius-lg: 2px;
  --ix-overlay-bg-color: #ffffff;
  --ix-overlay-arrow-size: 6px;
  --ix-overlay-border-radius: 2px;
  --ix-overlay-border-width: 0;
  --ix-overlay-border-color: none;
  --ix-overlay-border-type: solid;
}
:root {
  --ix-reset-color-text: #2f3540;
  --ix-reset-color-text-title: #2f3540;
  --ix-reset-color-bg: #ffffff;
  --ix-reset-color-link: #1c6eff;
  --ix-reset-font-family: pingfang SC, helvetica neue, arial, hiragino sans gb,
    microsoft yahei ui, microsoft yahei, simsun, sans-serif;
  --ix-reset-font-family-code: "SFMono-Regular", Consolas, "Liberation Mono",
    Menlo, Courier, monospace;
  --ix-reset-font-size: 12px;
  --ix-reset-font-weight: 400;
  --ix-reset-font-weight-header: 600;
  --ix-reset-line-height-gutter: 8px;
  --ix-reset-scrollbar-width: 12px;
  --ix-reset-scrollbar-height: 12px;
  --ix-reset-scrollbar-thumb-bg: #e1e5eb;
  --ix-reset-scrollbar-thumb-bg-hover: #bec3cc;
  --ix-reset-scrollbar-thumb-bg-active: #bec3cc;
  --ix-reset-scrollbar-thumb-border-width: 2px;
  --ix-reset-scrollbar-thumb-border-radius: 6px;
  --ix-reset-scrollbar-thumb-box-shadow: none;
  --ix-reset-scrollbar-track-bg: unset;
  --ix-reset-scrollbar-track-border-radius: 0;
  --ix-reset-scrollbar-track-box-shadow: unset;
}
