.carousel-vertical-center () {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-horizontal-center () {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
