@list-border-color: @border-color;
@list-border-size: @border-width-sm;
@list-font-size-md: @font-size-md;
@list-font-size-sm: @font-size-sm;
@list-title-font-size-md: @font-size-lg;
@list-title-font-size-sm: @font-size-md;
@list-title-font-weight-sm: @font-weight-md;
@list-hover-shadow: @shadow-bottom-sm;
@list-padding-lg: @spacing-lg;
@list-padding-sm: @spacing-sm;
@list-min-height: 128px;
