<script lang='ts'>
import { ref } from 'vue'
import CodeBox from '../../shared/CodeBox.vue'

{{imports}}

export default {
  name: '{{componentName}}',
  components:{ CodeBox, {{components}} },
  setup() {
    const goLink = (link: string) => {
      if (window) {
        window.location.hash = link
      }
    }
    const expanded = ref(false)
    const codeBoxes = ref([] as any[])
    const expandAllCode = () => {
      expanded.value = !expanded.value
      codeBoxes.value.forEach(box => box.changeExpanded(expanded.value))
    }

    return { goLink, expanded, expandAllCode }
  },
}
</script>
