/* ------ tour css variables ------ */
:root {
  --ix-tour-bg-color: #0a0c0f;
  --ix-tour-description-color: #f4f8ff;
  --ix-tour-indicators-color: #808999;
  --ix-tour-outline-color: #4083e8;
  --ix-tour-border-radius: 4px;
  --ix-tour-min-width: 250px;
  --ix-tour-padding-top: 16px;
  --ix-tour-padding-left: 16px;
  --ix-tour-padding-right: 16px;
  --ix-tour-padding-bottom: 16px;
  --ix-tour-description-font-size: 12px;
  --ix-tour-indicators-font-size: 12px;
  --ix-tour-footer-btn-gap: 4px;
}
