/* ------ tour css variables ------ */
:root {
  --ix-tour-bg-color: #ffffff;
  --ix-tour-description-color: #2f3540;
  --ix-tour-indicators-color: #6f7785;
  --ix-tour-outline-color: #1c6eff;
  --ix-tour-border-radius: 4px;
  --ix-tour-min-width: 250px;
  --ix-tour-padding-top: 16px;
  --ix-tour-padding-left: 16px;
  --ix-tour-padding-right: 16px;
  --ix-tour-padding-bottom: 16px;
  --ix-tour-description-font-size: 12px;
  --ix-tour-indicators-font-size: 12px;
  --ix-tour-footer-btn-gap: 4px;
}
