@import '../../style/mixins/ellipsis.less';
@import '../../style/mixins/reset.less';

.@{header-prefix} {
  .reset-component();

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: @header-line-height;
  font-size: @header-font-size;
  color: @header-color;
  background-color: @header-background-color;
  transition: color @transition-duration-base @ease-in-out;

  &-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &-prefix {
    display: flex;
    align-items: center;
    margin-right: @header-prefix-margin-right;
    padding-right: @header-prefix-padding-right;
    border-right: @header-prefix-border-right;
    font-size: @header-prefix-font-size;
    cursor: pointer;

    .@{icon-prefix}:hover {
      color: @header-prefix-active-color;
    }
  }

  .@{avatar-prefix} {
    margin-right: @header-avatar-margin-right;
  }

  .@{icon-prefix} {
    font-size: @header-icon-font-size;
  }

  &-title {
    color: @header-title-color;
    margin-right: @header-title-margin-right;
    font-weight: @header-title-font-weight;
    .ellipsis();
  }

  &-sub-title {
    color: @header-sub-title-color;
    .ellipsis();
  }

  &-suffix {
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    color: @header-suffix-color;
    font-size: @header-suffix-font-size;
    padding: @header-suffix-padding;

    .@{icon-prefix}:hover {
      color: @header-suffix-active-color;
    }
  }

  &-description {
    width: 100%;
    color: @header-description-color;
  }

  &-disabled {
    color: @header-disabled-color;
    cursor: not-allowed;

    .@{header-prefix}-title,
    .@{header-prefix}-sub-title,
    .@{header-prefix}-description,
    .@{header-prefix}-prefix,
    .@{header-prefix}-suffix {
      color: @header-disabled-color;
      cursor: not-allowed;
    }
  }

  &-with-bar &-content {
    padding-left: @header-bar-width * 2;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: @header-bar-margin;
      width: @header-bar-width;
      background-color: @header-bar-background-color;
      border-radius: calc(@header-bar-width / 2);
      content: '';
    }
  }

  &-xl {
    .header-size(@header-height-xl, @header-title-font-size-xl);
  }

  &-lg {
    .header-size(@header-height-lg, @header-title-font-size-lg);
  }

  &-md {
    .header-size(@header-height-md, @header-title-font-size-md);
  }

  &-sm {
    .header-size(@header-height-sm, @header-title-font-size-sm);

    .@{header-prefix}-suffix {
      font-size: @header-suffix-font-size-sm;
    }
  }
}

.header-size(@height; @font-size;) {
  @spacing-vertical: max((round(((@height - @font-size * @header-line-height) / 2) * 10) / 10), 0);

  .@{header-prefix}-content {
    height: @height;
    padding-top: @spacing-vertical;
    padding-bottom: @spacing-vertical;
  }

  .@{header-prefix}-title {
    font-size: @font-size;
  }
}
