@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';

.@{collapse-prefix} {
  .reset-component-new();
  .reset-color();

  &-sm {
    .collapse-size(var(--ix-collapse-font-size-sm), var(--ix-collapse-expand-icon-size-sm), var(--ix-collapse-padding-horizontal-sm));

    .@{collapse-prefix}-panel {
      border-bottom: none;
    }

    .@{collapse-prefix}-panel:first-child {
      border-radius: var(--ix-component-border-radius) var(--ix-component-border-radius) 0 0;
    }

    .@{collapse-prefix}-panel:last-child {
      border-bottom: var(--ix-line-width) var(--ix-line-type) var(--ix-color-border);
      border-radius: 0 0 var(--ix-component-border-radius) var(--ix-component-border-radius);
    }
  }

  &-md {
    .collapse-size(var(--ix-collapse-font-size-md), var(--ix-collapse-expand-icon-size-md), var(--ix-collapse-padding-horizontal-md));

    .@{collapse-prefix}-panel + .@{collapse-prefix}-panel {
      margin-top: var(--ix-spacing-sm);
    }

    .@{collapse-prefix}-panel {
      border-radius: var(--ix-component-border-radius);
    }
  }

  &-panel {
    border: var(--ix-line-width) var(--ix-line-type) var(--ix-color-border);

    .@{header-prefix} {
      cursor: pointer;
      border-radius: var(--ix-component-border-radius);
    }

    &-content {
      background-color: var(--ix-color-info-container-bg);
      border-top: var(--ix-line-width) var(--ix-line-type) var(--ix-color-border);
      border-radius: 0 0 var(--ix-component-border-radius) var(--ix-component-border-radius);
    }

    &-disabled {
      .@{header-prefix} {
        cursor: not-allowed;
      }
    }

    & &-expand-icon {
      display: block;
      color: var(--ix-color-icon);

      &:hover {
        color: var(--ix-color-icon-hover);
      }
      &:active {
        color: var(--ix-color-icon-active);
      }
    }
    & .@{header-prefix}-disabled &-expand-icon {
      color: var(--ix-color-icon-disabled);
    }
  }

  &-borderless {
    .@{collapse-prefix}-panel {
      border: 0;

      &-content {
        border-top: 0;
      }
    }
  }

  &-ghost {
    background-color: transparent;
    border-color: transparent;

    .@{collapse-prefix}-panel {
      border-color: transparent;

      &-content {
        border-color: transparent;
        background-color: var(--ix-background-color);
      }
    }

    .@{collapse-prefix}-panel + .@{collapse-prefix}-panel {
      margin-top: 0;
    }
  }

  // nest
  .@{collapse-prefix} {
    background-color: transparent;
  }
}

.collapse-size(@font-size, @expand-icon-font-size, @padding-horizontal) {
  .reset-font-size(@font-size);

  .@{header-prefix} {
    padding-left: @padding-horizontal;
    padding-right: @padding-horizontal;
  }

  .@{header-prefix} .@{collapse-prefix}-panel-expand-icon {
    font-size: @expand-icon-font-size;
  }

  .@{collapse-prefix}-panel-content-box {
    padding: @padding-horizontal;
  }
}
