@import '../../style/mixins/reset.less';

.@{collapse-prefix} {
  .reset-component-new();

  cursor: pointer;

  &-sm {
    font-size: @collapse-font-size-sm;

    .@{header-prefix} {
      padding-left: 12px;
      padding-right: 12px;
    }

    .@{collapse-prefix}-panel-content-box {
      padding: 12px;
    }

    .@{collapse-prefix}-panel {
      border-bottom: none;
    }

    .@{collapse-prefix}-panel:first-child {
      border-radius: @collapse-border-radius @collapse-border-radius 0 0;
    }

    .@{collapse-prefix}-panel:last-child {
      border-bottom: @collapse-border;
      border-radius: 0 0 @collapse-border-radius @collapse-border-radius;
    }
  }

  &-md {
    font-size: @collapse-font-size-md;

    .@{header-prefix} {
      padding-left: 16px;
      padding-right: 16px;
    }

    .@{collapse-prefix}-panel-content-box {
      padding: 16px;
    }

    .@{collapse-prefix}-panel + .@{collapse-prefix}-panel {
      margin-top: 8px;
    }

    .@{collapse-prefix}-panel {
      border-radius: @collapse-border-radius;
    }
  }

  &-panel {
    border: @collapse-border;

    .@{header-prefix} {
      border-radius: @collapse-border-radius;
    }

    &-content {
      background-color: @collapse-content-background-color;
      border-top: @collapse-border;
      border-radius: 0 0 @collapse-border-radius @collapse-border-radius;
    }

    &-disabled {
      cursor: not-allowed;
    }
  }

  &-borderless {
    .@{collapse-prefix}-panel {
      border: 0;

      &-content {
        border-top: 0;
      }
    }
  }

  &-ghost {
    background-color: transparent;

    .@{collapse-prefix}-panel {
      &-content,
      .@{header-prefix} {
        background-color: transparent;
      }
    }
  }

  // nest
  .@{collapse-prefix} {
    background-color: transparent;
  }
}
