@import '../../style/mixins/reset.less';
@import './mixin.less';

.@{tag-prefix} {
  .reset-component-new();
  .reset-font-size();

  display: inline-flex;
  align-items: center;
  color: @tag-color;
  background-color: @tag-background-color;
  padding: 0 calc(8px - @tag-border-width);
  line-height: @tag-line-height;
  border: @tag-border-width solid @tag-background-color;
  border-radius: @tag-border-radius;

  .make-color-classes(@preset-colors);

  & + & {
    margin-left: 8px;
  }

  > .@{icon-prefix} {
    margin-left: -4px;
    font-size: var(--ix-font-size-lg);
  }

  .@{icon-prefix} + &-content {
    padding-left: 4px;
  }

  &-content {
    flex: auto;
    text-align: center;
  }

  &-bordered {
    border-color: @tag-border-color;
  }

  &-has-color {
    color: @text-color-inverse;
  }

  &-round {
    border-radius: @tag-line-height;
    min-width: @tag-min-width-round;
  }

  &-rect {
    border-radius: 0;
    min-width: @tag-min-width-rect;
  }

  &-close-icon {
    margin-left: 4px;
    font-size: var(--ix-font-size-lg);
    cursor: pointer;
  }

  .tag-status-color(success);
  .tag-status-color(info);
  .tag-status-color(warning);
  .tag-status-color(risk);
  .tag-status-color(error);
  .tag-status-color(fatal);

  &-filled {
    --ix-tag-color: @tag-color-inverse;
    --ix-tag-background-color: @tag-background-color-filled;
  }
}

.@{tag-prefix}-numeric {
  @tag-prefix-size: calc(@tag-line-height + 4px);

  position: relative;
  padding-left: calc(@tag-prefix-size + @tag-border-width);
  min-width: @tag-min-width-numeric;
  border-radius: @tag-line-height;

  .make-numeric-color-classes(@preset-colors);

  &-prefix {
    position: absolute;
    left: -2px;
    top: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: @tag-prefix-size;
    width: @tag-prefix-size;
    background-color: inherit;
    border: @tag-border-width solid @text-color-inverse;
    border-radius: @tag-prefix-size;
  }
}

.@{tag-group-prefix} {
  &-clickable {
    .@{tag-prefix} {
      cursor: pointer;
    }
  }
}

.tag-status-color(@status) {
  @color: 'tag-color-@{status}';
  @background-color: 'tag-background-color-@{status}';
  @background-color-filled: 'tag-background-color-@{status}-filled';

  &-@{status} {
    --ix-tag-color: @@color;
    --ix-tag-background-color: @@background-color;
  }

  &-@{status}&-bordered {
    --ix-tag-border-color: @@color;
  }

  &-@{status}&-filled {
    --ix-tag-background-color: @@background-color-filled;
  }
}
