@import '../../style/themes/default.less';
@import './mixin.less';

@tag-prefix: ~'@{idux-prefix}-tag';

.@{tag-prefix} {
  display: inline-block;
  font-size: @tag-font-size;
  color: @tag-default-color;
  background: @tag-default-background-color;
  padding: @tag-default-padding;
  border: 1px solid @tag-default-border-color;
  border-radius: @tag-border-radius;

  .make-color-classes(@preset-colors);
  .make-color-classes(@status-colors);

  & + & {
    margin-left: @tag-margin;
  }

  .@{idux-prefix}-icon + &-content {
    padding-left: @tag-padding;
  }

  &-round {
    border-radius: @tag-round-border-radius;
  }

  &-rect {
    border-radius: 0;
  }

  &-has-color {
    color: @color-white;
    border-color: transparent;
  }

  &-checkable {
    cursor: pointer;

    .@{tag-prefix}-content {
      user-select: none;
    }
  }

  &-checked {
    color: @text-color-inverse;
    background-color: @color-primary;
    border-color: transparent;
  }
}
