/* transition duration ------------------ */
@transition-duration-slow: var(--ix-motion-duration-slow);
@transition-duration-base: var(--ix-motion-duration-medium);
@transition-duration-fast: var(--ix-motion-duration-fast);

@transition-all-slow: all @transition-duration-slow;
@transition-all-base: all @transition-duration-base;
@transition-all-fast: all @transition-duration-fast;

/* move ------------------ */
@translate-move-up: translateY(-100%);
@translate-move-down: translateY(100%);
@translate-move-start: translateX(-100%);
@translate-move-end: translateX(100%);
