/* border -------------------------- */
@border-color: @grey;

@border-size-s: 1px;
@border-size-m: 2px;
@border-size-l: 3px;

@border-radius-gutter: 2px;

@border-radius-xs: @border-radius-gutter / 2;
@border-radius-s: @border-radius-gutter;
@border-radius-m: @border-radius-gutter * 2;
@border-radius-l: @border-radius-gutter * 4;
@border-radius-xl: @border-radius-gutter * 8;
@border-radius-full: 9999px;
