/* Red -------------------------- */
@red-l50: #faf0f0;
@red-l40: #fad6d6;
@red-l30: #fab7b7;
@red-l20: #fa8e8e;
@red-l10: #f55151;
@red: #de1b1b;
@red-d10: #ba0d0d;
@red-d20: #900e0e;
@red-d30: #661414;
@red-d40: #451717;

/* Orange -------------------------- */
@orange-l50: #fff1e8;
@orange-l40: #ffd8be;
@orange-l30: #ffbb97;
@orange-l20: #ff9b6e;
@orange-l10: #ff7a45;
@orange: #fa541c;
@orange-d10: #e03b0e;
@orange-d20: #ad2101;
@orange-d30: #881401;
@orange-d40: #610a01;

/* Gold -------------------------- */
@gold-l50: #fff7e6;
@gold-l40: #ffe7ba;
@gold-l30: #ffd591;
@gold-l20: #ffc169;
@gold-l10: #ffa93f;
@gold: #fa8c17;
@gold-d10: #e0720b;
@gold-d20: #ad4e00;
@gold-d30: #873701;
@gold-d40: #612400;

/* Yellow -------------------------- */
@yellow-l50: #fffbe6;
@yellow-l40: #fef1b7;
@yellow-l30: #ffe48f;
@yellow-l20: #ffd665;
@yellow-l10: #ffc53d;
@yellow: #ffb019;
@yellow-d10: #e09106;
@yellow-d20: #ad6800;
@yellow-d30: #884c00;
@yellow-d40: #603400;

/* Canary -------------------------- */
@canary-l50: #fdfee5;
@canary-l40: #fafab4;
@canary-l30: #faf678;
@canary-l20: #fceb51;
@canary-l10: #ffdf0f;
@canary: #ffd500;
@canary-d10: #e0bb00;
@canary-d20: #b89900;
@canary-d30: #8a6900;
@canary-d40: #614800;

/* Prasinous -------------------------- */
@prasinous-l50: #fbfee5;
@prasinous-l40: #f4fdb7;
@prasinous-l30: #eafc8f;
@prasinous-l20: #d3f262;
@prasinous-l10: #bae637;
@prasinous: #a1d910;
@prasinous-d10: #7bb305;
@prasinous-d20: #5a8c00;
@prasinous-d30: #3e6601;
@prasinous-d40: #244000;

/* Verdant -------------------------- */
@verdant-l50: #f6feed;
@verdant-l40: #d9f6be;
@verdant-l30: #b7eb8f;
@verdant-l20: #95de63;
@verdant-l10: #72d13d;
@verdant: #52c41a;
@verdant-d10: #399e0d;
@verdant-d20: #247803;
@verdant-d30: #135200;
@verdant-d40: #0a2b00;

/* Green -------------------------- */
@green-l50: #edfeef;
@green-l40: #bef6c7;
@green-l30: #8feba3;
@green-l20: #63de7e;
@green-l10: #3dd15d;
@green: #1db83f;
@green-d10: #0d9e2c;
@green-d20: #03782a;
@green-d30: #00521b;
@green-d40: #002b0e;

/* Cyan -------------------------- */
@cyan-l50: #e6fefb;
@cyan-l40: #b5f5ec;
@cyan-l30: #86e8df;
@cyan-l20: #5cdbd3;
@cyan-l10: #36cfc9;
@cyan: #13c2c1;
@cyan-d10: #0c979c;
@cyan-d20: #006c74;
@cyan-d30: #00474f;
@cyan-d40: #002229;

/* Sky -------------------------- */
@sky-l50: #e6f8ff;
@sky-l40: #b9e7fe;
@sky-l30: #91d5ff;
@sky-l20: #69c0ff;
@sky-l10: #40a9ff;
@sky: #1990ff;
@sky-d10: #0c6cd9;
@sky-d20: #0050b3;
@sky-d30: #003a8c;
@sky-d40: #002866;

/* Blue ------------------------- */
@blue-l50: #e8f0ff;
@blue-l40: #d2e1ff;
@blue-l30: #adc9ff;
@blue-l20: #86adfc;
@blue-l10: #5a8ffa;
@blue: #3366ff;
@blue-d10: #204ed9;
@blue-d20: #143db8;
@blue-d30: #132f85;
@blue-d40: #0e2361;

/* Admiral -------------------------- */
@admiral-l50: #f3f3fc;
@admiral-l40: #dedefc;
@admiral-l30: #c0c0fc;
@admiral-l20: #a8a8fa;
@admiral-l10: #8787f2;
@admiral: #6565e6;
@admiral-d10: #4d4dd1;
@admiral-d20: #3737b3;
@admiral-d30: #28288a;
@admiral-d40: #202056;

/* Purple -------------------------- */
@purple-l50: #f5f0fa;
@purple-l40: #ebdbfa;
@purple-l30: #dabbf7;
@purple-l20: #c79cf2;
@purple-l10: #ad73e8;
@purple: #9657d6;
@purple-d10: #7d3cbe;
@purple-d20: #632b9c;
@purple-d30: #4a2173;
@purple-d40: #381d54;

/* Magenta -------------------------- */
@magenta-l50: #faf0f4;
@magenta-l40: #fad6e5;
@magenta-l30: #fab2d0;
@magenta-l20: #f78db9;
@magenta-l10: #ed5494;
@magenta: #d6246e;
@magenta-d10: #af1254;
@magenta-d20: #8c1245;
@magenta-d30: #601534;
@magenta-d40: #421527;

/* Lime -------------------------- */
@lime-l50: #f5f7fa;
@lime-l40: #ebeff5;
@lime-l30: #dee3ed;
@lime-l20: #c8d0e0;
@lime-l10: #aeb9cb;
@lime: #8d98aa;
@lime-d10: #707a89;
@lime-d20: #59616e;
@lime-d30: #444b55;
@lime-d40: #343a41;

/* Grey -------------------------- */
@grey-l50: #fafafa;
@grey-l40: #f5f5f5;
@grey-l30: #eeeeee;
@grey-l20: #e0e0e0;
@grey-l10: #c2c2c2;
@grey: #a3a3a3;
@grey-d10: #7a7a7a;
@grey-d20: #5c5c5c;
@grey-d30: #3d3d3d;
@grey-d40: #1f1f1f;

/* white -------------------------- */
@white: #ffffff;

/* black -------------------------- */
@black: #14161a;

