/* font -------------------------- */
@font-size-base: 14px;

@font-size-xs: @font-size-base - 4; // 10
@font-size-sm: @font-size-base - 2; // 12
@font-size-md: @font-size-base; // 14
@font-size-lg: @font-size-base + 2; // 16
@font-size-xl: @font-size-base + 6; // 20
@font-size-2xl: @font-size-base + 10; // 24
@font-size-3xl: @font-size-base + 14; // 28

@font-weight-base: 400;

@font-weight-xs: @font-weight-base - 200;
@font-weight-sm: @font-weight-base - 100;
@font-weight-md: @font-weight-base;
@font-weight-lg: @font-weight-base + 100;
@font-weight-xl: @font-weight-base + 200;

@font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

@font-family-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

@font-variant-base: tabular-nums;
@font-feature-settings-base: 'tnum';
