/* font -------------------------- */
@font-size-base: 12px;

@font-size-xs: @font-size-base - 2;
@font-size-s: @font-size-base;
@font-size-m: @font-size-base + 2;
@font-size-l: @font-size-base + 4;
@font-size-xl: @font-size-base + 8;
@font-size-2xl: @font-size-base + 12;

@font-weight-base: 500;

@font-weight-xs: @font-weight-base - 200;
@font-weight-s: @font-weight-base - 100;
@font-weight-m: @font-weight-base;
@font-weight-l: @font-weight-base + 100;
@font-weight-xl: @font-weight-base + 200;
