@height-xs: 16px;
@height-sm: 24px;
@height-md: 32px;
@height-lg: 40px;
@height-xl: 48px;
@height-2xl: 56px;
@height-3xl: 64px;

@line-height-base: 1.5715;

@line-height-xs: 18px;
@line-height-sm: 20px;
@line-height-md: 22px;
@line-height-lg: 24px;
@line-height-xl: 28px;
