@idux-prefix: ix;
@cdk-prefix: cdk;

// General
@button-prefix: ~'@{idux-prefix}-button';
@header-prefix: ~'@{idux-prefix}-header';
@icon-prefix: ~'@{idux-prefix}-icon';
@tag-prefix: ~'@{idux-prefix}-tag';
@typography-prefix: ~'@{idux-prefix}-typography';

// Layout
@layout-prefix: ~'@{idux-prefix}-layout';
@divider-prefix: ~'@{idux-prefix}-divider';
@space-prefix: ~'@{idux-prefix}-space';
@row-prefix: ~'@{idux-prefix}-row';
@col-prefix: ~'@{idux-prefix}-col';

// Navigation
@dropdown-prefix: ~'@{idux-prefix}-dropdown';
@menu-prefix: ~'@{idux-prefix}-menu';
@pagination-prefix: ~'@{idux-prefix}-pagination';

// Data Display
@avatar-prefix: ~'@{idux-prefix}-avatar';
@badge-prefix: ~'@{idux-prefix}-badge';
@card-prefix: ~'@{idux-prefix}-card';
@list-prefix: ~'@{idux-prefix}-list';
@list-item-prefix: ~'@{idux-prefix}-list-item';
@collapse-prefix: ~'@{idux-prefix}-collapse';
@collapse-panel-prefix: ~'@{idux-prefix}-collapse-panel';
@empty-prefix: ~'@{idux-prefix}-empty';
@image-prefix: ~'@{idux-prefix}-image';
@image-preview-prefix: ~'@{image-prefix}-preview';
@statistic-prefix: ~'@{idux-prefix}-statistic';
@timeline-prefix: ~'@{idux-prefix}-timeline';
@timeline-item-prefix: ~'@{idux-prefix}-timeline-item';
@tooltip-prefix: ~'@{idux-prefix}-tooltip';
@popover-prefix: ~'@{idux-prefix}-popover';

@skeleton-prefix: ~'@{idux-prefix}-skeleton';
@table-prefix: ~'@{idux-prefix}-table';
@tree-prefix: ~'@{idux-prefix}-tree';

// Data Entry
@form-prefix: ~'@{idux-prefix}-form';
@form-item-prefix: ~'@{idux-prefix}-form-item';
@checkbox-prefix: ~'@{idux-prefix}-checkbox';
@checkbox-group-prefix: ~'@{idux-prefix}-checkbox-group';
@date-picker-prefix: ~'@{idux-prefix}-date-picker';
@input-prefix: ~'@{idux-prefix}-input';
@radio-prefix: ~'@{idux-prefix}-radio';
@radio-group-prefix: ~'@{idux-prefix}-radio-group';
@rate-prefix: ~'@{idux-prefix}-rate';
@select-prefix: ~'@{idux-prefix}-select';
@select-option-prefix: ~'@{idux-prefix}-select-option';
@switch-prefix: ~'@{idux-prefix}-switch';
@textarea-prefix: ~'@{idux-prefix}-textarea';
@time-picker-prefix: ~'@{idux-prefix}-time-picker';

// Feedback
@message-prefix: ~'@{idux-prefix}-message';
@icon-prefix: ~'@{idux-prefix}-icon';
@result-prefix: ~'@{idux-prefix}-result';
@spin-prefix: ~'@{idux-prefix}-spin';
@progress-prefix: ~'@{idux-prefix}-progress';

@drawer-prefix: ~'@{idux-prefix}-drawer';
@modal-prefix: ~'@{idux-prefix}-modal';
@notification-prefix: ~'@{idux-prefix}-notification';
@popconfirm-prefix: ~'@{idux-prefix}-popconfirm';

// Other
@back-top-prefix: ~'@{idux-prefix}-back-top';
@anchor-prefix: ~'@{idux-prefix}-anchor';
@stepper-prefix: ~'@{idux-prefix}-stepper';
@stepper-item-prefix: ~'@{idux-prefix}-stepper-item';
@affix-prefix: ~'@{idux-prefix}-affix';

// Private
@collapse-transition-prefix: ~'@{idux-prefix}-collapse-transition';
@date-panel-prefix: ~'@{idux-prefix}-date-panel';
@mask-prefix: ~'@{idux-prefix}-mask';
@overlay-prefix: ~'@{idux-prefix}-overlay';
