@idux-prefix: ix;
@cdk-prefix: cdk;

// General
@button-prefix: ~'@{idux-prefix}-button';
@header-prefix: ~'@{idux-prefix}-header';
@icon-prefix: ~'@{idux-prefix}-icon';

// Layout
@space-prefix: ~'@{idux-prefix}-space';

// Data Entry
@form-prefix: ~'@{idux-prefix}-form';
@form-item-prefix: ~'@{idux-prefix}-form-item';
@checkbox-prefix: ~'@{idux-prefix}-checkbox';
@checkbox-group-prefix: ~'@{idux-prefix}-checkbox-group';
@input-prefix: ~'@{idux-prefix}-input';
@radio-prefix: ~'@{idux-prefix}-radio';
@radio-group-prefix: ~'@{idux-prefix}-radio-group';
@rate-prefix: ~'@{idux-prefix}-rate';
@select-prefix: ~'@{idux-prefix}-select';
@select-option-prefix: ~'@{idux-prefix}-select-option';
@switch-prefix: ~'@{idux-prefix}-switch';
@textarea-prefix: ~'@{idux-prefix}-textarea';
@time-picker-prefix: ~'@{idux-prefix}-time-picker';

// Data Display
@table-prefix: ~'@{idux-prefix}-table';
@tree-prefix: ~'@{idux-prefix}-tree';

// Feedback
@drawer-prefix: ~'@{idux-prefix}-drawer';
@modal-prefix: ~'@{idux-prefix}-modal';

// Private
@collapse-transition-prefix: ~'@{idux-prefix}-collapse-transition';
@mask-prefix: ~'@{idux-prefix}-mask';
@overlay-prefix: ~'@{idux-prefix}-overlay';
