@screen-sm: 768px;
@screen-sm-min: @screen-sm;

@screen-md: 1024px;
@screen-md-min: @screen-md;

@screen-lg: 1280px;
@screen-lg-min: @screen-lg;

@screen-xl: 1720px;
@screen-xl-min: @screen-xl;

@screen-xs-max: (@screen-sm-min - 0.01px);
@screen-sm-max: (@screen-md-min - 0.01px);
@screen-md-max: (@screen-lg-min - 0.01px);
@screen-lg-max: (@screen-xl-min - 0.01px);
