// from Ant Design: https://ant.design/docs/spec/shadow-cn

@shadow-top-s: 0 -1px 2px -2px rgba(0, 0, 0, 0.16), 0 -3px 6px 0 rgba(0, 0, 0, 0.12),
  0 -5px 12px 4px rgba(0, 0, 0, 0.09);

@shadow-bottom-s: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
  0 5px 12px 4px rgba(0, 0, 0, 0.09);

@shadow-left-s: -1px 0 2px -2px rgba(0, 0, 0, 0.16), -3px 0 6px 0 rgba(0, 0, 0, 0.12),
  -5px 0 12px 4px rgba(0, 0, 0, 0.09);

@shadow-right-s: 1px 0 2px -2px rgba(0, 0, 0, 0.16), 3px 0 6px 0 rgba(0, 0, 0, 0.12), 5px 0 12px 4px rgba(0, 0, 0, 0.09);

@shadow-top-m: 0 -3px 6px -4px rgba(0, 0, 0, 0.12), 0 -6px 16px 0 rgba(0, 0, 0, 0.08),
  0 -9px 28px 8px rgba(0, 0, 0, 0.05);

@shadow-bottom-m: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);

@shadow-left-m: -3px 0 6px -4px rgba(0, 0, 0, 0.12), -6px 0 16px 0 rgba(0, 0, 0, 0.08),
  -9px 0 28px 8px rgba(0, 0, 0, 0.05);

@shadow-right-m: 3px 0 6px -4px rgba(0, 0, 0, 0.12), 6px 0 16px 0 rgba(0, 0, 0, 0.08),
  9px 0 28px 8px rgba(0, 0, 0, 0.05);

@shadow-top-l: 0 -6px 16px -8px rgba(0, 0, 0, 0.08), 0 -9px 28px 0 rgba(0, 0, 0, 0.05),
  0 -12px 48px 16px rgba(0, 0, 0, 0.03);

@shadow-bottom-l: 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05),
  0 12px 48px 16px rgba(0, 0, 0, 0.03);

@shadow-left-l: -6px 0 16px -8px rgba(0, 0, 0, 0.08), -9px 0 28px 0 rgba(0, 0, 0, 0.05),
  -12px 0 48px 16px rgba(0, 0, 0, 0.03);

@shadow-right-l: 6px 0 16px -8px rgba(0, 0, 0, 0.08), 9px 0 28px 0 rgba(0, 0, 0, 0.05),
  12px 0 48px 16px rgba(0, 0, 0, 0.03);
