@shadow-top-sm: 0 -2px 8px 0 rgba(30, 35, 43, 0.12);

@shadow-bottom-sm: 0 2px 8px 0 rgba(30, 35, 43, 0.12);

@shadow-left-sm: -2px 0 8px 0 rgba(30, 35, 43, 0.12);

@shadow-right-sm: 2px 0 8px 0 rgba(30, 35, 43, 0.12);

@shadow-top-md: 0 -4px 12px 0 rgba(30, 35, 43, 0.1);

@shadow-bottom-md: 0 4px 12px 0 rgba(30, 35, 43, 0.1);

@shadow-left-md: -4px 0 12px 0 rgba(30, 35, 43, 0.1);

@shadow-right-md: 4px 0 12px 0 rgba(30, 35, 43, 0.1);

@shadow-top-lg: 0 -8px 20px 0 rgba(30, 35, 43, 0.08);

@shadow-bottom-lg: 0 8px 20px 0 rgba(30, 35, 43, 0.08);

@shadow-left-lg: -8px 0 20px 0 rgba(30, 35, 43, 0.08);

@shadow-right-lg: 8px 0 20px 0 rgba(30, 35, 43, 0.08);

@focus-box-shadow: 0 0 0 2px fade(@color-primary-l40, 40%);
