/* spacing -------------------------- */
@spacing-gutter: 8px;

@spacing-xs: (@spacing-gutter / 2);
@spacing-sm: @spacing-gutter;
@spacing-md: @spacing-gutter * 1.5;
@spacing-lg: @spacing-gutter * 2;
@spacing-xl: @spacing-gutter * 3;
@spacing-2xl: @spacing-gutter * 4;
@spacing-3xl: @spacing-gutter * 6;
@spacing-4xl: @spacing-gutter * 8;

@margin-xs: (@spacing-gutter / 2);
@margin-sm: @spacing-gutter;
@margin-md: @spacing-gutter * 1.5;
@margin-lg: @spacing-gutter * 2;
@margin-xl: @spacing-gutter * 3;
@margin-2xl: @spacing-gutter * 4;
@margin-3xl: @spacing-gutter * 6;

@padding-xs: (@spacing-gutter / 2);
@padding-sm: @spacing-gutter;
@padding-md: @spacing-gutter * 1.5;
@padding-lg: @spacing-gutter * 2;
@padding-xl: @spacing-gutter * 3;
@padding-2xl: @spacing-gutter * 4;
@padding-3xl: @spacing-gutter * 6;
