/* spacing -------------------------- */
@spacing-gutter: 8px;

@margin-xs: @spacing-gutter / 2;
@margin-s: @spacing-gutter;
@margin-m: @spacing-gutter * 1.5;
@margin-l: @spacing-gutter * 2;
@margin-xl: @spacing-gutter * 3;

@padding-xs: @spacing-gutter / 2;
@padding-s: @spacing-gutter;
@padding-m: @spacing-gutter * 1.5;
@padding-l: @spacing-gutter * 2;
@padding-xl: @spacing-gutter * 3;
