@zindex-auto: auto;
@zindex-l1-base: 0;
@zindex-l1-1: 1; // tools icon
@zindex-l1-2: 2; // over tools icon
@zindex-l2-base: 10; // affix back-top spin panel dots
@zindex-l3-base: 100;
@zindex-l4-base: 1000; // drawer modal
@zindex-l4-1: 1010; // message notification
@zindex-l4-2: 1020; // popover
@zindex-l4-3: 1030; // overlay cascader date-picker dropdown
@zindex-l4-4: 1040; // popoconfirm
@zindex-l4-5: 1050; // tooltip
@zindex-l4-6: 1060; // image
