@import '../../style/default.less';

@list-prefix: ~'@{idux-prefix}-list';
@list-item-prefix: ~'@{idux-prefix}-list-item';
@border: @list-border-size @border-style @list-border-color;

@spacing-large: 16px 24px;
@spacing-medium: 12px 24px;
@spacing-small: 8px 16px;

.@{list-prefix} {
  font-size: @list-font-size-md;
  &-border {
    border: @border;
    border-top-left-radius: @border-radius-gutter;
  }
  &-header {
    border-bottom: 1px solid #eee;
  }
  &-footer {
    border-top: 1px solid #eee;
    margin-top: -1px;
  }
  &-large {
    .@{list-prefix} {
      &-header {
        padding: @spacing-large;
      }
      &-footer {
        padding: @spacing-large;
      }
    }
    .@{list-item-prefix} {
      padding: @spacing-large;
    }
  }
  &-medium {
    .@{list-prefix} {
      &-header {
        padding: @spacing-medium;
      }
      &-footer {
        padding: @spacing-medium;
      }
    }
    .@{list-item-prefix} {
      padding: @spacing-medium;
    }
  }
  &-small {
    .@{list-prefix} {
      &-header {
        padding: @spacing-small;
      }
      &-footer {
        padding: @spacing-small;
      }
    }
    .@{list-item-prefix} {
      padding: @spacing-small;
    }
  }
  &-split {
    .@{list-item-prefix} {
      border-bottom: 1px solid #eee;
      // &:last-child {
      //     border-bottom: none;
      // }
    }
  }
  &-loadMore {
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }
}
