@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';

@border: var(--ix-line-width) var(--ix-line-type) var(--ix-color-border-secondary);

@spacing-large: 16px 24px;
@spacing-medium: 12px 24px;
@spacing-small: 8px 16px;

.@{list-prefix} {
  .reset-component();

  font-size: var(--ix-font-size-sm);

  &-border {
    border: @border;
    border-top-left-radius: var(--ix-component-border-radius);
  }

  &-header {
    border-bottom: 1px solid #eee;
  }

  &-footer {
    border-top: 1px solid #eee;
    margin-top: -1px;
  }

  &-lg {
    .@{list-prefix} {
      &-header {
        padding: @spacing-large;
      }

      &-footer {
        padding: @spacing-large;
      }
    }
    .@{list-item-prefix} {
      padding: @spacing-large;
    }
  }

  &-md {
    .@{list-prefix} {
      &-header {
        padding: @spacing-medium;
      }

      &-footer {
        padding: @spacing-medium;
      }
    }
    .@{list-item-prefix} {
      padding: @spacing-medium;
    }
  }

  &-sm {
    .@{list-prefix} {
      &-header {
        padding: @spacing-small;
      }

      &-footer {
        padding: @spacing-small;
      }
    }
    .@{list-item-prefix} {
      padding: @spacing-small;
    }
  }

  &-split {
    .@{list-item-prefix} {
      border-bottom: 1px solid var(--ix-color-separator);
    }
  }
}
