@import '../../../style/themes/default.less';

@layout-header-height: 64px;
@layout-footer-height: 64px;
@layout-sider-trigger-bg-color: @color-graphite-l10;
@layout-sider-trigger-bg-hover-color: @color-graphite;
