@import '../../../style/themes/default.less';
@import '../index.less';

@layout-header-background: @background-color-component;
@layout-header-color: @text-color;
@layout-header-height: 64px;
@layout-header-padding: 0 @spacing-3xl;

@layout-footer-background: @background-color-component;
@layout-footer-color: @text-color;
@layout-footer-padding: @spacing-xl @spacing-3xl;

@layout-sider-background: @background-color-component;
@layout-sider-color: @text-color;
@layout-sider-width: 200px;
@layout-sider-collapsed-width: 64px;

@layout-sider-trigger-background: @background-color-component;
@layout-sider-trigger-color: @color-white;
@layout-sider-trigger-active-color: @color-primary;
