@import '../../../style/themes/default.less';
@import '../index.less';

@layout-header-height: 64px;
@layout-footer-height: 64px;
@layout-sider-trigger-bg-color: @color-graphite-l10;
@layout-sider-trigger-bg-hover-color: @color-graphite;
@layout-sider-width: 200px;
@layout-sider-collapsed-width: 64px;
