@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';

.@{back-top-prefix} {
  .reset-component-new();
  .reset-color(var(--ix-back-top-color), var(--ix-back-top-bg-color));
  .back-top-size(var(--ix-back-top-size-lg));

  position: fixed;
  right: 64px;
  bottom: 48px;
  z-index: 10;
  border-radius: 50%;
  box-shadow: var(--ix-back-top-box-shadow);
  border: var(--ix-back-top-border-width) var(--ix-back-top-border-type) var(--ix-back-top-border-color);
  text-align: center;
  cursor: pointer;
  transition: all var(--ix-motion-duration-fast);

  &:hover {
    color: var(--ix-back-top-color-hover);
  }
}

@media screen and (max-width: @screen-lg-max) {
  .@{back-top-prefix} {
    right: 48px;
  }
}

@media screen and (max-width: @screen-md-max) {
  .@{back-top-prefix} {
    right: 40px;
    .back-top-size(var(--ix-back-top-size-md));
  }
}

@media screen and (max-width: @screen-sm-max) {
  .@{back-top-prefix} {
    right: 32px;
  }
}

@media screen and (max-width: @screen-xs-max) {
  .@{back-top-prefix} {
    right: 24px;
    .back-top-size(var(--ix-back-top-size-sm));
  }
}

.back-top-size(@size) {
  width: @size;
  height: @size;
  line-height: @size;
  font-size: calc(@size / 2);
}
