@import './themes/default.less';

.@{rate-prefix} {
  display: inline-block;
  line-height: unset;
  list-style: none;
  outline: none;
  cursor: pointer;
  font-size: @rate-size;
  color: @rate-color;
  transition: @rate-transition;

  &-item {
    display: inline-block;
    position: relative;
    margin-right: @rate-item-margin-right;
  }

  &-highlight {
    color: @rate-active-color;
  }

  &-half {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  &-half-icon {
    color: @rate-active-color;
  }

  &-disabled {
    cursor: not-allowed;
  }
}
