/* ------ pro-textarea css variables ------ */
:root {
  --ix-pro-textarea-index-col-color: #f4f8ff;
  --ix-pro-textarea-index-col-min-width: 32px;
  --ix-pro-textarea-index-col-padding-horizontal: 4px;
  --ix-pro-textarea-index-col-bg-color: #171a1f;
  --ix-pro-textarea-index-col-bg-color-disabled: #1f2329;
  --ix-pro-textarea-index-col-cell-error-bg-color: #821d1f;
  --ix-pro-textarea-error-line-bg-color: #33151a;
  --ix-pro-textarea-count-bottom: 1px;
  --ix-pro-textarea-count-right: 8px;
  --ix-pro-textarea-count-opacity: 0.9;
  --ix-pro-textarea-count-color: #525966;
}
