/* ------ pro-textarea css variables ------ */
:root {
  --ix-pro-textarea-index-col-color: #2f3540;
  --ix-pro-textarea-index-col-min-width: 32px;
  --ix-pro-textarea-index-col-padding-horizontal: 4px;
  --ix-pro-textarea-index-col-bg-color: #f7f9fc;
  --ix-pro-textarea-index-col-bg-color-disabled: #e1e5eb;
  --ix-pro-textarea-index-col-cell-error-bg-color: #ffaca3;
  --ix-pro-textarea-error-line-bg-color: #fff2f0;
  --ix-pro-textarea-count-bottom: 1px;
  --ix-pro-textarea-count-right: 8px;
  --ix-pro-textarea-count-opacity: 0.9;
  --ix-pro-textarea-count-color: #a1a7b3;
}
