@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';
@import './mixins.less';

.@{result-prefix} {
  .reset-component();

  padding: var(--ix-result-padding);
  text-align: center;

  &-icon {
    margin-bottom: var(--ix-margin-size-lg);
    font-size: var(--ix-result-icon-size);
    line-height: 1;
  }

  &-title {
    font-size: var(--ix-result-title-font-size);
    color: var(--ix-color-text);
    font-weight: var(--ix-font-weight-md);
    line-height: var(--ix-result-title-line-height);
  }

  &-subtitle {
    font-size: var(--ix-result-subtitle-font-size);
    line-height: var(--ix-result-subtitle-line-height);
    color: var(--ix-color-text-info);
    font-weight: var(--ix-font-weight-md);
    margin-top: var(--ix-result-subtitle-margin-top);
  }

  &-extra {
    margin-top: var(--ix-result-extra-margin-top);

    & > * {
      margin-right: var(--ix-margin-size-sm);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-content {
    margin-top: var(--ix-result-content-margin-top);
    padding: var(--ix-result-content-padding);
    background-color: var(--ix-color-addon-container-bg);
  }
}

.result-status-traverse(@result-prefix);
