@import '../../../style/variable/index.less';
@import '../../../style/mixins/reset.less';

.@{overlay-prefix} {
  .reset-component-new();

  border: var(--ix-overlay-border-width) var(--ix-overlay-border-type) var(--ix-overlay-border-color);
  border-radius: var(--ix-overlay-border-radius);
  background-color: var(--ix-overlay-bg-color);
  box-shadow: var(--ix-box-shadow-md);
  z-index: 1000;

  @arrow-offset: var(--ix-overlay-border-width);
  @arrow-size: var(--ix-overlay-arrow-size);
  @border-arrow-size: calc(@arrow-size + var(--ix-overlay-border-width));

  &-arrow {
    position: absolute;
    width: calc(@arrow-size * 2);
    height: calc(@arrow-size * 2);

    &::before,
    &::after {
      content: '';
      position: absolute;
      border-color: transparent;
      border-style: solid;
    }
  }

  &[data-popper-placement^='top'] {
    .@{overlay-prefix}-arrow {
      bottom: calc(@arrow-size * -2);

      &::before {
        left: 0;
        border-width: @border-arrow-size @border-arrow-size 0;
        border-top-color: var(--ix-overlay-border-color);
        transform-origin: center top;
      }
      &::after {
        left: @arrow-offset;
        border-width: @arrow-size @arrow-size 0;
        border-top-color: var(--ix-overlay-bg-color);
        transform-origin: center top;
      }
    }
  }

  &[data-popper-placement^='bottom'] {
    .@{overlay-prefix}-arrow {
      top: calc(@arrow-size * -1);

      &::before {
        left: 0;
        top: 0;
        border-width: 0 @border-arrow-size @border-arrow-size;
        border-bottom-color: var(--ix-overlay-border-color);
        transform-origin: center bottom;
      }
      &::after {
        left: @arrow-offset;
        top: @arrow-offset;
        border-width: 0 @arrow-size @arrow-size;
        border-bottom-color: var(--ix-overlay-bg-color);
        transform-origin: center bottom;
      }
    }
  }

  &[data-popper-placement^='left'] {
    .@{overlay-prefix}-arrow {
      right: calc(@arrow-size * -2);

      &::before {
        top: 0;
        border-width: @border-arrow-size 0 @border-arrow-size @border-arrow-size;
        border-bottom-color: var(--ix-overlay-border-color);
        transform-origin: center left;
      }
      &::after {
        top: @arrow-offset;
        border-width: @arrow-size 0 @arrow-size @arrow-size;
        border-left-color: var(--ix-overlay-bg-color);
        transform-origin: center left;
      }
    }
  }

  &[data-popper-placement^='right'] {
    .@{overlay-prefix}-arrow {
      left: calc(@arrow-size * -1);

      &::before {
        top: 0;
        border-width: @border-arrow-size 0 @border-arrow-size @border-arrow-size;
        border-bottom-color: var(--ix-overlay-border-color);
        transform-origin: center right;
      }
      &::after {
        left: calc(@arrow-offset * -1);
        border-width: @arrow-size @arrow-size @arrow-size 0;
        border-right-color: var(--ix-overlay-bg-color);
        transform-origin: center right;
      }
    }
  }

  &[data-popper-reference-hidden] {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
