@import '../../../style/default.less';

@overlay-prefix: ~'@{idux-prefix}-overlay';

.@{overlay-prefix} {
  &-arrow {
    width: @overlay-arrow-size * 2;
    height: @overlay-arrow-size * 2;

    &::before {
      content: '';
      position: absolute;
      border-color: transparent;
      border-style: solid;
    }
  }

  &[data-popper-placement^='top'] {
    .@{overlay-prefix}-arrow {
      bottom: 0;

      &::before {
        bottom: -@overlay-arrow-size + 1px;
        left: 0;
        border-width: @overlay-arrow-size @overlay-arrow-size 0;
        border-top-color: initial;
        transform-origin: center top;
      }
    }
  }

  &[data-popper-placement^='bottom'] {
    .@{overlay-prefix}-arrow {
      top: 0;

      &::before {
        top: -@overlay-arrow-size + 1px;
        left: 0;
        border-width: 0 @overlay-arrow-size @overlay-arrow-size;
        border-bottom-color: initial;
        transform-origin: center bottom;
      }
    }
  }

  &[data-popper-placement^='left'] {
    .@{overlay-prefix}-arrow {
      right: 0;

      &::before {
        border-width: @overlay-arrow-size 0 @overlay-arrow-size @overlay-arrow-size;
        border-left-color: initial;
        right: -@overlay-arrow-size + 1px;
        transform-origin: center left;
      }
    }
  }

  &[data-popper-placement^='right'] {
    .@{overlay-prefix}-arrow {
      left: 0;

      &::before {
        left: -@overlay-arrow-size + 1px;
        border-width: @overlay-arrow-size @overlay-arrow-size @overlay-arrow-size 0;
        border-right-color: initial;
        transform-origin: center right;
      }
    }
  }
}
