@import "../../../style/mixins/reset.less";

.@{overlay-prefix} {
  .reset-component();

  &-arrow {
    position: absolute;
    width: @overlay-arrow-size * 2;
    height: @overlay-arrow-size * 2;

    &::before {
      content: '';
      position: absolute;
      border-color: transparent;
      border-style: solid;
    }
  }

  &[data-popper-placement^='top'] {
    .@{overlay-prefix}-arrow {
      bottom: -@overlay-arrow-size * 2;

      &::before {
        left: 0;
        border-width: @overlay-arrow-size @overlay-arrow-size 0;
        border-top-color: initial;
        transform-origin: center top;
      }
    }
  }

  &[data-popper-placement^='bottom'] {
    .@{overlay-prefix}-arrow {
      top: -@overlay-arrow-size;

      &::before {
        left: 0;
        border-width: 0 @overlay-arrow-size @overlay-arrow-size;
        border-bottom-color: initial;
        transform-origin: center bottom;
      }
    }
  }

  &[data-popper-placement^='left'] {
    .@{overlay-prefix}-arrow {
      right: -@overlay-arrow-size * 2;

      &::before {
        border-width: @overlay-arrow-size 0 @overlay-arrow-size @overlay-arrow-size;
        border-left-color: initial;
        transform-origin: center left;
      }
    }
  }

  &[data-popper-placement^='right'] {
    .@{overlay-prefix}-arrow {
      left: -@overlay-arrow-size;

      &::before {
        border-width: @overlay-arrow-size @overlay-arrow-size @overlay-arrow-size 0;
        border-right-color: initial;
        transform-origin: center right;
      }
    }
  }

  &[data-popper-reference-hidden] {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
