/* ------ skeleton css variables ------ */
:root {
  --ix-skeleton-margin-bottom: 8px;
  --ix-skeleton-loader-margin-bottom: 4px;
  --ix-skeleton-start-color: #171a1f;
  --ix-skeleton-end-color: #1f2329;
}
