/* ------ skeleton css variables ------ */
:root {
  --ix-skeleton-margin-bottom: 8px;
  --ix-skeleton-loader-margin-bottom: 4px;
  --ix-skeleton-start-color: #edf1f7;
  --ix-skeleton-end-color: #e1e5eb;
}
