/* ------ breadcrumb css variables ------ */
:root {
  --ix-breadcrumb-font-size: 14px;
  --ix-breadcrumb-item-color: #808999;
  --ix-breadcrumb-link-color: #808999;
  --ix-breadcrumb-link-color-hover: #4083e8;
  --ix-breadcrumb-separator-color: #687080;
  --ix-breadcrumb-separator-font-size: 12px;
  --ix-breadcrumb-last-item-color: #f4f8ff;
  --ix-breadcrumb-separator-margin: 0 4px;
}
