@import '../../../style/themes/default.less';
@import '../index.less';

@skeleton-margin-bottom: @spacing-sm;

@skeleton-loader-margin-bottom: @spacing-xs;

@skeleton-start-color: @color-grey-l20;

@skeleton-end-color: @color-grey-l30;
