@table-border: 1px solid @table-border-color;

.@{table-prefix} {
  th {
    border-bottom: @table-border;
  }

  thead > tr:not(:last-child) > th {
    &[colspan] {
      border-bottom: none;
    }
  }

  td {
    border-bottom: @table-border;
  }

  &-footer {
    border-bottom: @table-border;
  }

  &-filterable-trigger {
    &-footer {
      border-top: @table-border;
    }
  }

  &-sticky {
    &-scroll {
      border-top: @table-border;
    }
  }
}

.@{table-prefix}:not(.@{table-prefix}-borderless),
.@{table-prefix}:not(.@{table-prefix}-borderless) > .@{spin-prefix} > .@{spin-prefix}-container {
  > .@{header-prefix} {
    border: @table-border;
    border-bottom: none;
  }

  > .@{table-prefix}-container {
    > .@{table-prefix}-fixed-holder,
    > .@{table-prefix}-content {
      border: @table-border;

      > table {
        > thead > tr > th,
        > tbody > tr > td:not(:last-child),
        > tfoot > tr > th:not(:last-child),
        > tfoot > tr > td:not(:last-child) {
          border-right: @table-border;
        }

        > thead > tr:first-child > th:last-child {
          border-right: none;
        }

        > thead {
          > tr:not(:last-child) > th {
            border-bottom: @table-border;
          }

          > tr > th {
            &::before {
              background-color: transparent;
            }
          }
        }

        > thead > tr,
        > tbody > tr,
        > tfoot > tr {
          > .@{table-prefix}-fix-end-first::after {
            border-right: @table-border;
          }
        }

        > tbody > tr:last-child > td {
          border-bottom: none;
        }
      }
    }

    > .@{table-prefix}-fixed-holder {
      border-bottom: none;
    }

    > .@{table-prefix}-fixed-holder + .@{table-prefix}-content {
      border-top: none;
    }
  }

  > .@{table-prefix}-footer {
    border: @table-border;
    border-top: none;
  }

  > .@{table-prefix}-pagination {
    border: @table-border;
    border-top: none;
    padding: 4px 8px 3px;
  }
}

.@{table-prefix}.@{table-prefix}-auto-height,
.@{table-prefix}.@{table-prefix}-auto-height > .@{spin-prefix} > .@{spin-prefix}-container {
  > .@{table-prefix}-container:not(.@{table-prefix}-scroll-vertical) {
    > .@{table-prefix}-fixed-holder,
    > .@{table-prefix}-content {
      > table {
        > tbody > tr:last-child > td {
          border-bottom: @table-border;
        }

        > tbody > tr.@{table-prefix}-empty-row > td {
          border-bottom: none;
        }
      }
    }
  }
}
