.@{table-prefix}-filter-dropdown {
  display: inline-flex;
  padding: @table-filter-dropdown-padding;
  background-color: @table-filter-dropdown-background-color;
  box-shadow: @table-filter-dropdown-box-shadow;

  &-group {
    display: inline-flex;
    flex-direction: column;
  }

  &-item {
    min-width: @table-filter-dropdown-width;
    height: @table-filter-dropdown-item-height;
    padding: @table-filter-dropdown-item-padding;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    &:hover {
      background-color: @table-filter-dropdown-item-hover-background-color;
    }
  }
}