.@{table-prefix} {
  &-fix {
    &-start,
    &-end {
      z-index: 2;

      td& {
        background-color: @table-background-color;
      }
    }
  }

  &-fix-start-first::after,
  &-fix-start-last::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -1px;
    width: 30px;
    transform: translate(100%);
    transition: box-shadow @transition-duration-base;
    content: '';
    pointer-events: none;
  }

  &-fix-end-first::after,
  &-fix-end-last::after {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    width: 30px;
    transform: translate(-100%);
    transition: box-shadow @transition-duration-base;
    content: '';
    pointer-events: none;
  }

  &-ping-start &-fix-start-first::after,
  &-ping-start &-fix-start-last::after {
    box-shadow: inset 10px 0 8px -8px rgb(0 0 0 / 15%);
  }

  &-ping-end &-fix-end-first::after,
  &-ping-end &-fix-end-last::after {
    box-shadow: inset -10px 0 8px -8px rgb(0 0 0 / 15%);
  }

  &-ping-start &-fix-start-last::before {
    background-color: transparent !important;
  }

  &-cell-ellipsis&-fix-start-last,
  &-cell-ellipsis&-fix-end-first {
    overflow: visible;
  }

  &-fixed-row {
    margin: -12px;
    padding: 16px;
  }
}
