@import '../../style/variable/index.less';
@import '../../style/mixins/clearfix.less';
@import '../../style/mixins/ellipsis.less';
@import '../../style/mixins/reset.less';

@import './border.less';
@import './fixed.less';
@import './radius.less';
@import './size.less';
@import './expandable.less';
@import './selectable.less';
@import './triggers.less';

.@{table-prefix} {
  .reset-component-new();
  .reset-color();
  .clearfix();

  max-width: 100%;

  &-container {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 30px;
      transition: box-shadow var(--ix-motion-duration-fast);
      content: '';
      pointer-events: none;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    .cdk-virtual-scroll-holder {
      overflow-y: scroll;
    }
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }

  th {
    color: var(--ix-table-head-color);
    background-color: var(--ix-table-head-bg-color);
    font-weight: var(--ix-font-weight-md);

    &:not(:last-child)::before {
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      background-color: var(--ix-table-head-separator-color);
      transform: translateY(-50%);
      content: '';
    }
  }

  thead > tr > th[colspan]:not([colspan='1']) {
    text-align: center;
  }

  td {
    transition: background var(--ix-motion-duration-fast);

    // TODO: Nest Table
  }

  tr {
    &:hover {
      > td {
        background-color: var(--ix-table-body-row-bg-color-hover);
      }
      .@{table-prefix}-expandable-trigger-button {
        background-color: var(--ix-table-body-row-bg-color-hover);
      }
    }

    &.@{table-prefix}-alert-row,
    &.@{table-prefix}-empty-row {
      &:hover {
        > td {
          background-color: var(--ix-color-container-bg);
        }
      }
    }
  }

  &-cell {
    position: relative;
    text-align: start;
    overflow-wrap: break-word;
  }

  &-cell-align {
    &-center {
      text-align: center;

      .@{table-prefix}-cell-triggers {
        justify-content: center;
      }
    }

    &-end {
      text-align: end;

      .@{table-prefix}-cell-triggers {
        justify-content: flex-end;
      }
    }
  }

  &-cell-ellipsis {
    .ellipsis();

    .@{table-prefix}-cell-title {
      .ellipsis();
    }

    .@{table-prefix}-cell-content {
      display: block;
      .ellipsis();
    }
  }

  &-cell-title {
    position: relative;
    z-index: 1;
  }

  &-cell-scroll-bar {
    box-shadow: 0 1px 0 1px var(--ix-table-head-bg-color);
  }

  &-pagination {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;

    > * {
      flex: none;
    }

    &-start {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }

    &-end {
      justify-content: flex-end;
    }
  }

  &-auto-height {
    display: flex;
    flex-direction: column;
    height: 100%;

    .@{spin-prefix} {
      height: 100%;

      &-container {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }

    .@{table-prefix} {
      &-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      &-content {
        flex-basis: 0;
        height: 0;
        flex-grow: 1;
      }

      &-fixed-holder {
        flex-shrink: 0;
      }
    }

    .cdk-virtual-scroll {
      flex: 1 1 0;
    }
  }

  &-empty&-auto-height,
  &-empty&-full-height {
    .cdk-virtual-scroll-filler,
    .cdk-virtual-scroll-content,
    table {
      height: 100%;
    }
  }

  &-sticky {
    &-holder {
      position: sticky;
      z-index: 3;
      background-color: var(--ix-color-container-bg);
    }

    &-scrollbar {
      position: sticky;
      bottom: 0;
      z-index: 3;
      background-color: var(--ix-scrollbar-track-background-color);
      border-radius: var(--ix-scrollbar-track-border-radius);
      box-shadow: var(--ix-scrollbar-track-box-shadow);

      &:hover {
        transform-origin: center bottom;
      }

      &-thumb {
        height: var(--ix-scrollbar-height);
        background-clip: padding-box;
        background-color: var(--ix-scrollbar-thumb-background-color);
        border: var(--ix-scrollbar-thumb-border-width) solid transparent;
        border-radius: var(--ix-scrollbar-thumb-border-radius);
        box-shadow: var(--ix-scrollbar-thumb-box-shadow);

        &:hover {
          background-color: var(--ix-scrollbar-thumb-background-color-hover);
        }

        &&-active {
          background-color: var(--ix-scrollbar-thumb-background-color-active);
        }
      }
    }
  }

  // chrome 83: virtual + fixed column
  .cdk-virtual-scroll-content {
    display: block;
  }
}
