.@{table-prefix} {

  table > thead > tr:first-child {

    th:first-child {
      border-top-left-radius: @table-border-radius;
    }

    th:last-child {
      border-top-right-radius: @table-border-radius;
      // fix layout tool conflicts(IDuxFE#1010)
      padding: 0 24px 0 12px;
    }
  }
}
