.@{table-prefix} {

  table > thead > tr:first-child {

    th:first-child {
      border-top-left-radius: var(--ix-border-radius-sm);
    }

    th:last-child {
      border-top-right-radius: var(--ix-border-radius-sm);
    }
  }
}
