.@{table-prefix} {
  &-selectable-trigger {
    margin-left: var(--ix-margin-size-xs);
    color: var(--ix-table-head-color);
    font-size: var(--ix-font-size-lg);
    cursor: pointer;
  }

  & tr&-row-selected {
    &:hover > td {
      background-color: var(--ix-table-body-row-bg-color-hover);
    }
    & > td {
      background: var(--ix-table-body-row-bg-color-selected);
    }
  }

  & td.@{table-prefix}-cell-selectable {
    .@{checkbox-prefix},
    .@{radio-prefix} {
      line-height: 1;
    }
  }
}