.@{table-prefix} {
  &-selectable-trigger {
    margin-left: @spacing-xs;
    color: @table-head-color;
    font-size: var(--ix-font-size-lg);
    cursor: pointer;
  }

  & tr&-row-selected {
    &:hover > td {
      background-color: @table-body-row-background-color-hover;
    }
    & > td {
      background: @table-body-row-background-color-selected;
    }
  }
}