.table-size( @font-size, @head-height, @body-height, @padding-horizontal) {
  .reset-font-size(@font-size);

  &:not(.@{table-prefix}-borderless) {
    > .@{header-prefix} {
      padding-left: @padding-horizontal;
      padding-right: @padding-horizontal;
    }
  }

  .@{table-prefix}-expandable-trigger {
    font-size: calc(@font-size + 2px);
  }
  .@{table-prefix}-expandable-wrapper {
    height: calc(100% + 7px); // cell height + padding
    margin-top: -1px; // cell border bottom
  }

  th.@{table-prefix}-cell {
    height: @head-height;
    padding: 0 @padding-horizontal;

    .@{table-prefix}-sortable-trigger,
    .@{table-prefix}-filterable-trigger {
      height: @head-height;

      &:last-child {
        margin-right: calc(4px - @padding-horizontal);
      }
    }

    &:not(:last-child)::before {
      height: calc(@head-height / 2);
    }
  }

  td.@{table-prefix}-cell,
  .@{table-prefix}-alert-row > td,
  .@{table-prefix}-expanded-row > td,
  .@{table-prefix}-footer {
    height: @body-height;
    // border-bottom: 1px
    padding: 4px @padding-horizontal 3px;
  }

  // TODO: Nest Table
}

.@{table-prefix}-sm {
  .table-size(var(--ix-table-font-size-sm), var(--ix-table-head-row-height-sm), var(--ix-table-body-row-height-sm), var(--ix-table-row-padding-horizontal-sm));

  .@{table-prefix}-col-expandable,
  .@{table-prefix}-col-selectable {
    width: 36px;
  }

  .@{table-prefix}-col-indexable {
    width: 48px;
  }

  .@{table-prefix}-col-selectable&-col-with-dropdown {
    width: 56px;
  }

  .@{table-prefix}-pagination {
    padding: 8px 0;
  }
}

.@{table-prefix}-md {
  .table-size(var(--ix-table-font-size-md), var(--ix-table-head-row-height-md), var(--ix-table-body-row-height-md), var(--ix-table-row-padding-horizontal-md));

  .@{table-prefix}-col-expandable,
  .@{table-prefix}-col-selectable {
    width: 40px;
  }

  .@{table-prefix}-col-indexable {
    width: 48px;
  }

  .@{table-prefix}-col-selectable.@{table-prefix}-col-with-dropdown {
    width: 60px;
  }
}

.@{table-prefix}-lg {
  .table-size(var(--ix-table-font-size-lg), var(--ix-table-head-row-height-lg), var(--ix-table-body-row-height-lg), var(--ix-table-row-padding-horizontal-lg));

  .@{table-prefix}-col-expandable,
  .@{table-prefix}-col-selectable {
    width: 48px;
  }

  .@{table-prefix}-col-indexable {
    width: 60px;
  }

  .@{table-prefix}-col-selectable.@{table-prefix}-col-with-dropdown {
    width: 68px;
  }
}
