.table-size(@size, @font-size, @head-height, @body-height, @padding-right, @padding-left) {
  @body-padding-v: ((@body-height - @table-border-width - @font-size * @line-height-base) / 2);

  .@{table-prefix}-@{size} {
    .@{table-prefix}& {
      font-size: @font-size;
    }

    th {
      padding: 0 @padding-right 0 @padding-left;
      height: @head-height - @table-border-width;
      line-height: @head-height - @table-border-width;

      .@{table-prefix}-sortable-trigger,
      .@{table-prefix}-filterable-trigger {
        height: @head-height - @table-border-width;
      }

      &:not(:last-child)::before {
        height: (@head-height / 2);
      }
    }

    td {
      padding: @body-padding-v @padding-right @body-padding-v @padding-left;
      height: @body-height;
    }

    .@{header-prefix} {
      padding: 0 @padding-right 0 @padding-left;
    }

    .@{table-prefix} {
      &-footer {
        padding: @body-padding-v @padding-right @body-padding-v @padding-left;
      }
    }

    // TODO: Nest Table
  }
}

.table-size(~'lg', @table-font-size-lg, @table-head-height-lg, @table-height-lg, @table-padding-right-lg, @table-padding-left-lg);
.table-size(~'md', @table-font-size-md, @table-head-height-md, @table-height-md, @table-padding-right-md, @table-padding-left-md);
.table-size(~'sm', @table-font-size-sm, @table-head-height-sm, @table-height-sm, @table-padding-right-sm, @table-padding-left-sm);
