@button-font-size-xs: var(--ix-font-size-sm);
@button-font-size-sm: var(--ix-font-size-sm);
@button-font-size-md: var(--ix-font-size-md);
@button-font-size-lg: var(--ix-font-size-lg);
@button-font-size-xl: var(--ix-font-size-xl);

@button-min-width-xs: auto;
@button-min-width-sm: auto;
@button-min-width-md: auto;
@button-min-width-lg: auto;
@button-min-width-xl: auto;

@button-height-xs: var(--ix-height-sm);
@button-height-sm: var(--ix-height-md);
@button-height-md: var(--ix-height-md);
@button-height-lg: var(--ix-height-lg);
@button-height-xl: var(--ix-height-xl);

@button-padding-horizontal-xs: var(--ix-spacing-sm);
@button-padding-horizontal-sm: var(--ix-spacing-md);
@button-padding-horizontal-md: var(--ix-spacing-lg);
@button-padding-horizontal-lg: var(--ix-spacing-xl);
@button-padding-horizontal-xl: var(--ix-spacing-2xl);

@button-color: var(--ix-text-color);
@button-color-disabled: var(--ix-text-color-disabled);
@button-background-color: var(--ix-background-color);
@button-background-color-disabled: var(--ix-background-color-deep);
@button-border-color: var(--ix-border-color);
@button-border-radius: var(--ix-border-radius-md);

@button-primary-color: var(--ix-text-color-inverse);
@button-primary-background-color: var(--ix-color-primary);
@button-primary-background-color-hover: var(--ix-color-primary-l10);
@button-primary-background-color-active: var(--ix-color-primary-d10);

@button-danger-color: var(--ix-color-error);
@button-danger-color-hover: var(--ix-color-error-l10);
@button-danger-color-active: var(--ix-color-error-d10);

@button-ghost-border-color: var(--ix-background-color);
@button-ghost-background-color-hover: rgba(255, 255, 255, 0.2);
@button-ghost-background-color-active: var(--ix-background-color);
@button-ghost-background-color-disabled: rgba(255, 255, 255, 0.4);

@button-icon-color: inherit;
@button-icon-font-size: inherit;
