@import './default.variable.less';

@button-height-xs: 24px;
@button-height-sm: 32px;

@button-icon-font-size-xs: @font-size-lg;
@button-icon-font-size-sm: @font-size-lg;
@button-icon-font-size-md: @font-size-lg;
@button-icon-font-size-lg: @font-size-lg;
@button-icon-font-size-xl: @font-size-lg;
