@import '../../style/mixins/reset.less';

.@{pro-table-prefix} {
  .reset-component();

  &-layout-tool {
    .@{tree-prefix} {
      &-node {
        &-content-suffix {
          color: @color-primary;
          visibility: hidden;
        }

        &:hover .@{tree-prefix}-node-content-suffix {
          visibility: visible;
        }
      }
    }
  }
}

.cdk-resizable {
  &-handler {
    position: absolute;
    user-select: none;
    z-index: 9;

    &-end {
      width: 10px;
      height: 100%;
      top: 0;
      right: -5px;
    }
  }

  &-preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    border-right: 1px dashed #d1d1d1;
  }

  &-handler {
    &-end {
      cursor: ew-resize;
    }
  }
}
