/* ------ collapse css variables ------ */
:root {
  --ix-collapse-font-size-sm: 12px;
  --ix-collapse-font-size-md: 12px;
  --ix-collapse-expand-icon-size-sm: 20px;
  --ix-collapse-expand-icon-size-md: 24px;
  --ix-collapse-padding-horizontal-sm: 12px;
  --ix-collapse-padding-horizontal-md: 16px;
}
