@pro-tree-border: var(--ix-line-width) var(--ix-line-type) var(--ix-color-border-secondary);
@pro-tree-padding: 0;
@pro-tree-header-search-wrapper-gap: var(--ix-margin-size-xs);
@pro-tree-header-search-wrapper-horizontal-spacing: var(--ix-padding-size-md);
@pro-tree-header-search-wrapper-vertical-spacing: 0;
@pro-tree-search-wrapper-margin-bottom: var(--ix-margin-size-sm);
@pro-tree-search-input-suffix-color: var(--ix-color-icon-info);
@pro-tree-header-wrapper-icon-font-size: var(--ix-font-size-icon);
@pro-tree-header-wrapper-icon-hover-color: var(--ix-color-icon-hover);
@pro-tree-header-wrapper-height: var(--ix-pro-tree-header-height);
@pro-tree-content-horizontal-spacing: 0;
@pro-tree-content-vertical-spacing: 0;

@pro-tree-divider-horizontal-spacing: @pro-tree-header-search-wrapper-horizontal-spacing;
@pro-tree-divider-vertical-spacing: var(--ix-margin-size-sm);
@pro-tree-node-padding: 0 var(--ix-padding-size-md) 0 var(--ix-padding-size-md);
