@import '../../style/mixins/reset.less';
@import './mixin.less';

.@{switch-prefix} {
  .reset-component();

  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: @switch-font-size;
  color: @switch-color;
  background-color: @switch-background-color;
  border-radius: @switch-border-radius;
  transition: all @transition-duration-base @ease-in-out;
  outline: none;

  &::after {
    position: absolute;
    cursor: pointer;
    left: @switch-box-size-padding;
    border-radius: @switch-border-radius;
    background-color: @switch-box-background-color;
    box-shadow: @switch-box-box-shadow;
    transition: all @transition-duration-base @ease-in-out;
    content: ' ';
  }

  &-loading-icon {
    position: absolute;
    z-index: 1;
    color: @switch-disabled-color;
  }

  &-checked {
    background-color: @switch-active-color;

    .@{switch-prefix}-loading-icon {
      color: @switch-active-disabled-color;
    }
  }

  &-loading,
  &-disabled {
    cursor: not-allowed;

    &.@{switch-prefix} {
      background-color: @switch-disabled-color;
      &-checked {
        background-color: @switch-active-disabled-color;
      }

      &::after {
        cursor: not-allowed;
      }
    }
  }

  &-sm {
    .switch-size(@switch-height-sm, @switch-icon-font-size-sm, @switch-box-size-sm, @switch-box-size-padding, 0px, @switch-padding-horizontal-sm);
  }

  &-md {
    .switch-size(@switch-height-md, @switch-icon-font-size-md, @switch-box-size-md, @switch-box-size-padding, 1px, @switch-padding-horizontal-md);
  }

  &-lg {
    .switch-size(@switch-height-lg, @switch-icon-font-size-lg, @switch-box-size-lg, @switch-box-size-padding, 1px, @switch-padding-horizontal-lg);
  }
}
