@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';
@import './mixin.less';

.@{switch-prefix} {
  .reset-component();

  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: var(--ix-control-font-size-sm);
  color: var(--ix-color-text-inverse);
  background-color: var(--ix-color-fill-container-bg);
  border-style: none;
  border-radius: 9999px;
  transition: all var(--ix-motion-duration-medium) var(--ix-motion-ease-in-out);
  outline: none;

  &::after {
    position: absolute;
    cursor: pointer;
    left: var(--ix-switch-handle-padding);
    border-radius: 9999px;
    background-color: var(--ix-switch-handle-bg-color);
    box-shadow: var(--ix-switch-handle-box-shadow);
    transition: all var(--ix-motion-duration-medium) var(--ix-motion-ease-in-out);
    content: ' ';
  }

  &-loading-icon {
    position: absolute;
    z-index: 1;
    color: var(--ix-color-text-inverse-disabled);
  }

  &-checked {
    background-color: var(--ix-color-primary);

    .@{switch-prefix}-loading-icon {
      color: var(--ix-switch-active-disabled-color);
    }
  }

  &-loading,
  &-disabled {
    cursor: not-allowed;

    &.@{switch-prefix} {
      background-color: var(--ix-color-container-bg-disabled);
      &-checked {
        background-color: var(--ix-switch-active-disabled-color);
      }

      &::after {
        cursor: not-allowed;
      }
    }
  }

  &-sm {
    .switch-size(var(--ix-switch-height-sm), var(--ix-switch-icon-font-size-sm), var(--ix-switch-handle-size-sm), var(--ix-switch-handle-padding), 0px, var(--ix-control-padding-size-horizontal-sm));
  }

  &-md {
    .switch-size(var(--ix-switch-height-md), var(--ix-switch-icon-font-size-md), var(--ix-switch-handle-size-md), var(--ix-switch-handle-padding), 1px, var(--ix-control-padding-size-horizontal-md));
  }

  &-lg {
    .switch-size(var(--ix-switch-height-lg), var(--ix-switch-icon-font-size-lg), var(--ix-switch-handle-size-lg), var(--ix-switch-handle-padding), 1px, var(--ix-control-padding-size-horizontal-lg));
  }
}
