@import '../../style/themes/default.less';

@switch-prefix: ~'@{idux-prefix}-switch';

.@{switch-prefix} {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 44px;
  height: @switch-normal-height;
  border-radius: 20px;
  background: @switch-close-bg-color;
  transition: @switch-transition;
  cursor: pointer;

  &-loading-icon {
    position: absolute;
    z-index: 1;
    right: calc(100% - @switch-normal-loading-icon-offset);
    color: @switch-close-loading-icon-color;
  }

  &-inner {
    padding: @switch-normal-text-padding;
    color: @switch-inner-circle-bg-color;
    font-size: @switch-inner-font-size;
    transition: @switch-transition;
  }

  &::after {
    position: absolute;
    width: @switch-normal-inner-circle-size;
    height: @switch-normal-inner-circle-size;
    left: 2px;
    border-radius: 50%;
    background-color: @switch-inner-circle-bg-color;
    content: ' ';
    cursor: pointer;
    box-shadow: @switch-inner-circle-shadow;
    transition: @switch-transition;
  }

  &:focus {
    outline: 0;
    box-shadow: @switch-focus-shadow;
  }

  &-checked {
    background-color: @switch-open-bg-color;

    .@{switch-prefix}-loading-icon {
      left: calc(100% - @switch-normal-loading-icon-offset);
      color: @switch-open-loading-icon-color;
    }

    .@{switch-prefix}-inner {
      padding: @switch-normal-checked-text-padding;
    }

    &::after {
      left: calc(100% - (@switch-normal-offset));
    }
  }

  &-loading,
  &-disabled {
    opacity: @switch-disable-opacity;
    cursor: not-allowed;

    &:focus {
      box-shadow: none;
    }

    &::after {
      cursor: not-allowed;
    }
  }

  &-small {
    min-width: 28px;
    height: @switch-small-height;

    .@{switch-prefix}-loading-icon {
      right: calc(100% - @switch-small-loading-icon-offset);
      top: -5px;
      svg {
        width: @switch-loading-icon-size-sm;
        height: @switch-loading-icon-size-sm;
      }
    }

    .@{switch-prefix}-inner {
      padding: @switch-small-text-padding;
    }

    &::after {
      width: @switch-small-inner-circle-size;
      height: @switch-small-inner-circle-size;
    }
  }

  &-small&-checked {
    .@{switch-prefix}-loading-icon {
      right: calc(100% - @switch-small-loading-icon-offset);
    }

    .@{switch-prefix}-inner {
      padding: @switch-small-checked-text-padding;
    }

    &::after {
      left: calc(100% - (@switch-small-offset));
    }
  }
}
