@import '../../../style/themes/default.less';
@import '../../../menu/style/themes/default.variable.less';

@dropdown-menu-item-height: @height-md;
@dropdown-menu-item-margin: 0;

@dropdown-overlay-arrow-color: @background-color-component;
@dropdown-overlay-zindex: @menu-overlay-zindex;
@dropdown-overlay-min-width: @menu-overlay-min-width;
@dropdown-overlay-background-color: @menu-background-color;
@dropdown-overlay-border-radius: @menu-overlay-border-radius;
@dropdown-overlay-box-shadow: @menu-overlay-box-shadow;
