@dropdown-background-color: @menu-background-color;
@dropdown-border-radius: @menu-overlay-border-radius;
@dropdown-box-shadow: @menu-overlay-box-shadow;
@dropdown-min-width: @menu-overlay-min-width;

@dropdown-menu-container-padding: @spacing-sm 0;