@import '../../../style/themes/default.less';
@import '../index.less';

@dropdown-menu-item-height: @height-md;
@dropdown-menu-item-margin: 0;
@dropdown-background-color: @background-color-component;
