@import '../../style/variable/index.less';
.@{breadcrumb-prefix} {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: var(--ix-font-size-md);
  color: var(--ix-breadcrumb-item-color);
  white-space: nowrap;

  & ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  & a {
    color: var(--ix-breadcrumb-link-color);
    transition: color var(--ix-motion-duration-medium) var(--ix-motion-ease-in-out);
    text-decoration: none;

    &:hover {
      color: var(--ix-breadcrumb-link-color-hover);
    }
  }

  &-item {
    display: inline-flex;

    &-separator {
      font-size: var(--ix-breadcrumb-separator-font-size);
      margin: var(--ix-breadcrumb-separator-margin);
      color: var(--ix-breadcrumb-separator-color);
    }
  }

  &-item:last-child {
    color: var(--ix-breadcrumb-last-item-color);

    .@{breadcrumb-prefix}-item-separator {
      display: none;
    }

    a {
      color: var(--ix-breadcrumb-last-item-color);
    }
  }
}
