@import '../../../style/mixins/reset.less';

.@{checkable-list-prefix} {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: @checkable-list-background-color;

  &.@{checkable-list-prefix}-virtual {
    height: auto;
  }

  &-inner {
    display: flex;
    flex-flow: column wrap;
    flex-shrink: 0;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: @checkable-list-item-min-height;
    padding: @checkable-list-item-padding;
    line-height: @checkable-list-item-line-height;
    font-size: @checkable-list-item-font-size;
    flex-shrink: 0;
    white-space: nowrap;

    &-disabled {
      color: @checkable-list-disabled-color;
      cursor: not-allowed;
    }
    &-disabled &-label {
      cursor: not-allowed;
    }

    &-checkbox {
      flex: auto;
    }

    &-close-icon {
      position: sticky;
      right: 0;
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-left: auto;
      padding: @checkable-list-close-icon-padding;
      background: linear-gradient(to right, transparent, @checkable-list-background-color 30%);
      font-size: @checkable-list-close-icon-font-size;
      color: @checkable-list-close-icon-color;
      
      &:hover {
        color: @checkable-list-close-icon-hover-color;
      }
      &:focus,
      &:active {
        color: @checkable-list-close-icon-active-color;
      }

      cursor: pointer;
    }

    &:hover {
      background-color: @checkable-list-item-hover-color;
      .@{checkable-list-prefix}-item-close-icon {
        background: linear-gradient(to right, transparent, @checkable-list-item-hover-color 50%);
      }
    }
  }
}
