@import '../../style/mixins/reset.less';

.@{layout-prefix} {
  .reset-component();

  display: grid;
  grid-template:
    'header header header'
    'sider content content'
    'sider footer footer';
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-area: content;

  &-header {
    position: relative;
    grid-area: header;
    background: @layout-header-background;
    color: @layout-header-color;
    height: @layout-header-height;
    line-height: @layout-header-height;
    padding: @layout-header-padding;
  }

  &-content {
    position: relative;
    grid-area: content;
  }

  &-footer {
    position: relative;
    grid-area: footer;
    background: @layout-footer-background;
    color: @layout-footer-color;
    padding: @layout-footer-padding;
  }

  &-sider {
    position: relative;
    grid-area: sider;
    background: @layout-sider-background;
    color: @layout-sider-color;
    width: @layout-sider-width;
    transition: @transition-all-base;

    &-collapsed {
      width: @layout-sider-collapsed-width;
    }
  }
}
