@import '../../style/mixins/reset.less';

.@{layout-prefix} {
  .reset-component-new();

  display: grid;
  grid-template:
    'header header header'
    'sider content content'
    'sider footer footer';
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;

  &-header {
    position: relative;
    grid-area: header;
    height: @layout-header-height;
    line-height: @layout-header-height;
    padding: @layout-header-padding;
  }

  &-content {
    position: relative;
    grid-area: content;
  }

  &-footer {
    position: relative;
    grid-area: footer;
    padding: @layout-footer-padding;
  }

  &-sider {
    position: relative;
    grid-area: sider;
    width: @layout-sider-width;
    transition: width var(--ix-transition-duration-medium) var(--ix-ease-in-out);

    &-collapsed {
      width: @layout-sider-collapsed-width;
    }
  }
}
