@import './default.variable.less'; 

@select-font-size-lg: @form-font-size-md;
@select-font-size-md: @form-font-size-sm;

@select-padding-horizontal-sm: 12px;
@select-padding-horizontal-md: 12px;
@select-padding-horizontal-lg: 12px;

@select-icon-color: @color-graphite-l10;
@select-icon-hover-color: @color-primary;
@select-icon-font-size: @font-size-lg;
@select-icon-margin-right: @spacing-sm;

@select-option-font-size: @font-size-sm;

@select-option-container-padding: @spacing-xs 0;

@select-option-disabled-color: @color-graphite-l10;
@select-option-selected-background-color: @color-primary-l50;
@select-option-selected-font-weight: @font-weight-md;
@select-option-active-background-color: @color-graphite-l50;

@select-option-group-margin: 0 @spacing-md;
@select-option-group-padding-left: 0;

@select-multiple-padding: 4px;
@select-multiple-item-padding: 0 @spacing-sm 0 @spacing-sm;
@select-multiple-item-background-color: @color-graphite-l40;
@select-multiple-item-border-radius: 2px;
@select-multiple-item-remove-icon-color: @color-graphite-d20;
@select-multiple-item-remove-icon-hover-color: @color-primary-l10;
@select-multiple-item-remove-icon-font-size: @font-size-lg;
@select-multiple-item-disabled-border-color: @color-graphite-l30;
