// https://www.zhangxinxu.com/study/201710/css3-linear-gradient-dashed-generate.html
.horizontal-line() {
  height: var(--ix-line-width);
  background-color: var(--ix-color-separator);
  background-size: 3px 100%;
}

.vertical-line() {
  width: var(--ix-line-width);
  background-color: var(--ix-color-separator);
  background-size: 100% 3px;
}
