// https://www.zhangxinxu.com/study/201710/css3-linear-gradient-dashed-generate.html
.horizontal-line() {
  height: @tree-node-line-size;
  background: linear-gradient(
    to right,
    @tree-node-line-color,
    @tree-node-line-color 2.25px,
    transparent 2.25px,
    transparent
  );
  background-size: 3px 100%;
}

.vertical-line() {
  width: @tree-node-line-size;
  background: linear-gradient(
    to bottom,
    @tree-node-line-color,
    @tree-node-line-color 2.25px,
    transparent 2.25px,
    transparent
  );
  background-size: 100% 3px;
}
