// https://www.zhangxinxu.com/study/201710/css3-linear-gradient-dashed-generate.html
.horizontal-line() {
  height: var(--ix-line-width);
  background-color: var(--ix-color-separator);
}

.vertical-line() {
  position: absolute;
  left: calc(var(--ix-font-size-icon) / 2);
  width: var(--ix-line-width);
  background-color: var(--ix-color-separator);
}
