@import './default.variable.less';

@date-panel-font-size: @font-size-sm;
@date-panel-body-font-size: @font-size-sm;
@date-panel-header-button-font-size: @font-size-md;
@date-panel-header-button-font-weight: @font-weight-md;
@date-range-picker-overlay-separator-font-size: @font-size-sm;
@date-range-picker-overlay-separator-padding: 4px 0 0 0;