@import '../../style/mixins/reset.less';
@import '../../style/motion/fade.less';

@import './mixin.less';
@import './status.less';
@import './layout.less';

.@{form-prefix} {
  .reset-component();

  &-sm {
    .form-size(@form-height-sm);
  }

  &-md {
    .form-size(@form-height-md);
  }

  &-lg {
    .form-size(@form-height-lg);
  }
}

.@{form-item-prefix} {
  .reset-component();

  &-message-tooltip.@{tooltip-prefix} {
    background-color: fade(@form-item-invalid-color, 80%);
    color: @color-white;

    .@{overlay-prefix}-arrow {
      color: fade(@form-item-invalid-color, 80%);
    }
  }

  &-label {
    display: inline-block;
    flex-grow: 0;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-align: end;

    &-start {
      text-align: start;
    }

    > label {
      position: relative;
      display: inline-flex;
      align-items: center;
      color: @form-item-label-color;
      font-size: @form-item-font-size;
      margin-left: @form-item-label-margin-left;
    }

    &-colon > label::after {
      position: relative;
      top: -0.5px;
      margin: 0 @form-item-label-colon-margin-right 0 @form-item-label-colon-margin-left;
      content: ':';
    }

    &-required > label::before {
      display: inline-block;
      position: absolute;
      left: @form-item-label-before-content-left;
      margin-right: @spacing-xs;
      color: @form-item-label-required-color;
      font-size: @form-item-font-size;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*';
    }

    &-tooltip {
      cursor: help;
      writing-mode: horizontal-tb;
      margin-inline-start: @spacing-xs;
      .@{icon-prefix} {
        font-size: @form-item-tooltip-icon-font-size;
        color: @form-item-tooltip-icon-color;
      }
    }
  }

  &-control {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &-input {
      position: relative;
      display: flex;
      align-items: center;

      &-content {
        display: flex;
        align-items: center;
        flex: auto;
        max-width: 100%;
      }
    }

    &-tooltip {
      position: absolute;
      right: @form-item-control-tooltip-right;
      top: 50%;
      transform: translateY(-50%);
      writing-mode: horizontal-tb;
      .@{icon-prefix} {
        font-size: @form-item-tooltip-icon-font-size;
        color: @form-item-tooltip-icon-color;
      }
    }
  }

  &-message,
  &-description {
    clear: both;
    min-height: @form-item-margin-bottom;
    color: @form-color-secondary;
    font-size: @form-item-font-size;
    line-height: @form-line-height;
  }
}
