@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';

@import './mixin.less';
@import './status.less';
@import './layout.less';

.@{form-prefix} {
  .reset-component();

  &-sm {
    .form-size(var(--ix-control-height-sm));
  }

  &-md {
    .form-size(var(--ix-control-height-md));
  }

  &-lg {
    .form-size(var(--ix-control-height-lg));
  }
}

.@{form-item-prefix} {
  .reset-component();

  &-message-tooltip.@{tooltip-prefix} {
    --ix-overlay-bg-color: var(--ix-form-message-tooltip-bg-color);

    color: var(--ix-color-text-inverse);
  }

  &-label {
    display: inline-block;
    flex-grow: 0;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-align: end;

    &-start {
      text-align: start;
    }

    > label {
      position: relative;
      display: inline-flex;
      align-items: center;
      color: var(--ix-form-label-color);
      font-size: var(--ix-form-label-font-size);
      margin-left: var(--ix-form-label-colon-margin-right);
    }

    &-colon > label::after {
      position: relative;
      top: -0.5px;
      margin: 0 var(--ix-form-label-colon-margin-right) 0 var(--ix-form-label-colon-margin-left);
      content: ':';
    }

    &-required > label::before {
      display: inline-block;
      position: absolute;
      left: calc(var(--ix-form-label-colon-margin-right) * -1);
      margin-right: var(--ix-margin-size-xs);
      color: var(--ix-form-label-required-color);
      font-size: var(--ix-form-label-font-size);
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*';
    }

    &-tooltip {
      cursor: help;
      writing-mode: horizontal-tb;
      margin-inline-start: var(--ix-margin-size-xs);
      .@{icon-prefix} {
        font-size: var(--ix-font-size-icon);
        color: var(--ix-color-info-icon);
      }
    }
  }

  &-control {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &-input {
      position: relative;
      display: flex;
      align-items: center;

      &-content {
        line-height: 1;
        flex: auto;
        max-width: 100%;
      }
    }

    &-tooltip {
      position: absolute;
      right: calc((var(--ix-font-size-icon) + 4px) * -1);
      top: 50%;
      transform: translateY(-50%);
      writing-mode: horizontal-tb;
      .@{icon-prefix} {
        font-size: var(--ix-font-size-icon);
        color: var(--ix-color-info-icon);
      }
    }
  }

  &-message,
  &-description {
    clear: both;
    min-height: var(--ix-form-item-margin-bottom);
    color: var(--ix-color-text-info);
    font-size: var(--ix-form-label-font-size);
    line-height: calc(var(--ix-form-label-font-size) + var(--ix-line-height-gutter));
  }
}
