.form-vertical-layout-label() {
  & when (@form-item-vertical-label-margin > 0) {
    margin: @form-item-vertical-label-margin;
  }

  padding: @form-item-vertical-label-padding;
  line-height: @form-line-height;
  white-space: initial;
  text-align: start;

  > label {
    margin: 0;

    &::after {
      display: none;
    }
  }
}

.form-vertical-layout() {
  .@{form-prefix}-item .@{form-prefix}-item-label {
    .form-vertical-layout-label();
  }

  .@{form-prefix} {
    .@{form-prefix}-item {
      flex-wrap: wrap;
      .@{form-prefix}-item-label,
      .@{form-prefix}-item-control {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}

.form-size(@form-height) {
  .@{form-item-prefix}-label > label {
    height: @form-height;
  }

  .@{form-item-prefix}-control-input {
    min-height: @form-height;
  }
}