.@{form-item-prefix} {
  // === invalid ===
  &-invalid > &-control {
    // time/date-picker
    .@{idux-prefix}-time-picker,
    .@{idux-prefix}-time-range-picker,
    .@{idux-prefix}-date-picker,
    .@{idux-prefix}-date-range-picker {
      &.@{idux-prefix}-trigger:not(.@{idux-prefix}-trigger-disabled),
      &.@{idux-prefix}-trigger:hover:not(.@{idux-prefix}-trigger-disabled):not(.@{idux-prefix}-trigger-borderless) {
        border-color: var(--ix-color-error-border);
      }

      &.@{idux-prefix}-trigger-focused {
        border-color: var(--ix-color-error-border);
        box-shadow: var(--ix-control-box-shadow-invalid);
      }
    }
  }

  &-message-invalid {
    color: var(--ix-color-error-text);
  }

  // === Validating ===
  &-message-validating {
    color: var(--ix-color-info-text);
  }

  // === valid ===
  &-message-valid {
    color: var(--ix-color-success-text);
  }
}
