@text-copy-icon-font-size: var(--ix-font-size-lg);
@text-copy-icon-color: var(--ix-color-primary);
@text-expand-icon-font-size: var(--ix-font-size-lg);
@text-expand-icon-color: var(--ix-color-primary);