@import '../../style/mixins/reset.less';

.@{card-prefix} {
  .reset-component();

  position: relative;
  color: @card-color;
  background-color: @card-background-color;
  border: @card-border-width @card-border-style @card-border-color;
  border-radius: @card-border-radius;
  overflow: hidden;

  &-borderless {
    border: none;
  }

  &-has-shadow {
    box-shadow: @card-box-shadow;
  }

  &-hoverable {
    cursor: pointer;
    transition: @transition-all-base;

    &:hover {
      border-color: @card-border-color-hover;
      box-shadow: @card-box-shadow;
    }
  }

  &-sm {
    .card-size(@card-padding-sm);
  }

  &-md {
    .card-size(@card-padding-md);
  }

  &-lg {
    .card-size(@card-padding-lg);
  }

  &-cover {

    > * {
      display: block;
      width: 100%;
    }

    img {
      border-radius: @card-border-radius @card-border-radius 0 0;
    }
  }

  &:not(&-borderless) &-cover {
    margin-top: -@card-border-width;
    margin-right: -@card-border-width;
    margin-left: -@card-border-width;
  }

  &-footer {
    border-top: @card-border-width @card-border-style @card-border-color;
    display: flex;

    > li {
      flex: 1;

      > .@{idux-prefix}-button {
        border: none;
        width: 100%;
      }

      &:not(:last-child) {
        border-right: @card-border-width @card-border-style @card-border-color;
      }
    }
  }

  &-loading {
    overflow: hidden;
  }

  &-loading &-body {
    user-select: none;
  }

  &-loading-col {
    padding: 0 @card-loading-spacing;
  }

  &-loading-block {
    height: @card-loading-height;
    margin: @card-loading-spacing 0;
    background: linear-gradient(90deg, @card-gradient-min, @card-gradient-max, @card-gradient-min);
    background-size: @card-loading-background-size @card-loading-background-size;
    border-radius: @card-border-radius;
    animation: card-loading @card-loading-transition-duration ease infinite;
  }

  &-has-grid:not(&-loading) &-body {
    margin: -@card-border-width 0 0 -@card-border-width;
    padding: 0;
  }

  &-grid {
    padding: @card-padding-md;
    box-shadow: @card-border-width 0 0 0 @card-border-color, 0 @card-border-width 0 0 @card-border-color,
      @card-border-width @card-border-width 0 0 @card-border-color, @card-border-width 0 0 0 @card-border-color inset,
      0 @card-border-width 0 0 @card-border-color inset;

    &-hoverable {
      transition: @transition-all-base;

      &:hover {
        box-shadow: @card-box-shadow;
      }
    }
  }

  &-selectable {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: @card-border-width @card-border-style @card-border-color-selectable;
    box-shadow: none;

    &:hover {
      border: @card-border-width @card-border-style @card-border-color-selectable-hover;
      box-shadow: @card-box-shadow-selectable;

      .@{card-prefix}-mark{
        border-color: @card-border-color-selectable @card-border-color-selectable transparent transparent;
      }
    }
  }

  &-mark-wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: @card-icon-width;
    height: @card-icon-height;
  }

  &-mark {
    width: 0;
    height: 0;
    border-style: @card-border-style;
    border-width: (@card-icon-height / 2) (@card-icon-width / 2);
    border-color: @card-icon-color @card-icon-color transparent transparent;
    border-radius: 0 @card-border-width 0;
  }

  &-mark-icon {
    font-size: @font-size-xl;
    position: absolute;
    top: -6px;
    right: -4px;
  }

  &-selected {
    border: @card-border-width @card-border-style @color-primary;
    box-shadow: @card-box-shadow-selectable;

    .@{card-prefix}-mark {
      border-color: @color-primary @color-primary transparent transparent;
    }

    &:hover {
      border: @card-border-width @card-border-style @color-primary;
      box-shadow: @card-box-shadow-selectable;

      .@{card-prefix}-mark {
        border-color: @color-primary @color-primary transparent transparent;
      }
    }
  }

  &-disabled {
    opacity: 0.4;
    cursor: not-allowed;

    &.@{card-prefix}-selectable:hover {
      border: @card-border-width @card-border-style @card-border-color-selectable;
      box-shadow: none;
    }

    &.@{card-prefix}-selected:hover {
      border: @card-border-width @card-border-style @color-primary;
      box-shadow: @card-box-shadow-selectable;
    }
  }

  .@{idux-prefix}-header {
    &-content {
      > .@{idux-prefix}-header-suffix {
        padding: 0;
      }
    }
  }
}

@keyframes card-loading {

  0%,
  100% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.card-size(@card-padding) {
  > .@{idux-prefix}-header {
    padding: (@card-padding / 4) @card-padding;
  }

  .@{card-prefix}-body {
    padding: @card-padding;
  }

  .@{card-prefix}-footer {
    padding: (@card-padding / 4);
  }
}
