@import './default.variable.less';

@form-item-font-size: @font-size-sm;
@form-font-size-sm: @font-size-sm;
@form-font-size-md: @font-size-sm;
@form-font-size-lg: @font-size-md;

@form-item-valid-color: @color-success-d10;
@form-item-validating-color: @color-pending-d10;
@form-item-invalid-color: @color-error-d10;

@form-tooltip-color: @color-primary-l10;

@form-item-margin-bottom: @spacing-sm;

@form-item-label-color: @color-graphite-d10;

@form-icon-hover-color: @color-primary;

// form common variables
@form-invalid-color: var(--ix-color-red-d10);
@form-invalid-box-shadow: 0 0 0 2px fade(@color-red-d10, 20%);
