@import './default.variable.less';

@form-item-font-size: @font-size-sm;
@form-font-size-sm: @font-size-sm;
@form-font-size-md: @font-size-sm;
@form-font-size-lg: @font-size-md;

@form-tooltip-color: @color-primary-l10;

@form-item-margin-bottom: @spacing-sm;

@form-item-label-color: @color-graphite-d10;

@form-icon-hover-color: @color-primary;
