@import '../../style/variable/index.less';
@import '../../style/mixins/box.less';
@import '../../style/mixins/reset.less';
@import '../../style/motion/zoom.less';

.@{modal-prefix} {
  .reset-component-new();

  position: relative;
  pointer-events: none;
  width: auto;
  max-width: calc(100vw - 32px);
  margin: 0 auto;

  &-wrapper {
    z-index: 1000;
    overflow: auto;
    outline: none;

    .box(fixed);
  }

  &-sentinel {
    width: 0;
    height: 0;
    overflow: hidden;
    outline: none;
  }

  &-content {
    .reset-font-size();
    .reset-color();

    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    pointer-events: auto;
    overflow: hidden;
    border-radius: var(--ix-border-radius-md);
    box-shadow: var(--ix-box-shadow-lg);

    > .@{header-prefix} {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &-body {
    flex: 1;
    padding: 8px 16px;
    overflow: auto;

    &-title {
      .reset-font-size(var(--ix-modal-title-font-size));

      font-weight: var(--ix-modal-title-font-weight);
      color: var(--ix-modal-title-color);
      margin-bottom: 4px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding-right: 16px;
      color: var(--ix-modal-content-color);

      &-only-title {
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;

        .@{modal-prefix}-body-title {
          margin-bottom: 0;
        }
      }
    }

    &-confirm,
    &-info,
    &-success,
    &-warning,
    &-error {
      display: flex;
      padding: 0 16px;
    }

    &-icon {
      font-size: var(--ix-modal-icon-size);
      line-height: 1;
      margin: 0 16px;
    }

    &-confirm {
      .@{modal-prefix}-body-icon {
        color: var(--ix-color-warning-icon);
      }
    }

    &-info {
      .@{modal-prefix}-body-icon {
        color: var(--ix-color-info-icon);
      }
    }

    &-success {
      .@{modal-prefix}-body-icon {
        color: var(--ix-color-success-icon);
      }
    }

    &-warning {
      .@{modal-prefix}-body-icon {
        color: var(--ix-color-warning-icon);
      }
    }

    &-error {
      .@{modal-prefix}-body-icon {
        color: var(--ix-color-error-icon);
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    padding: 12px 16px;

    .@{button-prefix} + .@{button-prefix} {
      margin-left: 8px;
    }
  }

  &-centered {
    text-align: center;

    &::before {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: '';
    }

    .@{modal-prefix} {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }
  }
}

@media (max-width: @screen-sm-max) {
  .@{modal-prefix} {
    max-width: calc(100vw - 16px);
    margin: 8px auto;
  }

  .@{modal-prefix}-centered {
    .@{modal-prefix} {
      flex: 1;
    }
  }
}
