@import '../../style/mixins/box.less';
@import '../../style/mixins/reset.less';
@import '../../style/motion/zoom.less';

.@{modal-prefix} {
  .reset-component-new();

  position: relative;
  pointer-events: none;
  width: auto;
  max-width: @modal-max-width;
  margin: 0 auto;

  &-wrapper {
    z-index: 1000;
    overflow: auto;
    outline: none;

    .box(fixed);
  }

  &-sentinel {
    width: 0;
    height: 0;
    overflow: hidden;
    outline: none;
  }

  &-content {
    .reset-font-size();
    .reset-color();

    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    pointer-events: auto;
    overflow: hidden;
    border-radius: @modal-border-radius;
    box-shadow: @modal-box-shadow;

    > .@{header-prefix} {
      padding-left: var(--ix-spacing-lg);
      padding-right: var(--ix-spacing-lg);
    }
  }

  &-body {
    flex: 1;
    padding: var(--ix-spacing-sm) var(--ix-spacing-lg);
    overflow: auto;

    &-title {
      .reset-font-size(@modal-body-title-font-size);

      font-weight: @modal-body-title-font-weight;
      margin-bottom: @modal-body-title-margin-bottom;
      color: @modal-body-title-color;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: @modal-body-content-padding;
      color: @modal-body-content-color;
      &&-only-title {
        align-items: center;
        flex-direction: row;
        justify-content: start;
        .@{modal-prefix}-body-title {
          margin-bottom: 0;
        }
      }
    }

    &-confirm,
    &-info,
    &-success,
    &-warning,
    &-error {
      display: flex;
      padding: @modal-body-typed-padding;
    }

    &-icon {
      line-height: 1;
      font-size: @modal-body-icon-font-size;
      margin: @modal-body-icon-margin;
    }

    &-confirm {
      .@{modal-prefix}-body-icon {
        color: @modal-body-confirm-color;
      }
    }

    &-info {
      .@{modal-prefix}-body-icon {
        color: @modal-body-info-color;
      }
    }

    &-success {
      .@{modal-prefix}-body-icon {
        color: @modal-body-success-color;
      }
    }

    &-warning {
      .@{modal-prefix}-body-icon {
        color: @modal-body-warning-color;
      }
    }

    &-error {
      .@{modal-prefix}-body-icon {
        color: @modal-body-error-color;
      }
    }
  }

  &-footer {
    text-align: end;
    padding: var(--ix-spacing-md) var(--ix-spacing-lg);

    .@{button-prefix} + .@{button-prefix} {
      margin-left: var(--ix-spacing-sm);
    }
  }

  &-centered {
    text-align: center;

    &::before {
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
      content: '';
    }

    .@{modal-prefix} {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }
  }
}

@media (max-width: @screen-sm-max) {
  .@{modal-prefix} {
    max-width: @modal-max-width-screen-sm;
    margin: @modal-margin-screen-sm;
  }

  .@{modal-prefix}-centered {
    .@{modal-prefix} {
      flex: 1;
    }
  }
}
