/* ------ alert css variables ------ */
:root {
  --ix-alert-height: 32px;
  --ix-alert-border-radius: 2px;
  --ix-alert-success-bg-color: rgb(233, 250, 244);
  --ix-alert-info-bg-color: rgb(236, 244, 255);
  --ix-alert-warning-bg-color: rgb(255, 247, 232);
  --ix-alert-error-bg-color: rgb(255, 238, 238);
  --ix-alert-offline-bg-color: rgb(246, 246, 247);
}
