@import '../variable/animation.less';

.fade-motion(@className, @duration: var(--ix-motion-duration-medium)) {
  .@{idux-prefix}-@{className}-enter-active,
  .@{idux-prefix}-@{className}-leave-active {
    transition-property: opacity;
    transition-duration: @duration;
    transition-timing-function: linear;
  }

  .@{idux-prefix}-@{className}-enter,
  .@{idux-prefix}-@{className}-enter-from,
  .@{idux-prefix}-@{className}-leave,
  .@{idux-prefix}-@{className}-leave-to {
    opacity: 0;
  }
}

.fade-motion(fade);
.fade-motion(fade-fast, var(--ix-motion-duration-fast));

.@{idux-prefix}-fade-down {
  &-enter-active {
    transition:
      opacity var(--ix-motion-duration-fast) var(--ix-motion-ease-in-out),
      transform var(--ix-motion-duration-fast) var(--ix-motion-ease-in-out);
  }

  &-leave-active {
    transition:
      opacity var(--ix-motion-duration-fast) var(--ix-motion-ease-in-out),
      transform var(--ix-motion-duration-fast) var(--ix-motion-ease-in-out);
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-5px);
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
    transform: translateY(0);
  }
}
