@import '../variable/animation.less';

.fade-motion(@className, @duration: @transition-duration-base) {
  .@{idux-prefix}-@{className}-enter-active,
  .@{idux-prefix}-@{className}-leave-active {
    transition-property: opacity;
    transition-duration: @duration;
    transition-timing-function: linear;
  }

  .@{idux-prefix}-@{className}-enter-from,
  .@{idux-prefix}-@{className}-leave-to {
    opacity: 0;
  }
}

.fade-motion(fade);
.fade-motion(fade-fast, @transition-duration-fast);
