@import '../variable/animation.less';

.move-motion(@className, @translate, @duration: var(--ix-motion-duration-medium)) {
  .@{idux-prefix}-@{className}-enter-active,
  .@{idux-prefix}-@{className}-leave-active {
    transition-property: transform, opacity;
    transition-duration: @duration;
  }

  .@{idux-prefix}-@{className}-enter-active {
    transition-timing-function: var(--ix-motion-ease-in-circ);
  }

  .@{idux-prefix}-@{className}-leave-active {
    transition-timing-function: var(--ix-motion-ease-in-circ);
  }

  .@{idux-prefix}-@{className}-enter,
  .@{idux-prefix}-@{className}-enter-from,
  .@{idux-prefix}-@{className}-leave,
  .@{idux-prefix}-@{className}-leave-to {
    transform: @translate;
    opacity: 0;
  }
}

.move-motion(move-up, @translate-move-up);
.move-motion(move-down, @translate-move-down);
.move-motion(move-start, @translate-move-start);
.move-motion(move-end, @translate-move-end);
