@import '../variable/animation.less';

.slide-motion(@className, @origin, @scale, @duration: @transition-duration-base) {
  .@{idux-prefix}-@{className}-enter-active,
  .@{idux-prefix}-@{className}-leave-active {
    transform-origin: @origin;
    transition-property: transform, opacity;
    transition-duration: @duration;
  }

  .@{idux-prefix}-@{className}-enter-active {
    transition-timing-function: @ease-out-quint;
  }

  .@{idux-prefix}-@{className}-leave-active {
    transition-timing-function: @ease-in-quint;
  }

  .@{idux-prefix}-@{className}-enter-from,
  .@{idux-prefix}-@{className}-leave-to {
    transform: @scale;
    opacity: 0;
  }
}

.slide-motion(slide-up, @scale-origin-slide-up, @scale-slide-up);
.slide-motion(slide-down, @scale-origin-slide-down, @scale-slide-down);
.slide-motion(slide-left, @scale-origin-slide-left, @scale-slide-left);
.slide-motion(slide-right, @scale-origin-slide-right, @scale-slide-right);
