@import '../variable/animation.less';

.slide-motion(@className, @origin, @duration: var(--ix-transition-duration-medium)) {
  .@{idux-prefix}-@{className}-enter-active,
  .@{idux-prefix}-@{className}-leave-active {
    transform-origin: @origin;
    transition-property: transform, opacity;
    transition-duration: @duration;
  }

  .@{idux-prefix}-@{className}-enter-active {
    transition-timing-function: var(--ix-ease-out-quint);
  }

  .@{idux-prefix}-@{className}-leave-active {
    transition-timing-function: var(--ix-ease-in-quint);
  }

  .@{idux-prefix}-@{className}-enter-from,
  .@{idux-prefix}-@{className}-leave-to {
    transform: scaleY(0.8);
    opacity: 0;
  }
}

.slide-motion(slide-up, 0% 0%);
.slide-motion(slide-down, 100% 100%);
.slide-motion(slide-left, 0% 0%);
.slide-motion(slide-right, 100% 0);
