@import '../variable/animation.less';

.zoom-motion(@className, @duration: @transition-duration-base) {
  .@{idux-prefix}-@{className}-enter-active,
  .@{idux-prefix}-@{className}-leave-active {
    transform-origin: 50% 50%;
    transition-property: opacity, transform;
  }

  .@{idux-prefix}-@{className}-enter-active {
    transition-duration: var(--ix-transition-duration-slow);
    transition-timing-function: var(--ix-ease-out-circ);
  }

  .@{idux-prefix}-@{className}-leave-active {
    transition-duration: var(--ix-transition-duration-medium);
    transition-timing-function: var(--ix-ease-in-circ);
  }

  .@{idux-prefix}-@{className}-enter,
  .@{idux-prefix}-@{className}-enter-from,
  .@{idux-prefix}-@{className}-leave-to {
    opacity: 0;
    transform: scale(0.2);
  }
}

.zoom-motion(zoom);
