@import "../variable/animation.less";

.zoom-motion(@className, @origin: @scale-origin-zoom-center, @scale: @scale-zoom-big, @duration: @transition-duration-base) {
  .ix-@{className}-enter-active,
  .ix-@{className}-leave-active {
    transform-origin: @origin;
    transition-property: opacity, transform;
    transition-duration: @duration;
  }

  .ix-@{className}-enter-active {
    transition-timing-function: @ease-out-circ;
  }

  .ix-@{className}-leave-active {
    transition-timing-function: @ease-in-out-circ;
  }

  .ix-@{className}-enter-from,
  .ix-@{className}-leave-to {
    opacity: 0;
    transform: ~"scale(@{scale})";
  }
}

// Modal, Select choose item
.zoom-motion(zoom, @scale-origin-zoom-center, @scale-zoom-small);

// Popover, Popconfirm, Dropdown
.zoom-motion(zoom-big);

// Tooltip
.zoom-motion(zoom-big-fast, @scale-origin-zoom-center, @scale-zoom-big, @transition-duration-fast);

.zoom-motion(zoom-up, @scale-origin-zoom-up);
.zoom-motion(zoom-down, @scale-origin-zoom-down);
.zoom-motion(zoom-right, @scale-origin-zoom-right);
.zoom-motion(zoom-left, @scale-origin-zoom-left);
