@import '../../../style/themes/default.less';

@tooltip-zindex: @zindex-l4-5;
@tooltip-font-size: @font-size-md;
@tooltip-color: @color-white;
@tooltip-background-color: @color-grey-d30;
@tooltip-border-radius: @border-radius-sm;
@tooltip-box-shadow: @shadow-bottom-md;

@tooltip-wrapper-max-width: 400px;
@tooltip-wrapper-min-width: 24px;
@tooltip-wrapper-min-height: @height-md;
@tooltip-wrapper-padding: @spacing-xs @spacing-sm;
