@import '../../../style/themes/default.less';

@tooltip-zindex: @zindex-l4-5;
@tooltip-font-size: @font-size-md;
@tooltip-color: @color-white;
@tooltip-background-color: @color-grey-d30;
@tooltip-border-radius: @border-radius-sm;
@tooltip-box-shadow: @shadow-bottom-md;
@tooltip-title-max-width: 256px;
@tooltip-title-min-width: 24px;
@tooltip-title-min-height: @height-md;
@tooltip-title-padding: @spacing-sm - 2 @spacing-sm;
