@tooltip-font-size: var(--ix-font-size-md);
@tooltip-color: var(--ix-text-color-info);
@tooltip-background-color: var(--ix-background-color);
@tooltip-border-radius: var(--ix-border-radius-md);
@tooltip-box-shadow: @shadow-bottom-sm;

@tooltip-min-width: 32px;
@tooltip-max-width: 400px;
