@import './default.variable.less';

@tooltip-wrapper-min-height: @height-xs;
@tooltip-font-size: @font-size-sm;
@tooltip-color: @color-graphite-d10;
@tooltip-background-color: @background-color-component;
