@import '../../style/mixins/borderless.less';
@import '../../style/mixins/placeholder.less';
@import '../../style/mixins/reset.less';
@import './mixin.less';
@import './panel.less';

.@{date-picker-prefix} {
  .date-picker-trigger();

  &-overlay {
    width: @date-picker-overlay-width;
    padding: @date-picker-overlay-padding;
    .date-picker-inputs();

    &-body {
      padding: @date-picker-overlay-body-padding;
    }

    &-footer {
      text-align: end;
      border-top: @date-picker-overlay-footer-border-width @date-picker-overlay-footer-border-style
        @date-picker-overlay-footer-border-color;
      padding: @date-picker-overlay-footer-padding;

      .@{button-prefix} + .@{button-prefix} {
        margin-left: @date-picker-overlay-footer-button-margin-left;
      }
    }
  }
}

.@{date-picker-prefix}-panel {
  width: @date-picker-panel-width;
  max-height: @date-picker-panel-max-height;
  .@{time-panel-prefix} {
    height: @date-picker-panel-max-height;
  }

  .date-picker-panel();
}

.@{date-range-picker-prefix} {
  .date-picker-trigger();

  &-input {
    display: flex;
    align-items: center;
    &-separator {
      margin: 0 @date-range-picker-trigger-separator-margin;
    }
  }

  &-overlay {
    padding: @date-range-picker-overlay-padding;
    .date-picker-inputs();

    &-body {
      padding: @date-range-picker-overlay-body-padding;
    }
    &-separator {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-shrink: 0;
      width: @date-range-picker-overlay-separator-width;
      padding: @date-range-picker-overlay-separator-padding;
      text-align: center;
      font-size: @date-range-picker-overlay-separator-font-size;
      color: @date-picker-color;
    }
    &-inputs-side {
      width: 100%;
    }

    &-footer {
      text-align: end;
      border-top: @date-range-picker-overlay-footer-border-width @date-range-picker-overlay-footer-border-style
        @date-range-picker-overlay-footer-border-color;
      padding: @date-range-picker-overlay-footer-padding;

      .@{button-prefix} + .@{button-prefix} {
        margin-left: @date-range-picker-overlay-footer-button-margin-left;
      }
    }
  }
}

.@{date-range-picker-prefix}-panel {
  max-height: @date-range-picker-panel-max-height;
  .@{time-panel-prefix} {
    height: @date-range-picker-panel-max-height;
  }

  border: @date-range-picker-panel-border-width @date-range-picker-panel-border-style
    @date-range-picker-panel-border-color;
  border-radius: @date-range-picker-panel-border-radius;
  display: flex;

  &-side {
    width: @date-range-picker-panel-width;
  }

  &-separator {
    width: @date-range-picker-panel-separator-width;
    margin: @date-range-picker-panel-separator-margin;
    background-color: @date-range-picker-panel-separator-color;
  }

  .date-picker-panel();
}
