.date-picker-trigger() {
  display: inline-flex;
  width: 100%;
  line-height: @date-picker-line-height;

  &:not(.@{trigger-prefix}-disabled) {
    color: @date-picker-color;
  }

  &-input {
    width: 100%;
    &-inner {
      display: inline-block;
      width: 100%;
      min-width: 0;
    }
  }

  &-overlay {
    z-index: @date-picker-overlay-zindex;
    border-radius: @date-picker-overlay-border-radius;
    box-shadow: @date-picker-overlay-box-shadow;
    background-color: @date-panel-background-color;

    &-body {
      outline: none;
    }
  }
}

.date-picker-inputs() {
  & &-inputs {
    display: flex;
    justify-content: center;
    margin-bottom: @date-picker-overlay-inputs-margin-bottom;
    
    input {
      color: @date-picker-color;
    }

    .@{input-prefix}-focused {
      box-shadow: none;
    }

    &-date-input {
      width: @date-picker-overlay-date-input-width;
    }
    &-date-input:only-child {
      width: 100%;
    }
    &-time-input {
      width: @date-picker-overlay-time-input-width;
      margin-left: @date-picker-overlay-input-gap;
    }
  }
}