.date-picker-trigger() {
  display: inline-flex;
  width: 100%;

  &:not(.@{trigger-prefix}-disabled) {
    color: var(--ix-color-text);
  }

  &-input {
    width: 100%;
    &-inner {
      display: inline-block;
      width: 100%;
      min-width: 0;
    }
  }

  &-overlay-body {
    outline: none;
  }
}

.date-picker-inputs() {
  & &-inputs {
    display: flex;
    justify-content: center;

    input {
      color: var(--ix-color-text);
    }

    .@{input-prefix}-focused {
      box-shadow: none;
    }

    &-date-input {
      width: var(--ix-date-picker-overlay-date-input-width);
    }
    &-date-input:only-child {
      width: 100%;
    }
    &-time-input {
      width: var(--ix-date-picker-overlay-time-input-width);
      margin-left: var(--ix-margin-size-xs);
    }
  }
}
