.date-picker-panel() {
  .@{date-panel-prefix} {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-size: var(--ix-date-picker-panel-font-size);
    background: var(--ix-color-container-bg);

    // ======================= Header =======================

    &-header {
      display: flex;
      padding: 0 0 var(--ix-padding-size-xs) 0;
      line-height: var(--ix-date-picker-panel-header-height);
      color: var(--ix-color-text);
      transition: color var(--ix-motion-duration-medium);

      > * {
        flex: none;
      }

      button {
        transition: color var(--ix-motion-duration-medium);
        background-color: transparent;
        border-style: none;

        &:hover {
          color: var(--ix-date-picker-panel-cell-color-hover);
        }
      }

      &-prev,
      &-next,
      &-super-prev,
      &-super-next {
        position: relative;
        display: inline-block;
        visibility: hidden;
        padding: 0 var(--ix-padding-size-xs);
        font-size: var(--ix-font-size-icon);
        font-weight: var(--ix-date-picker-panel-header-font-weight);

        &.visible {
          visibility: visible;
        }
      }

      &-content {
        flex: auto;

        button {
          font-size: var(--ix-date-picker-panel-header-font-size);
          font-weight: var(--ix-date-picker-panel-header-font-weight);

          &:not(:first-child) {
            margin-left: var(--ix-date-picker-panel-header-spacing);
          }
        }
      }
    }

    // ======================= Body =======================

    &-body {
      padding: 0;
      font-size: var(--ix-date-picker-panel-font-size);

      table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        overflow: hidden;
      }

      th,
      td {
        position: relative;
        z-index: 1;
      }

      &-header-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: var(--ix-date-picker-panel-cell-width);
        height: var(--ix-date-picker-panel-cell-height);
        margin-bottom: var(--ix-margin-size-md);
        font-weight: var(--ix-font-weight-md);
        background-color: var(--ix-date-picker-panel-body-header-bg-color);
      }
    }

    &-row:first-child .@{date-panel-prefix}-cell {
      padding-top: 0;
    }
    &-row:last-child .@{date-panel-prefix}-cell {
      padding-bottom: 0;
    }
    &-cell {
      padding: var(--ix-padding-size-2xs) 0;
      color: var(--ix-date-picker-panel-color);
      overflow: hidden;
      cursor: pointer;

      &-out-view {
        color: var(--ix-date-picker-panel-cell-color-disabled);
      }

      &-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: var(--ix-date-picker-panel-cell-width);
        height: var(--ix-date-picker-panel-cell-height);
        line-height: var(--ix-date-picker-panel-cell-height);
        padding: var(--ix-padding-size-xs);
        border-radius: 9999px;
      }

      &-trigger {
        width: var(--ix-date-picker-panel-cell-trigger-width);
        height: var(--ix-date-picker-panel-cell-trigger-height);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        transition:
          background var(--ix-motion-duration-medium),
          border var(--ix-motion-duration-medium);
      }

      &-current:not(&-selected) .@{date-panel-prefix}-cell-trigger {
        border: var(--ix-line-width) var(--ix-line-type) var(--ix-date-picker-panel-cell-current-border-color);
        color: var(--ix-date-picker-panel-cell-current-color);
      }

      &-selected .@{date-panel-prefix}-cell-trigger {
        color: var(--ix-date-picker-panel-cell-color-active);
        background: var(--ix-date-picker-panel-cell-bg-color-active);
      }

      &-in-range {
        .@{date-panel-prefix}-cell-inner {
          background: var(--ix-date-picker-panel-cell-bg-color-in-range);
          border-radius: 0;
        }
        &:not(.@{date-panel-prefix}-cell-selected) .@{date-panel-prefix}-cell-inner {
          width: 100%;
        }
      }

      &-disabled {
        color: var(--ix-date-picker-panel-cell-color-disabled);
        cursor: not-allowed;

        .@{date-panel-prefix}-cell-inner {
          border-radius: 0;
          background: var(--ix-date-picker-panel-cell-bg-color-disabled);
        }
      }

      &-disabled&-today {
        .@{date-panel-prefix}-cell-trigger {
          border-color: var(--ix-date-picker-panel-cell-color-disabled);
        }
      }
    }

    &:not(&-week) {
      .@{date-panel-prefix}-cell {
        &:hover:not(&-selected):not(&-disabled) {
          .@{date-panel-prefix}-cell-trigger {
            background: var(--ix-date-picker-panel-cell-bg-color-hover);
            color: var(--ix-date-picker-panel-cell-color-hover);
          }
        }
      }
    }
    &-week {
      .@{date-panel-prefix}-row {
        &:hover {
          .@{date-panel-prefix}-cell:not(.@{date-panel-prefix}-cell-in-range):not(
              .@{date-panel-prefix}-cell-selected
            ):not(.@{date-panel-prefix}-cell-disabled)
            .@{date-panel-prefix}-cell-inner {
            border-radius: 0;
            background: var(--ix-date-picker-panel-cell-bg-color-hover);
            color: var(--ix-date-picker-panel-cell-color-hover);
          }
          .@{date-panel-prefix}-cell:not(.@{date-panel-prefix}-cell-in-range):not(
              .@{date-panel-prefix}-cell-selected
            ):not(.@{date-panel-prefix}-cell-disabled):first-child {
            .@{date-panel-prefix}-cell-inner {
              border-top-left-radius: 9999px;
              border-bottom-left-radius: 9999px;
            }
          }
          .@{date-panel-prefix}-cell:not(.@{date-panel-prefix}-cell-in-range):not(
              .@{date-panel-prefix}-cell-selected
            ):not(.@{date-panel-prefix}-cell-disabled):last-child {
            .@{date-panel-prefix}-cell-inner {
              border-top-right-radius: 9999px;
              border-bottom-right-radius: 9999px;
            }
          }
        }
      }
    }

    &-date,
    &-week {
      .@{date-panel-prefix}-row .@{date-panel-prefix}-cell-selected {
        z-index: 0;
        .@{date-panel-prefix}-cell-trigger {
          color: var(--ix-date-picker-panel-cell-color-active);
          background: var(--ix-date-picker-panel-cell-bg-color-active);
        }
        &.@{date-panel-prefix}-cell-in-range {
          &.@{date-panel-prefix}-cell-start .@{date-panel-prefix}-cell-inner,
          &.@{date-panel-prefix}-cell-end .@{date-panel-prefix}-cell-inner {
            background: none;
            &::before {
              z-index: 0;
              position: absolute;
              background: var(--ix-date-picker-panel-cell-bg-color-in-range);
              width: calc(var(--ix-date-picker-panel-cell-width) * 1.5);
              height: var(--ix-date-picker-panel-cell-height);
              content: '';
            }
            .@{date-panel-prefix}-cell-trigger {
              position: relative;
              z-index: 1;
            }
          }
          &.@{date-panel-prefix}-cell-start .@{date-panel-prefix}-cell-inner::before {
            transform: translateX(
              calc(var(--ix-date-picker-panel-cell-width) * 1.5 * 0.5 - var(--ix-date-picker-panel-cell-width) * 0.5)
            );
            border-top-left-radius: 9999px;
            border-bottom-left-radius: 9999px;
          }
          &.@{date-panel-prefix}-cell-end .@{date-panel-prefix}-cell-inner::before {
            transform: translateX(
              calc(
                (var(--ix-date-picker-panel-cell-width) * 1.5 * 0.5 - var(--ix-date-picker-panel-cell-width) * 0.5) * -1
              )
            );
            border-top-right-radius: 9999px;
            border-bottom-right-radius: 9999px;
          }
          &.@{date-panel-prefix}-cell-start.@{date-panel-prefix}-cell-end {
            .@{date-panel-prefix}-cell-inner::before {
              width: var(--ix-date-picker-panel-cell-width);
              transform: none;
            }
          }
        }
      }
    }

    &-year,
    &-quarter,
    &-month {
      .@{date-panel-prefix} {
        &-header {
          padding: 0 0 var(--ix-padding-size-2xl);
        }

        &-body {
          padding: 0;
        }

        &-cell {
          padding: var(--ix-padding-size-lg) 0;

          &:first-child .@{date-panel-prefix}-cell-inner {
            justify-content: flex-start;
          }
          &:last-child .@{date-panel-prefix}-cell-inner {
            justify-content: flex-end;
          }

          &-inner {
            min-width: var(--ix-date-picker-panel-cell-width-lg);
            height: var(--ix-date-picker-panel-cell-height-lg);
            padding: 0;
            border-radius: var(--ix-border-radius-sm);
          }
          &-trigger {
            width: var(--ix-date-picker-panel-cell-trigger-width-lg);
            height: var(--ix-date-picker-panel-cell-trigger-height-lg);
            border-radius: var(--ix-border-radius-sm);
          }

          &-selected {
            &.@{date-panel-prefix}-cell-in-range {
              &.@{date-panel-prefix}-cell-start .@{date-panel-prefix}-cell-inner::before {
                width: 50%;
                left: 50%;
              }
              &.@{date-panel-prefix}-cell-end .@{date-panel-prefix}-cell-inner::before {
                width: 50%;
                right: 50%;
              }
              &.@{date-panel-prefix}-cell-start.@{date-panel-prefix}-cell-end .@{date-panel-prefix}-cell-inner::before {
                width: 0;
              }
            }
          }
          &-in-range {
            .@{date-panel-prefix}-cell-inner {
              background: none;
              position: relative;

              &::before {
                z-index: -1;
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: var(--ix-date-picker-panel-cell-bg-color-in-range);
              }
            }
          }
        }
      }
    }
  }
}
