.date-picker-panel() {
  .@{date-panel-prefix} {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-size: @date-picker-panel-font-size;
    background: @date-picker-panel-background-color;

    // ======================= Header =======================

    &-header {
      display: flex;
      padding: @date-picker-panel-header-padding;
      line-height: @date-picker-panel-header-height - @date-picker-panel-border-width;
      border-bottom: @date-picker-panel-header-border-bottom;
      color: @date-picker-panel-color;
      transition: color @transition-duration-base;

      > * {
        flex: none;
      }

      button {
        font-size: @date-picker-panel-header-button-font-size;
        font-weight: @date-picker-panel-header-button-font-weight;
        transition: color @transition-duration-base;

        &:hover {
          color: @date-picker-panel-active-color;
        }
      }

      &-prev,
      &-next,
      &-super-prev,
      &-super-next {
        position: relative;
        display: inline-block;
        visibility: hidden;
        padding: @date-picker-panel-header-item-padding;

        &.visible {
          visibility: visible;
        }
      }

      &-content {
        flex: auto;

        button:not(:first-child) {
          margin-left: @date-picker-panel-header-content-spacing;
        }
      }
    }

    // ======================= Body =======================

    &-body {
      padding: @date-picker-panel-body-padding;
      font-size: @date-picker-panel-body-font-size;

      table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        overflow: hidden;
      }

      th,
      td {
        position: relative;
        z-index: 1;
      }

      &-header-cell {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: @date-picker-panel-cell-width;
        height: @date-picker-panel-cell-height;
        margin-bottom: @date-picker-panel-body-header-margin-bottom;
        font-weight: @date-picker-panel-body-header-font-weight;
        background-color: @date-picker-panel-body-header-background-color;
      }
    }

    &-row:first-child .@{date-panel-prefix}-cell {
      padding-top: 0;
    }
    &-row:last-child .@{date-panel-prefix}-cell {
      padding-bottom: 0;
    }
    &-cell {
      padding: @date-picker-panel-cell-padding;
      color: @date-picker-panel-color;
      overflow: hidden;
      cursor: pointer;

      &-out-view {
        color: @date-picker-panel-disabled-color;
      }

      &-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: @date-picker-panel-cell-width;
        height: @date-picker-panel-cell-height;
        line-height: @date-picker-panel-cell-height;
        padding: @date-picker-panel-cell-inner-padding;
        border-radius: @date-picker-panel-cell-border-radius;
      }

      &-trigger {
        width: @date-picker-panel-cell-trigger-width;
        height: @date-picker-panel-cell-trigger-height;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: @date-picker-panel-cell-border-radius;
        transition: background @transition-duration-base, border @transition-duration-base;
      }

      &-current:not(&-selected) .@{date-panel-prefix}-cell-trigger {
        border: @date-picker-panel-border-width @date-picker-panel-border-style
          @date-picker-panel-cell-current-border-color;
        color: @date-picker-panel-cell-current-color;
      }

      &-selected .@{date-panel-prefix}-cell-trigger {
        color: @date-picker-panel-color-inverse;
        background: @date-picker-panel-active-color;
      }

      &-in-range {
        .@{date-panel-prefix}-cell-inner {
          background: @date-picker-panel-in-range-color;
          border-radius: 0;
        }
        &:not(.@{date-panel-prefix}-cell-selected) .@{date-panel-prefix}-cell-inner {
          width: 100%;
        }
      }

      &-disabled {
        color: @date-picker-panel-disabled-color;
        cursor: not-allowed;

        .@{date-panel-prefix}-cell-inner {
          border-radius: 0;
          background: @date-picker-panel-disabled-background-color;
        }
      }

      &-disabled&-today {
        .@{date-panel-prefix}-cell-trigger {
          border-color: @date-picker-panel-disabled-color;
        }
      }
    }

    &:not(&-week) {
      .@{date-panel-prefix}-cell {
        &:hover:not(&-selected):not(&-disabled) {
          .@{date-panel-prefix}-cell-trigger {
            background: @date-picker-panel-cell-hover-background-color;
            color: @date-picker-panel-cell-hover-color;
          }
        }
      }
    }
    &-week {
      .@{date-panel-prefix}-row:not(.@{date-panel-prefix}-week .@{date-panel-prefix}-row:hover)
        .@{date-panel-prefix}-cell-selected {
        &:hover {
          .@{date-panel-prefix}-cell:not(.@{date-panel-prefix}-cell-disabled) .@{date-panel-prefix}-cell-inner {
            border-radius: 0;
            background: @date-picker-panel-cell-hover-background-color;
            color: @date-picker-panel-cell-hover-color;
          }
          .@{date-panel-prefix}-cell:not(.@{date-panel-prefix}-cell-disabled):first-child {
            .@{date-panel-prefix}-cell-inner {
              border-top-left-radius: @date-picker-panel-cell-border-radius;
              border-bottom-left-radius: @date-picker-panel-cell-border-radius;
            }
          }
          .@{date-panel-prefix}-cell:not(.@{date-panel-prefix}-cell-disabled):last-child {
            .@{date-panel-prefix}-cell-inner {
              border-top-right-radius: @date-picker-panel-cell-border-radius;
              border-bottom-right-radius: @date-picker-panel-cell-border-radius;
            }
          }
        }
      }
    }

    &-date,
    &-week {
      .@{date-panel-prefix}-row:not(.@{date-panel-prefix}-week .@{date-panel-prefix}-row:hover)
        .@{date-panel-prefix}-cell-selected {
        z-index: 0;
        .@{date-panel-prefix}-cell-trigger {
          color: @date-picker-panel-color-inverse;
          background: @date-picker-panel-active-color;
        }
        &.@{date-panel-prefix}-cell-in-range {
          @edge-bg-width: @date-picker-panel-cell-width * 1.5;
          @translate-x: @edge-bg-width * 0.5 - @date-picker-panel-cell-width * 0.5;

          &.@{date-panel-prefix}-cell-start .@{date-panel-prefix}-cell-inner,
          &.@{date-panel-prefix}-cell-end .@{date-panel-prefix}-cell-inner {
            background: none;
            &::before {
              z-index: 0;
              position: absolute;
              background: @date-picker-panel-in-range-color;
              width: @date-picker-panel-cell-width * 1.5;
              height: @date-picker-panel-cell-height;
              content: '';
            }
            .@{date-panel-prefix}-cell-trigger {
              position: relative;
              z-index: 1;
            }
          }
          &.@{date-panel-prefix}-cell-start .@{date-panel-prefix}-cell-inner::before {
            transform: ~'translateX(@{translate-x})';
            border-top-left-radius: @date-picker-panel-cell-border-radius;
            border-bottom-left-radius: @date-picker-panel-cell-border-radius;
          }
          &.@{date-panel-prefix}-cell-end .@{date-panel-prefix}-cell-inner::before {
            transform: ~'translateX(-@{translate-x})';
            border-top-right-radius: @date-picker-panel-cell-border-radius;
            border-bottom-right-radius: @date-picker-panel-cell-border-radius;
          }
          &.@{date-panel-prefix}-cell-start + .@{date-panel-prefix}-cell-end,
          &.@{date-panel-prefix}-cell-start.@{date-panel-prefix}-cell-end {
            .@{date-panel-prefix}-cell-inner::before {
              width: @date-picker-panel-cell-width;
              transform: none;
            }
          }
        }
      }
    }

    &-year,
    &-quarter,
    &-month {
      .@{date-panel-prefix} {
        &-header {
          padding: @date-picker-panel-header-padding-lg;
        }

        &-body {
          padding: @date-picker-panel-body-padding-lg;
        }

        &-cell {
          padding: @date-picker-panel-cell-padding-lg;

          &:first-child .@{date-panel-prefix}-cell-inner {
            justify-content: flex-start;
          }
          &:last-child .@{date-panel-prefix}-cell-inner {
            justify-content: flex-end;
          }

          &-inner {
            min-width: @date-picker-panel-cell-width-lg;
            height: @date-picker-panel-cell-height-lg;
            padding: @date-picker-panel-cell-inner-padding-lg;
            border-radius: @date-picker-panel-cell-border-radius-lg;
          }
          &-trigger {
            width: @date-picker-panel-cell-trigger-width-lg;
            height: @date-picker-panel-cell-trigger-height-lg;
            border-radius: @date-picker-panel-cell-border-radius-lg;
          }

          &-selected {
            &.@{date-panel-prefix}-cell-in-range {
              &.@{date-panel-prefix}-cell-start .@{date-panel-prefix}-cell-inner {
                border-top-left-radius: @date-picker-panel-cell-border-radius-lg;
                border-bottom-left-radius: @date-picker-panel-cell-border-radius-lg;
              }
              &.@{date-panel-prefix}-cell-end .@{date-panel-prefix}-cell-inner {
                border-top-right-radius: @date-picker-panel-cell-border-radius-lg;
                border-bottom-right-radius: @date-picker-panel-cell-border-radius-lg;
              }
            }
          }
          &-in-range {
            .@{date-panel-prefix}-cell-inner {
              background: @date-picker-panel-in-range-color;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}
