@modal-max-width: calc(100vw - 32px);

@modal-font-size: var(--ix-font-size-md);
@modal-box-shadow: @shadow-bottom-md;
@modal-border-radius: @border-radius-md;
@modal-background-color: var(--ix-background-color);

@modal-header-padding: @spacing-lg @spacing-xl @spacing-sm;
@modal-body-padding: @spacing-sm @spacing-xl;
@modal-footer-padding: @spacing-sm @spacing-xl @spacing-lg;
@modal-footer-button-margin-left: @spacing-sm;
@modal-footer-min-height: 64px;

@modal-header-title-font-size: @font-size-lg;

@modal-body-title-font-size: @font-size-md;
@modal-body-title-font-weight: @font-weight-xl;
@modal-body-title-margin-bottom: 4px;
@modal-body-title-color: @text-color;

@modal-body-content-font-size: @modal-font-size;
@modal-body-content-color: @text-color;
@modal-body-content-padding: 0;

@modal-body-icon-font-size: 48px;
@modal-body-icon-margin: 0 @spacing-lg;

@modal-body-confirm-color: @color-warning;
@modal-body-info-color: @color-info;
@modal-body-success-color: @color-success;
@modal-body-warning-color: @color-warning;
@modal-body-error-color: @color-error;

@modal-body-typed-padding: @spacing-sm @spacing-lg;

@modal-max-width-screen-sm: calc(100vw - 16px);
@modal-margin-screen-sm: @spacing-sm auto;
