@modal-max-width: calc(100vw - 32px);

@modal-font-size: @font-size-md;
@modal-line-height: @line-height-base;
@modal-background-color: @background-color-component;
@modal-box-shadow: @shadow-bottom-md;
@modal-border-radius: @border-radius-md;

@modal-header-padding: @spacing-lg @spacing-xl @spacing-sm;
@modal-body-padding: @spacing-sm @spacing-xl;
@modal-footer-padding: @spacing-sm @spacing-xl @spacing-lg;
@modal-footer-button-margin-left: @spacing-sm;

@modal-body-title-font-size: @font-size-lg;
@modal-body-title-font-weight: @font-weight-xl;
@modal-body-title-margin-bottom: @spacing-sm;
@modal-body-icon-font-size: 48px;
@modal-body-icon-margin: 0 @spacing-lg;
@modal-body-confirm-color: @color-warning;
@modal-body-info-color: @color-info;
@modal-body-success-color: @color-success;
@modal-body-warning-color: @color-warning;
@modal-body-error-color: @color-error;

@modal-max-width-screen-sm: calc(100vw - 16px);
@modal-margin-screen-sm: @spacing-sm auto;
