@import './default.variable.less';

@modal-body-title-font-weight: var(--ix-font-weight-md);
@modal-body-icon-font-size: 40px;

@modal-body-content-color: var(--ix-text-color-info);

@modal-body-confirm-color: var(--ix-color-brown-l10);
@modal-body-info-color: var(--ix-color-primary-l10);
@modal-body-warning-color: var(--ix-color-brown-l10);
@modal-body-error-color: var(--ix-color-red-l10);
