@import './default.variable.less';

@modal-font-size: @font-size-sm;

@modal-header-padding: 0 @spacing-lg;

@modal-body-title-font-weight: @font-weight-md;
@modal-body-title-color: @color-graphite-d40;

@modal-body-content-color: @color-graphite-d10;
@modal-body-content-font-size: @modal-font-size;
@modal-body-content-padding: 0 @spacing-lg 0 0;

@modal-body-padding: @spacing-sm @spacing-lg;
@modal-typed-body-padding: @spacing-sm @spacing-lg;

@modal-footer-min-height: 56px;
@modal-footer-padding: @spacing-md @spacing-lg;
