@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';
@import './mixin.less';

.@{skeleton-prefix} {
  .reset-component-new();

  margin-bottom: var(--ix-skeleton-margin-bottom);

  &-loader {
    width: 100%;
    background: linear-gradient(90deg, var(--ix-skeleton-start-color) 25%, var(--ix-skeleton-end-color) 36%, var(--ix-skeleton-start-color) 62%);

    & + & {
      margin-top: var(--ix-skeleton-loader-margin-bottom);
    }
  }

  &-animated {
    .skeleton-animated();
  }

  &-text {
    display: inline-block;
    height: 1em;
  }

  &-round {
    border-radius: 4096px;
  }

  &-circle {
    display: inline-block;
    border-radius: 50%;
  }
}
