@skeleton-animated-key: ~'@{skeleton-prefix}-animated-key';

.skeleton-animated() {
  background-size: 400% 100%;
  animation: @skeleton-animated-key 1.4s ease infinite;

  @keyframes @skeleton-animated-key {

    0% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }
}
