@alert-height: var(--ix-height-md);
@alert-font-size: var(--ix-font-size-md);
@alert-border-radius: var(--ix-border-radius-md);
@alert-icon-font-size: inherit;

@alert-color: @text-color;
@alert-color-secondary: @text-color-secondary;

@alert-success-color: var(--ix-turquoise-d10);
@alert-info-color: var(--ix-color-primary);
@alert-warning-color: var(--ix-color-brown);
@alert-error-color: var(--ix-color-red-d10);

@alert-success-background-color: #f1faf7;
@alert-info-background-color: #f2f7ff;
@alert-warning-background-color: #fffaf2;
@alert-error-background-color: #fff2f2;
