@alert-height: var(--ix-height-md);
@alert-border-radius: var(--ix-border-radius-md);
@alert-icon-color: var(--ix-text-color-secondary);
@alert-icon-color-hover: var(--ix-color-primary);
@alert-banner-border-color: var(--ix-border-color-secondary);

@alert-success-color: var(--ix-color-turquoise);
@alert-info-color: var(--ix-color-primary);
@alert-warning-color: var(--ix-color-brown);
@alert-error-color: var(--ix-color-red);
@alert-offline-color: var(--ix-text-color-disabled);

@alert-success-background-color: #f1faf7;
@alert-info-background-color: #f2f7ff;
@alert-warning-background-color: #fffaf2;
@alert-error-background-color: #fff2f2;
@alert-offline-background-color: #f7f7f8;
