@alert-success-color: @color-success-d10;
@alert-info-color: @color-info-d10;
@alert-warning-color: @color-warning-d10;
@alert-error-color: @color-error-d10;
@alert-success-background-color: @color-success-l50;
@alert-info-background-color: @color-info-l50;
@alert-warning-background-color: @color-warning-l50;
@alert-error-background-color: @color-error-l50;

@alert-color: @text-color;
@alert-color-secondary: @text-color-secondary;
@alert-disabled-color: @disabled-color;

@alert-font-size: @font-size-md;

@alert-line-height: @line-height-base;
@alert-border-radius: @border-radius-sm;
@alert-margin-bottom: @spacing-lg;
@alert-padding: @spacing-sm @spacing-lg;

@alert-icon-margin-right: @spacing-sm;
@alert-icon-font-size-with-description: @font-size-xl;
@alert-icon-margin-right-with-description: @spacing-lg;

@alert-title-font-size-with-description: @font-size-lg;
@alert-title-margin-bottom-with-description: @spacing-xs;

@alert-pagination-icon-padding: 0 @spacing-xs;
@alert-action-margin-left: @spacing-lg;
