@import './default.variable.less';

@alert-font-size: @font-size-sm;

@alert-color-secondary: @color-graphite-l10;

@alert-success-background-color: #f1faf7;
@alert-info-background-color: #f2f7ff;
@alert-warning-background-color: #fffaf2;
@alert-error-background-color: #fff2f2;

@alert-success-color: #12a679;
@alert-info-color: @color-blue;
@alert-warning-color: #a35f40;
@alert-error-color: @color-red-d10;

@alert-padding: @spacing-xs @spacing-lg;

@alert-line-height: @font-size-2xl;

@alert-pagination-text-margin: 0 2px;
