@import './default.variable.less';

@alert-border-radius: var(--ix-border-radius-sm);
@alert-font-size: var(--ix-font-size-sm);

@alert-success-color: var(--ix-color-turquoise-d10);
@alert-error-color: var(--ix-color-red-d10);
