@import './default.variable.less';

@alert-border-radius: var(--ix-border-radius-sm);

@alert-success-color: var(--ix-color-turquoise-d10);
@alert-warning-color: #a35f40;
@alert-error-color: var(--ix-color-red-d10);
