@cascader-option-padding: @spacing-xs @spacing-xs @spacing-xs @spacing-md;
@cascader-option-height: @select-option-height;
@cascader-option-disabled-color: @select-option-disabled-color;
@cascader-option-active-background-color: @select-option-active-background-color;
@cascader-option-selected-color: @select-option-selected-color;
@cascader-option-selected-background-color: @select-option-selected-background-color;
@cascader-option-selected-font-weight: @select-option-selected-font-weight;
@cascader-option-expanded-color: @cascader-option-selected-color;
@cascader-option-expanded-background-color: @cascader-option-selected-background-color;
@cascader-option-expanded-font-weight: @cascader-option-selected-font-weight;
@cascader-option-label-margin-left: @select-option-label-margin-left;
@cascader-option-label-highlight-color: @color-primary;
@cascader-option-expanded-margin-left: @spacing-xs;
@cascader-option-expanded-icon-color: @text-color-secondary;
@cascader-option-expanded-icon-font-size: @select-icon-font-size;

@cascader-option-group-min-width: 120px;
@cascader-option-group-min-height: 180px;
@cascader-option-group-border: @border-width-sm solid @border-color-split;

@cascader-overlay-zindex: @select-option-container-zindex;
@cascader-overlay-padding: @select-option-container-padding;
@cascader-overlay-background-color: @select-option-container-background-color;
@cascader-overlay-border-radius: @select-option-container-border-radius;
@cascader-overlay-box-shadow: @select-option-container-box-shadow;
@cascader-overlay-search-wrapper-padding: @select-overlay-input-padding;
