@import './default.variable.less';

@cascader-option-selected-color: @cascader-option-color;
@cascader-option-expanded-icon-color: @color-graphite-d20;
@cascader-option-selected-font-weight: @font-weight-lg;