@table-font-size-sm: var(--ix-font-size-sm);
@table-font-size-md: var(--ix-font-size-md);
@table-font-size-lg: var(--ix-font-size-lg);

@table-head-row-height-sm: var(--ix-height-md);
@table-head-row-height-md: var(--ix-height-lg);
@table-head-row-height-lg: var(--ix-height-xl);

@table-body-row-height-sm: var(--ix-height-lg);
@table-body-row-height-md: var(--ix-height-xl);
@table-body-row-height-lg: var(--ix-height-2xl);

@table-row-padding-sm: 0 var(--ix-spacing-sm);
@table-row-padding-md: 0 var(--ix-spacing-md);
@table-row-padding-lg: 0 var(--ix-spacing-lg);

@table-border-color: var(--ix-border-color-secondary);
@table-border-radius: var(--ix-border-radius-md);

@table-head-color: var(--ix-text-color-title-secondary);
@table-head-background-color: var(--ix-background-color-light);
@table-head-icon-color: inherit;
@table-head-icon-color-active: var(--ix-color-primary);
@table-head-icon-background-color-hover: var(--ix-background-color-deep);
@table-head-font-weight: var(--ix-font-weight-lg);

@table-body-row-background-color-hover: var(--ix-background-color-light);
@table-body-row-background-color-selected: var(--ix-color-primary-l50);

@table-expandable-icon-color: var(--ix-text-color-info);
@table-expandable-background-color: var(--ix-background-color-light);
@table-expandable-background-color-hover: var(--ix-background-color-deep);
