@table-color: @text-color;

@table-head-line-height: @line-height-base;
@table-body-line-height: @line-height-base;

@table-head-height-lg: @height-xxl;
@table-head-height-md: @height-xl;
@table-head-height-sm: @height-md;

@table-padding-vertical-lg: @spacing-lg;
@table-padding-horizontal-lg: @spacing-lg;
@table-padding-vertical-md: @spacing-md;
@table-padding-horizontal-md: @spacing-md;
@table-padding-vertical-sm: @spacing-sm;
@table-padding-horizontal-sm: @spacing-sm;

@table-font-size-lg: @font-size-lg;
@table-font-size-md: @font-size-md;
@table-font-size-sm: @font-size-sm;

@table-border-width: @border-width-sm;
@table-border-style: @border-style;
@table-border-color: @border-color-split;

@table-background: @background-color-component;
@table-border-radius: @border-radius-sm;
@table-head-background: @background-color-light;
@table-head-color: @color-black;
@table-head-split-height: 16px;
@table-head-split-color: rgba(0, 0, 0, 0.06);

@table-head-icon-color: @color-black;
@table-head-icon-size: 16px;
@table-head-icon-font-size: @font-size-xs;
@table-head-icon-hover-backgroud-color: @color-graphite-l40;
@table-head-font-weight: @font-weight-lg;
@table-head-icon-transition-duration: @transition-duration-base;

@table-body-hover-background: @background-color-light;

@table-pagination-margin: @spacing-lg 0;

@table-icon-margin: @spacing-xs;

@table-expandable-icon-size: @font-size-md;
@table-expandable-icon-color: @color-black;

@table-filter-dropdown-width: 120px;
@table-filter-dropdown-padding: @spacing-xs 0;
@table-filter-dropdown-box-shadow: @shadow-bottom-md;
@table-filter-dropdown-background-color: @form-background-color;
@table-filter-dropdown-item-height: @height-md;
@table-filter-dropdown-item-padding: 0 @spacing-sm;
@table-filter-dropdown-item-hover-background-color: @background-color-light;