@import './default.variable.less';

@table-font-size-lg: @font-size-md;
@table-font-size-md: @font-size-sm;

@table-head-height-lg: @height-lg;
@table-head-height-md: @height-md;
@table-head-height-sm: @height-md;

@table-padding-right-lg: @spacing-md;
@table-padding-right-sm: @spacing-md;

@table-border-style: @border-style;
@table-border-color: @color-graphite-l30;

@table-head-background-color: @color-graphite-l50;
@table-head-color: @color-graphite-d20;
@table-head-font-weight: @font-weight-md;

@table-head-icon-color: @color-graphite-l10;

@table-hover-background: @color-graphite-l50;

@table-filterable-trigger-font-size: @font-size-sm;
@table-expandable-icon-size: @font-size-md;
@table-expandable-icon-color: @color-graphite;
