@import './default.variable.less';

@table-head-line-height: 1;
@table-body-line-height: 1.084;

@table-head-height-lg: @height-lg;
@table-head-height-md: @height-md;
@table-head-height-sm: @height-sm;

@table-padding-right-lg: 4px;
@table-padding-right-md: 4px;
@table-padding-right-sm: 4px;

@table-font-size-lg: @font-size-md;
@table-font-size-md: @font-size-sm;

@table-border-style: @border-style;
@table-border-color: @color-graphite-l30;

@table-head-background-color: @color-graphite-l50;
@table-head-color: @color-graphite-d20;
@table-head-font-weight: @font-weight-md;

@table-head-icon-color: @color-graphite-l10;

@table-body-hover-background: @color-graphite-l50;

@table-expandable-icon-color: @color-graphite;
