@import './default.variable.less';

@table-font-size-lg: @font-size-md;
@table-font-size-md: @font-size-sm;

@table-head-font-weight: @font-weight-md;

@table-border-color: @color-graphite-l30;

@table-head-row-height-lg: @height-lg;
@table-head-row-height-md: @height-md;
@table-padding-right-md: @spacing-md;
@table-head-row-height-sm: @height-sm;
@table-padding-top-md: 10px;
@table-padding-bottom-md: 10px;

@table-body-row-height-lg: @height-2xl;
@table-body-row-height-md: @height-lg;
@table-body-row-height-sm: @height-md;

@table-head-color: @color-graphite-d20;
@table-head-background-color: @color-graphite-l50;

@table-border-color: @color-graphite-l30;

@table-head-row-height-lg: @height-lg;
@table-head-row-height-md: @height-md;
@table-head-row-height-sm: @height-sm;

@table-body-row-height-lg: @height-2xl;
@table-body-row-height-md: @height-lg;
@table-body-row-height-sm: @height-md;

@table-head-color: @color-graphite-d20;
@table-head-background-color: @color-graphite-l50;

@table-head-icon-color: @color-graphite-l10;
@table-hover-background-color: @color-graphite-l50;

@table-expandable-icon-size: @font-size-md;
@table-expandable-icon-color: @color-graphite;
