@import '../../../style/themes/default.less';
@import '../index.less';

@image-zindex: @zindex-l4-6;
@image-mask-bg: ~'rgba(0, 0, 0, 0.45)';
@image-tools-bg: ~'rgba(0, 0, 0, 0.1)';
@image-height: 100%;
@image-width: 100%;
@image-tools-h: 46px;
