@import '../../style/mixins/reset.less';
@import './mixin.less';

.@{pagination-prefix} {
  .reset-component-new();
  .reset-color(@pagination-color, @pagination-background-color);

  display: flex;
  align-items: center;
  list-style: none;
  outline: none;
  user-select: none;

  &-sm {
    .pagination-size(@pagination-font-size-sm,  @pagination-item-padding-sm, @pagination-item-content-size-sm);
  }

  &-md {
    .pagination-size(@pagination-font-size-md,  @pagination-item-padding-md, @pagination-item-content-size-md);
  }

  &-lg {
    .pagination-size(@pagination-font-size-lg,  @pagination-item-padding-lg, @pagination-item-content-size-lg);
  }

  &-sm,
  &-md {
    .@{pagination-prefix}-sizes > .@{select-prefix} {
      width: 60px;
    }

    .@{pagination-prefix}-item,
    .@{pagination-prefix}-jumper {
      > .@{input-prefix} {
        width: 40px;
      }
    }
  }

  &-lg {
    .@{pagination-prefix}-sizes > .@{select-prefix} {
      width: 64px;
    }

    .@{pagination-prefix}-item,
    .@{pagination-prefix}-jumper {
      > .@{input-prefix} {
        width: 48px;
      }
    }
  }

  &-item,
  &-total,
  &-sizes,
  &-jumper {
    display: inline-block;
  }

  &-total {
    margin-right: 8px;
    color: @pagination-total-color;
  }
  &-sizes {
    margin-left: 8px;
    color: @pagination-sizes-color;
  }
  &-jumper {
    margin-left: 8px;
    color: @pagination-jumper-color;
  }

  &-sizes > .@{select-prefix},
  &-item > .@{input-prefix},
  &-jumper > .@{input-prefix} {
    margin: 0 4px;
  }

  &-item {
    cursor: pointer;
    outline: none;
    line-height: 1;
    transition: color var(--ix-transition-duration-fast);

    &-content {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: @pagination-item-content-border-radius;

      > .@{icon-prefix},
      .@{pagination-prefix}-item-jumper > .@{icon-prefix} {
        font-size: @pagination-item-content-icon-font-size;
      }
    }

    &-slash {
      margin: 0 4px;
    }

    &-jumper {
      display: inline-flex;

      > .@{icon-prefix} {
        display: none;
      }

      > .@{pagination-prefix}-item-ellipsis {
        display: inline-block;
      }

      &:hover {
        > .@{icon-prefix} {
          display: inline-block;
        }

        > .@{pagination-prefix}-item-ellipsis {
          display: none;
        }
      }
    }

    &:hover:not(&-disabled) {
      color: @pagination-color-hover;
      .@{pagination-prefix}-item-content {
        background-color: @pagination-background-color-hover;
      }
    }

    &&-active:not(&-disabled) {
      color: @pagination-color-active;
      .@{pagination-prefix}-item-content {
        background-color: @pagination-background-color-active;
      }
    }

    &&-disabled {
      cursor: not-allowed;
      color: @pagination-color-disabled;
    }

    &&-active&-disabled &-content {
      background-color: @pagination-background-color-disabled;
    }

    &:focus-visible {
      .@{pagination-prefix}-item-content {
        outline: 2px solid @pagination-outline-color;
        outline-offset: 1px;
      }
    }
  }

  &&-disabled {
    color: @pagination-color-disabled;
  }
}
