@import '../../style/themes/default.less';
@import './mixin.less';

@pagination-prefix: ~'@{idux-prefix}-pagination';

.@{pagination-prefix} {
  font-size: @pagination-font-size;

  &-item,
  &-total,
  &-sizes,
  &-jumper {
    display: inline-block;
  }

  &-item {
    .@{idux-prefix}-button {
      transition: none;
    }

    .@{idux-prefix}-icon {
      font-size: @pagination-item-icon-font-size;
      vertical-align: 0;
    }

    &-slash {
      margin: 0 @pagination-item-margin-right-md;
    }

    &-jumper {
      .@{idux-prefix}-button {
        display: none;
      }

      .@{pagination-prefix}-item-ellipsis {
        display: inline-block;
      }

      &:hover {
        .@{idux-prefix}-button {
          display: inline-block;
        }

        .@{pagination-prefix}-item-ellipsis {
          display: none;
        }
      }
    }

    &-active {
      .@{idux-prefix}-button {
        color: @pagination-item-active-color;
        background-color: @pagination-item-active-bg-color;
      }

      .@{idux-prefix}-button.@{idux-prefix}-button-disabled {
        color: @pagination-item-disabled-color;
        background-color: @pagination-item-disabled-bg-color;
      }
    }
  }

  &-item:not(&-item-active) {
    .@{idux-prefix}-button:hover:not(.@{idux-prefix}-button-disabled) {
      background-color: @pagination-item-hover-bg-color;
    }
  }

  &-total {
    margin-right: @pagination-item-margin-right-md;
  }

  &-sizes,
  &-jumper {
    margin-left: @pagination-item-margin-right-md;
  }

  &-md {
    vertical-align: middle;
    .pagination-size(@pagination-item-height-md, @pagination-item-input-width-md, @pagination-item-margin-right-md);
  }

  &-sm {
    vertical-align: top;
    .pagination-size(@pagination-item-height-sm, @pagination-item-input-width-sm, @pagination-item-margin-right-sm);
    .@{idux-prefix}-button {
      min-width: @pagination-item-spacing-sm;
      height: @pagination-item-spacing-sm;
      line-height: @pagination-item-spacing-sm;
    }
  }
}
