.pagination-size(@font-size, @item-padding, @item-button-size) {
  .reset-font-size(@font-size);

  .@{pagination-prefix}-item {
    padding: @item-padding;

    &-content {
      height: @item-button-size;
      line-height: @item-button-size;
      min-width: @item-button-size;
    }
  }
}
