.pagination-size(@font-size, @item-size, @item-padding) {
  font-size: @font-size;
  @item-button-size: @item-size - @item-padding * 2;

  .@{pagination-prefix}-item {
    padding: @item-padding;

    .@{button-prefix} {
      min-width: @item-button-size;
      height: @item-button-size;
      line-height: @item-button-size;
      font-size: @font-size;
    }

    .@{button-prefix}.@{button-prefix}-icon-only {
      width: @item-button-size;
    }
  }

  .@{pagination-prefix}-total,
  .@{pagination-prefix}-sizes,
  .@{pagination-prefix}-jumper {
    height: @item-size;
    line-height: @item-size;
  }

  .@{pagination-prefix}-sizes .@{select-prefix},
  .@{pagination-prefix}-jumper .@{input-prefix},
  .@{pagination-prefix}-total {
    font-size: @font-size;
    height: @item-size;
    line-height: @item-size;
  }
}
