.pagination-size(@font-size, @item-padding, @item-button-size) {
  font-size: @font-size;
  line-height: calc(@font-size + 8px);

  .@{pagination-prefix}-item {
    padding: @item-padding;

    &-content {
      height: @item-button-size;
      line-height: @item-button-size;
      min-width: @item-button-size;
    }
  }
}
