@import '../../style/mixins/reset.less';
@import '../../style/motion/zoom.less';

.@{image-viewer-prefix} {
  .reset-component();

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--ix-image-viewer-bg-color);
  user-select: none;
  z-index: 1000;

  .@{image-viewer-prefix}-opr {
    position: absolute;
    z-index: 1;
    bottom: var(--ix-image-viewer-opr-margin-bottom);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: calc(var(--ix-image-viewer-opr-height) / 2);
    height: var(--ix-image-viewer-opr-height);
    color: var(--ix-image-viewer-opr-color);
    font-size: var(--ix-image-viewer-opr-font-size);
    background-color: var(--ix-image-viewer-opr-bg-color);

    &-item {
      margin: var(--ix-image-viewer-opr-item-margin);
      cursor: pointer;

      &-disabled {
        pointer-events: none;
        color: var(--ix-image-viewer-opr-color-disabled);
      }
    }
  }

  .@{image-viewer-prefix}-preview {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &-img {
      transition: all var(--ix-motion-duration-medium);
      will-change: transform;
      max-height: 100%;
      max-width: 100%;
    }
  }
}
