@import '../../../style/themes/default.less';

@timeline-size: @font-size-base;
@timeline-item-minheight: 20px;

@timeline-dot-dia: 10px;
@timeline-dot-border: @border-width-md solid transparent;
@timeline-custom-dot-top: 5px;
@timeline-custom-dot-padding: 1px 0;
@timeline-custom-dot-gap: (@timeline-dot-dia / 2);

@timeline-content-gap: 18px;
@timeline-content-line-height: 20px;
@timeline-content-top: -5px;
@timeline-dotted-content-min-height: 48px;

@timeline-line-gap: ((@timeline-dot-dia - @border-width-md) / 2);
@timeline-line-border: @border-width-md solid #e8e8e8;
@timeline-reverse-pending-dot-line-top: 14px;
