@import '../../../style/mixins/box.less';
@import './themes/default.less';

.@{mask-prefix} {
  .box(fixed);

  height: 100%;
  background-color: @mask-background-color;
  z-index: @zindex-l4-base;
}
