@import '../../../style/variable/index.less';
@import '../../../style/mixins/box.less';
@import '../../../style/motion/fade.less';

.@{mask-prefix} {
  .box(fixed);

  height: 100%;
  background-color: var(--ix-color-mask);
  z-index: 1000;
}
