@import '../../../style/themes/default.less';
@import '../../../input/style/themes/default.less';

@input-number-font-size-sm: @input-font-size-sm;
@input-number-font-size-md: @input-font-size-md;
@input-number-font-size-lg: @input-font-size-lg;

@input-number-height-sm: @input-height-sm;
@input-number-height-md: @input-height-md;
@input-number-height-lg: @input-height-lg;

@input-number-width-sm: 120px;
@input-number-width-md: 160px;
@input-number-width-lg: 192px;

@input-number-button-hover-color: @input-active-color;
@input-number-error: @color-error;
@input-number-disabled-color: @input-disabled-color;
@input-number-button-bg: @color-white;
@input-number-disabled-bg: @input-disabled-background-color;

