// new
@menu-text-color: var(--ix-text-color);
@menu-text-color-hover: var(--ix-text-color);
@menu-text-color-active: var(--ix-color-primary);
@menu-text-color-disabled: var(--ix-text-color-disabled);
@menu-background-color: var(--ix-background-color);
@menu-background-color-hover: var(--ix-background-color-middle);
@menu-background-color-active: var(--ix-color-primary-l50);
@menu-background-color-disabled: var(--ix-background-color);
@menu-horizontal-background-color-active: var(--ix-background-color-light);
@menu-border-color: var(--ix-border-color);

@menu-height: var(--ix-height-md);
@menu-border-radius: var(--ix-border-radius-md);
@menu-font-size: var(--ix-font-size-md);
@menu-icon-font-size: var(--ix-font-size-lg);

@menu-item-group-text-color: var(--ix-text-color-info);

@menu-overlay-min-width: 128px;
@menu-overlay-border-radius: @border-radius-md;
@menu-overlay-box-shadow: @shadow-bottom-md;

@menu-collapsed-width: 48px;

// dark
@menu-dark-text-color: var(--ix-text-color-inverse);
@menu-dark-text-color-hover: var(--ix-color-primary);
@menu-dark-text-color-active: var(--ix-color-primary);
@menu-dark-text-color-disabled: var(--ix-text-color-inverse-disabled);
@menu-dark-background-color: var(--ix-background-color-inverse);
@menu-dark-background-color-hover: transparent;
@menu-dark-background-color-active: @color-black;
@menu-dark-background-color-disabled: transparent;
@menu-dark-horizontal-background-color-active: @color-grey-d30;

@menu-dark-item-group-text-color: @color-grey-d10;
