@import './default.variable.less';

@menu-item-height: 44px;

@menu-dark-background-color: @color-graphite-d40;
@menu-dark-color: @color-graphite-l30;
@menu-dark-highlight-background-color: @color-graphite-d30;
@menu-dark-highlight-color: @color-graphite-l30;

@menu-collapsed-width: 44px;

@menu-overlay-border-radius: @border-radius-sm;
