@import './default.variable.less';

@menu-height: 36px;
@menu-border-radius: 0;
@menu-font-size: var(--ix-font-size-sm);

@menu-overlay-border-radius: @border-radius-sm;

@menu-collapsed-width: 44px;

// dark
@menu-dark-text-color-hover: var(--ix-text-color-inverse);
@menu-dark-text-color-active: var(--ix-text-color-inverse);
@menu-dark-background-color-hover: @color-graphite-d50;
@menu-dark-background-color-active: var(--ix-color-primary);
@menu-dark-horizontal-background-color-active: @color-graphite-d30;

@menu-dark-item-group-text-color: @color-graphite-d10;
