.placeholder(@color: var(--ix-color-text-placeholder)) {
  &::placeholder {
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    color: @color;
  }

  &:placeholder-shown {
    text-overflow: ellipsis;
  }
}
