.reset-component() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: @text-color;
  font-size: @font-size-base;
  font-variant: @font-variant-base;
  font-feature-settings: @font-feature-settings-base;
  line-height: @line-height-base;
  list-style: none;
}

.reset-scroll() {
  ::-webkit-scrollbar {
    width: @scrollbar-width;
    height: @scrollbar-height;
  }

  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: @scrollbar-thumb-background-color;
    border: @scrollbar-thumb-border solid transparent;
    border-radius: @scrollbar-thumb-border-radius;
    box-shadow: @scrollbar-thumb-box-shadow;

    &:hover {
      background-color: @scrollbar-thumb-hover-background-color;
    }

    &:active {
      background-color: @scrollbar-thumb-active-background-color;
    }
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background-color: @scrollbar-track-background-color;
    border-radius: @scrollbar-track-border-radius;
    box-shadow: @scrollbar-track-box-shadow;
  }
}
