.reset-component() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--ix-text-color);
  .reset-font-size();

  font-variant: @font-variant-base;
  font-feature-settings: @font-feature-settings-base;
  list-style: none;
}

.reset-component-new() {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.reset-font-size(@font-size: var(--ix-font-size)) {
  font-size: @font-size;
  line-height: calc(@font-size + var(--ix-line-height-gutter));
}

.reset-color(@text-color: var(--ix-text-color), @background-color: var(--ix-background-color)) {
  color: @text-color;
  background-color: @background-color;
}

.reset-scroll() {
  ::-webkit-scrollbar {
    width: var(--ix-scrollbar-width);
    height: var(--ix-scrollbar-height);
  }

  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: var(--ix-scrollbar-thumb-background-color);
    border: var(--ix-scrollbar-thumb-border-width) solid transparent;
    border-radius: var(--ix-scrollbar-thumb-border-radius);
    box-shadow: var(--ix-scrollbar-thumb-box-shadow);

    &:hover {
      background-color: var(--ix-scrollbar-thumb-background-color-hover);
    }

    &:active {
      background-color: var(--ix-scrollbar-thumb-background-color-active);
    }
  }

  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-corner {
    background-color: var(--ix-scrollbar-track-background-color);
    border-radius: var(--ix-scrollbar-track-border-radius);
    box-shadow: var(--ix-scrollbar-track-box-shadow);
  }

  .@{idux-prefix}-scroll-min {
    ::-webkit-scrollbar-thumb {
      border-width: calc(var(--ix-scrollbar-thumb-border-width) * 2);

      &:hover,
      &:active {
        border-width: var(--ix-scrollbar-thumb-border-width);
      }
    }
  }
}
