/* ------ menu css variables ------ */
:root {
  --ix-menu-border-radius: 0;
  --ix-menu-height: 32px;
  --ix-menu-height-level-1: 40px;
  --ix-menu-font-size: 12px;
  --ix-menu-font-size-level-1: 14px;
  --ix-menu-overlay-min-width: 128px;
  --ix-menu-collapsed-width: 44px;
  --ix-menu-item-color: #f4f8ff;
  --ix-menu-item-color-hover: #f4f8ff;
  --ix-menu-item-color-active: #4083e8;
  --ix-menu-item-color-disabled: #687080;
  --ix-menu-item-group-color: #808999;
  --ix-menu-item-bg: #0a0c0f;
  --ix-menu-item-bg-hover: #171a1f;
  --ix-menu-item-bg-active: #151d33;
  --ix-menu-item-bg-disabled: #0a0c0f;
  --ix-menu-item-group-bg: #0a0c0f;
  --ix-menu-horizontal-item-color-hover: #f4f8ff;
  --ix-menu-horizontal-item-color-active: #4083e8;
  --ix-menu-horizontal-item-bg-hover: #171a1f;
  --ix-menu-horizontal-item-bg-active: #151d33;
  --ix-menu-dark-item-color: #f4f8ff;
  --ix-menu-dark-item-color-hover: #f4f8ff;
  --ix-menu-dark-item-color-active: #4083e8;
  --ix-menu-dark-item-color-disabled: #687080;
  --ix-menu-dark-item-group-color: #808999;
  --ix-menu-dark-item-font-weight-active: 600;
  --ix-menu-dark-item-bg: #0a0c0f;
  --ix-menu-dark-item-bg-hover: #171a1f;
  --ix-menu-dark-item-bg-active: #151d33;
  --ix-menu-dark-item-bg-disabled: #0a0c0f;
  --ix-menu-dark-item-group-bg: #0a0c0f;
  --ix-menu-dark-horizontal-item-color-hover: #f4f8ff;
  --ix-menu-dark-horizontal-item-color-active: #4083e8;
  --ix-menu-dark-horizontal-item-bg-hover: #171a1f;
  --ix-menu-dark-horizontal-item-bg-active: #151d33;
}
