@import '../../style/variable/index.less';
@import './mixin.less';

@grid-columns: 24;

.@{row-prefix} {
  display: flex;
  flex-flow: row wrap;

  &::before,
  &::after {
    display: flex;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }

  &-align-center {
    align-items: center;
  }

  &-align-end {
    align-items: flex-end;
  }

  &-align-baseline {
    align-items: baseline;
  }

  &-align-stretch {
    align-items: stretch;
  }

  &-justify-start {
    justify-content: flex-start;
  }

  &-justify-center {
    justify-content: center;
  }

  &-justify-end {
    justify-content: flex-end;
  }

  &-justify-space-between {
    justify-content: space-between;
  }

  &-justify-space-around {
    justify-content: space-around;
  }

  &-align-start {
    align-items: flex-start;
  }
}

.@{col-prefix} {
  position: relative;
  max-width: 100%;
  // Prevent columns from collapsing when empty
  min-height: 1px;
}

.make-grid();

.make-grid(-xs);

@media (min-width: @screen-sm-min) {
  .make-grid(-sm);
}

@media (min-width: @screen-md-min) {
  .make-grid(-md);
}

@media (min-width: @screen-lg-min) {
  .make-grid(-lg);
}

@media (min-width: @screen-xl-min) {
  .make-grid(-xl);
}


// @media (min-width: var(--ix-screen-sm-min)) {
//   .make-grid(-sm);
// }

// @media (min-width: var(--ix-screen-md-min)) {
//   .make-grid(-md);
// }

// @media (min-width: var(--ix-screen-lg-min)) {
//   .make-grid(-lg);
// }

// @media (min-width: var(--ix-screen-xl-min)) {
//   .make-grid(-xl);
// }
