@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';

.@{tabs-prefix} {
  .reset-component();

  position: relative;
  display: flex;
  flex-direction: column;

  &-pane-wrapper {
    padding: var(--ix-tabs-panel-padding-size) 0 0 0;
    flex: auto;

    .@{tabs-prefix} {
      &-pane {
        width: 100%;
      }
    }
  }

  &-nav-wrapper {
    position: relative;
    display: flex;
    flex: none;
    align-items: center;

    .@{tabs-prefix}-nav-pre-btn,
    .@{tabs-prefix}-nav-next-btn {
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      width: calc(var(--ix-height-sm) + var(--ix-padding-size-md));
      height: calc(100% - var(--ix-line-width) * 2);
      margin: var(--ix-line-width);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--ix-font-size-icon);
      color: var(--ix-color-icon);
      outline: none;

      .@{tabs-prefix}-nav-btn-trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--ix-height-xs);
        height: var(--ix-height-xs);
        border-radius: var(--ix-border-radius-sm);
        transition: background var(--ix-motion-duration-medium);
      }

      &:hover {
        color: var(--ix-color-icon-hover);

        .@{tabs-prefix}-nav-btn-trigger {
          background: var(--ix-color-container-bg-hover);
        }
      }
      &:active,
      &:hover:active {
        color: var(--ix-color-icon-active);
      }
    }

    .@{tabs-prefix}-nav-pre-btn {
      left: 0;
      margin-left: 0;
      padding-right: var(--ix-padding-size-md);
      background: linear-gradient(90deg,var(--ix-color-container-bg) 58%, transparent);
    }
    .@{tabs-prefix}-nav-next-btn {
      right: 0;
      margin-right: 0;
      padding-left: var(--ix-padding-size-md);
      background: linear-gradient(270deg,var(--ix-color-container-bg) 58%, transparent);
    }

    .@{tabs-prefix} {
      &-nav {
        position: relative;
        display: inline-block;
        display: flex;
        flex-wrap: wrap;
        flex: auto;
        align-self: stretch;
        overflow: hidden;
        white-space: nowrap;

        &-list {
          display: flex;
          flex-wrap: wrap;
          flex: auto;
          align-self: stretch;
          overflow: hidden;
          white-space: nowrap;

          &-inner {
            position: relative;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;

            .@{tabs-prefix}-nav-add-btn {
              margin-left: var(--ix-padding-size-lg);
            }
          }

          &-gap-filler {
            width: var(--ix-padding-size-lg);
          }
        }

        &-operations {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: var(--ix-padding-size-lg);

          &-hidden {
            position: absolute;
            visibility: hidden;
            pointer-events: none;
          }
        }

        &-tab {
          position: relative;
          display: inline-flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          min-width: var(--ix-tabs-nav-tab-min-width);
          height: var(--ix-tabs-nav-tab-height);
          cursor: pointer;
          white-space: nowrap;
          padding: var(--ix-tabs-nav-tab-padding);
          background-color: var(--ix-color-container-bg);
          transition: background-color var(--ix-motion-duration-fast);

          &-add {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            margin-left: 2px;
            padding: 0 8px;

            &-hidden {
              visibility: hidden;
            }
          }

          &-label {
            display: flex;
            align-items: center;
            color: var(--ix-color-text-title);

            > .@{icon-prefix} {
              font-size: var(--ix-font-size-icon);
            }
          }

          &-selected:not(&-disabled) {
            .@{tabs-prefix}-nav-tab-label {
              color: var(--ix-color-primary-text);
            }
          }
          .@{tabs-prefix}:not(.@{tabs-prefix}-segment) &-selected:not(&-disabled) {
            .@{tabs-prefix}-nav-tab-label {
              font-weight: var(--ix-font-weight-header);
            }
          }

          &:not(&-disabled) {
            &:hover {
              .@{tabs-prefix}-nav-tab-label {
                color: var(--ix-color-primary-text-hover);
              }
            }

            &:active {
              .@{tabs-prefix}-nav-tab-label {
                color: var(--ix-color-primary-text-active);
              }
            }

            &:not(&:hover):not(&:active):not(.@{tabs-prefix}-nav-tab-selected) {
              .@{icon-prefix} {
                color: var(--ix-color-icon);
              }
            }
          }

          &-disabled {
            cursor: not-allowed;

            .@{tabs-prefix}-nav-close-icon,
            .@{tabs-prefix}-nav-tab-label {
              color: var(--ix-color-text-disabled);
            }
          }
        }

        &-border {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: var(--ix-line-width);
          background-color: var(--ix-color-border-secondary);
        }
      }
    }
  }

  &-nav-add-icon,
  &-nav-close-icon {
    font-size: var(--ix-font-size-icon);
  }

  &-nav-close-icon {
    margin-left: 8px;
  }

  &-nav-add-btn {
    width: var(--ix-height-sm);
    height: var(--ix-height-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--ix-border-radius-sm);
    background-color: var(--ix-color-emphasized-container-bg);
    font-size: var(--ix-font-size-icon);
    color: var(--ix-color-icon);
    transition: all var(--ix-motion-duration-fast);
    cursor: pointer;

    &:hover {
      background-color: var(--ix-color-emphasized-container-bg-hover);
    }
    &:active,
    &:hover:active {
      background-color: var(--ix-color-emphasized-container-bg-hover);
    }
  }

  &-nav-operations-popover {
    .@{input-prefix} {
      margin-bottom: 8px;
    }

    .@{popover-prefix}-wrapper {
      min-width: 200px;
    }

    .@{select-prefix} {
      &-option {
        &-label {
          width: 100%;
        }

        &:not(.@{select-prefix}-option-disabled) {
          .@{icon-prefix}:hover {
            color: var(--ix-color-primary-text-hover);
          }
        }
      }
    }
  }
  &-nav-operations-item {
    position: relative;
    padding-left: var(--ix-padding-size-lg);
    display: flex;
    align-items: center;
    height: 100%;

    &::before {
      position: absolute;
      left: 0;
      height: var(--ix-height-xs);
      width: var(--ix-line-width);
      background-color: var(--ix-color-separator);
      content: ''
    }
  }
}

@import './card.less';
@import './line.less';
@import './segment.less';
@import './size.less';
@import './placement.less';