@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';

.@{tabs-prefix} {
  .reset-component();

  position: relative;
  display: flex;
  flex-direction: column;

  &-pane-wrapper {
    padding: var(--ix-tabs-panel-padding-size) 0 0 0;
    flex: auto;

    .@{tabs-prefix} {
      &-pane {
        width: 100%;
      }
    }
  }

  &-md {
    & > .@{tabs-prefix}-nav-wrapper {
      font-size: var(--ix-tabs-nav-font-size-md);
    }
  }

  &-lg {
    & > .@{tabs-prefix}-nav-wrapper {
      font-size: var(--ix-tabs-nav-font-size-lg);
    }

    &.@{tabs-prefix}-line {
      & > .@{tabs-prefix}-nav-wrapper {
        & > .@{tabs-prefix}-nav {
          & > .@{tabs-prefix}-nav-list {
            & > .@{tabs-prefix}-nav-tab {
              height: 48px;
            }
          }
        }
      }
    }

    &.@{tabs-prefix}-segment {
      & > .@{tabs-prefix}-nav-wrapper {
        & > .@{tabs-prefix}-nav {
          & > .@{tabs-prefix}-nav-list {
            & > .@{tabs-prefix}-nav-tab {
              min-width: 80px;
            }
          }
        }
      }
    }
  }

  &-nav-wrapper {
    position: relative;
    display: flex;
    flex: none;
    align-items: center;

    &&-has-scroll {
      > .@{tabs-prefix}-nav {
        &::before,
        &::after {
          top: 0;
          bottom: 0;
          width: 30px;
          position: absolute;
          z-index: 1;
          opacity: 1;
          transition: opacity var(--ix-motion-duration-fast);
          content: '';
          pointer-events: none;
        }

        &::before {
          left: 0;
          box-shadow: inset 10px 0 8px -8px #00000014;
        }

        &::after {
          right: 0;
          box-shadow: inset -10px 0 8px -8px #00000014;
        }

        &.@{tabs-prefix}-nav-first-show::before {
          opacity: 0;
        }

        &.@{tabs-prefix}-nav-last-show::after {
          opacity: 0;
        }
      }
    }

    .@{tabs-prefix} {
      &-nav {
        position: relative;
        display: inline-block;
        display: flex;
        flex-wrap: wrap;
        flex: auto;
        align-self: stretch;
        overflow: hidden;
        white-space: nowrap;

        &-list {
          position: relative;
          display: flex;
          transition: transform var(--ix-motion-duration-fast);
        }

        &-operations {
          display: flex;
          align-items: center;
          justify-content: center;

          &-hidden {
            position: absolute;
            visibility: hidden;
            pointer-events: none;
          }
        }

        &-tab {
          position: relative;
          display: inline-flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          min-width: var(--ix-tabs-nav-tab-min-width);
          height: var(--ix-tabs-nav-tab-height);
          cursor: pointer;
          white-space: nowrap;
          padding: var(--ix-tabs-nav-tab-padding);
          background-color: var(--ix-color-container-bg);
          transition: background-color var(--ix-motion-duration-fast);

          &-add {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            margin-left: 2px;
            padding: 0 8px;

            &-hidden {
              visibility: hidden;
            }
          }

          &-label {
            display: flex;
            align-items: center;
            color: var(--ix-color-text-title);

            > .@{icon-prefix} {
              font-size: var(--ix-font-size-icon);
            }
          }

          &-selected:not(&-disabled) {
            .@{tabs-prefix}-nav-tab-label {
              color: var(--ix-color-primary-text);
              font-weight: var(--ix-font-weight-header);
            }
          }

          &:not(&-disabled) {
            &:hover {
              .@{tabs-prefix}-nav-tab-label {
                color: var(--ix-color-primary-text-hover);
              }
            }

            &:active {
              .@{tabs-prefix}-nav-tab-label {
                color: var(--ix-color-primary-text-active);
              }
            }

            &:not(&:hover):not(&:active):not(.@{tabs-prefix}-nav-tab-selected) {
              .@{icon-prefix} {
                color: var(--ix-color-icon);
              }
            }
          }

          &-disabled {
            cursor: not-allowed;

            .@{tabs-prefix}-nav-close-icon,
            .@{tabs-prefix}-nav-tab-label {
              color: var(--ix-color-text-disabled);
            }
          }
        }

        &-border {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          background-color: var(--ix-color-border-secondary);
        }
      }
    }
  }

  &-card {
    > .@{tabs-prefix}-nav-wrapper {
      > .@{tabs-prefix}-nav {
        z-index: 1;

        > .@{tabs-prefix}-nav-list {
          > .@{tabs-prefix}-nav-tab {
            border-radius: var(--ix-tabs-border-radius) var(--ix-tabs-border-radius) 0 0;
            border-bottom: var(--ix-line-width) var(--ix-line-type) var(--ix-color-border-secondary);
            box-sizing: border-box;

            &-selected:not(.@{tabs-prefix}-nav-tab-disabled) {
              border: var(--ix-line-width) var(--ix-line-type) var(--ix-color-border-secondary);
              border-bottom: transparent;
              font-weight: var(--ix-font-weight-header);

              &::after {
                content: ' ';
                position: absolute;
                top: calc(var(--ix-line-width) * -1);
                left: calc(var(--ix-line-width) * -1);
                right: calc(var(--ix-line-width) * -1);
                height: 2px;
                background-color: var(--ix-color-primary);
                border-radius: var(--ix-tabs-border-radius) var(--ix-tabs-border-radius) 0 0;
              }
            }

            &-add {
              background: var(--ix-color-addon-container-bg);
              border: var(--ix-line-width) var(--ix-line-type) var(--ix-color-border-secondary);
              border-radius: 2px 2px 0 0;
            }
          }

          &-disabled {
            &::after {
              background-color: var(--ix-color-text-disabled);
            }
          }
        }
      }
    }
  }

  &-line {
    > .@{tabs-prefix}-nav-wrapper {
      > .@{tabs-prefix}-nav {
        &-bar {
          position: absolute;
          background-color: var(--ix-color-primary);
          transition:
            width var(--ix-motion-duration-medium) var(--ix-motion-ease-in-out),
            height var(--ix-motion-duration-medium) var(--ix-motion-ease-in-out),
            left var(--ix-motion-duration-medium) var(--ix-motion-ease-in-out),
            top var(--ix-motion-duration-medium) var(--ix-motion-ease-in-out);
          bottom: 0;
          height: var(--ix-tabs-nav-bar-height);
          border-radius: var(--ix-tabs-border-radius) var(--ix-tabs-border-radius) 0 0;

          &-disabled {
            background-color: var(--ix-color-text-disabled);
          }
        }

        &-disabled {
          .@{tabs-prefix}-nav-tab-label {
            color: var(--ix-color-text-disabled);
          }
        }
      }
    }

    &.@{tabs-prefix} {
      &-nav-start,
      &-nav-end {
        > .@{tabs-prefix} {
          &-nav-wrapper {
            flex-direction: column;

            > .@{tabs-prefix}-nav-operations {
              flex-direction: column;
              width: 100%;
            }

            &-has-scroll {
              > .@{tabs-prefix}-nav {
                &::before,
                &::after {
                  left: 0;
                  right: 0;
                  width: 100%;
                }

                &::before {
                  top: 0;
                  box-shadow: inset 0 10px 8px -8px #00000014;
                }

                &::after {
                  bottom: 0;
                  box-shadow: inset 0 -10px 8px -8px #00000014;
                }
              }
            }

            > .@{tabs-prefix}-nav {
              &-bar {
                width: var(--ix-tabs-nav-bar-height);
              }

              &-border {
                height: 100%;
                width: 1px;
              }

              > .@{tabs-prefix}-nav-list {
                transform: translateY(0);
                flex-direction: column;

                > .@{tabs-prefix}-nav-tab {
                  height: auto;
                  justify-content: flex-start;
                  padding: 0;

                  &:not(:first-child) {
                    margin-top: 32px;
                  }
                }

                > .@{tabs-prefix}-nav-tab-add {
                  min-height: 32px;
                }
              }
            }
          }

          &-pane-wrapper {
            > .@{tabs-prefix}-pane {
              height: 100%;
            }
          }
        }
      }

      &-nav-start {
        &.@{tabs-prefix} {
          flex-direction: row;
        }

        > .@{tabs-prefix}-nav-wrapper {
          > .@{tabs-prefix}-nav {
            &-bar {
              right: 0;
              border-radius: var(--ix-tabs-border-radius) 0 0 var(--ix-tabs-border-radius);
            }

            &-border {
              left: unset;
            }
          }
        }

        > .@{tabs-prefix}-pane-wrapper {
          padding: 0 0 0 var(--ix-tabs-panel-padding-size);
        }
      }

      &-nav-end {
        &.@{tabs-prefix} {
          flex-direction: row-reverse;
        }

        > .@{tabs-prefix}-nav-wrapper {
          > .@{tabs-prefix} {
            &-nav {
              &-bar {
                left: 0;
                width: var(--ix-tabs-nav-bar-height);
                border-radius: 0 var(--ix-tabs-border-radius) var(--ix-tabs-border-radius) 0;
              }

              &-border {
                height: 100%;
                left: 0;
                width: var(--ix-line-width);
                background-color: var(--ix-color-border-secondary);
              }

              &-tab {
                min-height: var(--ix-tabs-nav-tab-height);
              }
            }
          }
        }

        > .@{tabs-prefix}-pane-wrapper {
          padding: 0 var(--ix-tabs-panel-padding-size) 0 0;
        }
      }

      &-nav-top,
      &-nav-bottom {
        > .@{tabs-prefix} {
          &-nav-wrapper {
            > .@{tabs-prefix}-nav {
              > .@{tabs-prefix}-nav-list {
                > .@{tabs-prefix}-nav-tab {
                  padding: 0;
                  min-width: auto;

                  + .@{tabs-prefix}-nav-tab {
                    margin: 0 0 0 32px;
                  }
                }
              }
            }
          }
        }
      }

      &-nav-bottom {
        &.@{tabs-prefix} {
          flex-direction: column-reverse;
        }

        > .@{tabs-prefix} {
          &-pane-wrapper {
            padding: 0 0 var(--ix-tabs-panel-padding-size) 0;
          }
        }
      }
    }
  }

  &-segment {
    > .@{tabs-prefix}-nav-wrapper {
      > .@{tabs-prefix}-nav {
        > .@{tabs-prefix}-nav-list {
          > .@{tabs-prefix} {
            &-nav-tab {
              border: var(--ix-line-width) var(--ix-line-type) var(--ix-color-border);
              height: var(--ix-tabs-segment-nav-height);

              &:not(:first-child) {
                border-left: none;

                &::before {
                  position: absolute;
                  top: calc(var(--ix-line-width) * -1);
                  left: calc(var(--ix-line-width) * -1);
                  display: block;
                  box-sizing: content-box;
                  width: var(--ix-line-width);
                  height: 100%;
                  padding: var(--ix-line-width) 0;
                  background-color: var(--ix-color-border);
                  content: '';
                }
              }

              &:hover:not(.@{tabs-prefix}-nav-tab-disabled),
              &-selected:not(.@{tabs-prefix}-nav-tab-disabled) {
                border-color: var(--ix-color-primary-border);
                z-index: 1;

                &::before {
                  background: var(--ix-color-primary);
                }
              }

              &-selected:not(.@{tabs-prefix}-nav-tab-disabled) {
                font-weight: var(--ix-font-weight-header);
              }

              &:first-child {
                border-radius: var(--ix-tabs-border-radius) 0 0 var(--ix-tabs-border-radius);
              }

              &:last-child {
                border-radius: 0 var(--ix-tabs-border-radius) var(--ix-tabs-border-radius) 0;
              }

              &-disabled {
                background-color: var(--ix-color-container-bg-disabled);
              }
            }
          }
        }
      }
    }

    &.@{tabs-prefix}-nav-primary {
      > .@{tabs-prefix}-nav-wrapper > {
        .@{tabs-prefix}-nav > .@{tabs-prefix}-nav-list > .@{tabs-prefix}-nav-tab {
          &-selected:not(.@{tabs-prefix}-nav-tab-disabled) {
            background-color: var(--ix-color-primary);
            font-weight: var(--ix-font-weight-header);

            .@{tabs-prefix}-nav-tab-label {
              color: var(--ix-color-text-inverse);
            }

            &:hover {
              .@{tabs-prefix}-nav-tab-label {
                color: var(--ix-color-text-inverse);
              }
            }
          }
        }
      }
    }
  }

  &-nav-add-icon,
  &-nav-close-icon {
    font-size: var(--ix-font-size-lg);
  }

  &-nav-close-icon {
    margin-left: 8px;
  }

  &-nav-operations-popover {
    .@{input-prefix} {
      margin-bottom: 8px;
    }

    .@{popover-prefix}-wrapper {
      min-width: 200px;
    }

    .@{select-prefix} {
      &-option {
        &-label {
          width: 100%;
        }

        &:not(.@{select-prefix}-option-disabled) {
          .@{icon-prefix}:hover {
            color: var(--ix-color-primary-text-hover);
          }
        }
      }
    }
  }
}
