@import '../../style/variable/index.less';
@import '../../../components/style/variable/index.less';

@import './variables.less';
@import '../../style/mixins/reset.less';
@import '../../../components/style/mixins/ellipsis.less';
@import '../../../components//style//mixins/placeholder.less';

@import './mixin.less';
@import './quick-select.less';
@import './panel.less';

.@{pro-search-prefix} {
  .reset-component();

  display: flex;
  font-size: @pro-search-font-size;
  overflow: visible;
  outline: none;

  &-md {
    .pro-search-size(var(--ix-pro-search-height-md), var(--ix-pro-search-container-padding-md), var(--ix-pro-search-tag-gap-md), var(--ix-pro-search-quick-select-padding-md));
  }
  &-sm {
    .pro-search-size(var(--ix-pro-search-height-sm), var(--ix-pro-search-container-padding-sm), var(--ix-pro-search-tag-gap-sm), var(--ix-pro-search-quick-select-padding-sm));
  }

  .@{overflow-prefix} {
    line-height: 1;
  }
  .@{overflow-prefix}-item {
    height: auto;
    max-width: 100%;
  }

  &-input-container {
    position: relative;
    flex: auto;
    align-self: flex-start;
    width: 0;
    min-height: 100%;
    padding-right: calc(@pro-search-clear-icon-margin-right + @pro-search-clear-icon-width);
    margin-right: calc(@pro-search-border-width * -1);
    border: @pro-search-border-width @pro-search-border-style @pro-search-border-color;
    border-top-left-radius: @pro-search-border-radius;
    border-bottom-left-radius: @pro-search-border-radius;
    background-color: @pro-search-background-color;
    cursor: text;
    color: @pro-search-color;

    &::after {
      content: '';
      background-color: @pro-search-search-button-background-color;
      width: @pro-search-border-width;
      position: absolute;
      right: -1px;
      top: -1px;
    }
  }

  &-input-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
  &-placeholder {
    color: @pro-search-placeholder-color;
    padding: 0 @pro-search-placeholder-padding-horizontal;
    .ellipsis();
  }
  &-clear-icon {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: @pro-search-clear-icon-width;
    margin-right: @pro-search-clear-icon-margin-right;
    font-size: @pro-search-clear-icon-font-size;
    color: @pro-search-clear-icon-color;
    cursor: pointer;
    transition: all var(--ix-motion-duration-medium);
    &:hover {
      color: @pro-search-clear-icon-color-hover;
    }
    &:active {
      color: @pro-search-clear-icon-color-active;
    }
  }
  &-search-button {
    z-index: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 100%;
    background-color: @pro-search-search-button-background-color;
    color: @pro-search-search-button-color;
    font-size: @pro-search-search-button-font-size;
    border-top-right-radius: @pro-search-border-radius;
    border-bottom-right-radius: @pro-search-border-radius;
    cursor: pointer;

    &:hover {
      color: @pro-search-search-button-color-hover;
      background-color: @pro-search-search-button-background-color-hover;
    }
  }

  &:not(&-disabled):hover &-input-container {
    border-color: @pro-search-hover-color;
  }
  &-focused:not(&-disabled) &-input-container {
    border-color: @pro-search-active-color;
    box-shadow: @pro-search-active-box-shadow;
  }
  &-disabled {
    .@{pro-search-prefix}-input-container {
      background-color: @pro-search-disabled-background-color;
      cursor: not-allowed;
    }
    .@{pro-search-prefix}-search-button {
      color: @pro-search-search-button-disabled-color;
      background-color: @pro-search-search-button-disabled-background-color;
      cursor: not-allowed;
    }

    .@{pro-search-prefix}-search-item {
      color: @pro-search-item-tag-disabled-color;
      border: 1px solid @pro-search-item-tag-disabled-border-color;
      background-color: @pro-search-item-tag-disabled-background-color;
      cursor: not-allowed;
      &-name {
        color: @pro-search-item-tag-disabled-color;
      }
    }
  }

  &-measure-element {
    position: fixed;
    visibility: hidden;
    white-space: pre-wrap;
    top: -100px;
    left: -100px;
  }

  &-search-item {
    display: inline-flex;
    align-items: center;
    padding: @pro-search-item-tag-padding;
    color: @pro-search-item-tag-color;
    background-color: @pro-search-item-tag-background-color;
    border-radius: @pro-search-item-tag-border-radius;

    &-name {
      padding-right: @pro-search-segment-margin;
      flex-shrink: 0;
      color: var(--ix-pro-search-tag-name-color);
      cursor: pointer;
      box-sizing: content-box;
    }

    &-close-icon {
      display: flex;
      align-items: center;
      margin-left: @pro-search-close-icon-margin-left;
      cursor: pointer;
      z-index: 1;
      font-size: var(--ix-font-size-icon);
      &:hover {
        color: var(--ix-color-icon-hover);
      }
    }

    &&-invalid {
      border: 1px solid @pro-search-item-tag-invalid-border-color;
    }

    &-invalid-tooltip.@{overlay-prefix} {
      --ix-overlay-bg-color: @pro-search-item-tag-invalid-tooltip-background-color;

      color: @pro-search-item-tag-invalid-tooltip-color;
    }

    .@{pro-search-prefix}-segment-input {
      padding-right: @pro-search-segment-margin;
      padding-left: @pro-search-segment-margin;
      max-width: @pro-search-segment-max-width;

      .@{pro-search-prefix}:not(.@{pro-search-prefix}-disabled) &:hover {
        color: var(--ix-color-primary-text);
      }
    }
  }

  &-segment-input {
    display: flex;
    height: 100%;

    &-ellipsis-left,
    &-ellipsis-right {
      flex-shrink: 0;
    }

    &-inner {
      flex: auto;
      height: 100%;
      min-width: 1px;
      outline: none;
      box-sizing: content-box;
      color: inherit;
      .placeholder(@pro-search-placeholder-color);
    }
    &-disabled &-inner {
      color: @pro-search-disabled-color;
      cursor: not-allowed;
    }
  }
  &-segment {
    display: inline-block;

    &-overlay {
      .overlay();
    }
  }
  &-temp-segment-input {
    max-width: 100%;
  }

  &-name-segment-overlay {
    .overlay();
  }
}
