.overlay() {
  z-index: 1000;
  padding: @pro-search-overlay-padding;
}

.pro-search-size(@height; @container-padding; @item-gap; @quick-select-padding) {
  @item-height: calc(@height - @container-padding * 2);

  height: @height;
  .@{pro-search-prefix}-input-container::after {
    height: @height;
  }
  .@{pro-search-prefix}-clear-icon {
    height: calc(@height - @pro-search-border-width * 2);
  }

  .@{pro-search-prefix}-input-content {
    margin-left: calc(@item-gap * -1);
    margin-bottom: calc(@item-gap * -1);
    padding: calc(@container-padding - @pro-search-border-width);
  }
  .@{pro-search-prefix}-placeholder {
    height: @item-height;
    line-height: @item-height;
  }
  .@{pro-search-prefix}-search-item {
    height: @item-height;
    margin-bottom: @item-gap;
    margin-left: @item-gap;
  }
  .@{pro-search-prefix}-temp-segment-input {
    height: @item-height;
    margin-left: @item-gap;
    margin-bottom: @item-gap;
  }
  .@{pro-search-prefix}-quick-select-panel {
    padding: @quick-select-padding;
  }
}
