.overlay() {
  z-index: 1000;
  padding: @pro-search-overlay-padding;
  background-color: @pro-search-overlay-background-color;
  border-radius: @pro-search-overlay-border-radius;
  box-shadow: @pro-search-overlay-box-shadow;
}