@import '../../style/mixins/reset.less';
@import '../../../components/select/style/mixin.less';

@import './mixin.less';
@import './quick-select.less';

.@{pro-search-prefix} {
  &-panel-footer {
    .panel-footer();
  }

  &-date-picker-panel {
    &-with-shortcuts {
      display: flex;
    }

    &-body {
      padding: @pro-search-date-picker-panel-body-padding;
      display: flex;
    }

    &-shortcuts {
      min-width: 120px;
      &&-with-panel {
        width: 120px;
        border-right: var(--ix-line-width) var(--ix-line-type) var(--ix-color-separator);
      }
      &-item {
        display: flex;
        align-items: center;
        height: var(--ix-date-picker-range-shortcuts-item-height);
        line-height: 1;
        padding: var(--ix-date-picker-range-shortcuts-item-padding);
        font-size: var(--ix-date-picker-range-shortcuts-item-font-size);
        color: var(--ix-color-text);
        transition: background var(--ix-motion-duration-medium) var(--ix-motion-ease-in-out);
        cursor: pointer;
    
        &:hover {
          background-color: var(--ix-color-container-bg-hover);
        }
    
        &-selected {
          color: var(--ix-color-primary-text);
          background-color: var(--ix-color-container-bg-active);
        }
    
        &-label {
          .ellipsis();
    
          line-height: calc(var(--ix-date-picker-range-shortcuts-item-font-size) + var(--ix-line-height-gutter));
        }
      }
      &-panel {
        padding: @pro-search-date-picker-panel-body-padding;
        padding-bottom: 0;
      }
    }
  }

  &-name-segment-panel.@{pro-search-prefix}-select-panel {
    min-width: @pro-search-name-segment-panel-min-width;
  }
  &-operator-segment-panel.@{pro-search-prefix}-select-panel {
    min-width: @pro-search-operator-segment-panel-min-width;
  }

  &-select-panel {
    min-width: @pro-search-select-panel-min-width;
    display: flex;
    flex-direction: column;

    &-inner {
      padding: var(--ix-padding-size-xs) 0;
    }

    &-auto-height {
      height: 100%;
      .@{pro-search-prefix}-select-panel-inner {
        height: 0;
        flex: auto;
      }
      .cdk-virtual-scroll {
        height: 100%;
      }
    }
    &-select-all-option {
      .select-option(var(--ix-select-option-font-size), var(--ix-color-text));

      border-bottom: @pro-search-border-width @pro-search-border-style @pro-search-border-color;

      &-label {
        margin-left: var(--ix-select-option-label-margin-left);
      }
    }
  }
  &-tree-select-panel {
    min-width: @pro-search-tree-select-panel-min-width;
    max-width: @pro-search-tree-select-panel-max-width;
    display: flex;
    flex-direction: column;
    
    &-auto-height {
      height: 100%;
      .@{pro-search-prefix}-tree-select-panel-body {
        height: 0;
        flex: auto;
      }
    }

    &-body {
      padding: var(--ix-padding-size-xs) 0;
      .@{tree-node-prefix} {
        padding: 0 var(--ix-padding-size-xs);
      }
    }
  }
}

.panel-footer() {
  border-top: @pro-search-panel-footer-border-width @pro-search-panel-footer-border-style
    @pro-search-panel-footer-border-color;
  padding: @pro-search-panel-footer-padding-vertical @pro-search-panel-footer-padding-horizontal;
  text-align: right;

  .@{button-prefix} + .@{button-prefix} {
    margin-left: @pro-search-panel-footer-button-margin;
  }
}
