@import '../../../style/variable/index.less';
@import '../../../style/mixins/reset.less';
@import '../../../style/mixins/borderless.less';
@import '../../../style/mixins/placeholder.less';

.trigger-size(@height, @vertical-padding, @horizontal-padding, @font-size, @border-radius) {
  height: @height;
  padding: @vertical-padding calc(var(--ix-padding-size-xs) + var(--ix-padding-size-sm)) @vertical-padding
    @horizontal-padding;
  font-size: @font-size;
  line-height: calc(@font-size + var(--ix-line-height-gutter));
  border-radius: @border-radius;
}

.@{trigger-prefix} {
  .reset-component();

  position: relative;
  width: 100%;
  color: var(--ix-color-text);
  border: var(--ix-control-line-width) var(--ix-control-line-type) var(--ix-color-border);
  background-color: var(--ix-control-bg-color);
  cursor: pointer;
  transition: all var(--ix-motion-duration-medium) var(--ix-motion-ease-in-out);

  &-sm {
    .trigger-size(var(--ix-control-height-sm), var(--ix-control-padding-size-vertical-sm), var(--ix-control-padding-size-horizontal-sm), var(--ix-control-font-size-sm), var(--ix-control-border-radius-sm));
  }

  &-md {
    .trigger-size(var(--ix-control-height-md), var(--ix-control-padding-size-vertical-md), var(--ix-control-padding-size-horizontal-md), var(--ix-control-font-size-md), var(--ix-control-border-radius-md));
  }

  &-lg {
    .trigger-size(var(--ix-control-height-lg), var(--ix-control-padding-size-vertical-lg), var(--ix-control-padding-size-horizontal-lg), var(--ix-control-font-size-lg), var(--ix-control-border-radius-lg));
  }

  &:hover:not(&-disabled):not(&-borderless) {
    border-color: var(--ix-control-border-color-hover);
  }

  &-opened:not(&-disabled):not(&-borderless),
  &-focused:not(&-disabled):not(&-borderless) {
    border-color: var(--ix-control-border-color-active);
    box-shadow: var(--ix-control-box-shadow-focus);
  }

  &-disabled {
    color: var(--ix-color-text-disabled);
    background-color: var(--ix-control-bg-color-disabled);
    cursor: not-allowed;
  }

  &-disabled input {
    cursor: not-allowed;
  }

  &-borderless {
    .borderless();
  }

  &-placeholder {
    color: var(--ix-color-text-placeholder);
  }

  &-suffix,
  &-clear-icon {
    position: absolute;
    top: 0;
    right: var(--ix-margin-size-sm);
    display: flex;
    align-items: center;
    height: 100%;
    transition: all var(--ix-motion-duration-medium);
    font-size: var(--ix-font-size-icon);
  }

  &-suffix {
    color: var(--ix-color-icon);
  }

  &-clear-icon {
    cursor: pointer;
    color: var(--ix-color-icon);
    background-color: var(--ix-control-bg-color);
    opacity: 0;
    &:hover {
      color: var(--ix-color-icon-hover);
    }
  }

  &:not(&-disabled):hover &-clear-icon {
    opacity: 1;
  }

  & input {
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    appearance: none;
    color: inherit;
    font-size: inherit;
    .placeholder();
  }

  // form status
  &&-invalid {
    border-color: var(--ix-color-error-border);

    &:hover {
      border-color: var(--ix-color-error-border-hover);
    }

    &.@{idux-prefix}-trigger-focused {
      border-color: var(--ix-color-error-border-active);
      box-shadow: var(--ix-control-box-shadow-invalid);
    }
  }
}
