@import './default.variable.less';

@pro-textarea-padding-horizontal-sm: 4px;
@pro-textarea-padding-horizontal-md: 6px;
@pro-textarea-padding-horizontal-lg: 8px;
@pro-textarea-padding-vertical-sm: 4px;
@pro-textarea-padding-vertical-md: 6px;
@pro-textarea-padding-vertical-lg: 8px;
@pro-textarea-line-height: 20px;
