.cdk-virtual-scroll {
  &-holder {
    overflow: auto;
    overflow-anchor: none;
  }

  &-filler-vertical {
    float: left;
  }

  &-content {
    display: flex;
    flex-flow: column wrap;
  }
}

.cdk-scroll-block {
  overflow: hidden;
}
