@import '../../style/mixins/reset.less';
@import '../../style/mixins/ellipsis.less';

.@{anchor-prefix} {
  .reset-component();

  position: relative;
  padding-left: @anchor-border-width;

  &-wrapper {
    margin-left: @anchor-wrapper-margin-left;
    padding-left: @anchor-wrapper-padding-left;
    overflow: auto;
    background-color: @anchor-background-color;
  }

  &-ink {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    &::before {
      position: relative;
      display: block;
      width: @anchor-ink-line-border-width;
      height: 100%;
      margin: 0 auto;
      background-color: @anchor-border-color;
      content: ' ';
    }

    &-ball {
      position: absolute;
      left: 50%;
      display: none;
      width: @anchor-ink-ball-width;
      height: @anchor-ink-ball-height;
      background-color: @anchor-background-color;
      border: @anchor-ink-ball-border-width solid @anchor-link-active-color;
      border-radius: @anchor-ink-ball-radius;
      transform: translateX(-50%);
      transition: top @transition-duration-base @ease-in-out;

      &-visible {
        display: inline-block;
      }
    }
  }

  &-fixed &-ink &-ink-ball {
    display: none;
  }

  &-link {
    margin: @anchor-link-margin;
    line-height: @anchor-link-line-height;

    &-title {
      .ellipsis();

      position: relative;
      display: block;
      font-size: @anchor-link-font-size;
      color: @anchor-color;
      text-decoration: none;
      transition: @transition-all-base;

      &-active {
        color: @anchor-link-active-color;
      }
    }
  }
}
