@import '../../style/variable/index.less';
@import '../../style/mixins/placeholder.less';
@import '../../style/mixins/reset.less';
@import './mixin.less';

.@{textarea-prefix} {
  .reset-component();

  position: relative;
  display: inline-block;
  width: 100%;

  &-inner {
    display: block;
    width: 100%;
    min-width: 0;
    outline: 0;
    color: var(--ix-color-text);
    background-color: var(--ix-control-bg-color);
    border: var(--ix-control-line-width) var(--ix-control-line-type) var(--ix-color-border);
    transition: all var(--ix-motion-duration-medium) var(--ix-motion-ease-in-out), height 0s, width 0s;

    &[disabled] {
      cursor: not-allowed;
    }

    .placeholder();

    &:hover {
      border-color: var(--ix-control-border-color-hover);
    }
  }

  &-sm {
    .textarea-size(var(--ix-control-font-size-sm), var(--ix-control-padding-size-vertical-sm), var(--ix-control-padding-size-horizontal-sm), var(--ix-control-border-radius-sm));
  }

  &-md {
    .textarea-size(var(--ix-control-font-size-md), var(--ix-control-padding-size-vertical-md), var(--ix-control-padding-size-horizontal-md), var(--ix-control-border-radius-md));
  }

  &-lg {
    .textarea-size(var(--ix-control-font-size-lg), var(--ix-control-padding-size-vertical-lg), var(--ix-control-padding-size-horizontal-lg), var(--ix-control-border-radius-lg));
  }

  &-focused {
    .@{textarea-prefix}-inner {
      border-color: var(--ix-control-border-color-active);
      box-shadow: var(--ix-control-box-shadow-focus);
    }
  }

  &-disabled {
    .@{textarea-prefix}-inner {
      color: var(--ix-color-text-disabled);
      background-color: var(--ix-control-bg-color-disabled);
      cursor: not-allowed;
      opacity: 1;
    }

    &:hover {
      .@{textarea-prefix}-inner {
        border-color: var(--ix-color-border);
      }
    }
  }

  &-clear {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    color: var(--ix-color-icon);
    transition: all var(--ix-motion-duration-medium);

    &:hover {
      color: var(--ix-color-icon-hover);
    }
  }

  &-clearable {
    .@{textarea-prefix}-clear.visible {
      opacity: 1;
    }
  }

  &-with-count::after {
    position: absolute;
    bottom: var(--ix-textarea-count-bottom);
    right: var(--ix-textarea-count-right);
    text-align: right;
    color: var(--ix-textarea-count-color);
    background-color: var(--ix-control-bg-color);
    opacity: var(--ix-textarea-count-opacity);
    content: attr(data-count);
  }

  // form status
  &&-invalid {
    &::after {
      color: var(--ix-color-error-text);
    }

    .@{textarea-prefix}-inner {
      border-color: var(--ix-color-error-border);

      &:hover {
        border-color: var(--ix-color-error-border);
      }
    }

    .@{textarea-prefix}-suffix {
      color: var(--ix-color-error-text);

      &:hover {
        color: var(--ix-color-error-text);
      }
    }

    &.@{textarea-prefix}-focused .@{textarea-prefix}-inner {
      border-color: var(--ix-color-error-border);
      box-shadow: var(--ix-control-box-shadow-invalid);
    }
  }
}
