.textarea-size(@font-size, @padding-vertical, @padding-horizontal) {
  font-size: @font-size;
  .@{textarea-prefix}-inner {
    padding: @padding-vertical @padding-horizontal;
  }
  .@{textarea-prefix}-clear {
    top: @padding-vertical;
    right: @padding-horizontal;
  }

  &.@{textarea-prefix}-clearable {
    .@{textarea-prefix}-inner {
      padding-right: @padding-horizontal + @font-size;
    }
  }
}
