@import './default.variable.less';

@header-height-sm: var(--ix-height-xl);
@header-height-xl: var(--ix-height-xl);

@header-color: var(--ix-text-color);

@header-description-font-size: var(--ix-font-size-sm);

@header-icon-font-size: var(--ix-font-size-lg);
