@import './default.variable.less'; 

@header-height-xl: @height-xl;
@header-height-lg: @height-xl;
@header-height-md: @height-xl;
@header-height-sm: @height-md;

@header-title-font-size-sm: @font-size-md;
