@import './default.variable.less'; 

@header-height-xl: @height-xl;
@header-height-lg: @height-xl;
@header-height-md: @height-lg;
@header-height-sm: @height-md;

@header-title-font-size-xl: @font-size-xl;
@header-title-font-size-lg: @font-size-lg;
@header-title-font-size-md: @font-size-md;
@header-title-font-size-sm: @font-size-sm;


@header-title-font-size-sm: @font-size-md;

@header-prefix-border-right: none;
