@popconfirm-font-size: @font-size-md;
@popconfirm-color: @text-color;
@popconfirm-background-color: @background-color-component;
@popconfirm-border-radius: @border-radius-sm;
@popconfirm-box-shadow: @shadow-bottom-md;

@popconfirm-icon-size: @font-size-lg;
@popconfirm-icon-color: @color-warning;

@popconfirm-min-width: 192px;
// @deprecated
@popconfirm-wrapper-min-width: @popconfirm-min-width;
