@popconfirm-font-size: var(--ix-font-size-md);
@popconfirm-color: var(--ix-text-color);
@popconfirm-background-color: var(--ix-background-color);
@popconfirm-border-radius: var(--ix-border-radius-md);
@popconfirm-box-shadow: @shadow-bottom-md;

@popconfirm-icon-size: var(--ix-font-size-icon);
@popconfirm-icon-color: var(--ix-color-brown);

@popconfirm-title-font-size: var(--ix-font-size-md);
@popconfirm-title-font-weight: var(--ix-font-weight-xl);
@popconfirm-title-color: var(--ix-text-color-title);

@popconfirm-min-width: 240px;
