@import './default.variable.less';

@popconfirm-font-size: var(--ix-font-size-sm);
@popconfirm-border-radius: var(--ix-border-radius-sm);

@popconfirm-icon-color: var(--ix-color-brown-l10);

@popconfirm-min-width: 320px;
