@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';
@import '../../style/motion/fade.less';

.@{tour-prefix} {
  &-mask {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    fill: rgb(0 0 0 / 45%);
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
    pointer-events: none;

    & > path {
      pointer-events: auto;
      cursor: auto;
    }
  }

  &-placeholder {
    position: fixed;
    z-index: -1;
    background: transparent;
  }

  &-overlay.@{overlay-prefix} {
    --ix-overlay-border-radius: var(--ix-tour-border-radius);
    --ix-overlay-bg-color: var(--ix-tour-bg-color);
  }

  &-panel {
    min-width: var(--ix-tour-min-width);
    background-color: var(--ix-tour-bg-color);
    border-radius: var(--ix-tour-border-radius);
    .reset-component();

    > .@{header-prefix} {
      padding-left: var(--ix-tour-padding-left);
      padding-right: 8px;
    }

    &-inner {
      padding: 0 var(--ix-tour-padding-right) var(--ix-tour-padding-bottom) var(--ix-tour-padding-left);

      &-no-header {
        padding-top: var(--ix-tour-padding-top);
      }
    }

    &-description {
      color: var(--ix-tour-description-color);
      font-size: var(--ix-tour-description-font-size);
      margin-bottom: 8px;
    }
    &-footer {
      width: 100%;
      display: flex;
      align-items: center;
    }

    &-indicators {
      color: var(--ix-tour-indicators-color);
      font-size: var(--ix-tour-indicators-font-size);
    }

    &-buttons {
      margin-left: auto;
    }
    &-button + &-button {
      margin-left: var(--ix-tour-footer-btn-gap);
    }
  }
}
