/* ------ tree-select css variables ------ */
:root {
  --ix-tree-select-option-font-size: 12px;
  --ix-tree-select-option-height: 32px;
  --ix-tree-select-option-padding: 8px 12px;
  --ix-tree-select-option-margin-left: 8px;
  --ix-tree-select-option-container-padding: 4px 0;
  --ix-tree-select-option-container-tree-node-padding: 0 0 0 12px;
  --ix-tree-select-overlay-search-wrapper-padding: 4px 12px 8px;
}
