@import './mixins/index.less';
@import './variable/index.less';

@theme: default;

@idux-prefix: ix;

/* status color -------------------------- */
@primary-color: @blue;
@success-color: @green;
@warning-color: @gold;
@error-color: @red;
