@import './mixins/index.less';
@import './variable/index.less';
@import './motion/index.less';

@theme: default;

@idux-prefix: ix;

/* height -------------------------- */
@height-sm: 24px;
@height-md: 32px;
@height-lg: 40px;
@height-xl: 48px;

@line-height-base: 1.5715;

/* color -------------------------- */
@background-color-base: hsv(0, 0, 95%); // Default grey background color
@background-color-light: hsv(0, 0, 98%); // background of header and selected item
@background-color-body: @white;
@background-color-component: @white;
@background-color-component-dark: #191c24;

@disabled-color: fade(@black, 25%);
@disabled-color-dark: fade(@white, 35%);
@disabled-bg-color: @background-color-base;

@heading-color: fade(@black, 85%);

/* text -------------------------- */
@text-color: fade(@black, 85%);
@text-color-secondary: fade(@black, 45%);
@text-color-dark: fade(@white, 85%);
@text-color-secondary-dark: fade(@white, 65%);

// General
/* button -------------------------- */
@button-zindex: @zindex-l1-1;
@button-font-weight: @font-weight-md;

@button-line-height: @line-height-base;

@button-height-sm: @height-sm;
@button-height-md: @height-md;
@button-height-lg: @height-lg;

@button-font-size-sm: @font-size-md;
@button-font-size-md: @font-size-md;
@button-font-size-lg: @font-size-lg;

@button-padding-sm: @padding-sm;
@button-padding-md: @padding-md;
@button-padding-lg: @padding-lg;

@button-icon-margin-left: @margin-xs;

@button-border-style: @border-style;
@button-border-size: @border-width-sm;
@button-border-radius: @border-radius-sm;

@button-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);

@button-disable-color: @disabled-color;
@button-disable-bg-color: @disabled-bg-color;
@button-disable-border: @border-color;

@button-primary: @white;
@button-primary-bg: @primary;
@button-primary-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
@button-primary-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

@button-default-color: @text-color;
@button-default-bg: @background-color-component;
@button-default-border: @border-color;

@button-danger-color: @error;
@button-danger-bg: @error;

@button-ghost-color: @background-color-component;
@button-ghost-bg: transparent;
@button-ghost-border: @background-color-component;

@button-link-color: @primary;
@button-link-hover-bg: transparent;

@button-text-color: @text-color;
@button-text-hover-bg: rgba(0, 0, 0, 0.12);

/* icon -------------------------- */
@icon-color: inherit;
@icon-color-hover: fade(@black, 75%);

/* title -------------------------- */
@title-font-weight: @font-weight-xl;
@title-font-size: @font-size-lg;
@title-1-font-size: @font-size-3xl;
@title-2-font-size: @font-size-2xl;
@title-3-font-size: @font-size-xl;
@title-4-font-size: @font-size-lg;

@title-height-xl: @height-xl;
@title-height-lg: @height-xl;
@title-height-md: @height-lg;
@title-height-sm: @height-md;

@title-line-height: 1;

@title-color: @black;
@title-sub-color: @text-color-secondary;
@title-bg-color: @background-color-component;

@title-prefix-margin: @margin-md;
@title-content-margin: @margin-md;
@title-extra-margin: @margin-sm;

/* tag -------------------------- start */
@text-color-inverse: @white;
@tag-font-size: @font-size-sm;
@tag-default-color: @black;
@tag-padding: @padding-xs;
@tag-default-padding: 2px 8px;
@tag-margin: @margin-sm;
@tag-border-radius: @border-radius-md;
@tag-round-border-radius: 20px;
@tag-default-border-color: #d9d9d9;
@tag-default-background-color: #fafafa;

/* typography -------------------------- */
@typography-default-color: @text-color;
@typography-color-secondary: @text-color-secondary;
@typography-success: @success;
@typography-warning: @warning;
@typography-error: @error;
@typography-disabled-color: @disabled-color;
@typography-mark-padding: 0;
@typography-mark-background-color: @yellow-l50;
@typography-code-margin: 0 0.2em;
@typography-code-padding: 0.2em 0.4em 0.1em;
@typography-code-font-size: 85%;
@typography-code-background: @grey;
@typography-code-border: @border-width-sm @border-style @grey-d30;
@typography-code-border-radius: @border-radius-md;
@typography-kbd-margin: 0 0.2em;
@typography-kbd-padding: 0.15em 0.4em 0.1em;
@typography-kbd-font-size: 90%;
@typography-kbd-background: @grey;
@typography-kbd-border-style: @border-style;
@typography-kbd-border-color: @grey-d30;
@typography-kbd-border-width: @border-width-sm @border-width-sm @border-width-md;
@typography-kbd-border-radius: @border-radius-md;
@typography-strong-font-weight: @font-weight-lg;
@typography-a-color: @primary;
@typography-a-outline: none;
@typography-a-cursor: pointer;
@typography-a-transition: color 0.3s;
@typography-a-color-hover-focus: @blue-l30;
@typography-a-color-active: @blue-d30;
@typography-title-margin-top: 1.2em;
@typography-title-margin-bottom: 0.5em;
@typography-title-font-weight: @font-weight-xl;
@typography-title-color: @black;
@typography-title-1-font-size: @font-size-3xl;
@typography-title-2-font-size: @font-size-2xl;
@typography-title-3-font-size: @font-size-xl;
@typography-title-4-font-size: @font-size-lg;
@typography-title-5-font-size: @font-size-md;
@typography-paragraph-margin-bottom: 1em;
@typography-list-margin: 0 0 1em 0;
@typography-list-padding: 0;
@typography-list-item-margin: 0 0 0 20px;
@typography-list-item-padding: 0 0 0 4px;
@typography-ul-list-style: circle;
@typography-sub-ul-list-style: disc;
@typography-ol-list-style: decimal;

// Layout

/* divider -------------------------- */

/* space -------------------------- */
@space-margin-sm: @margin-sm;
@space-margin-md: @margin-lg;
@space-margin-lg: @margin-xl;

/* grid -------------------------- */
@grid-columns: 24;

// Navigation
/* dropdown -------------------------- */
@dropdown-menu-item-height: @height-md;
@dropdown-menu-item-margin: 0;

/* menu -------------------------- */
@menu-text-color: @text-color;
@menu-bg-color: @background-color-component;
@menu-highlight-color: @primary;
@menu-highlight-bg-color: ~`colorPalette('@{primary}', -50) `;
@menu-disabled-color: @disabled-color;
@menu-disabled-bg-color: transparent;
@menu-border-width: @border-width-sm;
@menu-border-style: @border-style;
@menu-border-color: @border-color-split;
@menu-font-size: @font-size-md;

@menu-item-height: @height-lg;
@menu-item-padding-left: @padding-md;
@menu-item-padding-right: @padding-xl;
@menu-item-margin: @margin-xs 0;
@menu-item-icon-margin-right: @margin-sm;
@menu-item-border-right-width: @border-width-lg;
@menu-item-border-bottom-width: @border-width-md;

@menu-item-group-text-color: @text-color-secondary;
@menu-item-group-content-padding-left: @padding-xl;

@menu-item-horizontal-padding: 0 @padding-xs;

@menu-item-divider-margin: @margin-xs;

@menu-sub-suffix-icon-right: 8px;

@menu-overlay-zindex: @zindex-l4-3;
@menu-overlay-min-width: 128px;
@menu-overlay-border-radius: @border-radius-md;
@menu-overlay-box-shadow: @shadow-bottom-md;

@menu-dark-disabled-color: @disabled-color-dark;
@menu-dark-color: @text-color-dark;
@menu-dark-bg-color: @background-color-component-dark;
@menu-dark-highlight-bg-color: fade(@white, 6%);

@menu-collapsed-width: 64px;
@menu-collapsed-font-size: @font-size-lg;

// Data Entry

/* checkbox -------------------------- */
@checkbox-inner-zindex: @zindex-l1-1;
@checkbox-line-height: 1;
@checkbox-border-color: @grey-d10;
@checkbox-border-style: @border-width-sm solid @grey-d10;
@checkbox-border-radius: @border-radius-sm;
@checkbox-bg-color: @white;
@checkbox-tick-border-style: @border-width-md solid @white;
@checkbox-tick-width: (@checkbox-width / @font-size-base) * 5px;
@checkbox-tick-height: (@checkbox-height / @font-size-base) * 8px;
@checkbox-bg-indeterminate-color: @primary;
@checkbox-indeterminate-width: 8px;
@checkbox-indeterminate-height: 8px;
@checkbox-border-checked-color: @primary;
@checkbox-border-hover-color: @primary;
@checkbox-border-focus-color: @blue-d30;
@checkbox-bg-checked-color: @primary;
@checkbox-border-disabled-color: @grey;
@checkbox-tick-disabled-color: @grey;
@checkbox-bg-disabled-color: @white;
@checkbox-bg-indeterminate-disabled-color: @grey;
@checkbox-label-disabled-color: @grey;
@checkbox-font-size: @font-size-lg;
@checkbox-height: 16px;
@checkbox-width: 16px;
@checkbox-group-line-height: @line-height-base;
@checkbox-group-checkbox-margin-right: @margin-sm;
@checkbox-label-padding: 0 @spacing-gutter;
@checkbox-transition-duration: @transition-duration-base;

/* input -------------------------- */
@input-line-height: @line-height-base;

@input-height-sm: @height-sm;
@input-height-md: @height-md;
@input-height-lg: @height-lg;
@input-padding-horizontal-sm: @padding-sm - 2px;
@input-padding-horizontal-md: @padding-sm;
@input-padding-horizontal-lg: @padding-sm + 2px;
@input-padding-vertical-sm: max(
  (round(((@input-height-sm - @input-font-size-sm * @input-line-height) / 2) * 10) / 10) - @input-border-width,
  0
);
@input-padding-vertical-md: max(
  (round(((@input-height-md - @input-font-size-md * @input-line-height) / 2) * 10) / 10) - @input-border-width,
  2px
);
@input-padding-vertical-lg: (ceil(((@input-height-lg - @input-font-size-lg * @input-line-height) / 2) * 10) / 10) -
  @input-border-width;
@input-font-size-sm: @font-size-md;
@input-font-size-md: @font-size-md;
@input-font-size-lg: @font-size-lg;

@input-wrapper-inner-margin: @margin-xs;

@input-border-width: @border-width-sm;
@input-border-style: @border-style;
@input-border-color: @border-color;

@input-color: @text-color;
@input-color-secondary: @text-color-secondary;
@input-bg-color: @background-color-component;
@input-addon-bg-color: hsv(0, 0, 95%);
@input-placeholder-color: hsv(0, 0, 75%);
@input-hover-border-color: ~`colorPalette('@{primary}', -10) `;
@input-active-border-color: @primary;
@input-active-box-shadow: 0 0 0 2px fade(@input-active-border-color, 15%);
@input-disabled-color: @disabled-color;
@input-disabled-bg-color: @disabled-bg-color;

@input-border-radius: @border-radius-md;
@input-transition-duration: @transition-duration-base;
@input-transition: all @transition-duration-base @ease-in-out;

/* rate -------------------------- */
@rate-icon-size: 24px;
@rate-icon-margin: 8px;
@rate-stroke-color: #f7ba2a;
@rate-background-color: #c6d1de;

/* switch -------------------------- */
@switch-close-bg-color: #ccc;
@switch-close-border-color: transparent;
@switch-close-loading-color: @switch-close-bg-color;
@switch-open-bg-color: @blue;
@switch-open-border-color: @border-color;
@switch-open-loading-color: @switch-open-bg-color;
@switch-transition: all @transition-duration-slow cubic-bezier(0.35, 0, 0.25, 1);
@switch-normal-height: 22px;
@switch-normal-inner-circle-size: 18px;
@switch-small-height: @switch-normal-height - 4;
@switch-small-inner-circle-size: @switch-normal-inner-circle-size - 6;
@switch-loading-size: @font-size-sm;
@switch-inner-font-size: @font-size-sm;
@switch-inner-circle-bg-color: @white;
@switch-inner-circle-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
@switch-focus-shadow: 0 0 0 2px fade(@blue, 20%);
@switch-disable-opacity: 0.4;

/* radio -------------------------------- */
@radio-theme-color: @primary;
@radio-font-size: @font-size-lg;
@radio-font-color: @grey-d40;
@radio-button-mode-value: border, fill;
@radio-min-width-step: 6px;
@radio-height-step: 4px;
@radio-padding-step: 4px;
@radio-font-weight-step: 100;
@radio-line-height-step: 4px;
@radio-body-line-height: 1;
@radio-button-size-value: small, medium, large;
@radio-body-inner-border: @border-width-sm @border-style @grey-l50;
@radio-body-inner-background: @white;
@radio-body-inner-width: 14px;
@radio-body-inner-height: 14px;
@radio-body-inner-border-radius: @border-radius-full;
@radio-body-inner-after-width: 6px;
@radio-body-inner-after-height: 6px;
@radio-body-inner-after-border-radius: @border-radius-full;
@radio-body-inner-after-background: @white;
@radio-body-inner-after-left: 50%;
@radio-body-inner-after-top: 50%;
@radio-body-inner-after-transform: translate(-50%, -50%) scale(0);
@radio-body-inner-after-transition: transform @transition-duration-base @ease-in;
@radio-body-inner-input-opacity: 0;
@radio-body-inner-checked-background-color: @radio-theme-color;
@radio-body-inner-checked-border-color: @radio-theme-color;
@radio-body-inner-after-checked-transform: translate(-50%, -50%) scale(1);
@radio-body-inner-hover-border-color: @radio-theme-color;
@radio-label-padding: 0 8px;
@radio-disabled-border-color: @grey-l10;
@radio-disabled-background-color: @grey-l50;
@radio-disabled-after-background-color: @grey-l30;
@radio-disabled-label-font-color: @grey-l30;
@radio-button-height: 28px;
@radio-button-padding: 0 12px;
@radio-button-min-width: 56px;
@radio-button-background-color: @white;
@radio-button-border-color: @grey-l10;
@radio-button-border-style: @border-style;
@radio-button-border-width: 1.02px 1px 1px 0;
@radio-button-transition: color @transition-duration-slow, background @transition-duration-slow,
  border-color @transition-duration-slow, box-shadow @transition-duration-slow, height @transition-duration-slow;
@radio-button-font-weight: @font-weight-lg;
@radio-button-child-border: @border-width-sm @border-style @grey-l10;
@radio-button-first-child-border-radius: 2px 0 0 2px;
@radio-button-last-child-border-radius: 0 2px 2px 0;
@radio-button-fill-checked-font-color: @white;
@radio-button-fill-checked-background-color: @white;
@radio-button-min-width-base: 48px;
@radio-button-height-base: @height-sm;
@radio-button-padding-align-base: @padding-sm;
@radio-button-padding-vertical-base: 0px;
@radio-button-font-weight-base: @font-weight-base;
@radio-button-line-height-base: @height-sm;

/* select -------------------------- */
@option-height: @height-md;
@option-margin-left: @margin-md;
@option-padding: @padding-sm;
@option-color: @text-color;
@option-font-weight: @font-weight-md;
@option-font-size: @font-size-md;
@option-transition: background @transition-duration-base @ease-in-out;

@option-disabled-color: @disabled-color;
@option-active-bg-color: @grey-l50;
@option-selected-color: @primary;
@option-selected-bg-color: tint(@primary, 90%);
@option-selected-font-weight: @font-weight-xl;

@option-container-zindex: @zindex-l4-3;
@option-container-padding: @padding-sm 0;
@option-container-bg-color: @background-color-component;
@option-container-border-radius: @border-radius-sm;
@option-container-box-shadow: @shadow-bottom-md;
@option-container-empty-color: @option-disabled-color;
@option-container-group-border-top: @border-width-sm @border-style @border-color;

@select-selector-font-size: @font-size-md;
@select-selector-bg-color: @input-bg-color;
@select-selector-border-width: @input-border-width;
@select-selector-border-style: @input-border-style;
@select-selector-border-color: @input-border-color;
@select-selector-border-radius: @input-border-radius;
@select-selector-transition: @input-transition;

@select-selector-hover-border-color: @input-hover-border-color;
@select-selector-active-border-color: @input-active-border-color;
@select-selector-active-box-shadow: @input-active-box-shadow;

@select-selector-disabled-color: @input-disabled-color;
@select-selector-disabled-bg-color: @input-disabled-bg-color;

@select-placeholder-color: @input-placeholder-color;
@select-icon-color: @select-placeholder-color;
@select-icon-bg-color: @select-selector-bg-color;
@select-icon-hover-color: @input-color-secondary;
@select-icon-font-size: @font-size-sm;
@select-icon-margin-right: @margin-sm;
@select-icon-transition: @select-selector-transition;

@select-height-lg: @input-height-lg;
@select-height-md: @input-height-md;
@select-height-sm: @input-height-sm;
@select-padding-horizontal-lg: @input-padding-horizontal-lg;
@select-padding-horizontal-md: @input-padding-horizontal-md;
@select-padding-horizontal-sm: @input-padding-horizontal-sm;
@select-font-size-lg: @input-font-size-lg;
@select-font-size-md: @input-font-size-md;
@select-font-size-sm: @input-font-size-sm;

@select-multiple-padding: @input-padding-vertical-md;
@select-multiple-item-padding: 0 @padding-xs;
@select-multiple-item-bg-color: @background-color-base;
@select-multiple-item-disabled-color: @input-disabled-color;
@select-multiple-item-disabled-border-color: @select-selector-border-color;
@select-multiple-item-border-width: @border-width-sm;
@select-multiple-item-border: @select-multiple-item-border-width @border-style @border-color-split;
@select-multiple-item-border-radius: @select-selector-border-radius;
@select-multiple-item-label-margin-left: @margin-xs;
@select-multiple-item-remove-icon-font-size: @font-size-xs;

// Data Display

/* badge -------------------------- */
@badge-zindex: @zindex-auto;
@badge-size: 16px;
@badge-color: @red;
@badge-padding: 0 3px;
@badge-dot-size: 6px;

/* card -------------------------- */
@card-border-color: @border-color;
@card-border-size: @border-width-sm;
@card-font-size-md: @font-size-md;
@card-font-size-sm: @font-size-sm;
@card-title-font-size-md: @font-size-lg;
@card-title-font-size-sm: @font-size-md;
@card-title-font-weight-sm: @font-weight-md;
@card-hover-shadow: @shadow-bottom-sm;
@card-padding-lg: @padding-lg;
@card-padding-sm: @padding-sm;
@card-min-height: 128px;
@card-bg-color: #fff;

/* collapse -------------------------- */
@collapse-panel-border-style: @border-width-sm solid @border-color;
@collapse-panel-header-bg-color: #fafafa;
@collapse-panel-content-color: @white;
@collapse-panel-content-padding: 15px;
@collapse-panel-disabled-color: @disabled-color;
@collapse-panel-disabled-bg-color: @disabled-bg-color;
@collapse-panel-font-size: @font-size-md;
@collapse-panel-line-hight: @height-lg;

/* empty -------------------------- */
@empty-margin-md: @margin-md;
@empty-line-height-md: @line-height-base;
@empty-font-size-md: @font-size-md;
@empty-icon-font-size-md: 64px;

/* image -------------------------- */
@image-zindex: @zindex-l4-6;
@image-mask-bg: ~'rgba(0, 0, 0, 0.45)';
@image-tools-bg: ~'rgba(0, 0, 0, 0.1)';
@image-height: 100%;
@image-width: 100%;
@image-tools-h: 46px;

/* statistic -------------------------- */
@statistic-font-size-sm: @font-size-md;
@statistic-font-size-md: @font-size-md;
@statistic-font-size-lg: @font-size-xl;
@statistic-font-size-xl: @font-size-2xl;

@statistic-line-height: @line-height-base;
@statistic-color: @black;

@statistic-title-margin: @space-margin-lg;
@statistic-prefix-margin: @margin-xs;
@statistic-suffix-margin: @margin-xs;

/* timeline -------------------------- */
@timeline-size: @font-size-base;
@timeline-item-minheight: 20px;

@timeline-dot-dia: 10px;
@timeline-dot-border: @border-width-md solid transparent;
@timeline-custom-dot-top: 5px;
@timeline-custom-dot-padding: 1px 0;
@timeline-custom-dot-gap: (@timeline-dot-dia / 2);

@timeline-content-gap: 18px;
@timeline-content-line-height: 20px;
@timeline-content-top: -5px;
@timeline-dotted-content-min-height: 48px;

@timeline-line-gap: ((@timeline-dot-dia - @border-width-md) / 2);
@timeline-line-border: @border-width-md solid #e8e8e8;
@timeline-reverse-pending-dot-line-top: 14px;

/* tooltip -------------------------- */
@tooltip-content-max-width: 250px;
@tooltip-content-font-size: 14px;
@tooltip-content-color: @white;
@tooltip-content-background: rgba(0, 0, 0, 0.75);
@tooltip-content-min-width: 30px;
@tooltip-content-min-height: 32px;
@tooltip-content-padding: @spacing-gutter - 2 @padding-sm;
@tooltip-content-border-radius: @border-radius-sm;
@tooltip-content-box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
  0 9px 28px 8px rgb(0 0 0 / 5%);
@tooltip-arrow-size: 3px;

/* popover -------------------------- */
@popover-color: @grey-d40;
@popover-inner-background: @white;
@popover-inner-border-radius: @border-radius-sm;
@popover-inner-box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
@popover-inner-content-padding: 12px 16px;
@popover-title-min-width: 170px;
@popover-title-min-height: 32px;
@popover-title-padding: 5px 16px 4px;
@popover-title-font-weight: @font-weight-lg;
@popover-title-border-bottom: 1px solid @border-color;
@popover-arrow-size: 3px;

// Feedback

/* message -------------------------- */
@message-item-margin: @margin-lg;
@message-item-line-height: @line-height-base;
@message-item-icon-size: 16px;
@message-item-icon-margin-right: @margin-sm;
@message-item-content-min-width: 120px;
@message-item-content-max-width: 480px;

/* result -------------------------- */
@result-padding: @spacing-gutter * 6 @spacing-gutter * 4;
@result-text-align: center;
@result-icon-margin: @margin-xl;
@result-icon-size: @font-size-xl * 4;
@result-title-font-size: @font-size-2xl;
@result-title-color: @black;
@result-title-line-height: 1.8;
@result-subtitle-font-size: @font-size-md;
@result-subtitle-color: @black;
@result-subtitle-line-height: 1.6;
@result-extra-margin: @margin-xl;
@result-extra-children-margin: @margin-sm;
@result-content-margin: @margin-xl;
@result-content-padding: @padding-xl @spacing-gutter * 5;
@result-content-background: @grey-l50;
@result-success: @success;
@result-warning: @warning;
@result-error: @error;
@result-info: @info;

/* spin -------------------------- */
@spin-zindex: @zindex-l2-base;
@spin-tip-color: @primary;
@spin-icon-color: @primary;

@spin-font-size-sm: @font-size-md;
@spin-font-size-md: @font-size-lg;
@spin-font-size-lg: @font-size-xl;

/* progress -------------------------- */
@progress-normal-bg: @primary;
@progress-success-bg: @success;
@progress-exception-bg: @error;
@progress-active-bg: @primary;
@progress-trail-bg: #f5f5f5;
@progress-text-width: 36px;
@progress-border-radius: 100px;
@progress-text-color: @text-color;
@progress-line-font-size-md: @font-size-md;
@progress-line-font-size-sm: @font-size-sm;
@progress-circle-font-size-md: @font-size-2xl;

// Other

/* back-top -------------------------- */
@back-top-zindex: @zindex-l2-base;
@back-top-height: @height-lg;
@back-top-width: @height-lg;

@back-top-font-size: @font-size-3xl;

@back-top-border-radius: 50%;

@back-top-right-gutter: 32px;
@back-top-right-xs: (@back-top-right-gutter / 2);
@back-top-right-sm: @back-top-right-gutter;
@back-top-right-md: @back-top-right-gutter * 1.5;
@back-top-right-lg: @back-top-right-gutter * 2;
@back-top-right-xl: @back-top-right-gutter * 3;

@back-top-bottom: 50px;

@back-top-background-color: @primary;

// --- end ---

/* anchor-top -------------------------- */
@anchor-bg: @background-color-component;
@anchor-wrapper-margin-left: -@spacing-xs;
@anchor-wrapper-padding-left: @spacing-xs;
@anchor-color: @text-color;
@anchor-border-width: @border-width-md;
@anchor-border-color: @border-color;

@anchor-ink-ball-size: 8px;
@anchor-ink-ball-radius: 50%;

@anchor-link-padding: @spacing-sm 0 @spacing-sm @spacing-md;
@anchor-link-line-height: 1;
@anchor-link-margin-bottom: 6px;
@anchor-link-active-color: @primary;

/* Steps -------------------------- */
@step-highlight-color: @primary;
@step-tail-width: 9999px;
@step-tail-height: 1px;
@step-custom-icon-width: 24px;
@step-custom-icon-width-small: 20px;
@step-content-min-height: 48px;
@step-dot-width: 8px;
@step-dot-width-active: 10px;
@step-dot-head-width: 60px;
@step-dot-active-offset: -1px;
@step-dot-tail-width: 2px;
@step-dot-vertical-gutter: 6px;
@step-percent-gutter: 8px;
@step-percent-width: 2px;
@step-percent-bg: #dfdfdf;

// --- end ---
