@import './variable/index.less';

@theme: default;

// Private
@mask-bg-color: fade(@black, 40%);
@overlay-arrow-size: 6px;

// General
/* button -------------------------- */
@button-zindex: @zindex-l1-1;
@button-font-weight: @font-weight-md;

@button-line-height: @line-height-base;

@button-height-sm: @height-sm;
@button-height-md: @height-md;
@button-height-lg: @height-lg;

@button-font-size-sm: @font-size-md;
@button-font-size-md: @font-size-md;
@button-font-size-lg: @font-size-lg;

@button-padding-sm: @spacing-sm;
@button-padding-md: @spacing-md;
@button-padding-lg: @spacing-lg;

@button-icon-margin-left: @spacing-xs;

@button-border-style: @border-style;
@button-border-size: @border-width-sm;
@button-border-radius: @border-radius-sm;

@button-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);

@button-disable-color: @disabled-color;
@button-disable-bg-color: @disabled-bg-color;
@button-disable-border: @border-color;

@button-primary: @white;
@button-primary-bg: @primary;
@button-primary-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
@button-primary-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);

@button-default-color: @text-color;
@button-default-bg: @background-color-component;
@button-default-border: @border-color;

@button-danger-color: @error;
@button-danger-bg: @error;

@button-ghost-color: @background-color-component;
@button-ghost-bg: transparent;
@button-ghost-border: @background-color-component;

@button-link-color: @primary;
@button-link-hover-bg: transparent;

@button-text-color: @text-color;
@button-text-hover-bg: rgba(0, 0, 0, 0.12);

/* icon -------------------------- */
@icon-color: inherit;
@icon-color-hover: fade(@black, 75%);

/* title -------------------------- */
@header-line-height: 1;
@header-height-xl: @height-xl;
@header-height-lg: @height-xl;
@header-height-md: @height-lg;
@header-height-sm: @height-md;
@header-color: @text-color;
@header-bg-color: @background-color-component;
@header-transition: color @transition-duration-base @ease-in-out;

@header-bar-width: @spacing-xs;
@header-bar-height: 100%;
@header-bar-margin-right: @spacing-sm;
@header-bar-bg-color: @primary;

@header-prefix-margin-right: @spacing-sm;
@header-prefix-padding-right: @spacing-sm;
@header-prefix-border-right: @border-width-sm @border-style @border-color;
@header-prefix-font-size: @font-size-lg;
@header-prefix-active-color: @primary;

@header-avatar-margin-right: @spacing-lg;

@header-title-color: @black;
@header-title-font-weight: @font-weight-xl;
@header-title-margin-right: @spacing-lg;
@header-title-font-size-xl: @font-size-3xl;
@header-title-font-size-lg: @font-size-2xl;
@header-title-font-size-md: @font-size-xl;
@header-title-font-size-sm: @font-size-lg;

@header-sub-color: @text-color-secondary;
@header-sub-font-size: @font-size-lg;
@header-sub-font-size-sm: @font-size-md;

@header-extra-color: @text-color-secondary;
@header-extra-padding: 0 @spacing-xs;
@header-extra-active-icon-color: @header-title-color;
@header-extra-font-size: @font-size-lg;
@header-extra-font-size-sm: @font-size-md;

@header-description-color: @text-color;
@header-description-font-size: @font-size-md;
@header-description-line-height: @line-height-base;

/* tag -------------------------- start */
@text-color-inverse: @white;
@tag-font-size: @font-size-sm;
@tag-default-color: @black;
@tag-padding: @spacing-xs;
@tag-default-padding: 2px 8px;
@tag-margin: @spacing-sm;
@tag-border-radius: @border-radius-md;
@tag-round-border-radius: 20px;
@tag-default-border-color: #d9d9d9;
@tag-default-background-color: #fafafa;

/* typography -------------------------- */
@typography-default-color: @text-color;
@typography-color-secondary: @text-color-secondary;
@typography-success: @success;
@typography-warning: @warning;
@typography-error: @error;
@typography-disabled-color: @disabled-color;
@typography-mark-padding: 0;
@typography-mark-background-color: @yellow-l50;
@typography-code-margin: 0 0.2em;
@typography-code-padding: 0.2em 0.4em 0.1em;
@typography-code-font-size: 85%;
@typography-code-background: @grey;
@typography-code-border: @border-width-sm @border-style @grey-d30;
@typography-code-border-radius: @border-radius-md;
@typography-kbd-margin: 0 0.2em;
@typography-kbd-padding: 0.15em 0.4em 0.1em;
@typography-kbd-font-size: 90%;
@typography-kbd-background: @grey;
@typography-kbd-border-style: @border-style;
@typography-kbd-border-color: @grey-d30;
@typography-kbd-border-width: @border-width-sm @border-width-sm @border-width-md;
@typography-kbd-border-radius: @border-radius-md;
@typography-strong-font-weight: @font-weight-lg;
@typography-a-color: @primary;
@typography-a-outline: none;
@typography-a-cursor: pointer;
@typography-a-transition: color 0.3s;
@typography-a-color-hover-focus: @blue-l30;
@typography-a-color-active: @blue-d30;
@typography-title-margin-top: 1.2em;
@typography-title-margin-bottom: 0.5em;
@typography-title-font-weight: @font-weight-xl;
@typography-title-color: @black;
@typography-title-1-font-size: @font-size-3xl;
@typography-title-2-font-size: @font-size-2xl;
@typography-title-3-font-size: @font-size-xl;
@typography-title-4-font-size: @font-size-lg;
@typography-title-5-font-size: @font-size-md;
@typography-paragraph-margin-bottom: 1em;
@typography-list-margin: 0 0 1em 0;
@typography-list-padding: 0;
@typography-list-item-margin: 0 0 0 20px;
@typography-list-item-padding: 0 0 0 4px;
@typography-ul-list-style: circle;
@typography-sub-ul-list-style: disc;
@typography-ol-list-style: decimal;

// Layout

/* divider -------------------------- */

/* space -------------------------- */
@space-margin-sm: @spacing-sm;
@space-margin-md: @spacing-lg;
@space-margin-lg: @spacing-xl;

/* grid -------------------------- */
@grid-columns: 24;

// Navigation
/* dropdown -------------------------- */
@dropdown-menu-item-height: @height-md;
@dropdown-menu-item-margin: 0;

/* menu -------------------------- */
@menu-text-color: @text-color;
@menu-bg-color: @background-color-component;
@menu-highlight-color: @primary;
@menu-highlight-bg-color: ~`colorPalette('@{primary}', -50) `;
@menu-disabled-color: @disabled-color;
@menu-disabled-bg-color: transparent;
@menu-border-width: @border-width-sm;
@menu-border-style: @border-style;
@menu-border-color: @border-color-split;
@menu-font-size: @font-size-md;

@menu-item-height: @height-lg;
@menu-item-padding-left: @spacing-md;
@menu-item-padding-right: @spacing-xl;
@menu-item-margin: @spacing-xs 0;
@menu-item-icon-margin-right: @spacing-sm;
@menu-item-border-right-width: @border-width-lg;
@menu-item-border-bottom-width: @border-width-md;

@menu-item-group-text-color: @text-color-secondary;
@menu-item-group-content-padding-left: @spacing-xl;

@menu-item-horizontal-padding: 0 @spacing-xs;

@menu-item-divider-margin: @spacing-xs;

@menu-sub-suffix-icon-right: 8px;

@menu-overlay-zindex: @zindex-l4-3;
@menu-overlay-min-width: 128px;
@menu-overlay-border-radius: @border-radius-md;
@menu-overlay-box-shadow: @shadow-bottom-md;

@menu-dark-disabled-color: @disabled-color-dark;
@menu-dark-color: @text-color-dark;
@menu-dark-bg-color: @background-color-component-dark;
@menu-dark-highlight-bg-color: fade(@white, 6%);

@menu-collapsed-width: 64px;
@menu-collapsed-font-size: @font-size-lg;

/* pagination -------------------------- */
@pagination-font-size: @font-size-md;
@pagination-item-icon-font-size: @font-size-sm;
@pagination-item-height-md: @height-md;
@pagination-item-height-sm: @height-sm;
@pagination-item-margin-right-md: @spacing-sm;
@pagination-item-margin-right-sm: @spacing-xs;
@pagination-item-input-width-md: 48px;
@pagination-item-input-width-sm: 40px;
@pagination-item-spacing-sm: 20px;
@pagination-item-active-color: @button-primary;
@pagination-item-active-bg-color: @button-primary-bg;
@pagination-item-hover-bg-color: tint(@button-primary-bg, 90%);
@pagination-item-disabled-color: @button-disable-color;
@pagination-item-disabled-bg-color: @button-disable-bg-color;

// Data Entry

/* form -------------------------- */

/** form common variable start */
@form-line-height: @line-height-base;

@form-height-sm: @height-sm;
@form-height-md: @height-md;
@form-height-lg: @height-lg;

@form-font-size-sm: @font-size-md;
@form-font-size-md: @font-size-md;
@form-font-size-lg: @font-size-lg;

@form-border-width: @border-width-sm;
@form-border-style: @border-style;
@form-border-color: @border-color;

@form-border-radius-sm: @border-radius-sm;
@form-border-radius-md: @border-radius-md;
@form-border-radius-lg: @border-radius-md;

@form-padding-horizontal-sm: @spacing-sm - 2px;
@form-padding-horizontal-md: @spacing-sm;
@form-padding-horizontal-lg: @spacing-sm + 2px;

@form-padding-vertical-sm: max(
  (round(((@form-height-sm - @form-font-size-sm * @form-line-height) / 2) * 10) / 10) - @form-border-width,
  0
);
@form-padding-vertical-md: max(
  (round(((@form-height-md - @form-font-size-md * @form-line-height) / 2) * 10) / 10) - @form-border-width,
  2px
);
@form-padding-vertical-lg: (ceil(((@form-height-lg - @form-font-size-lg * @form-line-height) / 2) * 10) / 10) -
  @form-border-width;

@form-color: @text-color;
@form-color-secondary: @text-color-secondary;
@form-bg-color: @background-color-component;
@form-placeholder-color: hsv(0, 0, 75%);
@form-hover-color: @primary-l10;
@form-active-color: @primary;
@form-focus-color: @primary-d10;
@form-disabled-color: @disabled-color;
@form-disabled-bg-color: @disabled-bg-color;

@form-active-box-shadow: 0 0 0 2px fade(@form-active-color, 20%);

@form-transition-duration: @transition-duration-base;
@form-transition-function: @ease-in-out;

/** form common variable end */

@form-item-valid-color: @success;
@form-item-invalid-color: @error;
@form-item-validating-color: @pending;
@form-item-margin-bottom: 24px;
@form-vertical-label-margin: 0;
@form-vertical-label-padding: 0 0 8px;
@form-font-height: ceil(@font-size-md * @line-height-base);
@label-required-color: @red-l10;
@label-color: @heading-color;
@form-warning-input-bg: @background-color-component;
@form-item-label-font-size: @font-size-md;
@form-item-label-height: @form-height-md;
@form-item-label-colon-margin-right: 8px;
@form-item-label-colon-margin-left: 2px;
@form-error-input-bg: @background-color-component;

@form-invalid-box-shadow: 0 0 0 2px fade(@form-item-invalid-color, 20%);

/* checkbox -------------------------- */
@checkbox-inner-zindex: @zindex-l1-1;
@checkbox-line-height: 1;
@checkbox-border-color: @grey-d10;
@checkbox-border-style: @border-width-sm solid @grey-d10;
@checkbox-border-radius: @border-radius-sm;
@checkbox-bg-color: @white;
@checkbox-tick-border-style: @border-width-md solid @white;
@checkbox-tick-width: (@checkbox-width / @font-size-base) * 5px;
@checkbox-tick-height: (@checkbox-height / @font-size-base) * 8px;
@checkbox-bg-indeterminate-color: @primary;
@checkbox-indeterminate-width: 8px;
@checkbox-indeterminate-height: 2px;
@checkbox-indeterminate-tick-color: @white;
@checkbox-border-checked-color: @primary;
@checkbox-border-hover-color: @primary-l10;
@checkbox-border-focus-color: @primary-d10;
@checkbox-bg-checked-color: @primary;
@checkbox-border-disabled-color: @grey;
@checkbox-tick-disabled-color: @grey;
@checkbox-bg-disabled-color: @grey-l20;
@checkbox-bg-indeterminate-disabled-color: @grey;
@checkbox-label-disabled-color: @grey;
@checkbox-font-size: @font-size-lg;
@checkbox-height: 16px;
@checkbox-width: 16px;
@checkbox-group-line-height: @line-height-base;
@checkbox-group-checkbox-margin-right: @spacing-sm;
@checkbox-label-padding: 0 @spacing-xl 0 @spacing-xs;
@checkbox-transition-duration: @transition-duration-base;

/* input -------------------------- */
@input-line-height: @line-height-base;

@input-height-sm: @height-sm;
@input-height-md: @height-md;
@input-height-lg: @height-lg;
@input-padding-horizontal-sm: @spacing-sm - 2px;
@input-padding-horizontal-md: @spacing-sm;
@input-padding-horizontal-lg: @spacing-sm + 2px;
@input-padding-vertical-sm: max(
  (round(((@input-height-sm - @input-font-size-sm * @input-line-height) / 2) * 10) / 10) - @input-border-width,
  0
);
@input-padding-vertical-md: max(
  (round(((@input-height-md - @input-font-size-md * @input-line-height) / 2) * 10) / 10) - @input-border-width,
  2px
);
@input-padding-vertical-lg: (ceil(((@input-height-lg - @input-font-size-lg * @input-line-height) / 2) * 10) / 10) -
  @input-border-width;
@input-font-size-sm: @font-size-md;
@input-font-size-md: @font-size-md;
@input-font-size-lg: @font-size-lg;

@input-wrapper-inner-margin: @spacing-xs;

@input-border-width: @border-width-sm;
@input-border-style: @border-style;
@input-border-color: @border-color;

@input-color: @text-color;
@input-color-secondary: @text-color-secondary;
@input-bg-color: @background-color-component;
@input-addon-bg-color: hsv(0, 0, 95%);
@input-placeholder-color: hsv(0, 0, 75%);
@input-hover-border-color: ~`colorPalette('@{primary}', -10) `;
@input-active-border-color: @primary;
@input-active-box-shadow: 0 0 0 2px fade(@input-active-border-color, 20%);
@input-disabled-color: @disabled-color;
@input-disabled-bg-color: @disabled-bg-color;

@input-border-radius: @border-radius-md;
@input-transition-duration: @transition-duration-base;
@input-transition: all @transition-duration-base @ease-in-out;

/* rate -------------------------- */
@rate-icon-size: 24px;
@rate-icon-margin: 8px;
@rate-stroke-color: #f7ba2a;
@rate-background-color: #c6d1de;

/* switch -------------------------- */
@switch-close-bg-color: #ccc;
@switch-close-border-color: transparent;
@switch-close-loading-icon-color: @switch-close-bg-color;
@switch-open-bg-color: @blue;
@switch-open-border-color: @border-color;
@switch-open-loading-icon-color: @switch-open-bg-color;
@switch-transition: all @transition-duration-slow cubic-bezier(0.35, 0, 0.25, 1);
@switch-normal-height: 22px;
@switch-normal-inner-circle-size: 18px;
@switch-small-height: @switch-normal-height - 4;
@switch-small-inner-circle-size: @switch-normal-inner-circle-size - 6;
@switch-loading-icon-size: @font-size-sm;
@switch-loading-icon-size-sm: @font-size-sm - 4;
@switch-inner-font-size: @font-size-sm;
@switch-inner-circle-bg-color: @white;
@switch-inner-circle-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
@switch-focus-shadow: 0 0 0 2px fade(@blue, 20%);
@switch-disable-opacity: 0.4;

/* radio -------------------------------- */
@radio-line-height: @form-line-height;

@radio-height-sm: @form-height-sm;
@radio-height-md: @form-height-md;
@radio-height-lg: @form-height-lg;

@radio-font-size-sm: @form-font-size-sm;
@radio-font-size-md: @form-font-size-md;
@radio-font-size-lg: @form-font-size-lg;

@radio-border-width: @form-border-width;
@radio-border-style: @form-border-style;
@radio-border-color: @form-border-color;

@radio-border-radius: @form-border-radius-sm;

@radio-padding-horizontal-sm: @spacing-sm - @radio-border-width;
@radio-padding-horizontal-md: @spacing-md - @radio-border-width;
@radio-padding-horizontal-lg: @spacing-lg - @radio-border-width;

@radio-color: @form-color;
@radio-bg-color: @form-bg-color;
@radio-hover-color: @form-hover-color;
@radio-active-color: @form-active-color;
@radio-focus-color: @form-focus-color;
@radio-disabled-color: @form-disabled-color;
@radio-disabled-bg-color: @form-disabled-bg-color;

@radio-transition-duration: @form-transition-duration;
@radio-transition-function: @form-transition-function;
@radio-transition: all @radio-transition-duration @radio-transition-function;

@radio-focus-box-shadow: 0 0 0 3px fade(@radio-focus-color, 8%);
@radio-input-top: 0.2em;
@radio-box-size: 16px;
@radio-box-border-radius: @border-radius-full;
@radio-dot-size: @radio-box-size - 8px;
@radio-group-item-margin-right: @spacing-sm;

/* select -------------------------- */
@option-height: @height-md;
@option-margin-left: @spacing-md;
@option-padding: @spacing-sm;
@option-color: @text-color;
@option-font-weight: @font-weight-md;
@option-font-size: @font-size-md;
@option-transition: background @transition-duration-base @ease-in-out;

@option-disabled-color: @disabled-color;
@option-active-bg-color: @grey-l50;
@option-selected-color: @primary;
@option-selected-bg-color: tint(@primary, 90%);
@option-selected-font-weight: @font-weight-xl;

@option-container-zindex: @zindex-l4-3;
@option-container-padding: @spacing-sm 0;
@option-container-bg-color: @background-color-component;
@option-container-border-radius: @border-radius-sm;
@option-container-box-shadow: @shadow-bottom-md;
@option-container-empty-color: @option-disabled-color;
@option-container-group-border-top: @border-width-sm @border-style @border-color;

@select-selector-font-size: @font-size-md;
@select-selector-color: @text-color;
@select-selector-bg-color: @input-bg-color;
@select-selector-border-width: @input-border-width;
@select-selector-border-style: @input-border-style;
@select-selector-border-color: @input-border-color;
@select-selector-border-radius: @input-border-radius;
@select-selector-transition: @input-transition;

@select-selector-hover-border-color: @input-hover-border-color;
@select-selector-active-border-color: @input-active-border-color;
@select-selector-active-box-shadow: @input-active-box-shadow;

@select-selector-disabled-color: @input-disabled-color;
@select-selector-disabled-bg-color: @input-disabled-bg-color;

@select-placeholder-color: @input-placeholder-color;
@select-icon-color: @select-placeholder-color;
@select-icon-bg-color: @select-selector-bg-color;
@select-icon-hover-color: @input-color-secondary;
@select-icon-font-size: @font-size-sm;
@select-icon-margin-right: @spacing-xs;
@select-icon-transition: @select-selector-transition;

@select-height-lg: @input-height-lg;
@select-height-md: @input-height-md;
@select-height-sm: @input-height-sm;
@select-padding-horizontal-lg: @input-padding-horizontal-lg;
@select-padding-horizontal-md: @input-padding-horizontal-md;
@select-padding-horizontal-sm: @input-padding-horizontal-sm;
@select-font-size-lg: @input-font-size-lg;
@select-font-size-md: @input-font-size-md;
@select-font-size-sm: @input-font-size-sm;

@select-multiple-padding: @input-padding-vertical-md;
@select-multiple-item-padding: 0 @spacing-xs;
@select-multiple-item-bg-color: @background-color-base;
@select-multiple-item-disabled-color: @input-disabled-color;
@select-multiple-item-disabled-border-color: @select-selector-border-color;
@select-multiple-item-border-width: @border-width-sm;
@select-multiple-item-border: @select-multiple-item-border-width @border-style @border-color-split;
@select-multiple-item-border-radius: @select-selector-border-radius;
@select-multiple-item-label-margin-left: @spacing-xs;
@select-multiple-item-remove-icon-font-size: @font-size-xs;

// Data Display
/* avatar -------------------------- */
@avatar-size-sm: @height-sm;
@avatar-size-md: @height-md;
@avatar-size-lg: @height-lg;
@avatar-font-size-sm: @font-size-lg;
@avatar-font-size-md: @font-size-xl;
@avatar-font-size-lg: @font-size-2xl;
@avatar-color: @white;
@avatar-bg-color: @grey;
@avatar-border-radius-circle: @border-radius-full;
@avatar-border-radius-square: @border-radius-sm;

/* badge -------------------------- */
@badge-zindex: @zindex-auto;
@badge-size: 16px;
@badge-color: @red;
@badge-padding: 0 3px;
@badge-dot-size: 6px;

/* card -------------------------- */
@card-padding-md: @spacing-lg;
@card-padding-sm: @spacing-md;
@card-padding-lg: @spacing-xl;
@card-color: @text-color;
@card-bg-color: @background-color-component;
@card-border-width: @border-width-sm;
@card-border-style: @border-style;
@card-border-color: @border-color-split;
@card-border-color-hover: transparent;
@card-border-radius: @border-radius-sm;
@card-box-shadow: @shadow-bottom-sm;
@card-gradient-min: fade(@grey, 20%);
@card-gradient-max: fade(@grey, 60%);
@card-transition-duration: @transition-duration-base;

@card-loading-spacing: @spacing-xs;
@card-loading-height: @font-size-md;
@card-loading-bg-size: 600%;
@card-loading-transition-duration: 2s;

@card-grid-width: 25%;

/* list -------------------------- */
@list-border-color: @border-color;
@list-border-size: @border-width-sm;
@list-font-size-md: @font-size-md;
@list-font-size-sm: @font-size-sm;
@list-title-font-size-md: @font-size-lg;
@list-title-font-size-sm: @font-size-md;
@list-title-font-weight-sm: @font-weight-md;
@list-hover-shadow: @shadow-bottom-sm;
@list-padding-lg: @spacing-lg;
@list-padding-sm: @spacing-sm;
@list-min-height: 128px;
@list-bg-color: #fff;

/* collapse -------------------------- */
@collapse-panel-border-style: @border-width-sm solid @border-color;
@collapse-panel-header-bg-color: #fafafa;
@collapse-panel-content-color: @white;
@collapse-panel-content-padding: 15px;
@collapse-panel-disabled-color: @disabled-color;
@collapse-panel-disabled-bg-color: @disabled-bg-color;
@collapse-panel-font-size: @font-size-md;
@collapse-panel-line-hight: @height-lg;

/* empty -------------------------- */
@empty-margin-md: @spacing-md;
@empty-line-height-md: @line-height-base;
@empty-font-size-md: @font-size-md;
@empty-icon-font-size-md: 64px;

/* image -------------------------- */
@image-zindex: @zindex-l4-6;
@image-mask-bg: ~'rgba(0, 0, 0, 0.45)';
@image-tools-bg: ~'rgba(0, 0, 0, 0.1)';
@image-height: 100%;
@image-width: 100%;
@image-tools-h: 46px;

/* statistic -------------------------- */
@statistic-font-size-sm: @font-size-md;
@statistic-font-size-md: @font-size-md;
@statistic-font-size-lg: @font-size-xl;
@statistic-font-size-xl: @font-size-2xl;

@statistic-line-height: @line-height-base;
@statistic-color: @black;

@statistic-title-margin: @space-margin-lg;
@statistic-prefix-margin: @spacing-xs;
@statistic-suffix-margin: @spacing-xs;

/* timeline -------------------------- */
@timeline-size: @font-size-base;
@timeline-item-minheight: 20px;

@timeline-dot-dia: 10px;
@timeline-dot-border: @border-width-md solid transparent;
@timeline-custom-dot-top: 5px;
@timeline-custom-dot-padding: 1px 0;
@timeline-custom-dot-gap: (@timeline-dot-dia / 2);

@timeline-content-gap: 18px;
@timeline-content-line-height: 20px;
@timeline-content-top: -5px;
@timeline-dotted-content-min-height: 48px;

@timeline-line-gap: ((@timeline-dot-dia - @border-width-md) / 2);
@timeline-line-border: @border-width-md solid #e8e8e8;
@timeline-reverse-pending-dot-line-top: 14px;

/* tooltip -------------------------- */
@tooltip-zindex: @zindex-l4-5;
@tooltip-font-size: @font-size-md;
@tooltip-color: @white;
@tooltip-background-color: @grey-d30;
@tooltip-border-radius: @border-radius-sm;
@tooltip-box-shadow: @shadow-bottom-md;
@tooltip-title-max-width: 256px;
@tooltip-title-min-width: 24px;
@tooltip-title-min-height: @height-md;
@tooltip-title-padding: @spacing-sm - 2 @spacing-sm;

/* popover -------------------------- */
@popover-zindex: @zindex-l4-2;
@popover-font-size: @font-size-md;

@popover-color: @text-color;
@popover-background-color: @background-color-component;
@popover-border-radius: @border-radius-sm;
@popover-box-shadow: @shadow-bottom-md;
@popover-title-font-weight: @font-weight-lg;
@popover-title-min-width: 192px;
@popover-title-min-height: @height-md;
@popover-title-padding: @spacing-xs + @border-width-sm @spacing-lg @spacing-xs;
@popover-title-border-bottom: @border-width-sm @border-style @border-color;
@popover-content-padding: @spacing-md @spacing-lg;

// Feedback

/* message -------------------------- */
@message-padding: @spacing-sm;
@message-margin-bottom: @spacing-lg;
@message-font-size: @font-size-md;
@message-line-height: @line-height-base;

@message-content-min-width: 128px;
@message-content-max-width: 480px;
@message-content-padding-horizontal: @spacing-lg;
@message-content-padding-vertical: (round((((@height-lg - @message-font-size * @message-line-height) / 2) * 10) / 10));
@message-content-bg-color: @background-color-component;
@message-content-border-radius: @shadow-bottom-md;
@message-content-box-shadow: @shadow-bottom-md;

@message-icon-size: @font-size-lg;
@message-icon-margin-right: @spacing-sm;

@message-wrapper-top: 15%;
@message-wrapper-zindex: @zindex-l4-1;

/* modal -------------------------- */
@modal-top: 128px;
@modal-spacing: @spacing-lg;
@modal-max-width: calc(100vw - 32px);
@modal-max-width-screen-sm: calc(100vw - 16px);
@modal-margin-screen-sm: @spacing-sm auto;

@modal-content-bg: @background-color-component;
@modal-content-border-radius: @border-radius-sm;
@modal-content-box-shadow: @shadow-bottom-md;
@modal-content-padding: 0 @modal-spacing;

@modal-body-font-size: @font-size-md;
@modal-body-line-height: @line-height-base;
@modal-body-padding-bottom: @modal-spacing;
@modal-body-title-font-size: @font-size-lg;
@modal-body-title-font-weight: @font-weight-xl;
@modal-body-title-margin-bottom: @spacing-sm;
@modal-body-icon-font-size: 48px;
@modal-body-icon-margin: 0 @modal-spacing;
@modal-body-confirm-color: @warning;
@modal-body-info-color: @info;
@modal-body-success-color: @success;
@modal-body-warning-color: @warning;
@modal-body-error-color: @error;

@modal-footer-padding-bottom: @modal-spacing;
@modal-footer-button-margin-left: @spacing-sm;

/* result -------------------------- */
@result-padding: @spacing-gutter * 6 @spacing-gutter * 4;
@result-text-align: center;
@result-icon-margin: @spacing-xl;
@result-icon-size: @font-size-xl * 4;
@result-title-font-size: @font-size-2xl;
@result-title-color: @black;
@result-title-line-height: 1.8;
@result-subtitle-font-size: @font-size-md;
@result-subtitle-color: @black;
@result-subtitle-line-height: 1.6;
@result-extra-margin: @spacing-xl;
@result-extra-children-margin: @spacing-sm;
@result-content-margin: @spacing-xl;
@result-content-padding: @spacing-xl @spacing-gutter * 5;
@result-content-background: @grey-l50;
@result-success: @success;
@result-warning: @warning;
@result-error: @error;
@result-info: @info;

/* spin -------------------------- */
@spin-zindex: @zindex-l2-base;
@spin-tip-color: @primary;
@spin-icon-color: @primary;

@spin-font-size-sm: @font-size-md;
@spin-font-size-md: @font-size-lg;
@spin-font-size-lg: @font-size-xl;

/* progress -------------------------- */
@progress-normal-bg: @primary;
@progress-success-bg: @success;
@progress-exception-bg: @error;
@progress-active-bg: @primary;
@progress-trail-bg: #f5f5f5;
@progress-text-width: 36px;
@progress-border-radius: 100px;
@progress-text-color: @text-color;
@progress-line-font-size-md: @font-size-md;
@progress-line-font-size-sm: @font-size-sm;
@progress-circle-font-size-md: @font-size-2xl;

// Other

/* back-top -------------------------- */
@back-top-zindex: @zindex-l2-base;
@back-top-height: @height-lg;
@back-top-width: @height-lg;

@back-top-font-size: @font-size-3xl;

@back-top-border-radius: 50%;

@back-top-right-gutter: 32px;
@back-top-right-xs: (@back-top-right-gutter / 2);
@back-top-right-sm: @back-top-right-gutter;
@back-top-right-md: @back-top-right-gutter * 1.5;
@back-top-right-lg: @back-top-right-gutter * 2;
@back-top-right-xl: @back-top-right-gutter * 3;

@back-top-bottom: 50px;

@back-top-background-color: @primary;

// --- end ---

/* anchor-top -------------------------- */
@anchor-bg: @background-color-component;
@anchor-wrapper-margin-left: -@spacing-xs;
@anchor-wrapper-padding-left: @spacing-xs;
@anchor-color: @text-color;
@anchor-border-width: @border-width-md;
@anchor-border-color: @border-color;

@anchor-ink-ball-size: 8px;
@anchor-ink-ball-radius: 50%;

@anchor-link-padding: @spacing-sm 0 @spacing-sm @spacing-md;
@anchor-link-line-height: 1;
@anchor-link-margin-bottom: 6px;
@anchor-link-active-color: @primary;

/* Stepper -------------------------- */
@stepper-item-highlight-color: @primary;
@stepper-item-tail-width: 9999px;
@stepper-item-tail-height: 1px;
@stepper-item-custom-icon-width: 24px;
@stepper-item-custom-icon-width-small: 20px;
@stepper-item-content-min-height: 48px;
@stepper-item-dot-width: 8px;
@stepper-item-dot-width-active: 10px;
@stepper-item-dot-head-width: 60px;
@stepper-item-dot-active-offset: -1px;
@stepper-item-dot-tail-width: 2px;
@stepper-item-dot-vertical-gutter: 6px;
@stepper-item-percent-gutter: 8px;
@stepper-item-percent-width: 2px;
@stepper-item-percent-bg: #dfdfdf;

// --- end ---
