@import '../../../style/themes/default.less';

@transfer-height: 290px;

@transfer-content-width: 260px;

@transfer-border-color: @form-border-color;
@transfer-border-radius: 2px;
@transfer-background-color: @form-background-color;

@transfer-font-size: @font-size-md;
@transfer-color: @text-color;
@transfer-disabled-color: @text-color-disabled;

@transfer-header-height: @height-lg;
@transfer-header-suffix-margin-left: @spacing-md;
@transfer-footer-height: @height-lg;

@transfer-header-padding: 0 @spacing-md;
@transfer-footer-padding: 0 @spacing-sm;

@transfer-operations-min-width: @spacing-xs;
@transfer-operations-padding: @spacing-sm;
@transfer-operations-btn-width: 24px;
@transfer-operations-btn-height: 32px;
@transfer-operations-btn-gap: @spacing-sm;

@transer-search-width: 110px;

@transfer-clear-icon-font-size: @font-size-lg;
@transfer-clear-icon-color: @color-graphite-d20;
@transfer-clear-icon-hover-color: @color-primary;
@transfer-clear-icon-active-color: @color-primary;

@transfer-search-icon-font-size: @font-size-lg;
@transfer-search-icon-color: @color-graphite;

@transfer-list-item-font-size: @font-size-md;
@transfer-list-item-min-height: @height-md;
@transfer-list-item-padding: @spacing-xs 0 @spacing-xs @spacing-md;
@transfer-list-item-line-height: @line-height-base;
@transfer-list-item-hover-color: @color-graphite-l50;

@transfer-list-close-icon-padding: 0 @spacing-md;
@transfer-list-close-icon-font-size: @font-size-lg;
@transfer-list-close-icon-color: @color-graphite-d20;
@transfer-list-close-icon-hover-color: @color-primary;
@transfer-list-close-icon-active-color: @color-primary;