@import './default.variable.less';

@transfer-font-size: @font-size-sm;
@transfer-list-border-color: @color-graphite-l30;
@transfer-list-header-suffix-margin-left: @spacing-sm;
@transfer-list-header-padding: 0 @spacing-sm 0 @spacing-md;