@import './default.variable.less';

@transfer-font-size: @font-size-sm;
@transfer-border-color: @color-graphite-l30;
@transfer-header-suffix-margin-left: @spacing-sm;
@transfer-header-padding: 0 @spacing-sm 0 @spacing-md;

@transfer-list-item-font-size: @font-size-sm;
@transfer-list-item-padding: 0 @spacing-sm 0 @spacing-md;
@transfer-list-close-icon-font-size: @font-size-lg;