@idux-pro-prefix: ix-pro;

@pro-form-prefix: ~'@{idux-pro-prefix}-form';
@pro-layout-prefix: ~'@{idux-pro-prefix}-layout';
@pro-search-prefix: ~'@{idux-pro-prefix}-search';
@pro-table-prefix: ~'@{idux-pro-prefix}-table';
@pro-textarea-prefix: ~'@{idux-pro-prefix}-textarea';
@pro-transfer-prefix: ~'@{idux-pro-prefix}-transfer';
@pro-tree-prefix: ~'@{idux-pro-prefix}-tree';

