@import '../../style/variable/index.less';
@import "./variable.less";
@import "./list.less";
@import "./mixin.less";

.@{upload-prefix} {
  font-size: @upload-font-size;

  &-selector {
    display: inline-block;
    cursor: pointer;

    &-drag {
      border-radius: @upload-border-radius;
      border: var(--ix-upload-selector-dragable-border);
      .base-transition();

      &:hover {
        border: var(--ix-upload-selector-dragable-border-dragover);
      }
    }

    &-dragover {
      border: var(--ix-upload-selector-dragable-border-dragover);
    }

    &-disabled {
      .upload-disabled-cursor();
      .upload-disabled-bg-color();
      .upload-disabled-color();
      .upload-disabled-border-color();
    }
  }

  &-input {
    display: none;
  }
}
