@import '../../style/mixins/ellipsis.less';

.list-card() {
  height: var(--ix-upload-list-img-card-height);
  width: var(--ix-upload-list-img-card-width);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: @upload-list-image-card-margin;
}

.@{upload-prefix}-list {
  margin: @upload-list-margin;

  .@{upload-prefix}-icon {
    &-error {
      color: var(--ix-color-error-icon);
    }
  }

  &-text,
  &-image {
    .@{upload-prefix}-file {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      position: relative;

      .@{upload-prefix}-progress {
        position: absolute;
        bottom: -1px;
        left: 0;
      }

      .@{upload-prefix}-name {
        &-pointer {
          cursor: pointer;
        }
      }

      &:hover {
        background-color: var(--ix-color-container-bg-hover);
      }

      &-error {
        .@{upload-prefix}-name {
          color: var(--ix-color-error-text);
        }
      }

      &-success {
        .@{upload-prefix}-name {
          color: var(--ix-color-info-text);
        }
      }

      .@{upload-prefix}-icon-wrap {
        max-width: @upload-icon-wrap-max-width;
        font-size: @upload-icon-font-size;

        .@{upload-prefix}-icon-opr {
          cursor: pointer;
          margin: @upload-icon-margin;
          color: var(--ix-color-icon);

          &:first-child {
            margin: 0;
          }

          &:hover {
            color: var(--ix-color-icon-hover);
          }
        }
      }
    }

    &.@{upload-prefix}-list-disabled {
      .@{upload-prefix}-name,
      .@{upload-prefix}-icon-opr {
        .upload-disabled-color();
        .upload-disabled-cursor();
      }
    }
  }

  &-text {
    border: @upload-list-text-border;
    border-radius: @upload-border-radius;

    .@{upload-prefix}-file {
      border-bottom: @upload-file-border-bottom;

      .@{upload-prefix}-text-info {
        flex: 1;
        display: inline-flex;
        max-width: var(--ix-upload-list-name-max-width);
        align-items: center;

        .@{upload-prefix}-name {
          display: inline-block;
          flex: 1;
          .ellipsis();
        }
      }

      &:last-child {
        border: 0;
      }
    }

    .@{upload-prefix}-icon-file {
      margin: @upload-icon-file-margin;
      font-size: @upload-icon-font-size;
      color: var(--ix-color-icon);
    }
  }

  &-image {
    .@{upload-prefix}-file {
      border: @upload-file-border-bottom;
      border-radius: @upload-border-radius;
      margin: @upload-list-image-margin;

      &:first-child {
        margin: 0;
      }
    }

    .@{upload-prefix}-thumb-info {
      display: inline-flex;
      align-items: center;
      flex: 1;
      max-width: var(--ix-upload-list-name-max-width);

      .@{upload-prefix}-name {
        display: inline-block;
        flex: 1;
        .ellipsis();
      }

      .@{upload-prefix}-thumb {
        display: inline-block;
        height: var(--ix-upload-list-img-thumb-height);
        width: var(--ix-upload-list-img-thumb-width);
        margin: @upload-list-image-thumb-margin;
      }
    }
  }

  &-imageCard {
    display: flex;
    flex-wrap: wrap;

    .@{upload-prefix}-selector {
      .list-card();

      font-size: @upload-list-image-card-selector-font-size;
      color: var(--ix-color-text-placeholder);
      border: var(--ix-line-width) dashed var(--ix-color-border-secondary);
      border-radius: 2px;
      background-color: var(--ix-color-info-container-bg);

      &:hover {
        color: @upload-list-image-card-selector-color-hover;
      }

      &-uploading {
        border-style: solid;
      }
    }

    .@{upload-prefix}-file {
      .list-card();

      border-radius: @upload-border-radius;
      border: var(--ix-line-width) solid var(--ix-color-border-secondary);
      background-color: var(--ix-color-info-container-bg);

      .@{upload-prefix}-status {
        color: var(--ix-color-text);
        text-align: center;
        padding: var(--ix-padding-size-xs);
        min-width: @upload-list-image-card-status-min-width;

        .@{idux-prefix}-progress {
          display: flex;
          margin: @upload-list-image-card-status-progress-margin;
        }
      }

      &-error {
        .@{upload-prefix}-status {
          color: var(--ix-color-error-text);
        }
      }

      .@{upload-prefix}-icon {
        .base-transition();

        display: flex;
        justify-content: space-evenly;
        width: @upload-list-image-card-icon-wrap-width;
        position: absolute;
        z-index: 2;
        opacity: 0;
        color: var(--ix-color-text-inverse);

        &-opr {
          cursor: pointer;
        }
      }

      &::after {
        .base-transition();

        content: '';
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        background-color: @upload-list-image-card-bg-color;
        left: 0;
        top: 0;
        opacity: 0;
        border-radius: @upload-border-radius;
      }

      &:hover {
        &::after {
          opacity: 0.6;
        }

        .@{upload-prefix}-icon {
          opacity: 1;
        }
      }
    }

    &.@{upload-prefix}-list-disabled {
      .@{upload-prefix}-selector {
        .upload-disabled-color();
        .upload-disabled-bg-color();
        .upload-disabled-cursor();
      }

      .@{upload-prefix}-icon-opr {
        .upload-disabled-cursor();
      }
    }
  }
}

.@{upload-prefix}-tip {
  margin: @upload-tip-margin;
}
