.upload-disabled-cursor() {
  cursor: not-allowed;

  > * {
    pointer-events: none;
  }
}

.upload-disabled-color() {

  &,
  &:hover,
  &:focus,
  &:active {
    color: var(--ix-color-text-disabled);
  }
}

.upload-disabled-bg-color() {

  &,
  &:hover,
  &:focus,
  &:active {
    background-color: var(--ix-color-container-bg-disabled);
  }
}

.upload-disabled-border-color() {

  &,
  &:hover,
  &:focus,
  &:active {
    border-color: var(--ix-color-border);
  }
}

.base-transition() {
  transition: all var(--ix-motion-duration-medium);
}
