@upload-list-margin: var(--ix-margin-size-sm) 0 0;
@upload-border-radius: var(--ix-border-radius-sm);
@upload-font-size: var(--ix-font-size-sm);

@upload-list-text-border: var(--ix-line-width) var(--ix-line-type) var(--ix-color-separator);

@upload-list-image-thumb-margin: 0 var(--ix-margin-size-sm) 0 0;
@upload-list-image-margin: var(--ix-margin-size-sm) 0 0;

@upload-list-image-card-margin: 0 var(--ix-margin-size-sm) var(--ix-margin-size-sm) 0;
@upload-list-image-card-bg-color: #000;
@upload-list-image-card-icon-wrap-width: 100%;
@upload-list-image-card-selector-font-size: 24px;
@upload-list-image-card-selector-color-hover: var(--ix-color-primary-hover);
@upload-list-image-card-status-min-width: 60px;
@upload-list-image-card-status-progress-margin: var(--ix-margin-size-sm) 0 0;

@upload-file-border-bottom: var(--ix-line-width) var(--ix-line-type) var(--ix-color-separator);
@upload-file-height: var(--ix-height-md);

@upload-icon-wrap-max-width: 120px;
@upload-icon-margin: 0 0 0 var(--ix-margin-size-lg);
@upload-icon-file-margin: 0 var(--ix-margin-size-sm) 0 0;
@upload-icon-font-size: var(--ix-font-size-icon);

@upload-tip-margin: var(--ix-margin-size-sm) 0 0;

@upload-color-error: var(--ix-color-error-text);
@upload-opr-height: 20px;
@upload-opr-fail-text-margin: 6px;
