@comment-padding-md: @spacing-md 0;
@comment-margin-right: @spacing-md;
@comment-font-size-md: @font-size-md;
@comment-font-size-sm: @font-size-sm;
@comment-author-margin-bottom: @spacing-xs;
@comment-content-padding-right: @spacing-sm;
@comment-author-name-color: @text-color-secondary;
@comment-author-time-color: #ccc;
@comment-actions-margin-top: @margin-md;
@comment-actions-margin-bottom: inherit;
@comment-action-color: @text-color-secondary;
@comment-action-hover-color: #595959;
@comment-content-detail-p-margin-bottom: inherit;
@comment-nest-indent: 44px;

