@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';
@import '../../style/motion/move.less';
@import './mixin.less';

.@{notification-prefix} {
  .reset-component();

  display: inline-grid;
  gap: 0 0;
  grid-template-areas:
    'icon main'
    'footer footer';
  grid-template-columns: auto 1fr;
  position: relative;
  padding: var(--ix-notification-padding);
  margin: var(--ix-notification-margin);
  width: var(--ix-notification-width);
  max-width: var(--ix-notification-max-width);
  font-size: var(--ix-notification-font-size);
  line-height: calc(var(--ix-notification-font-size) + var(--ix-line-height-gutter));
  background-color: var(--ix-notification-bg-color);
  border-radius: var(--ix-notification-border-radius);
  box-shadow: var(--ix-box-shadow-md);
  border: var(--ix-notification-border-width) var(--ix-notification-border-type) var(--ix-notification-border-color);

  &-icon {
    grid-area: icon;
    font-size: var(--ix-font-size-icon);
    display: flex;
    flex-direction: row;
    margin: var(--ix-notification-icon-margin);
  }

  &-close-icon {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    width: var(--ix-font-size-icon);
    font-size: var(--ix-font-size-icon);
    color: var(--ix-color-icon);
    top: var(--ix-notification-close-icon-top);
    right: var(--ix-notification-close-icon-right);

    &:hover {
      color: var(--ix-color-icon-hover);
    }
  }

  &-main {
    grid-area: main;

    &-with-content {
      .@{notification-prefix}-title {
        margin: var(--ix-notification-title-margin);
      }
    }
  }

  &-title {
    font-size: var(--ix-notification-title-font-size);
    line-height: var(--ix-notification-title-line-height);
  }

  &-content {
    font-size: var(--ix-notification-content-font-size);
    color: var(--ix-notification-content-color);
    margin: var(--ix-notification-content-margin);
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    grid-area: footer;
    margin: var(--ix-notification-footer-margin);
  }

  &-wrapper {
    position: fixed;
    z-index: 9998;
  }

  .notification-icon-color(info, var(--ix-color-info-icon));
  .notification-icon-color(success, var(--ix-color-success-icon));
  .notification-icon-color(warning, var(--ix-color-warning-icon));
  .notification-icon-color(error, var(--ix-color-error-icon));
}
