@import './themes/default.less';
@import '../../style/motion/move.less';
@import './mixin.less';

@notification-prefix: ~'@{idux-prefix}-notification';
@icon-prefix: ~'@{idux-prefix}-icon';

.@{notification-prefix} {
  display: inline-grid;
  gap: 0 0;
  grid-template-areas: 'icon main'
                       'footer footer';
  grid-template-columns: auto 1fr;
  position: relative;
  padding: @notification-padding;
  margin: @notification-margin;
  width: @notification-width;
  max-width: @notification-max-width;
  font-size: @notification-font-size;
  line-height: @notification-line-height;
  background-color: @notification-bg-color;
  border-radius: @notification-border-radius;
  box-shadow: @notification-box-shadow;

  &-icon {
    grid-area: icon;
    width: @notification-icon-width;
    font-size: @notification-icon-font-size;
    display: flex;
    flex-direction: @notification-icon-flex-direction;
    margin: @notification-icon-margin;

    .@{icon-prefix} {
      font-size: @notification-icon-width;
    }
  }

  &-close-icon {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    width: @notification-close-width;
    font-size: @notification-close-font-size;
    top: @notification-close-top;
    right: @notification-close-right;
  }

  &-main {
    grid-area: main;
  }

  &-title {
    font-size: @notification-title-font-size;
    line-height: @notification-title-line-height;
    margin: @notification-title-margin;
  }

  &-content {
    font-size: @notification-content-font-size;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    grid-area: footer;
    margin: @notification-footer-margin;
  }

  &-wrapper {
    position: fixed;
    z-index: @notification-wrapper-zindex;
  }

  .notification-icon-color(info, @color-info);
  .notification-icon-color(success, @color-success);
  .notification-icon-color( warning, @color-warning);
  .notification-icon-color(error, @color-error);
}
