@import '../../style/mixins/reset.less';
@import '../../style/motion/move.less';
@import './mixin.less';

.@{notification-prefix} {
  .reset-component();

  display: inline-grid;
  gap: 0 0;
  grid-template-areas:
    'icon main'
    'footer footer';
  grid-template-columns: auto 1fr;
  position: relative;
  padding: @notification-padding;
  margin: @notification-margin;
  width: @notification-width;
  max-width: @notification-max-width;
  font-size: @notification-font-size;
  line-height: @notification-line-height;
  background-color: @notification-background-color;
  border-radius: @notification-border-radius;
  box-shadow: @notification-box-shadow;

  &-icon {
    grid-area: icon;
    font-size: @notification-icon-font-size;
    display: flex;
    flex-direction: @notification-icon-flex-direction;
    margin: @notification-icon-margin;
  }

  &-close-icon {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    width: @notification-close-width;
    font-size: @notification-close-font-size;
    color: @notification-close-color;
    top: @notification-close-top;
    right: @notification-close-right;

    &:hover {
      color: @notification-close-hover-color;
    }
  }

  &-main {
    grid-area: main;

    &-with-content {
      .@{notification-prefix}-title {
        margin: @notification-title-margin;
      }
    }
  }

  &-title {
    font-size: @notification-title-font-size;
    line-height: @notification-title-line-height;
  }

  &-content {
    font-size: @notification-content-font-size;
    color: @notification-content-color;
    margin: @notification-content-margin;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    grid-area: footer;
    margin: @notification-footer-margin;
  }

  &-wrapper {
    position: fixed;
    z-index: 9998;
  }

  .notification-icon-color(info, @notification-icon-info-color);
  .notification-icon-color(success, @notification-icon-success-color);
  .notification-icon-color( warning, @notification-icon-warning-color);
  .notification-icon-color(error, @notification-icon-error-color);
}
