@trigger-font-size-sm: @form-font-size-sm;
@trigger-font-size-md: @form-font-size-md;
@trigger-font-size-lg: @form-font-size-lg;
@trigger-line-height: @form-line-height;
@trigger-height-sm: @form-height-sm;
@trigger-height-md: @form-height-md;
@trigger-height-lg: @form-height-lg;
@trigger-padding-horizontal-sm: @form-padding-horizontal-sm;
@trigger-padding-horizontal-md: @form-padding-horizontal-md;
@trigger-padding-horizontal-lg: @form-padding-horizontal-lg;
@trigger-padding-vertical-sm: @form-padding-vertical-sm;
@trigger-padding-vertical-md: @form-padding-vertical-md;
@trigger-padding-vertical-lg: @form-padding-vertical-lg;

@trigger-border-width: @form-border-width;
@trigger-border-style: @form-border-style;
@trigger-border-color: @form-border-color;
@trigger-border-radius: @border-radius-sm;

@trigger-color: @form-color;
@trigger-color-secondary: @form-color-secondary;
@trigger-background-color: @form-background-color;
@trigger-placeholder-color: @form-placeholder-color;
@trigger-hover-color: @form-hover-color;
@trigger-active-color: @form-active-color;
@trigger-active-box-shadow: @form-active-box-shadow;
@trigger-disabled-color: @form-disabled-color;
@trigger-disabled-background-color: @form-disabled-background-color;

@trigger-icon-font-size: @font-size-sm;
@trigger-icon-margin-left: @spacing-xs;
@trigger-icon-margin-right: @spacing-xs;
@trigger-icon-color: @trigger-placeholder-color;
@trigger-clear-icon-color: @trigger-color-secondary;
@trigger-clear-icon-hover-color: @trigger-color;
@trigger-icon-background-color: @trigger-background-color;
