@import './default.variable.less';

@trigger-icon-margin-right: @spacing-sm;
@trigger-icon-font-size: @font-size-lg;
@trigger-icon-color: @color-graphite-l10;
@trigger-clear-icon-color: @color-graphite-d20;
