@import '../../style/variable/index.less';
@import '../../style/mixins/reset.less';

.@{avatar-prefix} {
  .reset-component-new();
  .reset-color(var(--ix-color-text-inverse), var(--ix-color-container-bg-disabled));

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;

  &-circle {
    border-radius: 50%;
  }

  &-square {
    border-radius: var(--ix-avatar-border-radius-square);
  }

  &-image {
    background: transparent;
  }

  &-lg {
    .avatar-size(var(--ix-avatar-size-lg));
  }

  &-md {
    .avatar-size(var(--ix-avatar-size-md));
  }

  &-sm {
    .avatar-size(var(--ix-avatar-size-sm));
  }

  &-text {
    position: absolute;
    left: 50%;
    transform-origin: 0 center;
  }

  & > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar-size(@size) {
  width: @size;
  height: @size;
  line-height: @size;

  .@{icon-prefix} {
    font-size: calc(@size / 2);
  }
}
