@pagination-font-size-md: @font-size-md;
@pagination-font-size-sm: @font-size-sm;
@pagination-item-icon-font-size: @font-size-sm;

@pagination-item-size-md: 32px;
@pagination-item-size-sm: 24px;
@pagination-item-padding-md: 4px;
@pagination-item-padding-sm: 0;

@pagination-item-input-width-md: 48px;
@pagination-item-input-width-sm: 40px;

@pagination-item-active-color: @button-primary;
@pagination-item-active-background-color: @button-primary-background-color;
@pagination-item-color: @color-graphite-d40;
@pagination-item-background-color: tint(@button-primary-background-color, 90%);
@pagination-item-hover-color: @color-graphite-d40;
@pagination-item-hover-background-color: tint(@button-primary-background-color, 90%);
@pagination-item-disabled-color: @button-disable-color;
@pagination-item-disabled-background-color: @button-disable-background-color;
@pagination-item-button-hover-color: @color-graphite-d20;
@pagination-item-button-active-color: @color-graphite-d20;
@pagination-item-button-hover-background-color: @color-graphite-l50;
@pagination-total-color: @color-graphite-d10;
@pagination-sizes-color: @color-graphite-d10;
