@import './default.variable.less';

@pagination-font-size-md: @font-size-sm;
@pagination-item-active-color: @color-primary;
@pagination-item-active-background-color: @color-primary-l50;

@pagination-item-hover-background-color: @color-graphite-l50;
