@import './default.variable.less'; 

@pagination-item-height-sm: 24px;
@pagination-item-spacing-sm: 24px;

@pagination-item-active-color: @color-primary;
@pagination-item-active-background-color: @color-primary-l50;

@pagination-item-hover-background-color: @color-graphite-l50;
